@landscape    : ~'only screen and (max-width: 1000px)';
@portrait     : ~'only screen and (max-width: 868px)';
@phone        : ~'only screen and (max-width: 549px)';

@primary100   : ~'only screen and (max-width: 700px)';

@grid50       : @landscape;
@grid100      : @phone;

@navBarHeight : 38px;

@import 'main';
@import 'content';
@import 'index';
@import 'ideas';