body {
  margin: 0;
}
form.action {
  display: inline;
}
form.vote {
  float: right;
}
ul#menu {
  margin: 10px auto;
  overflow: hidden;
  padding: 0;
  width: 500px;
}
ul#menu li {
  float: left;
  list-style: none;
  text-align: center;
  width: 100px;
}
#content {
  margin: auto;
  width: 800px;
}
#content.ideasList span.yes {
  color: #61ae24;
}
#content.ideasList span.no {
  color: #da421a;
}
#content.ideasList span.abstain {
  color: #a3a3a3;
}
