body {
  margin: 0;
}
form {
  overflow: hidden;
}
form.action {
  display: inline;
}
ul#menu {
  margin: 10px 0px;
  overflow: hidden;
  padding: 0;
  text-align: center;
}
ul#menu li {
  display: inline;
  list-style: none;
  text-align: center;
  margin: 0px 10px;
}
#content {
  margin: auto;
  width: 800px;
}
#content.ideasList span.yes {
  color: #61ae24;
}
#content.ideasList span.no {
  color: #da421a;
}
#content.ideasList span.abstain {
  color: #a3a3a3;
}
#content.idea #author {
  font-style: italic;
  margin-top: 20px;
}
#content.idea .buttons {
  overflow: hidden;
}
#content.idea .buttons form.vote {
  float: right;
}
#content.idea #arguments {
  overflow: hidden;
}
#content.idea #arguments div.argList {
  float: left;
  width: 50%;
}
#content.idea #arguments div.argList form {
  margin-bottom: 10px;
  margin-right: 10px;
}
#content.idea #arguments div.argList textarea {
  box-sizing: border-box;
  height: 3.6em;
  width: 100%;
}
#content.idea #arguments div.argList input[type="submit"] {
  float: right;
}
#content.idea #arguments div.argList div.argument {
  margin-bottom: 20px;
  margin-right: 10px;
}
#content.idea #arguments div.argList div.argument div.user {
  font-style: italic;
}
#content.argument textarea {
  box-sizing: border-box;
  height: 100px;
  width: 100%;
}
#content.argument input[type="submit"] {
  float: right;
}
