body {
	margin: 0;
}

form.action {
	display: inline;
}

ul#menu {
	@itemWidth : 100px;
	
	margin: 10px auto;
	overflow: hidden;
	padding: 0;
	width: 5*@itemWidth;
	
	li {
		float: left;
		list-style: none;
		text-align: center;
		width: @itemWidth;
	}
}

#content {
	margin: auto;
	width: 800px;
}