// @landscape: ~'only screen and (min-width: 768px) and (max-width: 1100px)';
@portrait  : ~'only screen and (max-width: 768px)';
@phone     : ~'only screen and (max-width: 549px)';

@footer50  : ~'only screen and (max-width: 900px)';
@footer100 : @phone;

@navBarHeight : 38px;

body {
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
	
	font-family: Avenir, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

#page {
	background-color: #FFF;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 80px 30px;
	max-width: 940px;
	
	@media @portrait {
		padding: 0 45px 30px;
	}
	@media @phone {
		padding: 0 41px 30px;
		width: auto;
	}
}

h1 {
	font-size: 1.875rem;
	font-weight: 600;
	line-height: 1em;
}
h2 {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1em;
}

form {
	overflow: hidden;
}
form.action {
	display: inline;
}

// Black <nav> bar in <header> and <footer>
nav.menuBar {
	background-color: #333;
	color: #FFF;
	height: @navBarHeight;
	
	ul {
		margin: 0;
		overflow: hidden;
		padding: 0;
		
		li {
			box-sizing: border-box;
			display: inline-block;
			height: @navBarHeight;
			list-style: none;
			text-align: center;
			vertical-align: center;
			
			&.active {
				border-bottom: 4px solid #FFE115;
			}
			
			a {
				color: #FFF;
				line-height: @navBarHeight;
				padding: 0px 20px;
				text-decoration: none;
			}
			&:nth-child(n+2) a {
				border-left: 1px solid gray;
			}
		}
	}
}

header {
	position: relative;
	
	figure {
		left: -32px;
		margin: 0;
		position: absolute;
		top: 15px;
		
		@media @phone {
			left: 0px;
		}
		img {
			border: 0;
			height: auto;
			width: 24px;
		}
		figcaption {
			color: #F00;
			font-size: 1.875rem;
			font-weight: 600;
			left: 32px;
			line-height: 29px;
			position: absolute;
			top: -2px;
		}
	}
	
	h1 {
		position: absolute;
		margin: 0;
		top: 100px;
		left: 0px;
	}
	
	#mainMenu {
		height: 135px;
	}
	
	#quick {
		display: block;
		height: @navBarHeight;
		line-height: @navBarHeight;
		position: relative;
		
		#auth {
			font-weight: 600;
			position: absolute;
			right: 0px;
			
			a {
				color: #000;
				text-decoration: none;
			}
		}
	}
}
footer {
	background-color: #666;
	color: #FFF;
	margin: 0 -20px;
	// overflow: hidden;
	
	>div {
		margin: 0 20px;
		
		>div {
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
			// float: left;
			width: 25%;
			
			&:nth-last-child(n+2) {
				padding-right: 10px;
			}
			
			@media @footer50 {
				width: 50%;
			}
			@media @footer100 {
				width: 100%;
				padding-right: 0px !important;
			}
		}
	}
}
header, footer {
	@media @phone {
		margin: 0 -30px;
	}
}

#content {
	margin-bottom: 20px;
	
	h1 {
		margin-top: 0;
	}
	
	div.flashMessage {
		border: 2px solid #B1B1B1;
		margin: 10px 0px;
		padding: 10px 20px;
		position: relative;
		text-align: center;
		
		&.success {
			border-color: #798DE8;
		}
		div {
			cursor: pointer;
			font-family: monospace;
			font-size: 20px;
			line-height: 20px;
			position: absolute;
			right: 10px;
			top: 0px;
		}
	}
}