body {
	margin: 0;
	margin-bottom: 20px;
}

form {
	overflow: hidden;
}
form.action {
	display: inline;
}

ul#menu {
	margin: 10px 0px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	
	li {
		display: inline;
		list-style: none;
		text-align: center;
		margin: 0px 10px;
	}
}

#content {
	margin: auto;
	width: 800px;
	
	div.flashMessage {
		border: 2px solid #B1B1B1;
		margin: 10px 0px;
		padding: 10px 20px;
		position: relative;
		text-align: center;
		
		&.success {
			border-color: #798DE8;
		}
		div {
			cursor: pointer;
			font-family: monospace;
			font-size: 20px;
			line-height: 20px;
			position: absolute;
			right: 10px;
			top: 0px;
		}
	}
}