body {
  margin: 0;
  margin-bottom: 20px;
}
form {
  overflow: hidden;
}
form.action {
  display: inline;
}
ul#menu {
  margin: 10px 0px;
  overflow: hidden;
  padding: 0;
  text-align: center;
}
ul#menu li {
  display: inline;
  list-style: none;
  text-align: center;
  margin: 0px 10px;
}
#content {
  margin: auto;
  width: 800px;
}
#content.ideasList li.idea.CLOSED {
  opacity: 0.5;
}
#content.ideasList li.idea.DENIED {
  opacity: 0.5;
  text-decoration: line-through;
}
#content.ideasList li.idea span.yes {
  color: #61ae24;
}
#content.ideasList li.idea span.no {
  color: #da421a;
}
#content.ideasList li.idea span.abstain {
  color: #a3a3a3;
}
#content.idea #modBreak {
  border: 4px solid #E9C71A;
  margin: 35px 0px;
  padding: 10px 20px;
  position: relative;
}
#content.idea #modBreak:before {
  content: 'Bericht van de beheerder:';
  display: block;
  font-style: italic;
  left: 0px;
  position: absolute;
  top: -25px;
}
#content.idea #author {
  font-style: italic;
  margin-top: 20px;
}
#content.idea .buttons {
  overflow: hidden;
}
#content.idea .buttons form.vote {
  float: right;
}
#content.idea #arguments {
  overflow: hidden;
}
#content.idea #arguments div.argList {
  float: left;
  width: 50%;
}
#content.idea #arguments div.argList form {
  margin-bottom: 10px;
  margin-right: 10px;
}
#content.idea #arguments div.argList textarea {
  box-sizing: border-box;
  height: 3.6em;
  width: 100%;
}
#content.idea #arguments div.argList input[type="submit"] {
  float: right;
}
#content.idea #arguments div.argList div.argument {
  margin-bottom: 20px;
  margin-right: 10px;
}
#content.idea #arguments div.argList div.argument div.user {
  font-style: italic;
}
#content.argument textarea {
  box-sizing: border-box;
  height: 100px;
  width: 100%;
}
#content.argument input[type="submit"] {
  float: right;
}
div.userContent figcaption:not(.caption-edited) {
  display: none;
}
.userContent,
.userContentEditor {
  line-height: 1.5;
}
.userContent h1,
.userContentEditor h1 {
  font-size: 1.4em;
  line-height: 1.4;
  margin: 0;
}
.userContent blockquote,
.userContentEditor blockquote {
  margin: 0 0 0 0.3em;
  padding: 0 0 0 0.6em;
  border-left: 0.3em solid #ccc;
}
.userContent pre,
.userContentEditor pre {
  font-family: monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0.5em;
  white-space: pre;
  background-color: #eee;
  overflow-x: auto;
}
.userContent ul,
.userContentEditor ul,
.userContent ol,
.userContentEditor ol,
.userContent li,
.userContentEditor li {
  margin: 0;
  padding: 0;
}
.userContent ul li,
.userContentEditor ul li,
.userContent ol li,
.userContentEditor ol li,
.userContent li li,
.userContentEditor li li {
  margin-left: 1em;
}
.userContent img,
.userContentEditor img {
  max-width: 100%;
  height: auto;
}
.userContent a[data-trix-attachment],
.userContentEditor a[data-trix-attachment] {
  color: inherit;
  text-decoration: none;
}
.userContent a[data-trix-attachment]:hover,
.userContentEditor a[data-trix-attachment]:hover,
.userContent a[data-trix-attachment]:visited:hover,
.userContentEditor a[data-trix-attachment]:visited:hover {
  color: inherit;
}
.userContent .attachment,
.userContentEditor .attachment {
  display: inline-block;
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.userContent .attachment .caption,
.userContentEditor .attachment .caption {
  padding: 0;
  text-align: center;
}
.userContent .attachment .caption .size:before,
.userContentEditor .attachment .caption .size:before {
  content: ' · ';
}
.userContent .attachment.attachment-preview,
.userContentEditor .attachment.attachment-preview {
  width: 100%;
  text-align: center;
}
.userContent .attachment.attachment-preview .caption,
.userContentEditor .attachment.attachment-preview .caption {
  color: #666;
  font-size: 0.9em;
  line-height: 1.2;
}
.userContent .attachment.attachment-file,
.userContentEditor .attachment.attachment-file {
  color: #333;
  line-height: 1;
  margin: 0 2px 2px 0;
  padding: 0.4em 1em;
  border: 1px solid #bbb;
  border-radius: 5px;
}
