@font-face {
  font-family: 'Roadgeek2005SeriesD';
  src: url('/fonts/naamwedstrijd-winkelcentrum-nieuwwest/Roadgeek2005SeriesD.eot?#iefix') format('embedded-opentype'),  url('/fonts/naamwedstrijd-winkelcentrum-nieuwwest/Roadgeek2005SeriesD.woff') format('woff'), url('/fonts/naamwedstrijd-winkelcentrum-nieuwwest/Roadgeek2005SeriesD.ttf')  format('truetype'), url('/fonts/naamwedstrijd-winkelcentrum-nieuwwest/Roadgeek2005SeriesD.svg#Roadgeek2005SeriesD') format('svg');
  font-weight: normal;
  font-style: normal;
}

.verkeersbord {
	position: relative;
	width: 700px;
	height: 375px;
	background-image: url('/img/naamwedstrijd-winkelcentrum-nieuwwest/verkeersbord-background.jpg');

	.verkeersbord-tekst {
		position: absolute;
		top: 130px;
		left: 30px;
		font-family: 'Roadgeek2005SeriesD';
		font-size: 50px;
		color: white;
	}
}
