{# 
	This template contains macros that render secondary content.
	Most of these end up in #content > #secondary, but that's not
	required. The speech bubble for example is also used in #primary.
#}

{% macro newIdeaBubble() %}
	<span class="widget speechBubble newIdeaBubble">
		&ldquo;Heb jij een goed voorstel?&rdquo;
		<a href="/plan/nieuw" class="big">Stuur je plan in!</a>
	</span>
{% endmacro %}

{% macro highlightedIdeas( ideas ) %}
	{% if ideas and ideas.length %}
	<div id="highlightedIdeas" class="widget">
		<h2>Plannen</h2>
		<ul>
		{% for idea in ideas %}
			<li>
				<a href="/plan/{{idea.id}}">
				<p>{{idea.title}}</p>
				<div class="ideaStats">
					<div class="count yes">{{idea.yes}}</div>
					<div class="count no">{{idea.no}}</div>
					<div class="count arguments">{{idea.argCount}}</div>
				</div>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}
{% endmacro %}

{# 
12 september 2017 - peildatum
26 september 2017 - vergaderdatum
10 oktober 2017 - peildatum
31 oktober 2017 - vergaderdatum
14 november 2017 - peildatum
28 november 2017 - vergaderdatum + peildatum
12 december 2017 - peildatum
#}
{% macro agenda( meetings ) %}
	<div id="agenda" class="widget">
		<h2>Agenda</h2>
		Het Algemeen Bestuur vergadert iedere 2 weken. Één keer per maand wordt ook het bewoners&shy;voorstel
		met de meeste stemmen besproken. Dit wordt op de peildatum om 16:00 vastgesteld.
		
		<div class="timeline">
			{# <div class="selection">
				<b class="date">10 oktober 2017</b>
				<em>peildatum</em>
			</div>
			
			<div class="meeting">
				<b class="date">31 oktober 2017</b>
				<em>vergadering</em>
				<ul>
					<li><a href="/plan/72" title="Kunst Creativiteit Tunnel Westerpark">
						Kunst Creativiteit Tunnel Westerpark
					</a></li>
				</ul>
			</div> #}
			
			<div class="selection">
				<b class="date">12 december 2017</b>
				<em>peildatum</em>
			</div>
			<div class="meeting">
				<b class="date">16 januari 2018</b>
				<em>vergadering</em>
				<ul>
					<li><a href="/plan/83" title="Bolo-mercado">
						Bolo-mercado
					</a></li>
				</ul>
			</div>
			
			<div class="selection">
				<b class="date">30 januari 2018</b>
				<em>peildatum</em>
			</div>
			<div class="meeting">
				<b class="date">6 februari 2018</b>
				<em>vergadering</em>
				<ul>
					<li><a href="/plan/87" title="Buurtlicht">
						Buurtlicht
					</a></li>
				</ul>
			</div>
			
			<div class="selection">
				<b class="date">20 februari 2018</b>
				<em>peildatum</em>
			</div>
			<div class="meeting">
				<b class="date">6 maart 2018</b>
				<em>vergadering</em>
				<ul>
					<li><a href="/plan/1" title="Plan titel">
						Plan titel
					</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endmacro %}