<div class="row row-eq-height--desktop relative padding-bottom-l">
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div class="">
				<img src="/img/westbegroot/main-money.svg" />
			</div>
			{% if config["voting"].isActive %}
				<h3>
					Kies jouw 5 favoriete ideeën voor Molenwijk
				</h3>
				<p>
					Woon je in Molenwijk en ben je 12 jaar of ouder? Dan ontvang je in de week van maandag 17 juni per post een stemformulier met een persoonlijke stemcode waarmee je tot en met zondag 7 juli kan stemmen op de ideeën van Molenwijk Kiest.
				</p>
				<div class="row-footer--desktop text-center">
					<a href="/stemmen" class="btn--blue ">
						Begin meteen met stemmen
					</a>
				</div>
			{% else %}
				<h3>
					Bewoners verdeelden<br/>€ 300.000 over plannen
				</h3>
				<p>
					Alle bewoners uit West van 18 jaar en ouder konden stemmen op hun favoriete plannen voor West. Op 16 februari 2019 wordt bekend gemaakt welke plannen uitgevoerd worden.
				</p>
				<div class="row-footer--desktop text-center">
					<a href="/plannen" class="btn--blue ">
						Bekijk de plannen
					</a>
					<br/>
					<a href="/img/westbegroot/Uitslag.West.Begroot_20190215.pdf" class="btn--blue" style="background-color: #a8b900; margin-top: 10px;">
						Download de uitslag
					</a>
				</div>
			{% endif %}
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div>
				<img src="/img/westbegroot/main-info.svg" />
			</div>
			<h3>
				Waarom Molenwijk Kiest?
			</h3>
			{% if config["voting"].isActive %}
				<p>
					Afgelopen jaren is vaak aan bewoners van Molenwijk gevraagd wat ze willen in de wijk. In het jubileumjaar ’50 jaar Molenwijk’ zijn al een aantal wensen uitgevoerd. Maar met een aantal van deze ideeën is nog niets gedaan. En dat is zonde! Met Molenwijk Kiest bepalen bewoners welke ideeën dit jaar nog worden uitgevoerd.
				</p>
			{% else %}
				<p>
					Hoe zag het stemproces eruit? Wat waren de spelregels en hoe werd bepaald welke plannen uiteindelijk uitgevoerd gaan worden?
				</p>
			{% endif %}
			<div class="row-footer--desktop text-center">
  			<a href="#howDoesItWork" class="btn--blue scroll-link">
  				Lees hier hoe het werkt
  			</a>
      </div>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
      <div class="">
        <img src="/img/westbegroot/main-hammer.svg" />
      </div>
      <h3>
        Hoe wordt het budget van € 25.000 verdeeld?
      </h3>
			{% if config["voting"].isActive %}
				<p>
					In totaal is € 25.000 beschikbaar. Er kan gestemd worden op ideeën die tussen de € 1.000 en € 25.000 kosten. De ideeën met de meeste stemmen die alleen of samen maximaal €25.000 kosten, worden dit jaar uitgevoerd. Dit kan betekenen dat er 1 idee wordt uitgevoerd die € 25.000 kost. Maar het kan ook zijn dat er veel gestemd wordt op ideeën die minder kosten waardoor er bijvoorbeeld 3 ideeën voor € 25.000 uitgevoerd kunnen worden. Bij alle ideeën zijn een aantal bewoners nodig die in een werkgroep meedenken en meedoen bij de uitvoering. Dit betekent dat als er op een idee veel is gestemd, maar er hebben zich geen bewoners aangemeld om te helpen bij de uitvoering dan wordt het idee niet uitgevoerd. De keuze is aan jullie!
				</p>
			{% else %}
				<p>
					Van de 209 ingestuurde plannen werden er 30 geselecteerd voor de stemfase van West Begroot. Zat jouw plan niet bij de geselecteerde plannen? Klik op onderstaande knop om te zien wat het oordeel is over de ingestuurde plannen.
				</p>
			{% endif %}
      <div class="row-footer--desktop text-center">
        <a href="/originele-plannen" class="btn--blue">
          Begin met stemmen en meld je aan!
        </a>
      </div>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
</div>
