{# 
	This template contains macros that render secondary content.
	Most of these end up in #content > #secondary, but that's not
	required. The speech bubble for example is also used in #primary.
#}

{% macro newIdeaBubble() %}
	<span class="widget speechBubble newIdeaBubble">
		&ldquo;Heb jij een goed voorstel?&rdquo;
		<a href="/plan/nieuw" class="big">Stuur je plan in!</a>
	</span>
{% endmacro %}

{% macro highlightedIdeas( ideas ) %}
	{% if ideas and ideas.length %}
	<div id="highlightedIdeas" class="widget">
		<h2>Plannen</h2>
		<ul>
		{% for idea in ideas %}
			<li>
				<a href="/plan/{{idea.id}}">
				<p>{{idea.title}}</p>
				<div class="ideaStats">
					<div class="count yes">{{idea.yes}}</div>
					<div class="count no">{{idea.no}}</div>
					<div class="count arguments">{{idea.argCount}}</div>
				</div>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}
{% endmacro %}

{#
7 nov 2017  | Peildatum
21 nov 2017 | Vergadering
5 dec 2017  | Peildatum
19 dec 2017 | Vergadering
16 jan 2018 | Peildatum
30 jan 2018 | Vergadering
6 feb 2018  | Peildatum
20 feb 2018 | Vergadering
20 feb 2018 | Peildatum
7 mrt 2018  | Vergadering
#}
{% macro agenda( meetings ) %}
	<div id="agenda" class="widget">
		<h2>Agenda</h2>
		Het Algemeen Bestuur vergadert iedere twee weken. Eén keer per maand bespreekt
		het AB het bewoners&shy;voorstel met de meeste stemmen. Welk voorstel dit is, 
		wordt op de peildatum om 16:00 uur vastgesteld.
		
		<div class="timeline">
			<div class="selection">
				<b class="date">7 november 2017</b>
				<em>peildatum</em>
			</div>
			
			<div class="meeting">
				<b class="date">21 november 2017</b>
				<em>vergadering</em>
				{# <ul>
					<li><a href="/plan/1" title="Plan titel">
						Plan titel
					</a></li>
				</ul> #}
			</div>
			
			<div class="selection">
				<b class="date">5 december 2017</b>
				<em>peildatum</em>
			</div>
			
			<div class="meeting">
				<b class="date">19 december 2017</b>
				<em>vergadering</em>
				{# <ul>
					<li><a href="/plan/1" title="Plan titel">
						Plan titel
					</a></li>
				</ul> #}
			</div>
			
			<div class="selection">
				<b class="date">16 januari 2018</b>
				<em>peildatum</em>
			</div>
			
			<div class="meeting">
				<b class="date">30 januari 2018</b>
				<em>vergadering</em>
				{# <ul>
					<li><a href="/plan/1" title="Plan titel">
						Plan titel
					</a></li>
				</ul> #}
			</div>
			
			{# <div class="selection">
				<b class="date">6 februari 2018</b>
				<em>peildatum</em>
			</div>
			
			<div class="meeting">
				<b class="date">20 februari 2018</b>
				<em>vergadering</em>
				<ul>
					<li><a href="/plan/1" title="Plan titel">
						Plan titel
					</a></li>
				</ul>
			</div> #}
			
			{# <div class="selection">
				<b class="date">20 februari 2018</b>
				<em>peildatum</em>
			</div>
			
			<div class="meeting">
				<b class="date">7 maart 2018</b>
				<em>vergadering</em>
				<ul>
					<li><a href="/plan/1" title="Plan titel">
						Plan titel
					</a></li>
				</ul>
			</div> #}
		</div>
	</div>
{% endmacro %}