{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set pageTitle    = 'Privacyverklaring en proclaimer' %}
{% set contentClass = 'article proclaimer' %}

{% block head %}
	{{super()}}
	
	<style type="text/css">
	 #article h2 {
		 color: #EC0000;
		 font-size: 1.14em;
	 }
	 #article h3 {
		 font-size: 1em;
	 }
	</style>	
{% endblock %}

{% block content %}
	<div class="primary">
		<h1>Privacyverklaring Online platform {{SITENAME}}</h1>
		
		<div id="summary">
			<p>{{'2019-04-08' | date('LL')}}</p>

			<h3>In het kort</h3>
			<p>
				Via {{SITENAME}} worden persoonsgegevens verwerkt. Het Stadsdeel
				acht een zorgvuldige omgang met persoonsgegevens van groot
				belang. Wij gaan vertrouwelijk om met de informatie die u ons via de
				website verstrekt en persoonlijke gegevens worden door ons dan ook
				zorgvuldig verwerkt en beveiligd.
			</p>
			
			<h3>Op deze pagina</h3>
			<ul>
				<li><a href="#algemeen">Algemeen</a></li>
				<li><a href="#de-verantwoordelijke">De verantwoordelijke</a></li>
				<li><a href="#verwerken-van-persoonsgegevens">Verwerken van persoonsgegevens</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#uw-rechten-uitoefenen-en-klachten">Uw rechten uitoefenen en klachten</a></li>
				<li><a href="#wijzigingen">Wijzigingen</a></li>
			</ul>
			<hr>
		</div>
		
		<div id="article">

			<p>
				Deze specifieke informatie moet worden gelezen in aanvulling op en in samenhang met de algemene informatie over het verwerken van persoonsgegevens <a href="https://www.amsterdam.nl/privacy/">algemene informatie over het verwerken van persoonsgegevens</a> door de gemeente Amsterdam.
			</p>

			<h2 id="algemeen">1. Algemeen</h2>
			<p>
				De gemeente Amsterdam verwerkt persoonsgegevens op een zorgvuldige en veilige manier in overeenstemming met de geldende wet- en regelgeving. In het document met algemene informatie over het verwerken van persoonsgegevens door de gemeente Amsterdam zijn de uitgangspunten beschreven ten aanzien van de verwerking van persoonsgegevens door de gemeente en is informatie te vinden over hoe u uw rechten kunt uitoefenen. In dit document geven we nadere informatie over de doelen en grondslagen, alsook andere relevante informatie over de verwerkingen ten aanzien van het participatief begroten van € 200.000 door bewoners uit stadsdeel Centrum.
			</p>
			<p>
				Vanwege nieuwe wetgeving of andere ontwikkelingen, past de gemeente regelmatig haar processen aan. Dit kan ook wijzigingen inhouden ten aanzien van het verwerken van persoonsgegevens. Het is daarom raadzaam om regelmatig de documenten met algemene en specifieke informatie over het verwerken van persoonsgegevens door de gemeente Amsterdam te raadplegen. Aan het einde van het document staat aangegeven wanneer deze voor het laatst is aangepast.
			</p>

			<h2 id="de-verantwoordelijke">2. De verantwoordelijke</h2>
			<p>
				De bestuursorganen van de gemeente zijn elk verwerkingsverantwoordelijke in de zin van de wet, voor de verwerkingen die door of namens de gemeente worden uitgevoerd. De bestuursorganen van de gemeente zijn de Burgemeester, het college van Burgemeester en Wethouders (college van B&W) en de Gemeenteraad.
			</p>
			<p>
				Voor de verwerkingen van gegevens bij het crowdsourcen van plannen en het begroten van €200.000 door bewoners uit stadsdeel Centrum  is de verwerkingsverantwoordelijke:  het college van Burgemeester &Wethouders.
			</p>
			<p>
				De gemeente Amsterdam heeft een Functionaris voor de Gegevensbescherming. U kunt contact met hem / haar opnemen via <a href="mailto:Functionaris.Gegevensbescherming@amsterdam.nl">Functionaris.Gegevensbescherming@amsterdam.nl</a>.
			</p>

			<h2 id="verwerken-van-persoonsgegevens">3. Verwerken van persoonsgegevens</h2>
			<p>
				De gemeente verzamelt en gebruikt verschillende categorieën persoonsgegevens van haar inwoners. Het zal afhangen van de specifieke verwerking welke persoonsgegevens precies zullen worden verwerkt en voor welk doel. Deze en overige relevante informatie worden hieronder weergegeven.
			</p>

			<strong>Online participatief begroten van €200.000 voor 2019 door bewoners uit stadsdeel Centrum</strong>

			<h3>Doel</h3>
			<ul>
				<li>Crowdsourcen van goede plannen onder bewoners, ondernemers en organisaties ter bevordering van de leefbaarheid in het stadsdeel.  </li>
				<li>Een  draagvlakmeting te doen bij de ingediende plannen in de buurt ( mensen moeten minimaal 50 positieve likes halen om in aanmerking te komen voor een haalbaarheidscheck van hun plan door het stadsdeel). </li>
				<li>Door budget te verdelen, bewoners uit Centrum te laten bepalen welk van de 50 geselecteerde plannen worden uitgevoerd.</li>
			</ul>

			<h3>Subdoelen:</h3>
			<ol type="1">
				<li>Inzicht krijgen in waar stemmen/likes op de ingediende plannen vandaan komen.</li>
				<li>Bezoekers , planindieners  en stadsdeelcommissieleden inzicht te geven in argumenten voor of tegen een plan. </li>
			</ol>
			
			Iedereen mag een goed idee indienen, we nodigen vooral bewoners uit Centrum en mensen die in Centrum werken op de plannen te reageren. 

			<h3>Grondslag</h3>
			De gemeente verwerkt deze persoonsgegevens op basis van een publiekrechtelijke taak, namelijk om in het kader van een zorgvuldige voorbereiding van besluiten (Algemene wet bestuursrecht) tot een gedragen besteding te komen van de €200.000.

			<h3>Categorieën persoonsgegevens </h3>
			<ol type="1">
				<li>
					Postcode<br/>
					We registreren postcodes bij het liken van de ingediende plannen omdat we willen weten waar de stemmen vandaan komen. Zijn het mensen uit Centrum die hun mening geven of komen de reacties uit Groningen?   
				</li>
				<li>
					Naam<br/>
					We vragen mensen die een plan indienen om hun naam op te geven.<br/>
					We vragen ook een naam op te geven als u een argument bij een ingediend plan wilt plaatsen. Deze worden gepubliceerd bij de argumenten. Dat doen we omdat ervaring leert dat dit de kwaliteit van het gesprek / discussie bevordert. Mensen kunnen uiteraard een alias opgeven. 
				</li>
				<li>
					Email<br/>
					Mensen die een plan uploaden vragen we om een emailadres. Dit is nodig om met hen in contact te treden over  hun plan. Indien na de haalbaarheidscheck het plan alleen uitgevoerd kan worden na aanpassing, zal het stadsdeel contact zoeken met de indiener. <br/>
					Bezoekers van de site kunnen zich aanmelden voor eenmalige update over de winnende plannen en, door hun e-mailadres op te geven. Het opgegeven mailadres wordt  verwijderd uit de database bij het uit de lucht halen van het platform. 
				</li>
				<li>
					IP-adressen<br/>
					Bij het stemmen/liken op de plannen ( fase 1: uploaden plannen t.b.v draagvlakmeting) slaat de tool ook tijdelijk IP-adressen op. De gemeente doet dit om eventuele onregelmatigheden met stemmen te kunnen opsporen. 
				</li>
			</ol>

			<h3>Bewaartermijnen</h3>
			De gemeente bewaart persoonsgegevens voor zolang dit noodzakelijk is voor de uitvoering van haar taken, of zoals is bepaald in de Archiefwet. Dat betekent dat voor uw persoonsgegevens die zijn verwerkt voor de participatief begroten tool Centrum Begroot  het volgende geldt: 
			• Als het uploaden van plannen en de stemperiode  voor de eerste fase (plannen uploaden en draagvlakpeiling) is afgelopen op 15 mei 2019, gaat deze site op slot. Plannen, aantal voor- en tegen stemmen en argumenten blijven wel zichtbaar. Op 9 september kan op 50 van deze plannen gestemd worden..
			• Na afloop van het stemmen worden gegevens verwerkt in een beknopte ( geanonimiseerde) analyse van waar mensen vandaan komen die hebben meegedaan aan de het stemmen, per plan.  Deze informatie wordt met de voor en tegen argumenten meegestuurd aan de stadsdeelcommissie die uiteindelijk 50 plannen selecteert. 

			De gegevens worden na afloop van het project ( 15 oktober worden winnende plannen bekend gemaakt) uit de database verwijderd. Ook opgegeven postcodes en IP-adressen worden na een geanonimiseerde analyse van waar stemmen vandaan komen, verwijderd. 

			De 50 geselecteerde plannen  en de overige ingediende plannen blijven zichtbaar op de site tot drie maanden nadat de winnende plannen bekend zijn gemaakt.  
			Na drie maanden na afronding van Centrum Begroot wordt de site in principe uit de lucht gehaald. Het kan zijn dat de site voor archiefdoeleinden online blijft. Indien daartoe wordt besloten, worden de namen van de planindieners op de site geanonimiseerd. Ook de achterliggende databases worden verwijderd. 

			<h2 id="intellectuele-eigendom-en-aansprakelijkheid">4. Intellectuele eigendom en aansprakelijkheid</h2>
			<p>
				Met het insturen van een tekst, foto, ontwerp of ander werk stemt u expliciet in met de openbaarmaking of verveelvoudiging ervan. De gemeente Amsterdam gaat er vanuit dat u de maker of de rechthebbende bent van de geüploade foto of het ingezonden ontwerp of anders toestemming van de rechthebbende heeft gekregen om deze in te sturen. Zo niet, dan bent u hoofdelijk aansprakelijk bij een eventuele claim van een rechthebbende.
			</p>
			
			<h2 id="contact">5. Contact</h2>
			<p>
				Mocht u nog vragen hebben, die niet in dit document, noch in het document met algemene informatie, worden beantwoord, of als u om een andere reden contact willen opnemen met de gemeente over privacy of gegevensbescherming bij dit project, neemt u dan contact op met <a href="mailto:openstad@amsterdam.nl">openstad@amsterdam.nl</a>.
			</p>
			<p>
				Voor meer algemene vragen aan de gemeente over privacy of gegevensbescherming, kunt contact met opnemen met de Functionaris Gegevensbescherming via: <a href="mailto:Functionaris.Gegevensbescherming@amsterdam.nl">Functionaris.Gegevensbescherming@amsterdam.nl</a>.
			</p>

			<h2 id="uw-rechten-uitoefenen-en-klachten">6. Uw rechten uitoefenen en klachten</h2>
			<p>
				Als burger of belanghebbende kunt u uw rechten bij de gemeente Amsterdam uitoefenen. Voor meer informatie over het uitoefenen van uw rechten kunt u contact met ons opnemen. Kijk op de <a href="https://www.amsterdam.nl/contact/">website</a> voor de diverse mogelijkheden. Wanneer u een klacht heeft over het handelen van de gemeente Amsterdam, kijk dan op deze webpagina.
			</p>

			<h2 id="wijzigingen">7. Wijzigingen</h2>
			<p>
				Dit document is vastgesteld op 8 april 2019.
			</p>

		</div>
	</div>
	
	<div class="secondary">
	</div>
{% endblock %}
