{% extends 'base.njk' %}
{% import 'includes/openstad-map.njk' as openStadMap %}
{% import 'includes/numberplatebutton.njk' as numberPlateButton %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}

{% set contentClass = 'index' %}

{% block photoBanner %}
{% endblock %}

{% block content %}

	<div id="photoBanner" style="background-image: url(/img/naamwedstrijd-winkelcentrum-nieuwwest/winkelcentrum-nieuw-west.jpg);"></div>
	
	<div id="banner">
		<div id="homebanner">
			<img id="homebanner-img" src="img/centrumbegroot/home-banner.svg"/>
			{% if (config.ideas.addNewIdeas == 'closed') %}
				{% if (config.ideas.voteForIdeas == 'closed') %}
					{# Plannen toevoegen gesloten, liken gesloten #}
					<div id="homebanner-title">
						<h2>Buurtbudget Slotermeer Noordoost</h2>
						<h3>Maak uw droom voor de buurt waar!</h3>
					</div>
					<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
					<div id="homebanner-text">
						Er zijn 144 plannen ingediend.<br/>
						In september wordt bekend gemaakt welke plannen haalbaar zijn en doorgaan naar de volgende ronde.
						<br/>
					</div>
					<div id="homebanner-buttons">
						<a href="/themas" class="bekijk-de-themas">
							Bekijk de thema's
						</a>
						<a href="/plannen" class="stuur-plan-in" style="width: 160px;">
							Bekijk de plannen
						</a>
					</div>
				{% else %}
					{# Plannen toevoegen gesloten, liken open #}
					<div id="homebanner-title">
						<h2>Buurtbudget Slotermeer Noordoost</h2>
						<h3>Maak uw droom voor de buurt waar!</h3>
					</div>
					<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
					<div id="homebanner-text">
						Wat vindt u een goed plan?<br/>
						Like uw favoriete plannen en bepaal welke plannen doorgaan naar de volgende ronde!
						<br/>
					</div>
					<div id="homebanner-buttons">
						<a href="/themas" class="bekijk-de-themas">
							Bekijk de thema's
						</a>
						<a href="/plannen" class="stuur-plan-in" style="width: 160px;">
							Bekijk de plannen
						</a>
					</div>
				{% endif %}
			{% else %}
				{# Plannen toevoegen open, liken open #}
				<div id="homebanner-title">
					<h2>Buurtbudget Slotermeer Noordoost</h2>
					<h3>Maak uw droom voor de buurt waar!</h3>
				</div>
				<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
				<div id="homebanner-text">
					Stuur uw plan in voor één van de 3 thema’s (Samen dingen doen; Cultuur & kansen creëren; Veilige, groene & prettige buurt) en bepaal waar €500.000 naar toe gaat. 
					<br/>
				</div>
				<div id="homebanner-buttons">
					<a href="/themas" class="bekijk-de-themas">
						Bekijk de thema's
					</a>
					{# <a href="/plan/nieuw" class="stuur-plan-in">
					Stuur uw plan in
					</a> #}
				</div>
			{% endif %}
		</div>
		<div id="controls">
			<span class="speechBubbleWhatsApp">
				<img src="/img/WhatsApp_Logo.svg" />
				<h3>WhatsApp helpdesk</h3>
				<ul class="arrowed-link">
					<li>
						<a href="/helpdesk">Stuur een bericht!</a>
					</li>
					<li>
						<a href="/engels">Send a message!</a>
					</li>
					<li>
						<a href="/turks">Lütfen mesaj yollayın!</a>
					</li>
					<li>
						<a href="/arabisch">أرسل رسالة</a>
					</li>
				</ul>
			</span>
			{{numberPlateButton.numberPlateButton('no-of-locations', 'plannen', runningIdeas.length, '/plannen')}}
			{#
			<a href="https://www.amsterdam.nl/centrumbegroot" class="page-button page-button-grey" target="_blank">
			Lees meer op amsterdam.nl
			</a>
			#}
		</div>
	</div>
{% endblock %}

{% block howDoesItWork %}
	{{howdoesitwork.howblock('open')}}
{% endblock %}

{% block content2 %}
	
	<div class="primary">

		<div class="text" name="info" id="info">

			<h3>Achtergrondinformatie</h3>

			<p>Het gebied rond het Osdorpplein vernieuwd en wordt steeds meer het centrum van stadsdeel Nieuw-West. Wie hier nu komt ziet dat er iedere dag iets veranderd. Er wordt een centrumgebied gecreerd met meer woningen, winkels, betere pleinen, restaurants, groen, een nieuwe gracht, en allerlei voorzieningen Samen met de voorzieningen die er al waren wordt het gebied   hét hart van stadsdeel Nieuw-West. Kortom, over een tijdje is dit de plek waar je wilt zijn! En dát gebied verdient een nieuwe naam.</p>

			<p>De naam Centrum Nieuw-West, zo bleek althans uit een peiling, is best bekend. Maar, zo vinden de meeste deelnemers aan de peilling, het nieuwe hart van het stadsdeel verdient eigenlijk een andere naam. Ruim de helft van de geënquêteerden was bekend met de naam: Centrum Nieuw-West. Bijna driekwart van de antwoorden laat echter zien dat het stadscentrum een andere naam mag krijgen; een die méér zegt over de geschiedenis van het plein, haar ligging en haar functie voor het stadsdeel. Maar, ook één die aangeeft dat het helemaal niet over-de-top hoeft. Doe maar gewoon, dan doen we al gek genoeg is daarbij het devies. Vooral op sociale media was de roep om eenvoud groot.</p>

			<p>De gemeente wil met de naamwedstrijd iedereen met hart voor Nieuw-West vragen om mee te denken over een passende naam voor centrumgebied. De straatnaam Osdorpplein blijft behouden, het gaat hier echt om de naam van het gebied. Het gaat om het gebied tussen de Sloterplas, het Osdorpplein, de L. van Sonsbeeckstraat, Hoekenes en het Hoekenespad.</p>

			<p>[TODO update juiste foto]</p>
			<img src="/img/naamwedstrijd-winkelcentrum-nieuwwest/winkelcentrum-nieuw-west.jpg">

			<p>Welke naam het centrumgebied krijgt, het zal er één zijn die leeft onder bewoners, omwonenden, bezoekers, ondernemers en winkeliers. Doe mee en win de publieksprijs!</p>

			<p>De naam die uiteindelijk de wedstrijd wint, zal door stadsdeel Nieuw-West als nieuwe gebiedsnaam aan het college van B&W worden voorgelegd. Als het college akkoord gaat, zal de naam als officiele gebiedsnaam worden vastgelegd. De nieuwe naam zal te zien zijn op nieuwe borden naar het gebied en op andere manieren terug te zien zijn en gebruikt worden. De winnaar van de naamwedstrijd krijgt een uniek cadeau en een waardebon. Daarnaast is er een prijs te winnen voor de meest originele geuzenaam. Dit is een naam die niet geschikt is als gebiedsnaam maar die wel orgineel of vindingrijk is.</p>

			<h3>Spelregels</h3>

			<ul class="checkmark-dot-list">
				<li>De naam moet iets zeggen over Osdorp en/of de ligging van het centrumgebied.</li>
				<li>De naam moet iets zeggen over de groeiende centrumfunctie die het gebied heeft op Nieuw-West.</li>
				<li>De naam moet Nederlands zijn.</li>
				<li>De naam mag in schrijfwijze of klank niet teveel lijken op reeds bestaande namen in de stad.</li>
				<li>Het gebruik van het woord ‘centrum’ in de naam heeft niet de voorkeur omdat dit verwarring oplevert met het centrum van Amsterdam.</li>
				<li>De naam moet goed uitspreekbaar en niet te moeilijk te schrijven zijn.</li>
				<li>De naam mag geen commerciële uiting of merknaam bevatten.</li>
				<li>Bij verwijzingen naar historische zaken wordt de huidige spelling gebruikt.</li>
				<li>De gebiedsnaam mag maximaal 19 karakters (incl. spaties) bevatten.</li>
				<li>Er dient enige logica in de naam te zitten zodat de naam geografisch herkenbaar is.</li>
				<li>Inzenden kan tot en met 30 augustus 2019. Veel succes!</li>
			</ul>
			<p>Meer weten? Neem contact op met <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a></p>

			{# <div class="buttons">
				<a href="/wedstrijd#delocatie" class="page-button page-button-grey bekijk-de-locatie-button">
					Bekijk de locatie
				</a>
				<a href="/plan/nieuw" class="page-button page-button-blue stuur-je-ontwerp-button">
					Stuur je ontwerp in
				</a>
			</div> #}
			
		</div>
	</div>
	
	<div class="secondary">
		
		<div id="agenda">
			<h3>Tijdlijn</h3>
			
			<div class="agenda">

				<div class="box-grey agenda-period">
					<div>
						<h3>2 juli t/m 2 september 2018</h3>
						Insturen locatie met verhaal
					</div>
				</div>
				
				<div class="box-grey agenda-day">
					<div>
						<h3>5 oktober 2018</h3>
						Bekendmaking winnende locatie in de Baarsjes
					</div>
				</div>
				
				<div class="box-grey agenda-period">
					<div>
						<h3>22 oktober t/m 25 november 2018</h3>
						Start ontwerpwedstrijd: insturen ontwerpen
					</div>
				</div>
				
				<div class="box-grey agenda-period">
					<div>
						<h3>3 december 2018 t/m 6 januari 2019</h3>
						Stemmen op ontwerpen
					</div>
				</div>
				
				<div class="box-grey agenda-day">
					<div>
						<h3>n.n.b.</h3>
						Uitslag ontwerpwedstrijd
					</div>
				</div>
				
				<div class="box-grey agenda-period">
					<div>
						<h3>n.n.b.</h3>
						Realisatie kunstwerk
					</div>
				</div>
				
				<div class="box-grey agenda-day">
					<div>
						<h3>n.n.b.</h3>
						Feestelijke onthulling van het winnende ontwerp
					</div>
				</div>

			</div>

		</div>

	</div>
{% endblock %}

{% block page %}
	<div id="inspiration">
		<div class="pageContent">
			<h2>Inspiratie</h2>
			<div id="inspiration-images"><div id="inspiration-1" class="inspiration-image"><img src="/img/eberhardvanderlaan/inspiratie.1.jpg"></div><div id="inspiration-2" class="inspiration-image"><img src="/img/eberhardvanderlaan/inspiratie.2.jpg"></div><div id="inspiration-3" class="inspiration-image"><img src="/img/eberhardvanderlaan/inspiratie.3.jpg"></div><div id="inspiration-4" class="inspiration-image"><img src="/img/eberhardvanderlaan/inspiratie.4.jpg"></div></div>
		</div>
	</div>
{% endblock %}

{% block content3 %}
	<ul class="share">
		<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a></li>
		<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{url}}">Twitter</a></li>
		<li><a class="email"    target="_blank" href="mailto:?subject=Ontwerp op Zorg goed voor onze stad en voor elkaar">Email</a></li>
	</ul>
{% endblock %}

