{% extends 'base.njk' %}
{% import 'includes/jury.njk' as jury %}
{% import 'includes/spelregels.njk' as spelregels %}

{% set activeMenu = 'about' %}

{% block extraInfoBar %}
	{% if (config.ideas.addNewIdeas != 'closed') %}
		<div id="end-date-bar">
			<span id="end-date-bar-start-text" class="text"></span>
			<span id="end-date-bar-start-text-vervolg" class="text">: nog</span>
			<span id="number-plates">
				<span id="end-date-number-plate-00" class="number-plate"> 0 </span><span id="end-date-number-plate-0" class="number-plate"> 0 </span>
			</span>
			<span id="end-date-bar-end-text" class="text"></span>
		</div>
		<script>
		 if ( daysLeft > 0 ) {
			 document.getElementById('end-date-bar-start-text').innerHTML = 'Namen insturen kan t/m ' + endDateText;
			 document.getElementById('end-date-bar-end-text').innerHTML = 'dagen';
			 var value000 = parseInt(daysLeft/100) || 0;
			 var value00  = parseInt(daysLeft/10) - value000;
			 var value0   = daysLeft - value000 * 100 - value00 * 10;
			 document.getElementById('end-date-number-plate-00').innerHTML = value00;
			 document.getElementById('end-date-number-plate-0').innerHTML = value0;
		 } else {
			 document.getElementById('end-date-bar-start-text').innerHTML = 'Ontwerpen insturen kon t/m ' + endDateText;
			 document.getElementById('number-plates').style.display = 'none';
		 }
		</script>
	{% else %}
		<div id="end-date-bar">
			<span id="end-date-bar-start-text" class="text">Stemmen op een naam kan vanaf 2 oktober</span>
		</div>
	{% endif %}
{% endblock %}

{% block content %}

	<br/></br/>
	<div class="primary">

		<div class="info">
			<h1>De naamwedstrijd</h1>
			<p>
				Met deze naamwedstrijd wil stadsdeel Nieuw-West iedereen met hart voor Nieuw-West vragen om mee te denken over de toekomst van het centrumgebied van Nieuw-West door een passende naam te bedenken. Welke naam het centrumgebied ook krijgt, het zal er één zijn die leeft onder bewoners, omwonenden, bezoekers, ondernemers en winkeliers.
			</p>

			<h3>Het proces</h3>
			<p>
				Het centrumgebied rondom het Osdorpplein verandert iedere dag en wordt hét centrum van Nieuw-West, en daar hoort een passende gebiedsnaam bij! De naam Osdorpplein blijft als straatnaam behouden. De nieuwe gebiedsnaam die door het publiek wordt gekozen wordt als officiële naam aan het college van B&W voorgelegd.
			</p>

			<h3>De prijzen</h3>
			<p>
				Er zijn twee prijzen te winnen: de hoofdprijs is voor de inzender van beste nieuwe gebiedsnaam. Dit is de naam die de meeste stemmen van het publiek weet binnen te halen. Deze naam zal als officiële gebiedsnaam worden voorgelegd aan het college van B&W.
			</p>

			<p>
				Daarnaast is er een juryprijs te winnen voor de meest originele naam. Dit is een naam die erg vindingrijk is, maar misschien niet de meeste stemmen heeft gekregen. Dit kan ook een naam zijn die uiteindelijk niet haalbaar is volgens de officiële criteria voor een gebiedsnaam, maar wel erg creatief en vindingrijk.
			</p>

			<p>
				Wanneer de naam is vastgesteld, kan de naam worden gebruikt op de verkeersborden naar het centrumgebied, maar ook zal de naam op banners, vlaggen en allerlei communicatie-uitingen te zien zijn. De hoofdprijs, die door het publiek wordt gekozen bestaat uit een ludiek cadeau en een waardebon van €100. De prijs voor de meest originele naam zal door de jury eveneens beloond worden met een ludiek cadeau en een waardebon van €50.
			</p>
		</div>

		<a href="/plan/nieuw" class="page-button page-button-blue">Stuur naam in</a>
		<br/><br/><br/>

	</div>
	
	<div class="secondary">

		<div class="speechBubble" style="width: 219px;">
			Bedenk jij de beste nieuwe naam voor hét centrumgebied van Nieuw-West?
		</div>
		
	</div>

{% endblock %}

{% block howDoesItWork %}
	{{jury.howblock('open')}}
{% endblock %}

{% block content2 %}
	<div class="primary" id="delocatie">
	</div>
{% endblock %}

{# {% block content3 %}
<div class="primary">

<div class="info">
<h3>Ontwerp maken</h3>
<p>Het maximale oppervlak dat je tot je beschikking hebt op de toren is ongeveer 4,15 bij 5,20 meter. Het is niet verplicht om je ontwerp zo groot te maken, kleiner mag ook.</p>
<p>Om je te helpen met het ontwerpen zijn er drie sjablonen beschikbaar. Het A4 print-sjabloon (pdf) kun je uitprinten en gebruiken om op papier een ontwerp te maken. Het jpeg-sjabloon is een witte afbeelding met de juiste afmetingen om digitaal aan de slag te gaan. Het Photoshop-sjabloon heeft verschillende lagen waarop ook een foto van de toren zichtbaar is, om je een idee te geven van hoe het er uiteindelijk uit komt te zien.</p>
<p>Als je liever op een andere manier te werk gaat, houd dan rekening met de aanbevolen minimale resolutie van 700 pixels breed en 877 pixels hoog.</p>
</p>
</div>

<div class="info gray" id="sjablonen">
<ul class="links-list downloads">
<li><a target="blank" href="/img/eberhardvanderlaan2/Zorg_goed_voor_onze_stad_-_A4_sjabloon.pdf">Download het A4 print-sjabloon (.pdf)</a></li>
<li><a target="blank" href="/img/eberhardvanderlaan2/Zorg_goed_voor_onze_stad_-_jpeg_sjabloon.jpg">Download het jpeg-sjabloon (.jpg)</a></li>
<li><a target="blank" href="/img/eberhardvanderlaan2/Zorg_goed_voor_onze_stad_-_Photoshop_sjabloon.psd">Download het Photoshop-sjabloon (.psd)</a></li>
</ul>
</div>

<div class="info">
<h3>Ontwerp insturen</h3>
<p>Je kunt afbeeldingen van ontwerpen uploaden in het .png of .jpg bestandsformaat. In het uploadformulier heb je nog de mogelijkheid om je ontwerp op de juiste plaats op de muur te positioneren door deze te schuiven en te schalen.
<p>Als je een ontwerp op papier maakt kun je deze met je computer scannen en dan uploaden. Ook kan je met je smartphone naar het uploadformulier gaan. Je kunt dan je camera gebruiken om een foto van je ontwerp te maken.</p>
<p><strong>Let op:</strong> Bewaar je originele ontwerp goed! Deze hebben we mogelijk nog nodig als jouw inzending tot winnend ontwerp wordt gekozen!</p>
</div>

<br/>
<a href="/plan/nieuw?introread=true" class="page-button page-button-blue ga-verder-button2">
Ga verder naar het uploadformulier
</a><br/><br/>


</div>
{% endblock %} #}
