{% extends 'ideas.njk' %}
{% set pageTitle = 'Hoe werkt het?' %}
{% set contentClass = 'newIdea' %}

{% block content %}

<div id="howDoesItWork">
	<h2>Hoe werkt het?</h2>
	
	<div data-step="1">
		<h1>Jouw Voorstel</h1>
		<p>
			Onze tips voor een goed voorstel:
			<ul>
				<li>Het is voor meerdere bewoners interessant</li>
				<li>Formuleer je voorstel positief</li>
				<li>Wees duidelijk in je uitleg</li>
				<li>Houd het kort en bondig</li>
        <li>Het idee mag voor je eigen buurt zijn, maar ook voor heel Noord </li>
			</ul>
		</p>
	</div>
	
	<div data-step="2">
		<h1>Campagne</h1>
		<p>
			Voer campagne voor je plan en verzamel zoveel mogelijk stemmen om het voorstel
			op de agenda te krijgen van de stadsdeelcommissie. Verzamel tenminste 100 (positieve)
			stemmen. Je hebt drie maanden de tijd voor je campagne, daarna kan er niet meer worden gestemd.
		</p>
		
		<p>
			Dit kun je doen door:
			<ul>
				<li>Buurtgenoten uit te nodigen via Facebook of Twitter</li>
				<li>Mails te versturen naar je buurtgenoten</li>
				<li>Deur voor deur langs te gaan</li>
				<li>Een bijeenkomst te organiseren</li>
			</ul>
		</p>
	</div>
	
	<div data-step="3">
		<h1>De Agenda</h1>
		<p>
      Binnenkort volgt meer informatie over de stadsdeel­commissie en vergaderdata.
		</p>
		<p>
			Vragen? Check eerst <a href="/veelgestelde-vragen">veelgestelde vragen</a> en kijk of
			je antwoord er tussen staat. Staat het antwoord op je vraag er niet bij, stuur dan een
			email naar <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>
		</p>
		
		{% if user.isLoggedIn() %}
			<a href="/plan/nieuw?help=0" class="big">Upload een voorstel!</a>
		{% else %}
			<a href="/account/register?ref=/idea/nieuw" class="big">Meld je aan!</a>
		{% endif %}
	</div>
</div>
{% endblock %}