{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set contentClass = 'index' %}

{% block content %}
	<div id="banner">
		{% include "includes/banner-image.html" %}
		{% include "includes/banner-text.html" %}
	</div>
	
	<div class="primary">
		{{sec.newIdeaBubble()}}
		
		{# Syntax formatting because `div.tile` is `display: inline-block`. #}
		{% for article in articles
		%}<div class="tile {{'unpublished' if not article.isPublished}}">
			<a href="/artikel/{{article.id}}">
				{% if article.posterImage %}
					<div class="image" style="background-image: url('/image/{{article.posterImage.key}}');"></div>
				{% else %}
					<div class="image" style="background-image: url('/img/articles/{{article.id}}/{{article.image or 'thumbnail.jpg'}}');"></div>
				{% endif %}
				{% if not article.isPublished %}
					<div class="notPublished">Niet gepubliceerd</div>
				{% endif %}
				<h3>{{article.title}}</h3>
				{{article.summary}}
			</a>
			
			<a href="/artikel/{{article.id}}" class="readMore">Lees meer</a>
		</div>{% endfor %}{% include "includes/more-stenvans-tile.html" %}{# Another weird formatting; see comment above. #}
	</div>
	
	<div class="secondary">
		{{sec.newIdeaBubble()}}

		{% if can('article:create') %}
			<h2>Acties</h2>
			
			<form action="/article/create">
				<button type="submit" class="edit">Nieuw artikel</button>
			</form>
		{% endif %}

		{{sec.highlightedIdeas(highlightedIdeas)}}
		
		{{sec.agenda(user, upcomingMeetings)}}
	</div>
{% endblock %}
