<idea id="idea-{{idea.id}}">
	<idea-image style="background-image: url({{idea.posterImageUrl}})"></idea-image>
	<idea-controls>
		<idea-votes-for-button id="idea-votes-for-button" onclick="doVote('yes')" class="{{'selected' if idea.userVote and idea.userVote.opinion == 'yes'}}" data-count="{{idea.yes}}"></idea-votes-for-button>
		<idea-votes-against-button id="idea-votes-against-button" onclick="doVote('no')" class="{{'selected' if idea.userVote and idea.userVote.opinion == 'no'}}" data-count="{{idea.no}}"></idea-votes-against-button>
	</idea-controls>
	<idea-title>{{idea.title}}</idea-title>
	<idea-description>{{idea.description | safe}}</idea-description>
	<idea-counters>{{idea.yes}}, {{idea.no}}, {{idea.argCount}}</idea-counters>
</idea>
