{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set activeMenu   = 'about' %}
{% set pageTitle    = 'De stadsdeelcommissie' %}
{% set contentClass = 'AB' %}

{% block content %}
	<div class="primary">
		<img src="/img/ab/raadszaal.jpg">
		
		<h1>Wat is de stadsdeelcommissie?</h1>
		
		<p>
			De stadsdeelcommissie adviseert het dagelijks bestuur van stadsdeel Nieuw-West en het bestuur van de stad over de toekomst van het stadsdeel, de inrichting van het stadsdeel en de uitvoering van werkzaamheden. Dit doet de stadsdeelcommissie namens hun buurtgenoten.
		</p>
		<p>
			Als er in het stadsdeel of in jouw buurt zaken spelen die je graag deelt met de politiek, is de stadsdeelcommissie het eerste aanspreekpunt. De stadsdeelcommissie praat over zaken die van belang zijn voor stadsdeel Nieuw-West. De commissie geeft adviezen aan het dagelijks bestuur van stadsdeel Nieuw-West of het college van B&W.
		</p>
		<p>
			De stadsdeelcommissie vergadert twee keer per maand met het dagelijks bestuur. Kijk voor meer informatie op: <a href="https://nieuw-west.notubiz.nl" target="_blank">https://nieuw-west.notubiz.nl</a>
		</p>
		
		<h2>Wie vertegenwoordigen mijn buurt? </h2>
		
		<p>
			De stadsdeelcommissieleden weten goed wat er speelt in stadsdeel Nieuw-West. Heb je vragen over de inspraak of wil je een suggestie delen? Dan kun je een van de commissieleden aanspreken of een idee of voorstel indienen voor Nieuw-West. 
		</p>

		<h2>Vier gebieden</h2>
		<p>
			Stadsdeel Nieuw-West is verdeeld in 4 gebieden: 
			<ul>
				<li>De Aker, Sloten en Nieuw Sloten</li>
				<li>Slotervaart</li>
				<li>Geuzenveld, Slotermeer en Sloterdijken</li>
				<li>Osdorp</li>
			</ul>
			Omdat iedere buurt andere vragen en behoeftes heeft, zijn de 16 stadsdeelcommissieleden verdeeld over de 4 gebieden. Zo weet de stadsdeelcommissie snel wat er in de buurt speelt.
			Kijk <a href="https://www.amsterdam.nl/bestuur-organisatie/stadsdelen/stadsdeelnieuwwest/leden-sdc-nieuwwest/" target="_blank">hier</a> wie de stadsdeelcommissieleden zijn en welke buurt ze vertegenwoordigen. 
		</p>

	</div>

	<div class="secondary">
		{{sec.agenda(upcomingMeetings)}}
		
		<div class="widget">
			<h2>Wist je dat?</h2>
			<div id="didYouKnowBubble" class="speechBubble">
				&ldquo;... als je idee in de stadsdeelcommissie vergadering wordt besproken, je begeleiding krijgt bij het voorbereiden en presenteren van je idee?&rdquo;
			</div>
		</div>
	</div>
{% endblock %}
