{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set contentClass = 'index' %}

{% block content %}
	<div id="banner">
		<div class="image" style="background-image: url('/img/home_banner_nwest.jpg');"><div style="position: absolute; right: 8px; bottom: 4px; font-weight: bold; color: white;">Foto Jeroen Paling | Dutsh Amsterdam</div></div>
		<div class="text">
			<h2>Welkom op de Stem van Nieuw-West</h2>
			<p>
				Dit is jouw online meetingpoint waar je voorstellen voor je buurt kunt indienen. Een nieuw plantsoen? Een dagbestedingsproject voor dak- en thuislozen? Extra parkeerplekken of juist veel minder? Jij bedenkt het! Voer campagne voor je plan, verzamel zoveel mogelijk stemmen voor je plan en pitch jouw voorstel bij de stadsdeelcommissie.
			</p>
		</div>
	</div>
	
	<div class="primary">
		{{sec.newIdeaBubble()}}
		
		{# Syntax formatting because `div.tile` is `display: inline-block`. #}
		{% for article in articles
		%}<div class="tile">
			<a href="/artikel/{{article.id}}">
				<div class="image" style="background-image: url('/img/articles/{{article.id}}/thumbnail.jpg');"></div>
				<h3>{{article.title}}</h3>
				{{article.summary}}
			</a>
			
			<a href="/artikel/{{article.id}}" class="readMore">Lees meer</a>
		</div>{% endfor %}{# Another weird formatting; see comment above. #}<div class="tile">
			<div class="image" style="background-image: url('/img/articles/custom_tile_west.jpg');"></div>
			<h3>In andere stadsdelen</h3>
			Nieuwsgierig naar de plannen die van bewoners en ondernemers in andere stadsdelen?
			<a href="https://stemvanwest.amsterdam.nl" target="_blank" class="readMore">Bezoek de site van West</a>
			<a href="https://stemvancentrum.amsterdam.nl" target="_blank" class="readMore">Bezoek de site van Centrum</a>
			<a href="https://stemvanoost.amsterdam.nl" target="_blank" class="readMore">Bezoek de site van Oost</a>
			<a href="https://stemvanzuid.amsterdam.nl" target="_blank" class="readMore">Bezoek de site van Zuid</a>
			<a href="https://stemvanzuidoost.amsterdam.nl" target="_blank" class="readMore">Bezoek de site van Zuid Oost</a>
		</div>
	</div>
	
	<div class="secondary">
		{{sec.newIdeaBubble()}}
		
		{{sec.highlightedIdeas(highlightedIdeas)}}
		
		{{sec.agenda(upcomingMeetings)}}
	</div>
{% endblock %}
