{% macro list( user, idea, config, csrfToken, propName ) %}
	{% set arguments     = idea[propName] %}
	{% set isFor         = propName == 'argumentsFor' %}
	
	{% set mayShowForm   = false %}
	{% set mayAddArg     = false %}
	{% set mayEmailUsers = false %}
	
	{% if mayShowForm %}
		<form method="POST" action="/plan/{{idea.id}}/arg/new" class="newArgument">

			{% if ((not user) or (user.id == 1) or (not user.email)) and config.arguments and config.arguments.user and config.arguments.user.anonymousAllowed and 'email' in config.arguments.user.fieldsRequired %}
				<h4>E-mailadres</h4>
				<input type="text" name="email" value="{{user.emailaddress}}"/>
			{% endif %}
			
			<textarea
			name="description"
			placeholder="{{'Ik ben voor, want...' if isFor else 'Ik ben tegen, want...'}}"
			style="font-size: inherit;"
			{{'data-disabled readonly' if not mayAddArg}}
			></textarea>
			
			<div class="charsLeft">
				<div class="min">Nog minimaal <span>0</span> tekens</div>
				<div class="max">Je hebt nog <span>0</span> tekens over.</div>
			</div>
			
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input type="hidden" name="sentiment" value="{{'for' if isFor else 'against'}}">
			<input type="submit" value="Verzenden">
		</form>
	{% endif %}

	{% if propName == 'argumentsFor' %}
		<h2 style="clear: both;">Argumenten voor</h2>
	{% else %}
		<h2 style="clear: both;">Argumenten tegen</h2>
	{% endif %}

	{% for arg in arguments %}
		{% set mayEdit         = user.can('arg:edit', idea, arg) %}
		{% set mayDelete       = user.can('arg:delete', idea, arg) %}
		{% set maySeeReplyForm = user.can('arg:reply:form', idea, arg) %}
		{% set mayReply        = user.can('arg:reply', idea, arg) %}

		<div class="argument" data-id="{{arg.id}}" id="arg{{arg.id}}">
			<div class="user {{'admin' if arg.user.isAdmin()}}">
				<strong>
					{{arg.user.fullName}}
				</strong>
				| {{arg.createdAt | date('LLL')}}
				
				{% if mayEdit or mayDelete %}
					<div class="hamburger" onclick="this.className = this.className + ' active'">
						{% if mayEdit %}
							<form class="action" method="GET" action="/plan/{{arg.ideaId}}/arg/{{arg.id}}/edit">
								<input type="submit" class="default edit" value="bewerken" title="Argument bewerken">
							</form>
						{% endif %}
						{% if mayDelete %}
							<form class="action delete" method="POST" action="/plan/{{arg.ideaId}}/arg/{{arg.id}}/delete">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_csrf" value="{{csrfToken}}">
								<input type="submit" class="default delete" value="verwijderen" title="Argument verwijderen">
							</form>
						{% endif %}
					</div>
				{% endif %}

			</div>
			
			<p>{{arg.description | urlize | nl2br | safe}}</p>
			
			<form class="action vote" onsubmit="return false;">
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
				<button type="submit" name="opinion" value="yes" class="{{'voted' if arg.hasUserVoted else 'notvoted'}}">
					Mee eens (<span>{{arg.yes}}</span>)
				</button>
			</form>
			
		</div>
		
		{% for reaction in arg.reactions %}
			{% set mayEdit   = user.can('arg:edit', idea, reaction) %}
			{% set mayDelete = user.can('arg:delete', idea, reaction) %}
			
			<div class="reaction" id="arg{{reaction.id}}">
				<div class="user {{'admin' if reaction.user.isAdmin()}}">
					<strong>
						{% if mayEmailUsers %}
							<a href="mailto:{{reaction.user.email}}">{{reaction.user.fullName}}</a>
						{% else %}
							{{reaction.user.fullName}}
						{% endif %}
					</strong>
					| {{reaction.createdAt | date('LLL')}}

					{% if mayEdit or mayDelete %}
						<div class="hamburger" onclick="this.className = this.className + ' active'">
							{% if mayEdit %}
								<form class="action" method="GET" action="/plan/{{reaction.ideaId}}/arg/{{reaction.id}}/edit">
									<input type="submit" class="default edit" value="bewerken" title="Reactie bewerken">
								</form>
							{% endif %}
							{% if mayDelete %}
								<form class="action delete" method="POST" action="/plan/{{reaction.ideaId}}/arg/{{reaction.id}}/delete" data-is-reaction="true">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_csrf" value="{{csrfToken}}">
									<input type="submit" class="default delete" value="verwijderen" title="Reactie verwijderen">
								</form>
							{% endif %}
						</div>
					{% endif %}
				</div>
				
				<p>{{reaction.description | urlize | safe}}</p>
			</div>
		{% endfor %}
				{% else %}
		<div class="noArguments" style="margin-top: -2px;">
			{% if mayAddArg %}
				Heb je een goed argument {{'voor' if isFor else 'tegen'}}?
				Laat je stem horen!
			{% else %}
				Geen argumenten {{'voor' if isFor else 'tegen'}}.
			{% endif %}
		</div>
	{% endfor %}
	
	{# Javascript below picks this up, and `insertBefore`s this when/where it's relevant #}
	<form method="POST" action="/plan/{{idea.id}}/arg/reply" class="tpl newReaction">
		<textarea name="description" rows="1" placeholder="Typ hier jouw reactie..." style="font-size: inherit;"></textarea>
		
		<div class="charsLeft">
			<div class="min">Nog minimaal <span>140</span> tekens.</div>
			<div class="max"><span>360</span> tekens resterend.</div>
		</div>
		
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<input type="hidden" name="parentId" value="">
		<input type="hidden" name="sentiment" value="{{'for' if isFor else 'against'}}">
		<input type="submit" value="Verzenden">
	</form>
{% endmacro %}

{% macro renderLists( user, idea, cssQuery ) %}
	<script>
	 
	 // Make argument vote buttons dynamic.
	 $('{{cssQuery}} form.vote').forEach(function( form ) {
		 var countBox = form.querySelector('button span');
		 var button   = countBox.parentNode;
		 
		 form.addEventListener('submit', function( event ) {
			 event.preventDefault();
			 return false;
		 });
	 });
	</script>
{% endmacro %}
