<div id="cookieFlash">
	<h2>Cookiemelding</h2>

	Wij plaatsen cookies voor een betere veiligheid en om inloggen mogelijk te maken. Een inlogsessie
	is maximaal 6 maanden geldig. Daarnaast plaatsen derde partijen mogelijk extra cookies:

	<ul>
		<li>Google Analytics — voor analysedoeleinden.</li>
		<li>Vimeo — voor analyse- en mogelijk trackingdoeleinden.</li>
	</ul>

	<a href="/accepteer-cookies" class="big">Accepteer cookies</a>

	<p class="small">
		Door u aan te melden op deze site gaat u akkoord met het plaatsen van deze cookies. Meer informatie
		over cookies vind u in onze <a href="/disclaimer#cookies">proclaimer</a>.
	</p>
</div>