<div class="row row-eq-height--desktop relative padding-bottom-l">
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div class="">
				<img src="/img/westbegroot/main-money.svg" />
			</div>
			<h3>
				Verdeel € 300.000 over jouw favoriete plannen
			</h3>
			<p>
				Woon je in West en ben je 18 jaar of ouder? Alle bewoners uit West van 18 jaar en ouder ontvangen per post een stemcode om tussen 16 januari en 13 februari 2019 te kunnen stemmen op plannen op West Begroot.
			</p>
      <div class="row-footer--desktop text-center">
  			<a href="/begroten" class="btn--blue ">
  				Begin meteen met stemmen
  			</a>
      </div>
    </div>
    <br class="visible-xs" /> 
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div>
				<img src="/img/westbegroot/main-info.svg" />
			</div>
			<h3>
				Wil je meer informatie over West Begroot?
			</h3>
			<p>
				Hoe ziet het stemproces eruit en hoe wordt bepaald welke plannen uiteindelijk uitgevoerd worden?
			</p>
      <div class="row-footer--desktop text-center">
  			<a href="#achtergrondinformatie" class="btn--blue scroll-link">
  				Lees hier hoe het werkt
  			</a>
      </div>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
      <div class="">
        <img src="/img/westbegroot/main-hammer.svg" />
      </div>
      <h3>
        Hoe zijn de ingestuurde plannen beoordeeld?
      </h3>
      <p>
        Van de 210 ingestuurde plannen zijn er 30 geselecteerd voor de stemfase van West Begroot. Zit jouw plan er niet bij de geselecteerde plannen op de pagina “Stemmen”? Lees hier hoe de plannen zijn beoordeeld.
      </p>
      <div class="row-footer--desktop text-center">
        <a href="/originele-plannen" class="btn--blue">
          Bekijk alle ingestuurde plannen
        </a>
      </div>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
</div>
