<div class="row">
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div class="">
				<img src="/img/westbegroot/main-money.svg" />
			</div>
			<h3>
				Verdeel € 300.000 over jouw favoriete plannen
			</h3>
			<p>
				Woon je in West? Alle bewoners uit West ontvangen per post een stemcode om te kunnen stemmen op plannen op West Begroot.
			</p>
			<a href="/begroten" class="btn--blue ">
				Begin meteen met stemmen
			</a>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />

  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div>
				<img src="/img/westbegroot/main-info.svg" />
			</div>
			<h3>
				Wil je meer informatie over West Begroot?
			</h3>
			<p>
				Hoe ziet het stemproces eruit en hoe wordt bepaald welke plannen uiteindelijk uitgevoerd worden?
			</p>
			<a href="#achtergrondinformatie" class="btn--blue ">
				Lees achtergrondinformatie
			</a>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
      <div class="">
        <img src="/img/westbegroot/main-hammer.svg" />
      </div>
      <h3>
        Hoe zijn de ingestuurde plannen beoordeeld?
      </h3>
      <p>
        Van de 216 ingestuurde plannen zijn er 30 geselecteerd voor de stemfase van West Begroot. Lees hier hoe de plannen zijn beoordeeld.
      </p>
      <a href="/originele-plannen" class="btn--blue">
        Bekijk alle ingestuurde plannen
      </a>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
</div>
