<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

	<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

	<meta name="viewport" content="initial-scale=1">
	{% block head %}
	<link rel="stylesheet" type="text/css" media="all"   href="/css/stemtool/all.css">
	{% endblock %}
</head>
<body class="preload">
	<div id="page">
		<header>
			<a href="/" class="no-underline">
				<img src="/img/andreas.svg" width="24" alt=""/>
				<div id="amsterdam">
					Gemeente<br>
					Amsterdam
				</div>

				<h1>Javabrug over het IJ</h1>
			</a>
		</header>

		<nav id="mainMenu" role="navigation" class="menuBar">
			<div>
				<!--- No menu for now, single page voting
				<ul>
					<li class="{{'active' if activeMenu == 'home' or not activeMenu}}"><a href="/">Home</a></li>
				</ul>
				!-->
				<ul>
					<li id="logoutButton"></li>
				</ul>
			</div>
		</nav>

		<div id="content" class=" {{contentClass}}">
			<div class="section-container">
				{% for type,list in messages %}
					<div class="flashMessage {{type}}">
						{% if type == 'error' %}
							<h2>Er ging iets fout</h2>
							<ul>
								{% for message in list %}<li>{{message}}{% endfor %}
							</ul>
						{% elif type == 'success' %}
							<h2>Gelukt!</h2>
							{% for message in list %}{{message}}<br>{% endfor %}
						{% elif type == 'include' %}
							{% for file in list %}
								{% include file %}
							{% endfor %}
						{% else %}
							<h2>Informatie</h2>
							{% for message in list %}{{message}}<br>{% endfor %}
						{% endif %}

						<a class="close"><img src="/img/close.svg" alt="" title="Melding sluiten"></a>
					</div>
				{% endfor %}

				{% block content %}
					{# Standaard pagina. #}
				{% endblock %}
			</div>
		</div>

		{#
			Extra page elements. E.g. used by idea.njk to render arguments which
			has an extra header element that spans the entire `#page` width.
		#}
		{% block page %}
			{# <div class="content">...</div> #}
		{% endblock %}

		{% block footer %}
		<footer>
			<div class="section-container side-padding-xs">
				<div class="col-container">
					<div class="col-3 col-sm-6 col-xs-12">
						<h2>Over deze site</h2>
						<ul>
							<li><a href="/disclaimer">Disclaimer</a></li>
						</ul>
					</div>
					<div class="col-3  col-sm-6 col-xs-12">
						<h2>Meer informatie</h2>
						<ul>
							<li><a href="{{GLOBALS.projectPage}}" target="_blank">Volg de project&shy;pagina op amsterdam.nl</a></li>
						</ul>
					</div>
					<div class="col-3 col-sm-6 col-xs-12">
						<h2>Contact</h2>
						<p>
							Heb je een vraag of het gebruik van de site? Wij horen het graag
						</p>
						<ul>
							<li><a href="mailto:{{EMAIL}}">Stuur een e-mail</a></li>
						</ul>
					</div>
					</div>
				</div>
		</footer>
		{% endblock %}
	</div>

	<script>
		// Preload class is defined in `all.less` to disable all animations.
		document.body.className = '';
	</script>
	<script>
		function $( el, query ) {
			query || (query = el, el = null);
			return Array.prototype.slice.call(
				(el || document).querySelectorAll(query), 0
			);
		}
	</script>
	<script>
		// Account submenu
		// ---------------
		(function() {
			var button  = document.querySelector('#account');
			var subMenu = document.querySelector('#subMenu');
			var active  = false;

			if( !button ) return;

			button.addEventListener('click', function( event ) {
				if( !active ) {
					showMenu(event);
				} else {
					hideMenu(event);
				}
			});

			function showMenu( event ) {
				event.preventDefault();
				event.stopPropagation();

				document.body.addEventListener('click', hideMenu);
				subMenu.addEventListener('click', menuClick);

				subMenu.className += ' active';
				active = true;
			}
			function hideMenu( event ) {
				event.preventDefault();
				event.stopPropagation();

				document.body.removeEventListener('click', hideMenu);
				subMenu.removeEventListener('click', menuClick);

				subMenu.className = subMenu.className.replace(/ ?active/, '');
				active = false;
			}
			function menuClick( event ) {
				event.stopPropagation();
			}
		})();
	</script>
	<script>
		// Flash messages
		// --------------
		// Make close buttons interactive.
		(function() {
			var closeButtons = Array.prototype.slice.call(
				document.querySelectorAll('.flashMessage a'), 0
			);
			closeButtons.forEach(function( a ) {
				a.href = '';
				a.addEventListener('click', function( event ) {
					var message = a.parentNode;
					message.parentNode.removeChild(message);
					event.preventDefault();
				});
			});
		})();

		// logout button
		// -------------
		if (document.cookie.search(/showLogoutButton=true/) != -1) {
			let button = document.createElement('a');
			button.href = '/logout';
			button.textContent = "Log uit";
			document.getElementById('logoutButton').appendChild(button);
		}
	</script>

	{% block scripts %}{% endblock %}

	{% if ENV == 'production' %}
		{% include 'includes/analytics.njk' %}
	{% endif %}
</body>
</html>
