{% extends 'base.njk' %}

{% block head %}
	{{ super() }}

	<title>Privacyverklaring en proclaimer</title>
{% endblock %}

{% block content %}
	<div id="disclaimer">
		<div class="col-container html-styling">
			<div class="col-12">
				<h1 class="margin-bottom-s">Privacyverklaring online tool Kunst op het Karel Doormanplein</h1>
				<em class="block margin-bottom-m"> 29 mei 2018 </em>
			</div>
			<div class="col-3 col-sm-12">
				<h3> In het kort </h3>
				<p>
					Via de online tool Kunst op het Karel Doormanplein worden persoonsgegevens verwerkt.
					Gemeente Amsterdam acht een zorgvuldige omgang met persoonsgegevens van groot belang.
					Wij gaan vertrouwelijk om met de informatie die u ons
					via de website verstrekt en persoonlijke gegevens worden door ons dan ook zorgvuldig verwerkt en beveiligd.
				</p>
				<div class="index">
					<h4> Op deze pagina </h4>
					<ul>
						<li><a href="#algemeen"> Algemeen </a>
						<li><a href="#verantwoordelijke"> De verantwoordelijke </a>
						<li><a href="#persoonsgegevens"> Verwerken van persoonsgegevens </a>
						<li><a href="#contact"> Contact </a>
						<li><a href="#rechten"> Uw rechten uitoefenen en klachten </a>
					</ul>
				</div>
			</div>
			<div class="col-9 col-sm-12">
				<p>
					<strong>
						Deze specifieke informatie over de verwerking van persoonsgegevens ten aanzien van de online stemtool voor
						Kunst op het Karel Doormanplein moet worden gelezen in aanvulling op - en in samenhang met de

						<a href="https://www.amsterdam.nl/bestuur-organisatie/organisatie/ruimte-economie/wonen/gemeente-privacy/" target="_blank">
							 algemene informatie over het verwerken van persoonsgegevens
						</a>
						door de gemeente Amsterdam.
					</strong>
				</p>

				<h3 id="algemeen"> Algemeen </h3>
				<p>
					De gemeente Amsterdam verwerkt persoonsgegevens op een zorgvuldige en veilige manier in overeenstemming met de geldende wet- en regelgeving.
					Op de pagina met <a href="https://www.amsterdam.nl/bestuur-organisatie/organisatie/ruimte-economie/wonen/gemeente-privacy/" target="_blank">algemene informatie</a> over het verwerken van persoonsgegevens zijn de uitgangspunten beschreven ten aanzien van de verwerking van persoonsgegevens door de gemeente Amsterdam en is informatie te vinden over hoe u uw rechten kunt uitoefenen. Op deze pagina geven we nadere informatie over de doelen en grondslagen, alsook andere relevante informatie over de verwerkingen ten aanzien van de <strong>online stemtool voor Kunst op het Karel Doormanplein</strong>.
				</p>


				<h3 id="verantwoordelijke"> De verantwoordelijke </h3>
				<p>
					De bestuursorganen van de gemeente zijn elk verwerkingsverantwoordelijke in de zin van de wet, voor de verwerkingen die door of namens de gemeente worden uitgevoerd. De bestuursorganen van de gemeente zijn de Burgemeester, het college van Burgemeester en Wethouders (college van B&W) en de Gemeenteraad.
				</p>
				<p>
					Voor de verwerkingen van gegevens bij de online stemtool voor Kunst op het Karel Doormanplein is de verwerkings-verantwoordelijke:
					<strong>het college van Burgemeester & Wethouders.</strong>
				</p>

				<h3 id="persoonsgegevens"> Verwerken van persoonsgegevens </h3>
				<p>
					De gemeente verzamelt en gebruikt verschillende categorieën persoonsgegevens van haar inwoners.
					Het zal afhangen van de specifieke tool welke persoonsgegevens precies zullen worden verwerkt en voor welk doel.
				</p>

				<h4>Verwerking gegevens online tool Kunst op het Karel Doormanplein</h4>

				<h5>Doel</h5>
				<p>
					<strong>Hoofddoel:</strong>
					Bewoners en werkenden/ondernemers in West de mogelijkheid te geven te stemmen op hun favoriete ontwerp voor de
					muurschildering op het schoolgebouw van de Narcis Querido, gelegen aan het Kareldoormanplein om tot een gedragen
					besluit te komen voor de muurschildering. 
				</p>
				
				<h5>Grondslag</h5>
				<p>
					De gemeente verwerkt deze persoonsgegevens op basis van een publiekrechtelijke taak, namelijk om in het kader van een zorgvuldige voorbereiding van besluiten (Algemene wet bestuursrecht) tot een gedragen besluit te komen voor de schildering op de muur van de Narcis Queridoschool.
				</p>

				<h5>Categorieën persoonsgegevens</h5>
				<ol>
					<li>
						<strong>Postcode</strong>
						We registreren postcodes omdat we willen weten waar mensen vandaan komen die stemmen. Mensen die in West wonen of werken kunnen stemmen door de postcode op te geven van hun woning of bedrijf. Indien stemmen met postcodes buiten West doorslaggevend zijn voor de uitslag, worden deze niet meegeteld in de uiteindelijke uitslag.
					</li>
					<li>
						<strong>Naam</strong>
						We vragen een naam op te geven als u een reactie wilt plaatsen. Deze worden gepubliceerd bij de reacties. Dat doen we omdat ervaring leert dat dit de kwaliteit van het gesprek/discussie bevordert. Mensen kunnen uiteraard een alias opgeven.
					</li>
					<li>
						<strong>Email</strong>
						Bezoekers van de site kunnen zich aanmelden voor de nieuwsbrief Javabrug, door hun emailadres op te geven. In de nieuwsbrief kunnen zij zich vervolgens afmelden als ze de nieuwsbrief niet meer wensen te ontvangen. Het opgegeven mailadres wordt dan verwijderd uit een database.
					</li>
					<li>
						<strong>IP adres</strong>
						Bij het stemmen of het plaatsen van een reactie slaat de tool ook tijdelijk IP adressen op. De gemeente doet dit om eventuele onregelmatigheden met stemmen te kunnen opsporen. 
					</li>
				</ol>

				<h5>Bewaartermijnen</h5>
				<p>
					De gemeente bewaart persoonsgegevens voor zolang dit noodzakelijk is voor de uitvoering van haar taken, of zoals is bepaald in de Archiefwet. Voor meer informatie hierover, zie de website van het <a href="https://www.amsterdam.nl/stadsarchief/" target="_blank">gemeentelijk stadsarchief</a>.
				</p>

				<h6>Specifiek voor de online stemtool voor Kunst op het Karel Doormanplein geldt het volgende:</h6>
				<ul>
					<li>
						Na afloop van de stemperiode wordt de stemtool binnen twee weken uit de lucht gehaald. De site wordt verder gearchiveerd.  De uitslag van de stemming wordt op bekend gemaakt op <a href="https://www.amsterdam.nl/kareldoorman" target="_blank">amsterdam.nl/kareldoorman</a>.
					</li>
					<li>
						IP adressen en postcodes en namen worden verwijderd uit (de database van) de tool.
					</li>
				</ul>
				
				<h6>Na afloop van de stemperiode worden gegevens verwerkt in een beknopte (geanonimiseerde) analyse:</h6>
				<ul>
					<li>Hoeveel stemmen er zijn uitgebracht, in totaal en per ontwerp.
					<li>Welk ontwerp de meeste stemmen heeft gehaald.
					<li>Waar de stemmen vandaan kwamen.
				</ul>
				
				<p>
					Bij het opleveren van de analyse worden de opgegeven postcodes, IP adressen en namen verwijderd uit de database van de tool.
				</p>
				
				<h3 id="contant">Contact</h3>
				<p>
					Mocht u nog vragen hebben die niet op deze pagina, noch op de pagina met <a href="https://www.amsterdam.nl/bestuur-organisatie/organisatie/ruimte-economie/wonen/gemeente-privacy/" target="_blank">algemene informatie</a> worden beantwoord, of als u om een andere reden contact willen opnemen met de gemeente over privacy of gegevensbescherming bij deze online stemtool, neemt u dan contact op met <a href="mailto:openstad@amsterdam.nl">openstad@amsterdam.nl</a>
				</p>
				<p>
					Voor meer algemene vragen aan de gemeente over privacy of gegevensbescherming,
					kunt contact met opnemen met de <a href="mailto:functionaris.gegevensbescherming@amsterdam.nl">Functionaris Gegevensbescherming</a>.
				</p>
				
				<h3 id="rechten"> Uw rechten uitoefenen en klachten </h3>
				<p>
					Als burger of belanghebbende kunt u uw rechten bij de gemeente Amsterdam uitoefenen. Voor meer informatie over het uitoefenen van uw rechten kunt u contact met ons opnemen. Kijk op de <a href="https://www.amsterdam.nl/contact" target="_blank">contactpagina</a> voor de diverse mogelijkheden. Wanneer u een klacht heeft over het handelen van de gemeente Amsterdam, lees dan de <a href="https://www.amsterdam.nl/veelgevraagd/?productid=%7b249D3A8E-ED07-4E4C-BFAD-49F174342FD5%7d" target="_blank">veelgestelde vragen over een klacht indienen</a>.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
