{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set pageTitle    = 'Privacyverklaring en proclaimer' %}

{% block content %}
	<div id="disclaimer">
		<div class="col-container html-styling">
			<div class="col-12">
				<h1 class="margin-bottom-s">Privacyverklaring online tool Javabrug over het IJ</h1>
				<em class="block margin-bottom-m"> 18 april 2018 </em>
			</div>
			<div class="col-3 col-sm-12">
				<h3> In het kort </h3>
				<p>
					Via de online tool Javabrug over het IJ worden persoonsgegevens verwerkt.
					Gemeente Amsterdam acht een zorgvuldige omgang met persoonsgegevens van groot belang.
					Wij gaan vertrouwelijk om met de informatie die u ons
					via de website verstrekt en persoonlijke gegevens worden door ons dan ook zorgvuldig verwerkt en beveiligd.
				</p>
				<div class="index">
					<h4> Op deze pagina </h4>
					<ul>
						<li>
							<a href="#algemeen"> Algemeen </a>
						</li>
						<li>
							<a href="#verantwoordelijke"> De verantwoordelijke </a>
						</li>
						<li>
							<a href="#persoonsgegevens"> Verwerken van persoonsgegevens </a>
						</li>
						<li>
							<a href="#contact"> Contact </a>
						</li>
						<li>
							<a href="#rechten"> Uw rechten uitoefenen en klachten </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-9 col-sm-12">

				<p>
					<strong>
							Deze specifieke informatie over de verwerking van persoonsgegevens ten aanzien van de online consultatie voor
							Javabrug over het IJ moet worden gelezen in aanvulling op - en in samenhang met de

							<a href="https://www.amsterdam.nl/bestuur-organisatie/organisatie/ruimte-economie/wonen/gemeente-privacy/">
								 algemene informatie over het verwerken van persoonsgegevens
							</a>
						door de gemeente Amsterdam.
					</strong>
				</p>

				<h3 id="algemeen"> Algemeen </h3>

				<p>
					De gemeente Amsterdam verwerkt persoonsgegevens op een zorgvuldige en veilige manier in overeenstemming met de geldende wet- en regelgeving.
					Op de pagina met <a href="https://www.amsterdam.nl/bestuur-organisatie/organisatie/ruimte-economie/wonen/gemeente-privacy/">algemene informatie</a>
					over het verwerken van persoonsgegevens zijn de uitgangspunten beschreven ten aanzien van de verwerking van persoonsgegevens
					door de gemeente Amsterdam en is informatie te vinden over hoe u uw rechten kunt uitoefenen.
					Op deze pagina geven we nadere informatie over de doelen en grondslagen,
					alsook andere relevante informatie over de verwerkingen ten aanzien van de
					<strong>online consultatie voor Javabrug over het IJ</strong>.
				</p>


				<h3 id="verantwoordelijke"> De verantwoordelijke </h3>
				<p>De bestuursorganen van de gemeente zijn elk verwerkingsverantwoordelijke in de zin van de wet, voor de verwerkingen die door of namens de gemeente worden uitgevoerd. De bestuursorganen van de gemeente zijn de Burgemeester, het college van Burgemeester en Wethouders (college van B&amp;W) en de Gemeenteraad. </p>
				<p>
					Voor de verwerkingen van gegevens bij de online consultatie Javabrug is de verwerkings-verantwoordelijke:
					<strong>het college van Burgemeester &amp; Wethouders.</strong>
				</p>

				<h3 id="persoonsgegevens"> Verwerken van persoonsgegevens </h3>
				<p>
					De gemeente verzamelt en gebruikt verschillende categorie&euml;n persoonsgegevens van haar inwoners.
					Het zal afhangen van de specifieke tool welke persoonsgegevens precies zullen worden verwerkt en voor welk doel.
				</p>

				<h4> Verwerking gegevens online tool Javabrug over het IJ </h4>

					<p><strong>Doel</strong></p>
				<p><strong>Hoofddoel:</strong> Consultatie van Amsterdammers en overige gebruikers van huidige veerponten over verschillende mogelijke locaties voor de Javabrug. </p>
					<p><strong>Met als doel:</strong> tot een goede voorkeursvariant te komen voor de uiteindelijke locatie van de Javabrug aan weerszijden van het IJ. </p>
					<p><strong>Subdoelen: </strong></p>
					<ol>
					<li>Inzicht te krijgen in hoe Amsterdammers/overige gebruikers van de veerponten de verschillende varianten globaal waarderen.</li>
					<li>Inzicht te krijgen in argumenten van Amsterdammers/overige gebruikers voor of tegen de verschillende varianten. </li>
					<li>Inzicht te krijgen in welke argumenten Amsterdammers belangrijk vinden.</li>
				</ol>


				<p><strong>Grondslag</strong></p>
				<p>De gemeente verwerkt deze persoonsgegevens op basis van een publiekrechtelijke taak, namelijk om in het kader van een zorgvuldige voorbereiding van besluiten (Algemene wet bestuursrecht) tot een goede afweging te komen voor de locatie van de Javabrug.</p>

				<p><strong>Categorie&euml;n persoonsgegevens </strong></p>
				<ol>
				<li><strong>Postcode</strong><br />We registreren postcodes omdat we willen weten waar de waardering en argumenten vandaan komen. Zijn het Amsterdammers die hun mening geven of komen de reacties uit Groningen? Voor de weging van die argumenten is dat van belang. Het projectteam Javabrug wil inzicht in hoe de verschillende groepen denken; zijn de waarderingen en de argumenten van direct omwonenden anders dan van andere Amsterdammers?</li>
				<li><strong>Naam<br /></strong>We vragen een naam op te geven als u een argument wilt plaatsen. Deze worden gepubliceerd bij de argumenten. Dat doen we omdat ervaring leert dat dit de kwaliteit van het gesprek/discussie bevordert. Mensen kunnen uiteraard een alias opgeven. <br /><br />Als u eerst argumenten geeft, wordt niet alleen gevraagd naar uw naam maar ook naar uw postcode voor het waarderen (zodat u dat niet daarna wanneer u sterren wil geven, opnieuw een formulier moet invullen). </li>
				<li><strong>Email<br /></strong>Bezoekers van de site kunnen zich aanmelden voor de nieuwsbrief Javabrug, door hun emailadres op te geven. In de nieuwsbrief kunnen zij zich vervolgens afmelden als ze de nieuwsbrief niet meer wensen te ontvangen. Het opgegeven mailadres wordt dan verwijderd uit een database. </li>
				<li><strong>IP adressen</strong><br />Bij het geven van sterren of argumenten slaat de consulatietool Javabrug ook tijdelijk IP adressen op. De gemeente doet dit om eventuele onregelmatigheden met waarderen of stemmen op argumenten op varianten te kunnen opsporen. </li>
				</ol>

				<p><strong>Bewaartermijnen</strong></p>
				<p>De gemeente bewaart persoonsgegevens voor zolang dit noodzakelijk is voor de uitvoering van haar taken, of zoals is bepaald in de Archiefwet. Voor meer informatie hierover, zie de website van het <a href="https://www.amsterdam.nl/stadsarchief/">gemeentelijk stadsarchief</a>.</p>

				<p><strong>Specifiek voor de online consultatie Javabrug geldt het volgende: </strong></p>
				<ul>
				<li>Na afloop van de consultatieperiode worden de namen bij de geplaatste argumenten verwijderd van de site en uit de database. De argumenten blijven anoniem zichtbaar op de site. </li>
				<li>De site <a href="http://javabrug.amsterdam.nl/">javabrug.amsterdam.nl</a> met geanonimiseerde argumenten en stemmen blijft mogelijk tot oktober online, het formele moment van terugkoppeling. Daarna zal de site uit de lucht gehaald worden. </li>
				<li>IP adressen worden verwijderd uit de database na afloop van de consultatie (18 mei 2018).</li>
				</ul>
				<p><strong>Na afloop van de consultatie worden gegevens verwerkt in een beknopte (geanonimiseerde) analyse: </strong></p>
				<ul>
				<li>Op hoe de sterren zijn verdeeld over de varianten. </li>
				<li>Waar mensen vandaan komen die hebben meegedaan aan de consultatie (een geaggregeerd overzichtskaartje met gebieden)</li>
				<li>Of er verschillen zijn in waardering van locatievarianten tussen omwonenden en Amsterdammers die elders wonen. </li>
				<li>Een overzicht van de belangrijkste argumenten: en waar de argumenten vandaan komen (overzichtskaartje) .</li>
				<li>Of er een verschil zit in argumenten tussen omwonenden en mensen die elders wonen </li>
				</ul>
				<p>Deze analyse zal gepubliceerd worden als onderdeel van een totale rapportage van de off- en online consulatie rond oktober 2018. Bij het opleveren van de analyse, worden ook de opgegeven postcodes verwijderd uit de database. </p>
				<p><strong>Grondslag</strong></p>
				<p>De gemeente verwerkt deze persoonsgegevens op basis van een publiekrechtelijke taak, namelijk om in het kader van een zorgvuldige voorbereiding van besluiten (Algemene wet bestuursrecht) tot een goede afweging te komen voor de locatie van de Javabrug.</p>

				<p><strong>Categorie&euml;n persoonsgegevens </strong></p>
				<ol>
				<li><strong>Postcode</strong><br />We registreren postcodes omdat we willen weten waar de waardering en argumenten vandaan komen. Zijn het Amsterdammers die hun mening geven of komen de reacties uit Groningen? Voor de weging van die argumenten is dat van belang. Het projectteam Javabrug wil inzicht in hoe de verschillende groepen denken; zijn de waarderingen en de argumenten van direct omwonenden anders dan van andere Amsterdammers?</li>
				<li><strong>Naam<br /></strong>We vragen een naam op te geven als u een argument wilt plaatsen. Deze worden gepubliceerd bij de argumenten. Dat doen we omdat ervaring leert dat dit de kwaliteit van het gesprek/discussie bevordert. Mensen kunnen uiteraard een alias opgeven. <br /><br />Als u eerst argumenten geeft, wordt niet alleen gevraagd naar uw naam maar ook naar uw postcode voor het waarderen (zodat u dat niet daarna wanneer u sterren wil geven, opnieuw een formulier moet invullen). </li>
				<li><strong>Email<br /></strong>Bezoekers van de site kunnen zich aanmelden voor de nieuwsbrief Javabrug, door hun emailadres op te geven. In de nieuwsbrief kunnen zij zich vervolgens afmelden als ze de nieuwsbrief niet meer wensen te ontvangen. Het opgegeven mailadres wordt dan verwijderd uit een database. </li>
				<li><strong>IP adressen</strong><br />Bij het geven van sterren of argumenten slaat de consulatietool Javabrug ook tijdelijk IP adressen op. De gemeente doet dit om eventuele onregelmatigheden met waarderen of stemmen op argumenten op varianten te kunnen opsporen. </li>
				</ol>

				<p><strong>Bewaartermijnen</strong></p>
				<p>De gemeente bewaart persoonsgegevens voor zolang dit noodzakelijk is voor de uitvoering van haar taken, of zoals is bepaald in de Archiefwet. Voor meer informatie hierover, zie de website van het <a href="https://www.amsterdam.nl/stadsarchief/">gemeentelijk stadsarchief</a>.</p>

				<p><strong>Specifiek voor de online consultatie Javabrug geldt het volgende: </strong></p>
				<ul>
				<li>Na afloop van de consultatieperiode worden de namen bij de geplaatste argumenten verwijderd van de site en uit de database. De argumenten blijven anoniem zichtbaar op de site.</li>
				<li>De site <a href="http://javabrug.amsterdam.nl/">javabrug.amsterdam.nl</a> met geanonimiseerde argumenten en stemmen blijft mogelijk tot oktober online, het formele moment van terugkoppeling. Daarna zal de site uit de lucht gehaald worden. </li>
				<li>IP adressen worden verwijderd uit de database na afloop van de consultatie (18 mei 2018).</li>
				</ul>
				<p><strong>Na afloop van de consultatie worden gegevens verwerkt in een beknopte (geanonimiseerde) analyse: </strong></p>
				<ul>
				<li>Op hoe de sterren zijn verdeeld over de varianten. </li>
				<li>Waar mensen vandaan komen die hebben meegedaan aan de consultatie (een geaggregeerd overzichtskaartje met gebieden)</li>
				<li>Of er verschillen zijn in waardering van locatievarianten tussen omwonenden en Amsterdammers die elders wonen. </li>
				<li>Een overzicht van de belangrijkste argumenten: en waar de argumenten vandaan komen (overzichtskaartje) .</li>
				<li>Of er een verschil zit in argumenten tussen omwonenden en mensen die elders wonen </li>
				</ul>
				<p>Deze analyse zal gepubliceerd worden als onderdeel van een totale rapportage van de off- en online consulatie rond oktober 2018. Bij het opleveren van de analyse, worden ook de opgegeven postcodes verwijderd uit de database. </p>

				<h3 id="contant"> Contact </h3>
				<p>

						Mocht u nog vragen hebben die niet op deze pagina, noch op de pagina met
						<a href="https://www.amsterdam.nl/bestuur-organisatie/organisatie/ruimte-economie/wonen/gemeente-privacy/">
							algemene informatie</a>
							worden beantwoord, of als u om een andere reden contact willen opnemen met de gemeente
							over privacy of gegevensbescherming bij deze online consultatie, neemt u dan contact op met
						<a href="mailto:openstad@amsterdam.nl">openstad@amsterdam.nl</a>
				</p>
				<p>

						Voor meer algemene vragen aan de gemeente over privacy of gegevensbescherming,
						kunt contact met opnemen met de privacy officer van Cluster Ruimte &amp; Economie van de gemeente Amsterdam,
						via
						<a href="mailto:pib-re@amsterdam.nl">pib-re@amsterdam.nl</a>.

				</p>
				<h3 id="rechten"> Uw rechten uitoefenen en klachten </h3>
				<p>
					Als burger of belanghebbende kunt u uw rechten bij de gemeente Amsterdam uitoefenen.
					Voor meer informatie over het uitoefenen van uw rechten,
					of als u een klacht heeft over het handelen van de gemeente Amsterdam,
					klik dan
					<a href="https://www.amsterdam.nl/veelgevraagd/?productid=%257B249D3A8E-ED07-4E4C-BFAD-49F174342FD5%257D">hier</a>.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
