{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set pageTitle    = 'Privacyverklaring en proclaimer' %}
{% set contentClass = 'article proclaimer' %}

{% block head %}
	{{super()}}

	<style type="text/css">
		#article h2 {
			color: #EC0000;
			font-size: 1.14em;
		}
		#article h3 {
			font-size: 1em;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="primary">
		<h1>Disclaimer Coming soon... </h1>
	</div>
{% endblock %}
