{% extends 'base.njk' %}
{% set pageTitle = 'Vul postcode in' %}
{% set contentClass = 'argument' %}

{% block content %}
<div id="errorMessage">
	<h1>Vul je postcode in</h1>
	
	<form method="post">
		Postcode: <input type="text" name="zipCode" value="{{zipCode}}" autofocus>
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<input type="submit" value="Stemmen">
	</form>
</div>
{% endblock %}