{% extends 'base.njk' %}
{% set pageTitle    = 'Bewerk argument' %}
{% set contentClass = 'argument' %}

{% block content %}
<div id="errorMessage" class="zipcode-error-container section-container" style="margin-bottom: 80px;">
	<div class="col-container">
		<div class="col-5 col-sm-7 col-xs-12">
		<h1>Bewerk argument</h1>

		<form id="postcode-form" method="post" action="/arg/{{argument.id}}/edit">
			Beschrijving:<br>
			<textarea name="description" class="textarea">{{argument.description}}</textarea><br>

			<input type="hidden" name="id" value="{{argument.id}}">
			<input type="hidden" name="_method" value="PUT">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">

			<input type="submit" class="pull-left block btn btn-primary" value="Opslaan" />

	</form>
</div>

</div>
</div>
{% endblock %}
{% block scripts %}
<script>

		document.getElementById('postcode-form').addEventListener('submit', function(ev) {
			var validated = true;

			/* Validate postcode field */
			$('#postcode-form .validate-postcode').forEach(function(inputContainer) {
				if(!validatePostcodeFormField(inputContainer) ) {
					validated = false;
				}
			});

			if (!validated) {
				ev.preventDefault();
			}
		});

		$('.validate-postcode').forEach(function(inputContainer) {
				inputContainer.addEventListener('keyup', function(ev) {
					if(hasClass(inputContainer, 'error')) {
						validatePostcodeFormField(inputContainer);
					}
				});
		});

		function validatePostcode(postcode) {
		  var rege = /^[1-9][0-9]{3} ?(?!sa|sd|ss)[a-z]{2}$/i;
		  return rege.test(postcode);
		}

		function validatePostcodeFormField(inputContainer){
			var inputEl = inputContainer.querySelector('input');
			 if (validatePostcode(inputEl.value)) {
				 if (hasClass(inputContainer, 'error')) {
						inputContainer.classList.remove('error');
						inputContainer.classList.add('success');
					}
				return true;
			} else {
				inputContainer.classList.add('error');
				inputContainer.classList.remove('success');
				return false;
			}
		}

		function hasClass( target, className ) {
			 return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
		}
</script>
{% endblock %}
