{% extends 'base.njk' %}
{% import 'includes/arguments.njk' as arguments %}

{% set pageTitle    = 'Idee: '+idea.title %}
{% set contentClass = 'idea' %}
{% set alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' , 'k'] %}
{% set paddedVoteCount = ("000" + poll.totalVoteCount).slice(-3) %}
{% set paddedArgumentCount = ("000" + idea.argCount).slice(-3) %}

{% block head %}
	{{ super() }}

	<title>Javabrug over het IJ - online tool</title>

	<meta property="og:title" content="{{idea.title}}">
	<meta property="og:type" content="website">
	<meta property="og:description" content="{{idea.summary}}">
	<meta property="og:locale" content="nl_NL">
	<meta property="og:site_name" content="{{SITENAME}}">
	<meta property="og:image" content="/img/stemtool/header.png">

{% endblock %}

{% block page %}
	<div id="summary" class="section-container">
		<div class="col-container">
			<div class="col-9 col-xs-12 col-sm-8">
				<div id="banner">
					<div class="image"
							style="background-image: url('/img/stemtool/header.png');"
					></div>
					<h1 class="overlay-title">
						<div class="margin-bottom-xs"> Geef je mening! </div>
						{{idea.title  | safe }}
					</h1>
				</div>

				<p class="side-padding-xs">
					{{idea.summary | safe}}
				</p>
			</div>

			<div class="col-3 controls col-xs-12 col-sm-4 side-padding-xs">
				<span class="widget speechBubble newIdeaBubble">
					1 brug, 6 mogelijke locaties.
				</span>

				<a href="#vote" class="box-blue margin-bottom-xs scroll-link">
					<span class="margin-right-s">
						<span class="number-plate"> {{paddedVoteCount[0]}} </span>
						<span class="number-plate"> {{paddedVoteCount[1]}} </span>
						<span class="number-plate"> {{paddedVoteCount[2]}} </span>
					</span>
					reacties
				</a>
				<a href="#arguments" class="box-blue margin-bottom-sm scroll-link">
					<span class="margin-right-s">
						<span class="number-plate"> {{paddedArgumentCount[0]}} </span>
						<span class="number-plate"> {{paddedArgumentCount[1]}} </span>
						<span class="number-plate"> {{paddedArgumentCount[2]}} </span>
					</span>

					argumenten
				</a>

				<a href="#arguments" class="box-grey-img scroll-link margin-bottom-sm">
					<img src="/img/stemtool/comments.svg" />
					Lees de reacties
				</a>

				<a href="#vote" class="box-grey-img scroll-link margin-bottom-sm">
					<img src="/img/stemtool/stars.svg" />
					Denk mee en verdeel sterren!
				</a>

				<a href="https://www.amsterdam.nl/javabrug" class="box-grey-img margin-bottom-sm" target="_blank">
					<img src="/img/stemtool/info.svg" />
					Lees meer over dit project op amsterdam.nl
				</a>
				<br />
			</div>
		</div>
	</div>


	<section id="designs" class="content-section">
		<div class="section-container side-padding-xs">
			<h2 class="margin-top-0">De locatievarianten</h2>

			<div class="col-container">
				{% for option in poll.options
				%}<div class="col-3 col-sm-6 col-xs-12 margin-bottom-m">
						<div class="concept-card">
							<a
								href="#variant-modal-{{option.order}}"
								class="concept-card-image"
								style="background-image: url('/img/stemtool/variant_{{option.id}}_klein.png');"
							>
								<div class="concept-card-number concept-card-number-{{loop.index}}">
									{{alphabet[loop.index - 1].toUpperCase()}}
								</div>
								<div class="concept-card-title">
									{{option.title}}
								</div>
							</a>
							<div>
								<a href="#variant-modal-{{option.order}}"  class="concept-card-link caret-link">
									Lees meer
								</a>
								<a href="#arguments" onClick="argumentsLinkClick('{{option.order}}')" class="concept-card-link caret-link scroll-link">
									Lees reacties
								</a>
							</div>
						</div>
					</div>{%
				endfor %}
			</div>
	</section>

	<section id="details" class="content-section section-container">
		<div class="col-container">
			<div class="col-9 col-sm-8 col-xs-12">
				<div class="side-padding-xs">
					<h2>Achtergrondinformatie</h2>

					<div class="userContent">
						{{idea.description | safe}}
					</div>

					<h2>Spelregels</h2>

					<ul class="checkmark-list">
						<li>Om jouw voorkeur aan te geven kun je in totaal 3 sterren verdelen over de varianten, maximaal 1 ster per variant.</li>
						<li>Het is geen verkiezing tussen de 6 varianten. Je argumenten zijn belangrijker dan de toedeling van de sterren. We zijn vooral benieuwd naar de <b> reden </b> waarom je een bepaalde variant goed of niet goed vindt. Licht daarom onderaan de pagina je keuze toe, nadat je de sterren hebt verdeeld. </li>
						<li>Je kunt niet alleen argumenten vóór maar ook argumenten tégen een variant plaatsen.</li>
						<li>Ben je het eens met wat anderen over een locatievariant zeggen? Laat dat dan weten door op ‘mee eens’ te klikken bij dat argument. Op die manier weten wij welke argumenten het belangrijkst zijn bij de keuze voor een voorkeursvariant. In de terugkoppeling gaan we specifiek in op de belangrijkste argumenten per variant.</li>
						<li>Bij de afweging om te komen tot een voorkeursvariant worden veel invalshoeken meegenomen, onder andere: stedenbouwkundige inpassing, ontwikkelingsmogelijkheden Hamerkwartier, het toekomstige park op de Kop van het Java-eiland, fietscomfort, aantakking op het fietsnetwerk, invloed op de directe omgeving, nautische eisen en technische en financiële risico’s. </li>
						<li>Het projectteam Javabrug van de gemeente bekijkt alle reacties, overwegingen en voor- en tegenargumenten, in combinatie met de andere voorwaarden (zoals technische- en ontwerpeisen en fietscomfort), om te komen tot één variant waar het college van B&W en de gemeenteraad een besluit over nemen. </li>
						<li>De online tool helpt de gemeente bij de ontwikkeling en keuze van de voorkeursvariant.</li>
						<li>De resultaten van de online tool zullen medio 2018 op deze website en de projectpagina op <a href="https://amsterdam.nl/javabrug" target="_blank"> amsterdam.nl </a> worden gepubliceerd. </li>
						<li>Wil je weten wat we met de resultaten hebben gedaan? Meld je dan aan voor de <a href="https://www.amsterdam.nl/bestuur-organisatie/volg-beleid/amsterdam-onderzoekt/nieuwsbrieven/nieuwsbrief-sprong-0/" target="_blank">nieuwsbrief</a> om op de hoogte te blijven. </li>
						<li>Eind dit jaar organiseert de gemeente een nieuwe bijeenkomst om alle overwegingen en de keuze voor de uiteindelijke voorkeursvariant toe te lichten.  </li>
						<li>Vragen? <a href="mailto:javabrug@amsterdam.nl?subject= &body= ">Mail ons</a></li>
					</ul>

					<br />

					<a href="https://www.amsterdam.nl/javabrug" target="black" class="box-grey box-grey-link  margin-hor-xs inline-block">
						Lees meer over dit project op amsterdam.nl
					</a>
				</div>

				<br />
				<br />

					<div id="vote" class="vote-container container-grey container-grey-edges margin-hor-m">

						<div class="vote-inner-container">
							{% if can('poll:vote') %}
							<h2 class="h2 margin-hor-s">
								Mijn reactie op de varianten
							</h2>

							<hr class="hr-white margin-hor-m"></hr>

							<form id="vote-form" method="POST" action="/vote" class="">
									<input type="hidden" name="_csrf" value="{{csrfToken}}">
									<input type="hidden" name="pollId" value="{{poll.id}}">

									<label class="block margin-bottom-s margin-top-0">
										<b class="intro">
											Laat je waardering weten door 3 sterren te verdelen over de mogelijke locatievarianten.
											Klik op de variant of varianten (als je er meer hebt) van jouw voorkeur om deze een ster te geven.
											Klik nogmaals om dat ongedaan te maken.
										</b>
										<br />
										<div class="small">
											Het is geen verkiezing tussen de 6 varianten.
											Je argumenten zijn belangrijker dan de toedeling van de sterren.
											Graag horen we onderaan deze pagina wat je van de varianten vindt.
											Wat spreekt je aan en wat zie je graag anders?
										</div>
									</label>

									<label class="h3 block margin-bottom-xs margin-top-m">
										Zo verdeel ik mijn sterren:
									</label>

									<div class="label-container">
										{% for option in poll.options %}
											<input id="checkbox-choice-{{option.id}}" type="checkbox" name="choices[]" value="{{option.id}}" class="checkbox-choice">

											<label for="checkbox-choice-{{option.id}}" class="concept-label">
												<div class="label-error">
													Je hebt al 3 sterren verdeeld. Klik nogmaals op een ster om
													hem te verwijderen. Hierna kun je een ster aan een andere variant geven.
												</div>
												<div class="relative">
													<div
														class="concept-card-image"
														style="background-image: url('/img/stemtool/variant_{{option.id}}_klein.png');"
													>
														<div class="concept-card-number concept-card-number-{{loop.index}}">
															{{alphabet[loop.index - 1].toUpperCase()}}
														</div>
													</div>

													<div class="concept-card-title">
													 	{{ option.title }}
													</div>

												</div>

											</label>
										{% endfor %}
									</div>

									<!--
									<div class="margin-hor-m">
										<label class="h3 block margin-hor-xs"> Naam: <span class="required-text">(verplicht)</span></label>
										<input type="text" name="fullName" class="input-field">
									</div>
									!-->

									{% if not user.zipCode %}
									<div  class="margin-hor-m">
										<div class="form-field-container validate-postcode">
											<label class="h3 block margin-hor-xs">
													Mijn postcode:
											</label>
											<div class="label-error">
													Een geldige postcode is vereist.
											</div>

											<input type="text" name="zipCode" class="input-field" placeholder="Bijv. 1234AB">
										</div>
									</div>
									{% endif %}

									<div class="less-then-stars-message label-error">
										Je hebt minder dan 3 sterren verdeeld, weet je het zeker?
									</div>

									<div class="no-stars-error-message label-error">
										Je hebt nog geen sterren verdeeld.
									</div>

									<br />

									<button type="submit" class="default btn btn-primary">
										<span class="main-submit">
											Verstuur
										</span>
										<span class="confirm-submit">
											Ja, verstuur
										</span>
									</button>

								</form>
								{% else %}
								<label class="h3 block margin-bottom-s margin-top-0">
									Zo heb ik mijn sterren verdeeld:
								</label>

								{% for vote in poll.userVotes %}
									{% for option in poll.options %}
										{% if option.id === vote.pollOptionId %}
										<label for="checkbox-choice-{{option.id}}" class="concept-label selected">
											<div class="relative">
												<div
													class="concept-card-image"
													style="background-image: url('img/stemtool/variant_{{option.id}}_klein.png');"
												>
													<div class="concept-card-number concept-card-number-{{loop.index}}">
														{{alphabet[loop.index - 1].toUpperCase()}}
													</div>
												</div>

												<div class="concept-card-title">
													{{option.title}}
												</div>
											</div>
										</label>
										{% endif %}
									{% endfor %}
								{% endfor %}


								<div  class="margin-hor-m">
									<div class="form-field-container validate-postcode">
										<label class="h3 block margin-hor-xs">
												Mijn postcode:
										</label>

										<input type="text" name="zipCode" class="input-field" value="{{user.zipCode}}"  disabled>
									</div>
								</div>

								<hr class="hr-white margin-hor-m"></hr>

								<div class="col-container thank-you-container">
									<div class="col-2">
										<img src="/img/stemtool/check-green.svg" class="icon" />
									</div>
									<div class="col-10">
										<label class="h3 block margin-top-0 margin-bottom-xs">
												Bedankt voor je reactie!
										</label>

										Je sterren zijn goed ontvangen. We zijn ook erg benieuwd
										naar waarom je de sterren zo hebt verdeeld.
										Onderaan kun je <b> argumenten </b> voor en tegen de varianten
										plaatsen.
										<br />
										<br />

										<a href="#arguments" class="box-grey box-grey-link  margin-hor-xs inline-block scroll-link">
											Naar argumenten
										</a>
									</div>
								</div>

							{% endif %}
							</div>

						</div>



		</div>

		<div class="col-3 col-sm-4 col-xs-12 side-padding-xs">
			<div id="agenda">
				<h2>Tijdlijn</h2>

				<div class="agenda">
				{% for item in idea.agenda %}
					<div class="box-grey {{'agenda-period' if item.endDate else 'agenda-day' }}">

						<!-- <h3 class="margin-top-0 margin-bottom-xs h3">
							{% if item.endDate %}
								{{item.startDate | date('D MMMM')}} t/m {{item.endDate | date('D MMMM Y')}}
							{% else %}
								{{item.startDate | date('D MMMM Y')}}
							{% endif %}
						</h3>
						!-->

						<div> {{item.description | safe}} </div>
						{% if item.actionText %}
						<a href="{{item.actionURL}}" class="block caret-link">{{item.actionText}}</a>
						{% endif %}
					</div>
				{% endfor %}
				</div>
			</div>

			{% if can('idea:admin') %}
				<h2>Bewerken</h2>

				<form action="/plan/{{idea.id}}/edit">
					<button type="submit" class="edit">Bewerk idee</button>
				</form>

				<form method="POST" action="/plan/{{idea.id}}/delete" id="deleteIdea">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<button type="submit" class="delete">Verwijder idee</button>
				</form>

				<h2>Beheren</h2>

				<form method="GET" action="/agenda/edit">
					<button type="submit" class="votes">Bewerk agenda</button>
				</form>

				<form method="GET" action="/plan/{{idea.id}}/votes">
					<button type="submit" class="votes">Stemoverzicht</button>
				</form>
			{% endif %}

			<br />

			<h2>Heb je nog even?</h2>
			<div class="box-grey">
				<h4 class="margin-top-0">
					We hebben nog twee extra vragen
					over wat jij belangrijk vindt
					in de uitwerking van de brug.
					Laat jij je stem horen?
				</h4>
				<p>
					Dit kost hooguit 2 minuten
					van je tijd?
				</p>
				<a href="https://www.amsterdam.nl" target="_blank" class="caret-link">
					Ja, ga naar vragenlijst
				</a>
			</div>


			</div>
		</div>
	</section>

	<section id="arguments" class="margin-bottom-m">
		<div class="bg-sand" style="padding: 1px;">
			<div class="section-container side-padding-xs">
				<h2 class="margin-hor-m">
					Reacties
				</h2>
			</div>
		</div>

		<div class="section-container side-padding-xs">
			{% if can('arg:add') %}
				<div class="arguments-cta-box">

					<div class="col-container">
						<div class="col-2">
							<img class="arguments-icon" src="/img/stemtool/comments.svg" />
						</div>

						<div class="col-10">
							<div class="speech-balloon">
								<h3 class="margin-0">
									Wil je meepraten over de varianten? <br /> Laat dan hier weten wat je ervan vindt!
								</h3>
							</div>
						</div>
					</div>

					<br />

					<div class="box-grey">
						<form id="new-argument-form" method="POST" action="/arg/new" class="newArgument clearfix ">
							<div>
								Ik ben

								<span class="select-wrapper">
									<select name="sentiment"  class="select">
										<option value="for">Voor</option>
										<option value="against">Tegen</option>
									</select>
								</span>

								<span class="select-wrapper">
									<select name="label">
									{% for option in poll.options %}
										<option value="{{option.order}}">{{option.order}}: {{option.title}}</option>
									{% endfor %}
									</select>
								</span>

								want...
							</div>
							<textarea
								class="textarea margin-hor-s block"
								name="description"
								placeholder="Ik ben voor variant A, want..."
							></textarea>

							<div class="charsLeft margin-bottom-s">
								<div class="min">Nog minimaal <span>30</span> tekens.</div>
								<div class="max"><span>360</span> tekens resterend.</div>
							</div>

							<div class="col-container">
								<div class="col-7">
									{% if not user.nickName %}
									<div class="form-field-container validate-text-required margin-top-m">
										 Naam: <br />

										 <div class="label-error margin-hor-xs">
												 Je hebt geen naam opgegeven.
										 </div>

										<input type="text" name="nickName" class="input-field stretch">
									</div>
									{% endif %}
									&nbsp;
								</div>
								<div class="col-5">
									{% if not user.zipCode %}
									<div class="form-field-container validate-postcode margin-top-m" >
										 Postcode: <br />

										 <div class="label-error margin-hor-xs">
												 Een geldige postcode is vereist.
										 </div>

										<input type="text" name="zipCode" class="input-field">
									</div>
									{% endif %}
									<br class="clearfix" />
										<input type="submit" class="pull-right btn btn-primary btn--stretch" value="Verzenden" />
								</div>
							</div>

							<input type="hidden" name="_csrf" value="{{csrfToken}}">
						</form>
					</div>
				</div>
			{% endif %}
		</div>

		<div  class="section-container side-padding-xs ">
			<div class="box-grey">
				<div class="aa-col-container" style="display: flex;   justify-content: space-between;">
					<div class="aa-col-4" style="max-width:200px;">
						<h3 class="margin-0"> Laat argumenten zien van: </h3>
					</div>
					<div class="">
						<a id="filter-arguments-option-all" href="#" class="tab-button argument-filter-tab active" data-variant="all">
							Alles
						</a>
					</div>

					{% for option in poll.options %}
						<div class="aa-col-2">
							<a id="filter-arguments-option-{{option.order}}" href="#" class="tab-button argument-filter-tab " data-variant="{{option.order}}">
								{{option.order}}. {{option.title}}
							</a>
						</div>
					{% endfor %}

				</div>
			</div>

			<div class="section-container side-padding-xs">
				<div class="argList for">
					<h3  class="text-center margin-hor-m h2"> Argumenten voor </h3>
					{{arguments.list(user, idea, csrfToken, 'argumentsFor')}}
				</div>
				<div class="argList against">
					<h3 class="text-center margin-hor-m h2"> Argumenten tegen </h3>
					{{arguments.list(user, idea, csrfToken, 'argumentsAgainst')}}
				</div>
			</div>
		</div>
	</section>


	<!--- Concept popups !-->

	{% for option in poll.options %}
		<div id="variant-modal-{{option.order}}" class="content-modal">
			<div class="content-modal-content">

				<div class="col-container">
					<div class="col-12">
						<h1 class="margin-hor-s">Variant {{option.order}}: {{option.title}} {{option.intro}}</h1>
						<hr class="margin-hor-m" />
					</div>

					<div class="col-6 col-xs-12">
						<img src="/img/stemtool/variant_{{option.id}}.png" style="max-width: 100%" />
					</div>
					<div class="col-6 col-xs-12">
						{{ option.description | safe }}
					</div>
				</div>

				<div class="margin-hor-s">
					<div class="col-container">
						<div class="col-3 col-xs-6">
							<a href="#arguments" class="btn btn-primary btn--stretch">
								Reageer
							</a>
						</div>
						<div class="col-3 col-xs-6">
							<a href="#vote" class="btn btn-primary btn--stretch">
								Verdeel sterren
							</a>
						</div>
						<div class="col-5 col-xs-6">
							<a href="https://amsterdam.nl/javabrug" target="_blank" class="btn btn-secondary btn--stretch">
								Lees meer over deze variant
							</a>
						</div>
					</div>
				</div>

				<a href="#variants" class="content-modal-close" >
					<img src="/img/stemtool/cross.svg" width="17" height="17"/>
				</a>
			</div>
		</div>
	{% endfor %}


{% endblock %}

{% block scripts %}
	<script src="/js/promise.js"></script>
	<script src="/js/fetch.js"></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/scroll-link.js"></script>
	<script src="/js/enhancements.js"></script>
	<script src="/js/argument-tabs.js"></script>

	<script>
		$.noConflict();

		// Helper for sending non-GET HTTP requests
		// ----------------------------------------
		// Used in progressive enhancement scripts to replace a 'old-school'
		// request with a `fetch`/`XMLHTTPRequest` action.
		(function( global ) {
			var csrfToken = '{{csrfToken}}';

			// Wrapper for fetch to POST/PUT data
			global.send = function( method, url, data ) {
				data._csrf = csrfToken;

				return fetch(url, {
					method      : method,
					headers     : {
						'Content-Type' : 'application/json',
						'Accept'       : 'application/json'
					},
					credentials : 'same-origin',
					body        : data ? JSON.stringify(data): null
				})
				.then(handleResponse)
				.then(function( data ) {
					if( 'csrfToken' in data ) {
						csrfToken = data.csrfToken;
						// HACK?: Update all tokens in static forms as well.
						$('form input[type="hidden"][name="_csrf"]').forEach(function( input ) {
							input.value = csrfToken;
						});
					}
					return data;
				});
			}

			function handleResponse( response ) {
				var json = response.json();
				if( response.status >= 200 && response.status < 300 ) {
					return json;
				} else {
					return json.then(function( data ) {throw data});
				}
			}
		})(this);
	</script>

	{{ arguments.renderLists(user, idea, '#arguments .argList') }}

	<script>
		var lessThenStarsClassName = 'less-then-stars-error';
		var noStarsErrorClassName = 'no-stars-error';

		// New argument form
		// -----------------
		// Character count on 'new argument' forms.
		//
		// HACK: `renderForm` is defined in the scripts coming from
		// `arguments.renderLists()` above.
		$('#arguments form.newArgument').forEach(function( form ) {
			renderForm(form);
		});



		var voteForm = document.getElementById('vote-form');

		if (voteForm) {
			voteForm.addEventListener('submit', function(ev) {
				var validated = true;
				var form = this;
				var lessThenStars = hasClass(form, lessThenStarsClassName);
				var checkedCount = getGiveVoteCount();
				var maxChecked = 3;

				/* Validate postcode field */
				$('#vote-form .validate-postcode').forEach(function(inputContainer) {
					if(!validatePostcodeFormField(inputContainer) ) {
						validated = false;
					}
				});

				/* Validate postcode field */
				if (checkedCount === 0 ) {
					clearClassesVoteForm();
					form.classList.add(noStarsErrorClassName);
					validated = false;
				} else if (checkedCount < maxChecked && !lessThenStars) {
					clearClassesVoteForm();
					form.classList.add(lessThenStarsClassName);
					validated = false;
				}

				if (!validated) {
					ev.preventDefault();
				}
			});
		}


		document.getElementById('new-argument-form').addEventListener('submit', function(ev) {
			var validated = true;

			$('.validate-text-required').forEach(function(inputContainer) {
				if(!validateRequiredTextField(inputContainer) ) {
					validated = false;
				}
			});


			/* Validate postcode field */
			$('#new-argument-form .validate-postcode').forEach(function(inputContainer) {
				if(!validatePostcodeFormField(inputContainer) ) {
					validated = false;
				}
			});

			if (!validated) {
				ev.preventDefault();
			}
		});

		$('.validate-text-required').forEach(function(inputContainer) {
			inputContainer.addEventListener('keyup', function(ev) {
				if(hasClass(inputContainer, 'error')) {
					validateRequiredTextField(inputContainer);
				}
			});
		});


		$('.validate-postcode').forEach(function(inputContainer) {
				inputContainer.addEventListener('keyup', function(ev) {
					if(hasClass(inputContainer, 'error')) {
						validatePostcodeFormField(inputContainer);
					}
				});
		});

		function validatePostcodeFormField(inputContainer){
			var inputEl = inputContainer.querySelector('input');
			 if (validatePostcode(inputEl.value)) {
				 if (hasClass(inputContainer, 'error')) {
						inputContainer.classList.remove('error');
						inputContainer.classList.add('success');
					}
				return true;
			} else {
				inputContainer.classList.add('error');
				inputContainer.classList.remove('success');
				return false;
			}
		}

		function validatePostcode(postcode) {
		  var rege = /^[1-9][0-9]{3} ?(?!sa|sd|ss)[a-z]{2}$/i;
		  return rege.test(postcode);
		}

		function validateRequiredTextField(inputContainer){
			var inputEl = inputContainer.querySelector('input');
			if(inputEl.value.length > 0) {
				if (hasClass(inputContainer, 'error')) {
					inputContainer.classList.remove('error');
					inputContainer.classList.add('success');
				}

				return true;
			} else {
				inputContainer.classList.add('error');
				inputContainer.classList.remove('success');
				return false;
			}
		}

		$('#vote-form .concept-label').forEach(function( label, i ) {
			label.addEventListener('click', function(ev) {
				var checkedCount = getGiveVoteCount();
				var maxChecked = 3;
				var itsCheckbox = document.getElementById(label.getAttribute('for'));

				/** Add error when clicked on label when already all votes are given. **/
				if (!itsCheckbox.checked && checkedCount >= maxChecked) {
					ev.preventDefault();
					clearVoteErrors();
					label.classList.add('error');
				} else {
					clearVoteErrors();
				}
			})
		});

		$('#vote-form input[type="checkbox"]').forEach(function( checkbox, i ) {
			checkbox.addEventListener('change', function(ev) {
				addUnavailableClass();
				clearClassesVoteForm();
			});
		});

		function getGiveVoteCount () {
			return $('#vote-form input[type="checkbox"]:checked').length;
		}

		function clearVoteErrors () {
			$('#vote-form .concept-label').forEach(function(label) {
				label.classList.remove('error');
			});
		}

		function getVoteForm() {
			return document.getElementById('vote-form');
		}

		function clearClassesVoteForm() {
			getVoteForm().classList.remove(lessThenStarsClassName);
			getVoteForm().classList.remove(noStarsErrorClassName);
		}


		function argumentsLinkClick(order) {
			document.getElementById('filter-arguments-option-'+order).click();
		}

		function addUnavailableClass () {
			$('#vote-form .concept-label').forEach(function(label) {
				var checkedCount = getGiveVoteCount();
				var maxChecked = 3;
				var itsCheckbox = document.getElementById(label.getAttribute('for'));

				/** Add class for when it's unavailable for voting. **/
				if ((checkedCount ) >= maxChecked && !itsCheckbox.checked) {
					label.classList.add('unavailable');
				} else {
					label.classList.remove('unavailable');
				}
			});
		}

		function hasClass( target, className ) {
			 return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
		}

	</script>
{% endblock %}
