{% macro argumentsFilters(options) %}

<div class="box-grey">
  <div class="aa-col-container " style="display: flex;   justify-content: space-between;">
    <div class="aa-col-4 hidden-xs">
      <h3 id="tab-text"> Laat argumenten zien van: </h3>
    </div>
    <div class="visible-lg">
      <a id="filter-arguments-option-all" href="#" class="tab-button argument-filter-tab active" data-variant="all">
        Alles
      </a>
    </div>

    {% for option in options %}
      <div class="aa-col-2 visible-lg">
        <a id="filter-arguments-option-{{option.order}}" href="#" class="tab-button argument-filter-tab " data-variant="{{option.order}}">
          Variant {{option.order}}
        </a>
      </div>
    {% endfor %}

    <div id="filter-arguments-select-wrapper" class="select-wrapper stretch hidden-lg">
      <select id="filter-arguments-select" class="stretch">
        <option value="all">
          Laat argumenten zien van:
        </option>
        <option value="all">
           Alles
        </option>
        {% for option in options %}
          <option value="{{option.order}}">
              {{option.order}}. {{option.title}}
          </option>
        {% endfor %}
      </select>
    </div>

  </div>
</div>
{% endmacro %}
