{% macro howblock(openOrClosed) %}
	<div id="howDoesItWork" class="{{openOrClosed}}">
		<a id="howDoesItWorkButton" href="javascript: (function() { console.log('x'); document.getElementById('howDoesItWork').className = document.getElementById('howDoesItWork').className == 'open' ? 'closed' : 'open'; })()" style="outline: 0;">Hoe werkt het? <img id="arrow" src="/img/arrow_down_black.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/></a>
		<div class="pageContent">
			<div class="steps">
				<div class="step">
					<div class="step-image step-image-1"></div>
					<div class="step-header">1.<br/>Insturen locatie met een verhaal</div>
					<p>Alle Amsterdammers mogen een voorstel doen voor een locatie in de Baarsjes voor de muur-schildering. We zoeken een locatie met een verhaal.</p>
				</div>
				<div class="step">
					<div class="step-image step-image-2"></div>
					<div class="step-header">2.<br/>Stem op locatie in de Baarsjes</div>
					<p>Je kunt voor en tegen stemmen op een locatie én argumenten voor en tegen plaatsen. Daarnaast kun je campagne voeren voor jouw locatie om stemmen te winnen.</p>
				</div>
				<div class="step">
					<div class="step-image step-image-3"></div>
					<div class="step-header">3.<br/>Haalbaarheid + keuze locatie</div>
					<p>De locatie die na aftrek van tegen-stemmen de meeste stemmen voor heeft wordt als eerste onderzocht op haalbaarheid. Hier rolt uiteindelijk een winnende locatie uit.</p>
				</div>
				<div class="step">
					<div class="step-image step-image-4"></div>
					<div class="step-header">4.<br/>Ontwerpwedstrijd muurschildering</div>
					<p>In Fase 2 mogen alle Amsterdammers een ontwerp insturen voor een muurschildering op de gekozen locatie. Het winnend ontwerp wordt uitgevoerd.</p>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
