{% extends 'base.njk' %}

{% set pageTitle = 'E-mail verzonden' %}

{% block content %}
<div id="errorMessage">
	<h1>E-mail verzonden</h1>
	
	<p>
		We hebben een e-mail gestuurd met een link

		{% if isNew %}
			waarmee je de registratie kunt voltooien. Hierna ben je gelijk ingelogd.
		{% else %}
			waarmee je eenmalig kan inloggen.
		{% endif %}
		
		De verstuurde link is 48 uur geldig.
	</p>

	<p>
		<strong>Onthoud dat de mail wellicht in je spambox terecht komt!</strong>
	</p>
</div>
{% endblock %}