{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set pageTitle    = 'Privacyverklaring en proclaimer' %}
{% set contentClass = 'article proclaimer' %}

{% block head %}
	{{super()}}
	
	<style type="text/css">
	 #article h2 {
		 color: #EC0000;
		 font-size: 1.14em;
	 }
	 #article h3 {
		 font-size: 1em;
	 }
	 ol, ol li {
		 padding-left: 0;
		 margin-left: 0;
	 }
	 ol {
		 padding-left: 20px;
	 }
	</style>	
{% endblock %}

{% block content %}
	<div class="primary">
		<h1>Disclaimer {{SITENAME}}</h1>
		
		<div id="summary">
			<p>{{'2018-05-02' | date('LL')}}</p>
			
			<h3>Op deze pagina</h3>
			<ul>
				<li><a href="#hoodstuk1">Algemeen</a></li>
				<li><a href="#hoodstuk2">De verantwoordelijke</a></li>
				<li><a href="#hoodstuk3">Verwerken van persoonsgegevens</a></li>
				<li><a href="#hoodstuk4">Intellectuele eigendom en aansprakelijkheid</a></li>
				<li><a href="#hoodstuk5">Contact</a></li>
				<li><a href="#hoodstuk6">Uw rechten uitoefenen en klachten</a></li>
				<li><a href="#hoodstuk7">Wijzigingen</a></li>
			</ul>
			<hr>
		</div>
		
		<div id="article">

			<p>Verklaring privacy en intellectueel eigendom bij het crowdsourceproject muurtekst ‘Zorg goed voor onze stad en voor elkaar’</p>

			<p>Deze specifieke informatie moet worden gelezen in aanvulling op en in samenhang met de algemene informatie over het verwerken van persoonsgegevens algemene informatie over het verwerken van persoonsgegevens door de gemeente Amsterdam.</p>
			
			<h2 id="hoodstuk1">1. Algemeen</h2>
			<p>De gemeente Amsterdam verwerkt persoonsgegevens op een zorgvuldige en veilige manier in overeenstemming met de geldende wet- en regelgeving. In het document met algemene informatie over het verwerken van persoonsgegevens door de gemeente Amsterdam zijn de uitgangspunten beschreven ten aanzien van de verwerking van persoonsgegevens door de gemeente en is informatie te vinden over hoe u uw rechten kunt uitoefenen. In dit document geven we nadere informatie over de doelen en grondslagen, alsook andere relevante informatie over de verwerkingen ten aanzien van de <strong>online crowdsourcen van locaties en ontwerpen voor de muurtekst “Zorg goed voor onze stad en voor elkaar’</strong>.  </p>
			<p>Vanwege nieuwe wetgeving of andere ontwikkelingen, past de gemeente regelmatig haar processen aan. Dit kan ook wijzigingen inhouden ten aanzien van het verwerken van persoonsgegevens. Het is daarom raadzaam om regelmatig de documenten met algemene en specifieke informatie over het verwerken van persoonsgegevens door de gemeente Amsterdam te raadplegen. Aan het einde van het document staat aangegeven wanneer deze voor het laatst is aangepast.</p>

			<h2 id="hoodstuk2">2. De verantwoordelijke </h2>
			<p>De bestuursorganen van de gemeente zijn elk verwerkingsverantwoordelijke in de zin van de wet, voor de verwerkingen die door of namens de gemeente worden uitgevoerd. De bestuursorganen van de gemeente zijn de Burgemeester, het college van Burgemeester en Wethouders (college van B&W) en de Gemeenteraad. </p>
			<p>Voor de verwerkingen van gegevens bij het <strong>online crowdsourcen van de genoemde muurtekst</strong> is de verwerkings- verantwoordelijke: <strong>het college van Burgemeester & Wethouders</strong>.</p>

			<h2 id="hoodstuk3">3. Verwerken van persoonsgegevens</h2>
			<p>De gemeente verzamelt en gebruikt verschillende categorieën persoonsgegevens van haar inwoners. Het zal afhangen van de specifieke verwerking welke persoonsgegevens precies zullen worden verwerkt en voor welk doel. Deze en overige relevante informatie worden hieronder weergegeven.</p>
			<p><strong>Verwerking gegevens voor het online crowdsourceproject van de muurtekst ‘Zorg goed voor onze stad en voor elkaar’:</strong></p>

			<strong>Doel</strong><br/>
			<p>Hoofddoel: crowdsourcen van goede locaties en ontwerpen onder Amsterdammers van de muurtekst “Zorg goed voor onze stad en voor elkaar, de laatste boodschap van oud burgemeester Eberhard van der Laan</p>
			<p>Met als doel: in de stad tot een goede gezamenlijke keuze te komen voor de uiteindelijke locatie en het ontwerp van de muurtekst. </p>

			<p>
				Subdoelen:<br/>
				<ol type="1">
					<li>Inzicht te krijgen in waar stemmen op de locaties vandaan komen.</li>
					<li>Amsterdammers inzicht te geven in argumenten voor of tegen een locatie zodat ze een geïnformeerde keuze maken. </li>
					<li>Inzicht te krijgen in waar indieners van ontwerpen vandaan komen. </li>
					<li>Inzicht krijgen in waar stemmen op de ontwerpen vandaan komen. </li>
				</ol>
			</p>
			
			<p>We nodigen vooral Amsterdammers en mensen die in de stad werken aan om locaties aan te dragen, ontwerpen in te dienen en daarop te stemmen. Indien blijkt dat het aantal stemmen buiten Amsterdam een doorslaggevend verschil maakt in de einduitslag (bij locaties en ontwerpen met de meeste stemmen, bijvoorbeeld nummer 1 en nummer 2 in de ranglijst), tellen we alleen stemmen met postcodes uit Amsterdam mee.    </p>

			<strong>Grondslag</strong><br/>
			<p>De gemeente verwerkt deze persoonsgegevens op basis van een publiekrechtelijke taak, namelijk om in het kader van een zorgvuldige voorbereiding van besluiten (Algemene wet bestuursrecht) tot een gedragen afweging te komen voor de definitieve locatie en ontwerp van de muurtekst.</p>

			<strong>Categorieën persoonsgegevens</strong><br/>
			<ol type="1">
				<li>Postcode:<br/>We registreren postcodes omdat we willen weten waar de stemmen vandaan komen. </li>
				<li>Naam: <br/>We vragen een naam op te geven als u een argument wilt plaatsen. Deze worden gepubliceerd bij de argumenten. Dat doen we omdat ervaring leert dat dit de kwaliteit van het gesprek / discussie bevordert. Mensen kunnen uiteraard een alias opgeven. </li>
				<li>E-mail: <br/>Bezoekers van de site kunnen zich aanmelden voor eenmalige update over de winnende locatie en het winnende ontwerp, door hun e-mailadres op te geven. Het opgegeven mailadres wordt  verwijderd uit de database bij het uit de lucht halen van de site. </li>
				<li>IP-adressen:<br/>Bij het stemmen slaat de tool ook tijdelijk IP-adressen op. De gemeente doet dit om eventuele onregelmatigheden met stemmen te kunnen opsporen. </li>
			</ol>
			
			<strong>Bewaartermijnen</strong><br/>
			<p>De gemeente bewaart persoonsgegevens voor zolang dit noodzakelijk is voor de uitvoering van haar taken, of zoals is bepaald in de Archiefwet. Voor meer informatie hierover, zie de website van het <a href="https://www.amsterdam.nl/stadsarchief/">gemeentelijk stadsarchief</a>.</p>

			<p>
				Specifiek voor de crowdsourcetool voor de muurtekst geldt het volgende:
				<ul>
					<li>Als de locatie op 28 september bekend wordt gemaakt, gaat dit deel van de site https://zorgvooronzestad.amsterdam.nl  uit de lucht. </li>
					<li>Na afloop van het stemmen worden gegevens verwerkt in een beknopte ( geanonimiseerde) analyse: </li>
					<li>Op hoe de stemmen zijn verdeeld over de locaties. </li>
					<li>Waar mensen vandaan komen die hebben meegedaan aan de het stemmen (een geaggregeerd overzichtskaartje, eventueel per locatie)</li>
				</ul>
			</p>

			<p>De gegevens worden vervolgens uit de database verwijderd. Ook opgegeven postcodes en IP-adressen worden verwijderd na afloop van het stemmen begin september. </p>

			<p>
				Als het winnende ontwerp voor de muurtekst bekend wordt op 21 december, worden gegevens verwerkt in een beknopte (geanonimiseerde) analyse:
				<ul>
					<li>Op hoe de stemmen zijn verdeeld over de ontwerpen.</li>
					<li>Waar de stemmen vandaan komen (een geaggregeerd overzichtskaartje, eventueel per ontwerp). De gegevens worden vervolgens uit de database verwijderd.</li>
					<li>De ontwerpen blijven zicht baar op de site tot een maand nadat het winnende ontwerp is uitgevoerd.</li>
				</ul>
			</p>

			<p>De indieners van de ontwerpen worden op de site geanonimiseerd na bekendmaking van de winnaar. Na uitvoering van het ontwerp wordt de site uit de lucht gehaald. </p>

			<h2 id="hoodstuk4">4. Intellectuele eigendom en aansprakelijkheid</h2>
			<p>Met het insturen van een tekst, foto, ontwerp of ander werk stemt u expliciet in met de openbaarmaking of verveelvoudiging ervan. De gemeente Amsterdam gaat er vanuit dat u de maker of de rechthebbende bent van de geüploade foto of het ingezonden ontwerp of anders toestemming van de rechthebbende heeft gekregen om deze in te sturen. Zoniet, bent u hoofdelijk aansprakelijk bij een eventuele claim van een rechthebbende.  </p>
			
			<h2 id="hoodstuk5">5. Contact</h2>
			<p>Mocht u nog vragen hebben, die niet in dit document of in het document met algemene informatie worden beantwoord, of als u om een andere reden contact willen opnemen met de gemeente over privacy of gegevensbescherming bij deze online crowdsourcing, neemt u dan contact op met <a href="mailto:openstad@amsterdam.nl">openstad@amsterdam.nl</a>.</p>
			<p>Voor meer algemene vragen aan de gemeente over privacy of gegevensbescherming, kunt contact met opnemen met de Privacy Officer van Stadsdelen van de gemeente Amsterdam, via <a href="mailto:PIB.Stadsdelen@amsterdam.nl">PIB.Stadsdelen@amsterdam.nl</a>.</p>

			<h2 id="hoodstuk6">6. Uw rechten uitoefenen en klachten</h2>
			<p>Als burger of belanghebbende kunt u uw rechten bij de gemeente Amsterdam uitoefenen. Voor meer informatie over het uitoefenen van uw rechten, of als u een klacht heeft over het handelen van de gemeente Amsterdam, klik dan <a href="https://www.amsterdam.nl/veelgevraagd/?productid=%7B249D3A8E-ED07-4E4C-BFAD-49F174342FD5%7D">hier</a>. </p>

			<h2 id="hoodstuk7">7. Wijzigingen</h2>
			<p>Dit document is vastgesteld op 28 juni 2018.</p>

		</div>
	</div>
	
	<div class="secondary">
		<div class="pageContent">
			<div class="speechBubble">
				“Zorg goed voor onze stad en voor elkaar.”
				<div class="small">
					Vaarwel,<br/><br/><br/><br/><br/>
					Eberhard van der Laan
				</div>
			</div>
		</div>
	</div>
{% endblock %}
