{% extends 'base.njk' %}
{% import 'includes/openstad-map.njk' as openStadMap %}
{% import 'includes/numberplatebutton.njk' as numberPlateButton %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}

{% set contentClass = 'index' %}

{% block content %}
	<div id="banner">
		<div class="banner-image">
			<img src="/img/eberhardvanderlaan/banner-image.png"></img>
			{% if (config.ideas.addNewIdeas == 'closed') %}
				<div class="text">
					De locatie is bekend!
				</div>
			{% else %}
				<div class="text" style="width: 640px; height: 155px;">
					Doe mee! Op welke muur in de Baarsjes komt de laatste boodschap van oud-burgemeester Eberhard van der Laan?
					<a href="/plan/nieuw" class="page-button page-button-blue page-button-flag stuur-je-locatie-button" style="display: block;">
						Stuur hier je locatie!
					</a>
				</div>
			{% endif %}
		</div>
		<div id="buttons">
			<div class="speechBubble">
				“Zorg goed voor onze stad en voor elkaar.”
				<div class="small">
					Vaarwel,<br/><br/><br/><br/><br/>
					Eberhard van der Laan
				</div>
			</div>
			{{numberPlateButton.numberPlateButton('no-of-locations', 'locaties', runningIdeas.length, '/plannen')}}
			<a href="https://www.amsterdam.nl/zorggoedvooronzestad" class="page-button page-button-grey" target="_blank">
				Lees meer op amsterdam.nl
			</a>
		</div>
	</div>

	{% if (config.ideas.addNewIdeas == 'closed') %}
		<div class="header-extra-alinea">
			In juli en augustus hebben Amsterdammers maar liefst 21 suggesties gedaan voor een muur of gebouw voor de laatste boodschap van oud-burgemeester Eberhard van der Laan. De meeste stemmen kreeg het Mercatorplein. De zuil midden op het plein staat ter beschikking om hierop een ontwerp te maken.  Vanaf  22 oktober  kunnen mensen een eigen ontwerp indienen en stemmen op hun favoriete ontwerp.
		</div>
	{% endif %}
{% endblock %}

{% block howDoesItWork %}
	{{howdoesitwork.howblock('open')}}
{% endblock %}

{% block content2 %}
	
	<div class="primary">

		<div class="text" name="info" id="info">

			<h3>Achtergrondinformatie</h3>
			<p>Om de laatste boodschap van oud-burgemeester Eberhard van der Laan levend te houden, heeft Baarsjes bewoonster Liesbeth de Looper het idee bedacht om zijn oproep ‘Zorg goed voor onze stad en voor elkaar’, als muurtekst op een gebouw of muur aan te brengen. Haar voorstel was om de muurtekst te realiseren in de Baarsjes, omdat Van der Laan daar jarenlang heeft gewoond.</p>
			<p>Het Algemeen Bestuur van West heeft in april dit jaar besloten om het plan van mevrouw De Looper te realiseren en Amsterdammers te vragen om suggesties aan te dragen voor een geschikte locatie voor de quote.  Amsterdammers kunnen vervolgens een ontwerp insturen voor de muurtekst en stemmen op hun favoriete ontwerp.</p>
			<p>Mevrouw De Looper heeft dit plan ingebracht via het platform <a href="https://stemvanwest.amsterdam.nl/plan/96">Stem van West</a>. Op dit platform kunnen mensen plannen voor hun buurt indienen. Eens per maand bespreekt de stadsdeelcommissie het plan met de meeste stemmen.</p>
			
			<h3>Spelregels</h3>
			<ul class="checkmark-dot-list">
				<li>Upload een (eigen) foto van een locatie in de Baarsjes.</li>
				<li>We zoeken een gebouw of muur waar de quote op kan worden afgebeeld. Bijvoorbeeld in de vorm van een muurschildering, bedrukt op tegels, een banner of op een paneel.</li>
				<li>Kies een muur of gebouw waar de quote tot zijn recht komt en mensen de tekst goed kunnen lezen.</li>
				<li>Licht toe waarom dit jouw favoriete locatie is.</li>
				<li>Voer campagne voor je locatie en probeer op Twitter, Facebook, of met email zoveel mogelijk stemmen te werven. Flyer in je buurt of organiseer een buurtbijeenkomst.</li>
				<li>Je kunt argumenten voor/tegen plaatsen om aan te geven waarom je een locatie wel of niet een goede locatie vindt.</li>
				<li>De locatie die na aftrek van tegenstemmen de meeste stemmen voor heeft, wordt als eerste op haalbaarheid onderzocht. Niet alle locaties zijn misschien mogelijk of geschikt. Ook moet de eigenaar van het pand zijn of haar toestemming geven. Mocht de locatie met de meeste stemmen om redenen niet haalbaar zijn, dan wordt de tweede onderzocht, de derde, etc. Hier rolt uiteindelijk een winnende locatie uit.</li>
			</ul>

			<div>
				<a href="/plan/nieuw" class="page-button page-button-blue page-button-flag stuur-je-locatie-button">
					Stuur jouw locatie in
				</a>
				<a href="??" class="page-button page-button-grey" target="_blank">
					Lees meer op amsterdam.nl
				</a>
			</div>
			
		</div>
	</div>
	
	<div class="secondary">
		
		<div id="agenda">
			<h3>Tijdlijn</h3>
			
			<div class="agenda">

				<div class="box-grey agenda-period">
					<div>
						<h3>2 juli t/m 2 september 2018</h3>
						Insturen locatie met verhaal
					</div>
				</div>
				
				<div class="box-grey agenda-day">
					<div>
						<h3>5 oktober</h3>
						Bekendmaking winnende locatie in de Baarsjes
					</div>
				</div>
				
				<div class="box-grey agenda-period">
					<div>
						<h3>22 oktober t/m 11 november</h3>
						Start ontwerpwedstrijd: insturen ontwerpen
					</div>
				</div>
				
				<div class="box-grey agenda-period">
					<div>
						<h3>19 november t/m 7 december</h3>
						Stemmen op ontwerpen
					</div>
				</div>
				
				<div class="box-grey agenda-day">
					<div>
						<h3>31 januari</h3>
						Uitslag ontwerpwedstrijd
					</div>
				</div>
				
				<div class="box-grey agenda-period">
					<div>
						<h3>februari t/m april 2019</h3>
						Realisatie kunstwerk
					</div>
				</div>
				
				<div class="box-grey agenda-day">
					<div>
						<h3>mei 2019</h3>
						Feestelijke onthulling van het winnende ontwerp
					</div>
				</div>

			</div>


		</div>
	</div>
{% endblock %}

{% block page %}
	<div id="inspiration">
		<div class="pageContent">
			<h2>Inspiratie</h2>
			<div id="inspiration-images"><div id="inspiration-1" class="inspiration-image"><img src="/img/eberhardvanderlaan/inspiratie.1.jpg"></div><div id="inspiration-2" class="inspiration-image"><img src="/img/eberhardvanderlaan/inspiratie.2.jpg"></div><div id="inspiration-3" class="inspiration-image"><img src="/img/eberhardvanderlaan/inspiratie.3.jpg"></div><div id="inspiration-4" class="inspiration-image"><img src="/img/eberhardvanderlaan/inspiratie.4.jpg"></div></div>
		</div>
	</div>
{% endblock %}

{% block content3 %}
	<ul class="share">
		<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a></li>
		<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{url}}">Twitter</a></li>
		<li><a class="email"    target="_blank" href="mailto:?subject={{'Idee voor West: '+idea.title | urlencode}}&body={{url | urlencode}}">Email</a></li>
	</ul>
{% endblock %}

