{% extends '../ideas.njk' %}
{% set pageTitle = 'Nieuw idee' %}
{% set contentClass = 'newIdea' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/lib/trix/dist/trix.css">
{% endblock %}

{% block content %}
<h1>Nieuw idee</h1>

<div id="howDoesItWork">
	<h2>Hoe werkt het?</h2>
	
	<div data-step="1">
		<h1>Jouw Plan</h1>
		<p>
			Beschrijf jouw plan voor de buurt en publiceer
			het op de site onder de button “Mijn Plan”.
		</p>
		<p>
			Houd het:
			<ul>
				<li>Positief</li>
				<li>Duidelijk</li>
				<li>Kort</li>
			</ul>
		</p>
	</div>
	
	<div data-step="2">
		<h1>Campagne</h1>
		<p>
			Voer campagne voor je plan en verzamel zoveel mogelijk stemmen om het op de agenda te krijgen van het Algemeen Bestuur. Je hebt 30 dagen om campagne te voeren.
			Verzamel tenminste 100 stemmen voor je plan. Doe dit door:
		</p>
		
		<ul>
			<li>Buurtgenoten uit te nodigen via Facebook en twitter om je idee te steunen</li>
			<li>Mails te versturen naar je buurtgenoten</li>
			<li>Deur voor deur langs te gaan</li>
			<li>Een bijeenkomst te organiseren</li>
		</ul>
		
		<p>
			Andere bewoners kunnen online op je plan reageren met likes en argumenten voor en tegen.
		</p>
	</div>
	
	<div data-step="3">
		<h1>De Agenda</h1>
		<p>
			Het plan met de meeste stemmen komt
			automatisch op de agenda van het Algemeen Bestuur. Elke maand wordt op een vast moment gekeken welk idee de meeste stemmen heeft.
			Heeft jouw plan de meeste likes? Dan krijg je per mail een uitnodiging om in het Algemeen Bestuur jouw plan toe te lichten.
			Daarna bespreekt het Algemeen Bestuur het plan en neemt een besluit.
		</p>
		
		<b>Heb je vragen?</b><br>
		Neem contact op met
		<a href="mailto:destemvanwest@amsterdam.nl">destemvanwest@amsterdam.nl</a>
	</div>
</div>

<form method="post" id="js-form">
	<div id="titleAndSummary">
		<h2>Titel idee</h2>
		<input type="text" name="title" value="{{idea.title}}"><br>
		
		<h2>Samenvatting</h2>
		Vertel in maximaal 140 tekens waar jouw idee over gaat. De samenvatting verschijnt op de overzichtspagina.<br>
		<textarea name="summary">{{idea.summary}}</textarea><br>
	</div>
	<div id="location">
		<h2>Locatie</h2>
		Heeft jouw idee betrekking op een specifieke locatie in West? Klik dat op een plek in de kaart om het vlaggetje te plaatsen.<br>
		<input type="hidden" id="locationField" name="location" value='{{idea.location | dump | safe}}'>
	</div>
	
	<div id="description">
		<h2>Beschrijving</h2>
		Gebruik de ruimte hieronder om je idee uitgebreider te beschrijven. Een paar tips:
		<ul>
			<li>Beschrijft hoe je op dit idee bent gekomen.
			<li>Is het idee een oplossing voor een probleem? Zo ja, welk probleem? Vertel hier iets meer over.
			<li>Waarom moet het Algemeen Bestuur jouw idee gaan bespreken?
			<li>Draag argumenten aan om je buurtgenoten te overtuigen.
		</ul>
		{% if useModernEditor %}
			<input type="hidden" id="js-description" name="description" value="{{idea.description}}">
			<trix-editor id="js-editor" class="userContentEditor" input="js-description"></trix-editor><br>
		{% else %}
			<textarea name="description">{{idea.description}}</textarea>
		{% endif %}
		
		{% if idea %}
		<input type="hidden" name="id" value="{{idea.id}}">
		<input type="hidden" name="_method" value="PUT">
		{% endif %}
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
	</div>
	
	<input type="submit" value="Idee opslaan">
</form>
{% endblock %}

{% block footer %}
	{{ super() }}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCauwsJ_4I3ri0rI-O5-82ncLLO_Cji8YY"></script>
	<script src="/lib/trix/dist/trix.js"></script>
	<script src="/js/map.js"></script>
	<script src="/js/editor.js"></script>
	<script>
		new LocationEditor(document.getElementById('locationField'));
	</script>
	<script>
		initAttachmentManager(
			document.getElementById('js-form'),
			document.getElementById('js-editor').editor
		);
	</script>
{% endblock %}