{% extends '../base.njk' %}

{% set pageTitle = 'Nieuw idee' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/lib/trix/dist/trix.css">
{% endblock %}

{% block content %}
<h1>Nieuw idee</h1>

<form method="post" id="js-form">
	Titel: <input type="text" name="title" value="{{idea.title}}"><br>
	
	Samenvatting:<br>
	<textarea name="summary">{{idea.summary}}</textarea><br>
	
	Beschrijving:<br>
	<input type="hidden" id="js-description" name="description" value="{{idea.description}}">
	<trix-editor id="js-editor" class="userContentEditor" input="js-description"></trix-editor><br>
	
	{% if idea %}
	<input type="hidden" name="id" value="{{idea.id}}">
	<input type="hidden" name="_method" value="PUT">
	{% endif %}
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	
	<input type="submit" value="Opslaan">
</form>
{% endblock %}

{% block footer %}
	<script src="/lib/trix/dist/trix.js"></script>
	<script src="/js/editor.js"></script>
	<script>
		initAttachmentManager(
			document.getElementById('js-form'),
			document.getElementById('js-editor').editor
		);
	</script>
{% endblock %}