{% extends '../base.njk' %}

{% set pageTitle = 'Idee: '+idea.title %}

{% block content %}
<h1>{{idea.title}}</h1>

{{idea.description}}

<hr>

{% if can('idea:edit') %}
	<a href="/idea/{{idea.id}}/edit">Bewerk idee</a>
{% endif %}
{% if can('idea:delete') %}
	<form method="POST" action="/idea/{{idea.id}}/delete">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<input type="submit" value="Verwijder idee">
{% endif %}
{% endblock %}