{% extends '../ideas.njk' %}
{% set pageTitle    = 'Idee: '+idea.title %}
{% set contentClass = 'idea' %}

{% block head %}
	{{ super() }}
	<meta property="og:title" content="{{idea.title}}">
	<meta property="og:type" content="website">
	<meta property="og:description" content="{{idea.summary}}">
	<meta property="og:locale" content="nl_NL">
	<meta property="og:site_name" content="De Stem van West">
	{% if idea.posterImage %}
		<meta property="og:image" content="/image/{{idea.posterImage.key}}">
	{% endif %}
{% endblock %}

{% block content %}
	<div id="title">
		<div>
			<div class="primary">
				{% if idea.posterImage %}
					<div class="image" style="background-image: url(/image/{{idea.posterImage.key}});"></div>
				{% elif idea.location %}
					<div class="image" style="background-image: url(
						https://maps.googleapis.com/maps/api/streetview?size=1400x700&location={{idea.location.coordinates[0]}},{{idea.location.coordinates[1]}}&heading=151.78&key=AIzaSyCrp_kqFQoKEaW5DOEBVjAu61cRl3-T0Lg
					);"></div>
				{% else %}
					<div class="image"></div>
				{% endif %}
			</div>
			
			<div class="secondary">
				<div class="controls">
					<h2>Stemmen</h2>
					
					{% if idea.isOpen() %}
						<form class="vote" method="POST" action="/idea/{{idea.id}}/vote">
							<input type="hidden" name="_csrf" value="{{csrfToken}}">
							<button type="submit" name="opinion" value="yes" data-count="{{idea.yes}}">voor</button>
							<button type="submit" name="opinion" value="no" data-count="{{idea.no}}">tegen</button>
						</form>
					{% endif %}
					
					<div class="ideaProgress">
						<div class="bar" style="width: {{idea.progress}}%;"></div>
					</div>
					
					{% if idea.isOpen() %}
					<p class="duration">Nog {{idea.duration | duration}} om te stemmen.</p>
					{% endif %}
					
					<ul class="share">
						<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a>
						<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{url}}">Twitter</a>
						<li><a class="email"    target="_blank" href="mailto:?subject={{'Idee voor West: '+idea.title | urlencode}}&body={{url | urlencode}}">Email</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="primary">
		<h1>{{idea.title}}</h1>
		
		<div id="author">
			Door <b>{{idea.user.firstName}} {{idea.user.lastName}}</b><br>
			{{idea.startDate | date('LL')}}
		</div>
		
		<div class="userContent">
			<p>
				<strong>{{idea.summary | nl2br}}</strong>
			</p>
			
			{{idea.description | safe}}
			
			{% if idea.location %}
				<h2>Locatie</h2>
				<div id="map"></div>
			{% endif %}
		</div>
		
		{% if idea.modBreak %}
		<div id="modBreak">
			<b>Bericht van het bestuur</b> &nbsp;&nbsp;|&nbsp;&nbsp; {{idea.modBreakDate | date('LLL')}}<br>
			<p>
			{{idea.modBreak | safe | nl2br}}
			</p>
		</div>
		{% endif %}
	</div> <!-- #primary -->
	
	<div class="secondary">
		{# <h2>Volgen</h2>
		
		<form action="/idea/{{idea.id}}/notify">
			<input type="submit" value="Mail updates">
		</form> #}
		
		{% if can('idea:edit', 'idea:delete') %}
			<h2>Bewerken</h2>
			
			{% if can('idea:edit') %}
				<form action="/idea/{{idea.id}}/edit">
					<input type="submit" value="Bewerk idee">
				</form>
			{% endif %}
			
			{% if can('idea:delete') %}
				<form method="POST" action="/idea/{{idea.id}}/delete">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<input type="submit" value="Verwijder idee">
				</form>
			{% endif %}
		{% endif %}
		
		{% if can('idea:admin') %}
			<h2>Beheren</h2>
			
			<form method="POST" action="/idea/{{idea.id}}/status">
				<select name="status" onchange="this.form.submit();">
					<option {{'selected' if idea.status=='OPEN'}}     value="OPEN">    Status: Open</option>
					<option {{'selected' if idea.status=='CLOSED'}}   value="CLOSED">  Status: Gesloten</option>
					<option {{'selected' if idea.status=='ACCEPTED'}} value="ACCEPTED">Status: Geaccepteerd</option>
					<option {{'selected' if idea.status=='DENIED'}}   value="DENIED">  Status: Afgewezen</option>
					<option {{'selected' if idea.status=='BUSY'}}     value="BUSY">    Status: In behandeling</option>
					<option {{'selected' if idea.status=='DONE'}}     value="DONE">    Status: Afgerond</option>
				</select>
				<input type="hidden" name="_method" value="PUT">
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
			</form>
			
			<form method="GET" action="/idea/{{idea.id}}/mod_break">
				<input type="submit" value="Mod break">
			</form>
		{% endif %}
	</div>
	
	<div id="arguments">
		<h1>Argumenten</h1>
		
		{{argList('for', idea.argumentsFor)}}
		{{argList('against', idea.argumentsAgainst)}}
	</div>
{% endblock %}

{% block footer %}
	{{ super() }}
	
	<script>
		// First image in content
		// ----------------------
		// If the content starts with an image, remove it from the content
		// since it's already visible as poster image.
		var figures = document.querySelectorAll('.userContent figure:first-child');
		if( figures[0] ) {
			var figure = figures[0];
			var parent = figure.parentNode;
			if( parent.firstChild === figure ) {
				parent.removeChild(figure);
			}
		}
	</script>
	<script>
		// Disabled textareas
		// ------------------
		// Link to login/register page.
		var textareas = document.querySelectorAll('#arguments textarea[data-disabled]');
		textareas.forEach(function( textarea ) {
			textarea.addEventListener('focus', function( event ) {
				document.location.href = '/idea/{{idea.id}}/arg/new';
			})
		})
	</script>
	
	{% if idea.location %}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCauwsJ_4I3ri0rI-O5-82ncLLO_Cji8YY"></script>
		<script src="/js/map.js"></script>
		<script>
			var point  = JSON.parse('{{idea.location | dump | safe}}' || null);
			var latLng = {lat: point.coordinates[0], lng: point.coordinates[1]};
			var map    = initMap(document.getElementById('map'), {
				center      : latLng,
				zoom        : 14,
				zoomControl : true,
				scrollwheel : false
			});
			var marker = initMarker({
				position : latLng,
				map      : map
			});
		</script>
	{% endif %}
{% endblock %}


{% macro argList( sentiment, arguments ) %}
	<div class="argList {{sentiment}}">
	{% if idea.isOpen() and (not can('idea:edit') or user.role == 'admin') %}
		<form method="POST" action="/idea/{{idea.id}}/arg/new" class="newArgument">
			<textarea
				name="description"
				placeholder="{{'Ik ben voor, want...' if sentiment == 'for' else 'Ik ben tegen, want...'}}"
				{{'data-disabled readonly' if not can('arg:add')}}
			></textarea>
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input type="hidden" name="sentiment" value="{{sentiment}}">
			{% if can('arg:add') %}
			<input type="submit" value="Verzenden">
			{% endif %}
		</form>
	{% else %}
		<h2>{{'Ik ben voor, want...' if sentiment == 'for' else 'Ik ben tegen, want...'}}</h2>
	{% endif %}
	
	{% for arg in arguments %}
		<div class="argument">
			<div class="user">
				<strong>{{arg.user.firstName}} {{arg.user.lastName}}</strong> &nbsp;&nbsp;|&nbsp;&nbsp;
				{{arg.createdAt | date('LLL')}}
				
				{% if user.can('arg:delete', arg) %}
					<form class="action" method="POST" action="/idea/{{idea.id}}/arg/{{arg.id}}/delete">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_csrf" value="{{csrfToken}}">
						<input type="submit" value="D" class="default">
					</form>
				{% endif %}
				{% if user.can('arg:edit', idea, arg) %}
					<form class="action" method="GET" action="/idea/{{idea.id}}/arg/{{arg.id}}/edit">
						<input type="submit" value="E" class="default">
					</form>
				{% endif %}
			</div>
			
			<p>{{arg.description}}</p>
			
			{% if user.can('arg:reply', arg) %}
				<a href="/idea/{{idea.id}}/arg/{{arg.id}}/reply" class="reply">Reageren</a>
			{% endif %}
		</div>
	{% else %}
		<div class="noArguments">
		{% if can('arg:add') %}
			Heb je een goed argument {{'voor' if sentiment == 'for' else 'tegen'}}?
			Laat je stem horen!
		{% else %}
			Nog geen argumenten {{'voor' if sentiment == 'for' else 'tegen'}}.
		{% endif %}
		</div>
	{% endfor %}
	</div>
{% endmacro %}