{% extends '../base.njk' %}

{% set pageTitle = 'Idee: '+idea.title %}

{% block content %}
	<h1>{{idea.title}}</h1>

	{{idea.description}}

	<hr>

	{% if can('idea:edit') %}
	<form class="action" action="/idea/{{idea.id}}/edit">
		<input type="submit" value="Bewerk idee">
	</form>
	{% endif %}
	
	{% if can('idea:delete') %}
		<form class="action" method="POST" action="/idea/{{idea.id}}/delete">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input type="submit" value="Verwijder idee">
		</form>
	{% endif %}

	{% if can('idea:vote') %}
		<form class="action vote" method="POST" action="/idea/{{idea.id}}/vote">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input type="submit" name="yes" value="+ ({{idea.yes}})">
			<input type="submit" name="no" value="- ({{idea.no}})">
			<input type="submit" name="abstain" value="~ ({{idea.abstain}})">
		</form>
	{% endif %}
{% endblock %}