{% extends '../ideas.njk' %}
{% import '../includes/content.njk' as content %}

{% set pageTitle    = 'Stemoverzicht' %}
{% set contentClass = 'admin' %}

{% block quickNav %}
	<a href="/plan/{{idea.id}}" id="backToList">Terug naar plan</a>
{% endblock %}

{% block content %}
	<a href="/plan/{{idea.id}}/votes?download">Download als CSV</a>
	
	<table id="votes" class="sortable">
	<thead>
		<tr>
			<th>Vote ID</th>
			<th>User ID</th>
			<th>Mening</th>
			<th>Postcode</th>
			<th>IP</th>
			<th>Datum</th>
			<th>OK</th>
		</tr>
	</thead>
	<tbody>
	{% for vote in idea.votes %}
		<tr class="{{'rejected' if vote.checked === false}}">
			<td>{{vote.id}}</td>
			<td>{{vote.user.id}}</td>
			<td>{{vote.opinion}}</td>
			<td>{{vote.user.zipCode}}</td>
			<td>{{vote.ip}}</td>
			<td>{{vote.createdAt | date('YYYY-MM-DD HH:mm:ss')}}</td>
			<td class="checked" data-vote="{{vote.id}}" sorttable_customkey="{{vote.checked}}"></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
{% endblock %}

{% block footer %}
	<script src="/js/fetch.js"></script>
	<script src="/js/sorttable.js"></script>
	<script>
		var checkMarks = Array.prototype.slice.call(
			document.querySelectorAll('td.checked'), 0
		);
		checkMarks.forEach(function( checkMark ) {
			checkMark.addEventListener('click', function() {
				var voteId = Number(checkMark.getAttribute('data-vote'));
				if( !voteId ) return;
				
				fetch('/idea/{{idea.id}}/vote/'+voteId+'/toggle_checked', {
					headers     : {'Accept': 'application/json'},
					credentials : 'same-origin'
				})
				.then(toJSON)
				.then(function( data ) {
					var vote = data.vote;
					checkMark.parentNode.classList.toggle('rejected', vote.checked === false)
				})
			});
		});
		
		function toJSON( resp ) {
			return resp.json();
		}
	</script>
{% endblock %}