{% extends '../base.njk' %}

{% set pageTitle = 'Ideeën' %}

{% block content %}
<h1>Ideeën</h1>

<ul>
{% for idea in ideas %}
	<li><a href="/idea/{{idea.id}}">{{idea.title}}</a></li>
{% else %}
	Nog geen ideeën!
{% endfor %}
</ul>

<hr>

{% if can('idea:create') %}
	<form class="action" action="/idea/new">
		<input type="submit" value="Nieuw idee">
	</form>
{% endif %}
{% endblock %}