{% extends '../base.njk' %}

{% set pageTitle = 'Ideeën' %}
{% set contentClass = 'ideasList' %}

{% block content %}
<h1>Ideeën</h1>

<ul>
{% for idea in runningIdeas %}
	<li class="idea {{idea.status}}">
		<a href="/idea/{{idea.id}}">{{idea.title}}</a>
		<span class="yes">{{idea.yes}}+</span>
		<span class="no">{{idea.no}}-</span>
	</li>
{% else %}
	<i>Nog geen ideeën!</i>
{% endfor %}
</ul>

{% if can('idea:admin') %}
	<h1>Voorgaande ideeën</h1>
	<ul>
	{% for idea in historicIdeas %}
		<li>
			<a href="/idea/{{idea.id}}">{{idea.title}}</a>
			<span class="yes">{{idea.yes}}+</span>
			<span class="no">{{idea.no}}-</span>
		</li>
	{% else %}
		<i>Geen historie</i>
	{% endfor %}
	</ul>
{% endif %}

<hr>

{% if can('idea:create') %}
	<form class="action" action="/idea/new">
		<input type="submit" value="Nieuw idee">
	</form>
{% endif %}
{% endblock %}