{% extends 'base.njk' %}

{% block head %}
	{{ super() }}

	<title>Privacyverklaring en proclaimer</title>
{% endblock %}

{% block content %}
	<div id="disclaimer">
		<div class="col-container html-styling">
			<div class="col-12">
				<h1 class="margin-bottom-s">Privacyverklaring Online consultatie herprofilering kademuur Herengracht (huisnummer 1-103)</h1>
			</div>
			<div class="col-3 col-sm-12">

				<div class="index">
					<h4> Op deze pagina </h4>
					<ul>
						<li><a href="#algemeen"> Algemeen </a>
						<li><a href="#verantwoordelijke"> De verantwoordelijke </a>
						<li><a href="#persoonsgegevens"> Verwerken van persoonsgegevens </a>
						<li><a href="#contact"> Contact </a>
						<li><a href="#rechten"> Uw rechten uitoefenen en klachten </a>
						<li><a href="#wijzigingen"> Wijzigingen </a>

					</ul>
				</div>
			</div>
				<div class="col-9 col-sm-12">
				<p class="p1">
					<strong>
						Deze specifieke informatie moet worden gelezen in aanvulling op
						en in samenhang met de algemene informatie over het verwerken van persoonsgegevens
						<a href="https://www.amsterdam.nl/bestuur-organisatie/organisatie/ruimte-economie/wonen/gemeente-privacy/"><span class="s2">algemene informatie over het verwerken van persoonsgegevens</span></a> door de gemeente Amsterdam.
					</strong>
				</p>
				<h3 id="algemeen">Algemeen</h3>
				<p class="p1"><span class="s1">De gemeente Amsterdam verwerkt persoonsgegevens op een zorgvuldige en veilige manier in overeenstemming met de geldende wet- en regelgeving. In het document met algemene informatie over het verwerken van persoonsgegevens door de gemeente Amsterdam zijn de uitgangspunten beschreven ten aanzien van de verwerking van persoonsgegevens door de gemeente en is informatie te vinden over hoe u uw rechten kunt uitoefenen. In dit document geven we nadere informatie over de doelen en grondslagen, alsook andere relevante informatie over de verwerkingen ten aanzien van de online consultatie herprofilering kademuur Herengracht.</span></p>
				<p class="p1"><span class="s1">Vanwege nieuwe wetgeving of andere ontwikkelingen, past de gemeente regelmatig haar processen aan. Dit kan ook wijzigingen inhouden ten aanzien van het verwerken van persoonsgegevens. Het is daarom raadzaam om regelmatig de documenten met algemene en specifieke informatie over het verwerken van persoonsgegevens door de gemeente Amsterdam te raadplegen. Aan het einde van het document staat aangegeven wanneer deze voor het laatst is aangepast.</span></p>
				<h3 id="verantwoordelijke">De verantwoordelijke</h3>
				<p class="p1"><span class="s1">De bestuursorganen van de gemeente zijn elk verwerkingsverantwoordelijke in de zin van de wet, voor de verwerkingen die door of namens de gemeente worden uitgevoerd. De bestuursorganen van de gemeente zijn de Burgemeester, het college van Burgemeester en Wethouders (college van B&amp;W) en de Gemeenteraad. </span></p>
				<p class="p5"><span class="s1">Voor de verwerkingen van gegevens bij is de verwerkingsverantwoordelijke:<span class="Apple-converted-space">&nbsp; </span></span><span class="s3"><strong>het college van Burgemeester &amp;Wethouders.</strong></span></p>
				<p class="p1"><span class="s1">De gemeente Amsterdam heeft een Functionaris voor de Gegevensbescherming. U kunt contact met hem / haar opnemen via <a href="mailto:Functionaris.Gegevensbescherming@amsterdam.nl"><span class="s2">Functionaris.Gegevensbescherming@amsterdam.nl</span></a>. </span></p>

				<h3 id="persoonsgegevens">Verwerken van persoonsgegevens</h3>

				<p class="p1"><span class="s1">De gemeente verzamelt en gebruikt verschillende categorie&euml;n persoonsgegevens van haar inwoners. Het zal afhangen van de specifieke verwerking welke persoonsgegevens precies zullen worden verwerkt en voor welk doel. Deze en overige relevante informatie worden hieronder weergegeven.</span></p>
				<p class="p1"><span class="s4">Online Consultatie herprofilering kademuur Herengracht (huisnummer 1-103)</span></p>
				<p class="p1"><span class="s4">Doel</span></p>
				<p class="p5"><span class="s1">Het doel is om te komen tot een goed ge&iuml;nformeerd besluit voor het ontwerp van de herprofilering van de kademuur Herengracht.</span></p>
				<p class="p1"><span class="s4">Grondslag</span></p>
				<p class="p1"><span class="s1">De gemeente verwerkt deze persoonsgegevens op basis van een publiekrechtelijke taak, namelijk om in het kader van een zorgvuldige voorbereiding van besluiten (Algemene wet bestuursrecht) tot een goede beoordeling en besluit te komen over het ontwerp van de herprofilering.</span></p>
				<p class="p1"><span class="s4">Categorie&euml;n persoonsgegevens </span></p>
				<p class="p5"><span class="s1"><em>1. Naam: </em></span></p>
				<p class="p5"><span class="s1">We vragen mensen die een reactie plaatsen op de site om een naam op te geven. Uw naam wordt<span class="Apple-converted-space">&nbsp; </span>gepubliceerd bij de reactie. Dat doen we omdat ervaring leert dat dit de kwaliteit van het gesprek / discussie bevordert. Mensen kunnen uiteraard een alias opgeven. De opgegeven naam wordt zichtbaar op de site.&nbsp;</span></p>
				<p class="p5"><span class="s1"><em>2.Postcode: </em></span></p>
				<p class="p5"><span class="s1">Bewoners die met een unieke code hun voorkeur aangeven voor een ontwerp, vragen we ook naar hun postcode. Dit doen we zodat we kunnen nagaan of bewoners in de zijstraten of aan de overkant van de kademuur een andere voorkeur opgeven dan bewoners die aan de kade zelf wonen.De postcodes worden niet zichtbaar op de site.</span></p>
				<p class="p1"><span class="s4">Geen ontvangers, geen doorgifte, geen profilering, geen geautomatiseerde besluitvorming</span></p>
				<p class="p5"><span class="s1">De gemeente Amsterdam wisselt in het kader van de online consultatie herprofilering kademuur Herengracht <em>geen</em> persoonsgegevens uit met andere organisaties. De persoonsgegevens worden <em>niet</em> buiten de Europese Economische Ruimte (EER) verwerkt. Er worden <em>geen</em> profielen gebruikt. Er vindt <em>geen</em> geautomatiseerde besluitvorming plaats.</span></p>
				<p class="p1"><span class="s4">Bewaartermijnen</span></p>
				<p class="p1"><span class="s1">De gemeente bewaart persoonsgegevens voor zolang dit noodzakelijk is voor de uitvoering van haar taken, of zoals is bepaald in de Archiefwet. Dat betekent dat voor uw persoonsgegevens die zijn verwerkt voor de online consultatie kademuur Herengracht het volgende geldt: </span></p>
				<ul class="ul1">
				<li class="li7"><span class="s1">Een maand na de stemming wordt de site uit de lucht gehaald. Er wordt een geanonimiseerde analyse gemaakt van de voorkeuren per ontwerp en de opgegeven<span class="Apple-converted-space">&nbsp; </span>postcodes per ontwerp. De uitslag van de buurtconsultatie wordt gepubliceerd op amsterdam.nl/kademuren. De gegevens, d.w.z. de namen bij de reacties en de opgegeven postcodes worden bij het offline gaan van de site uit de database verwijderd. </span></li>
				</ul>

				<h3 id="contact">Contact</h3>

				<p class="p1"><span class="s1">Mocht u nog vragen hebben die niet in dit document, noch in het document met algemene informatie worden beantwoord, of als u om een andere reden contact willen opnemen met de gemeente over privacy of gegevensbescherming bij dit project, neemt u dan contact op met <a href="mailto:openstad@amsterdam.nl"><span class="s2">openstad@amsterdam.nl</span></a>.</span></p>
				<p class="p1"><span class="s1">Voor meer algemene vragen aan de gemeente over privacy of gegevensbescherming, kunt contact met opnemen met de Functionaris Gegevensbescherming via: <a href="mailto:Functionaris.Gegevensbescherming@amsterdam.nl"><span class="s2">Functionaris.Gegevensbescherming@amsterdam.nl</span></a>.</span></p>

				<h3 id="rechten">Uw rechten uitoefenen en klachten</h3>

				<p class="p1"><span class="s1">Als burger of belanghebbende kunt u uw rechten bij de gemeente Amsterdam uitoefenen. Voor meer informatie over het uitoefenen van uw rechten kunt u contact met ons opnemen. Kijk op de <a href="https://www.amsterdam.nl/contact/"><span class="s2">website</span></a> voor de diverse mogelijkheden. Wanneer u een klacht heeft over het handelen van de gemeente Amsterdam, kijk dan op deze <a href="https://www.amsterdam.nl/veelgevraagd/?productid=%257b249D3A8E-ED07-4E4C-BFAD-49F174342FD5%257d"><span class="s2">webpagina</span></a>. </span></p>

				<h3 id="wijzigingen">Wijzigingen</h3>
				<p class="p1"><span class="s1">Dit document is vastgesteld op 21 januari 2019.</span></p>
			</div>
		</div>
	</div>
{% endblock %}
