{% extends 'ideas.njk' %}
{% set pageTitle = 'Hoe werkt het?' %}
{% set contentClass = 'newIdea' %}

{% block content %}
<div id="howDoesItWork">
	<h2>Hoe werkt het?</h2>
	
	<div data-step="1">
		<h1>Jouw Voorstel</h1>
		<p>
			Onze tips voor een goed voorstel:
			<ul>
				<li>Het is voor meerdere bewoners interessant</li>
				<li>Formuleer je voorstel positief</li>
				<li>Wees duidelijk in je uitleg</li>
				<li>Houd het kort en bondig</li>
			</ul>
		</p>
		<p>
			Het idee mag voor je eigen buurt zijn, maar ook voor heel West!
		</p>
	</div>
	
	<div data-step="2">
		<h1>Campagne</h1>
		<p>
			Voer campagne voor je plan en verzamel zoveel mogelijk stemmen om het voorstel
			op de agenda te krijgen van het Algemeen Bestuur. Verzamel tenminste 100 stemmen.
			Je hebt 3 maanden de tijd voor je campagne, daarna kan er niet meer gestemd worden.
		</p>
		
		<p>
			Dit kun je doen door:
			<ul>
				<li>Buurtgenoten uit te nodigen via Facebook of Twitter</li>
				<li>Mails te versturen naar je buurtgenoten</li>
				<li>Deur voor deur langs te gaan</li>
				<li>Een bijeenkomst te organiseren</li>
			</ul>
		</p>
	</div>
	
	<div data-step="3">
		<h1>De Agenda</h1>
		<p>
			Het plan met de meeste stemmen komt op de agenda van het Algemeen Bestuur. Eén keer
			per maand wordt op een vast moment gekeken welk voorstel de meeste stemmen heeft.
		</p>
		<p>
			Heeft jouw voorstel de meeste stemmen? Dan krijg je per email een uitnodiging om je
			voorstel toe te lichten in de vergadering van het Algemeen Bestuur. Daarna neemt het
			bestuur een besluit over het voorstel.
		</p>
		<p>
			Vragen? Check eerst ‘veelgestelde vragen’ en kijk of je antwoord er tussen staat.
			Staat het antwoord op je vraag er niet bij, stuur dan een email naar
			<a href="mailto:{{EMAIL}}">{{EMAIL}}</a>
		</p>
		
		{% if user.isLoggedIn() %}
			<a href="/plan/nieuw?help=0" class="big">Upload een voorstel!</a>
		{% else %}
			<a href="/account/register?ref=/idea/new" class="big">Meld je aan!</a>
		{% endif %}
	</div>
</div>
{% endblock %}