{% macro map( cookieConsent ) %}
	<div id="map">
		{# {% if not cookieConsent %}
		<div class="consent"><div>
			Google Maps gebruikt mogelijk cookies voor analyse- en trackingdoeleinden.
			Deze moet u accepteren om de kaart te kunnen bekijken.
			<a href="/cookies">Meer informatie</a>.<br>
			
			<a href="/accepteer-cookies" class="big">Accepteer cookies</a>
		</div></div>
		{% endif %} #}
	</div>
{% endmacro %}