<div id="mobile-menu" class="visible-xs">
	<a href="#content" class="mobile-menu-item scroll-link">
		<img src="/img/stemtool/mobiel-nav-home.svg" height="20" />Start
	</a>
	<a href="#designs" class="mobile-menu-item scroll-link">
		<img src="/img/kademuren/varianten-icon.svg" height="20" />
		Varianten
	</a>
	<a href="#details" class="mobile-menu-item scroll-link">
		<img src="/img/stemtool/mobiel-nav-info.svg" height="20" />
		Info
	</a>
	<a href="#vote" class="mobile-menu-item scroll-link">
		<img src="/img/stemtool/stars.svg" height="20" />
		Voorkeur
	</a>
	<a href="#arguments" class="mobile-menu-item scroll-link">
		<img src="/img/stemtool/mobiel-nav-argumenten.svg" height="20" />
		Argumenten
	</a>
</div>
