<h2 class="mobile-accordion-opener">Spelregels</h2>

<ul class="checkmark-list">
	<li>
	U kunt vanaf 23 januari t/m 20 februari 2019 hier reageren op het conceptontwerp voor de herinrichting Herengracht 1-103 en aangeven wat u belangrijk vindt voor de inrichting van deze straat.
	</li>
	<li>
	U kunt reageren met uw unieke code. U kunt één keer uw voorkeur doorgeven voor een ontwerpkeuze (A, B, C of D). U kunt met de unieke code onbeperkt inloggen op deze website om reacties te lezen of een reactie te geven.
	</li>
	<li>
	Bewoners van deze adressen hebben per brief een code ontvangen om te kunnen reageren: Herengracht 1 t/m 117 (oneven), Herengracht 2 t/m 100 (even), Blauwburgwal 14 t/m 22 (even), Blauwburgwal 15 t/m 19 (oneven), Brouwersgracht 17 t/m 25, Korsjespoortsteeg 16 t/m 24 (even), Korsjespoortsteeg 17 t/m 21 (oneven) en Roomolenstraat 11 t/m 17 (even en oneven).
	</li>
	<li>
	Bent u het eens met wat anderen over een ontwerpkeuze zeggen? Dat kunt u laten weten door op ‘mee eens’ te klikken bij die reactie.
	</li>
	<li>
	De uitkomsten van deze buurtconsultatie geven een beeld van het draagvlak in de buurt voor de verschillende ontwerpkeuzes. Die worden gebruikt voor de uitwerking van het voorlopig ontwerp. De reacties en argumenten vormen ook een advies van bewoners aan het dagelijks bestuur van stadsdeel Centrum. Het bestuur weegt dit mee in zijn definitieve besluit over het ontwerp voor de herinrichting. Uw reactie op de plannen en inhoudelijke argumenten zijn dus belangrijk.
	</li>
	<li>
		De uitkomsten van deze buurtconsultatie komen begin maart op <a href="https://www.amsterdam.nl/kademuurherengracht" target="_blank"> www.amsterdam.nl/kademuurherengracht </a>
	</li>
	<li>
		Heeft u vragen? Neemt u dan contact op met omgevingsmanager Alex Dingemans, via <a href="mailto:kademuren@amsterdam.nl">kademuren@amsterdam.nl</a>.
	</li>
</ul>

<br />

<a href="https://www.amsterdam.nl/kademuurherengracht" target="black" class="box-grey box-grey-link  margin-hor-xs inline-block">
	Lees meer op amsterdam.nl/kademuurherengracht
</a>
