<h2 class="mobile-accordion-opener">Spelregels</h2>

<ul class="checkmark-list">
	<li>
		Je kunt vanaf 23 januari t/m 20 februari 2019 online reageren op het conceptontwerp voor de herinrichting Herengracht 1-103 en aangeven wat je belangrijk vindt voor de inrichting van deze straat.
	</li>
	<li>
		Je kunt reageren met je unieke code. Je kunt één keer je voorkeur doorgeven voor een ontwerpkeuze. Je kunt me de unieke code onbeperkt inloggen op de website om reacties te lezen of een reactie te geven.
	</li>
	<li>
		Bewoners van de onderstaande adressen hebben per brief een code ontvangen om te kunnen reageren: Herengracht 1 t/m 117 (even en oneven), Blauwburgwal 14 t/m 22 (even en oneven), Brouwersgracht 17 t/m 25, Korsjespoortsteeg 16 t/m 24 (even en oneven) en Roomolenstraat 11 t/m 17 (even en oneven).
	</li>
	<li>
		Ben je het eens met wat anderen over een ontwerp zeggen? Dat kun je laten weten door op ‘mee eens’ te klikken bij die reactie.
	</li>
	<li>
		De uitkomsten van deze buurtconsultatie geven een beeld van het draagvlak in de buurt voor de verschillende ontwerpkeuzes. Die worden gebruikt voor de uitwerking van het voorlopig ontwerp. De reacties en argumenten vormen ook een zwaarwegend advies van bewoners aan het dagelijks bestuur van stadsdeel Centrum. Het bestuur weegt dit mee in zijn definitieve besluit over het ontwerp voor de herinrichting. Uw reactie op de plannen en inhoudelijke argumenten zijn dus belangrijk.
	</li>
	<li>
		De uitkomsten van deze buurtconsultatie komen begin maart op <a href="https://www.amsterdam.nl/kademuurherengracht" target="_blank"> www.amsterdam.nl/kademuurherengracht </a>
	</li>
	<li>
		De stemtool wordt gefaciliteerd door gemeente Amsterdam.
	</li>
	<li>
		Heeft u vragen? Neemt u dan contact op met omgevingsmanager Alex Dingemans, via <a href="mailto:kademuren@amsterdam.nl">kademuren@amsterdam.nl</a>.
	</li>
</ul>

<br />

<a href="https://www.amsterdam.nl/kademuurherengracht" target="black" class="box-grey box-grey-link  margin-hor-xs inline-block">
	Lees meer op amsterdam.nl/kademuurherengracht
</a>
