@column-width: 220px;
@margin: 20px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

idea-widget {
	display: block;
	position: relative;
	width: ( 4 * @column-width + 3 * @margin );
	margin-bottom: @margin;

	idea {
		display: block;
		position: relative;
		width: ( 4 * @column-width + 3 * @margin );

		idea-image {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			width: ( 3 * @column-width + 2 * @margin );
			height: ( ( 3 * @column-width + 2 * @margin ) * 0.5625 ); /* 16:9 Aspect Ratio */
			overflow: hidden;
			background-color: #e7e7e7;
			background-position: center;
			background-size: cover;
		}

		idea-controls {
			display: block;
			position: absolute;
			top: 0;
			left: ( 3 * @column-width + 2 * @margin );
			width: ( @column-width + @margin );
			height: ( ( 3 * @column-width + 2 * @margin ) * 0.5625 ); /* 16:9 Aspect Ratio */

			.number-button {
				margin: 0 0 8px 8px;
			}

			idea-votes-for-button::before, idea-votes-against-button::before {
				display: block;
				box-sizing: border-box;
				height: 43px;
				width: ( @column-width + @margin - 130px );
				padding: 0 0 0 37px;
				font-size: 18px;
				line-height: 43px;
				text-align: center;
				color: white;
				background-repeat: no-repeat;
				background-size: auto 28px;
				background-position: center left 8px;
				background-color: #164995;
				cursor: pointer;
			}

			idea-votes-for-button::before {
				content: 'voor';
				background-image: url('/img/thumbsup_white.svg');
			}

			idea-votes-for-button.selected::before {
				background-color: #bdd131;
			}

			idea-votes-against-button::before {
				content: 'tegen';
				background-image: url('/img/thumbsdown_white.svg');
			}

			idea-votes-against-button.selected::before {
				background-color: #ea1d25;
			}

		}

		idea-title {
			display: block;
			font-size: 18px;
			font-weight: bold;
			margin-top: @margin;
			margin-bottom: 5px;
		}

		idea-summary {
			display: block;
		}

	}

}

ideas-widget {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	
	idea {
		display: block;
		overflow: hidden;
		position: relative;
		margin: 0 @margin 0 0;
		padding: 0;
		width: calc(25% - @margin);
		vertical-align: top;
		cursor: pointer;

		a {
			color: black;
			text-decoration: none;
		}

		idea-image {
			display: block;
			position: relative;
			padding-top: 56.25%; /* 16:9 Aspect Ratio */
			overflow: hidden;
			background-color: #e7e7e7;
			margin-top: @margin;

			div {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				background-position: center;
				background-size: cover;
			}
			
		}

		idea-title {
			display: block;
			font-weight: bold;
			margin-top: 8px;
			margin-bottom: 5px;
		}

		idea-summary {
			display: block;
		}

	}

}
