<li>Bewoners, ondernemers uit Nieuw-West en bezoekers van het gebied mogen een naam voor het gebied insturen.</li>
<li>Een jury toetst of de inzendingen aan bepaalde criteria voldoen. De haalbare namen worden teruggeplaatst op deze site.</li>
<li>Bewoners, ondernemers en bezoekers kunnen daarna op deze site stemmen op hun favoriete naam voor het gebied.</li>
<li>De inzender van de naam met de meeste stemmen wint de publieksprijs t.w.v. €100. De jury looft ook een prijs uit voor de meest originele naam t.w.v. €50. De winnaar wordt op deze site bekend gemaakt.</li>
<li>De naam met de meeste stemmen wordt voorgedragen als officiële gebiedsnaam van het centrum van Nieuw-West. Als het college van Burgemeester & Wethouders akkoord gaat met de naam, zal de naam te zien zijn op verkeersborden naar het gebied en op banners en vlaggen in het winkelcentrum en andere communicatie uitingen in het gebied.</li>
<li>De gemeente wil met de naamwedstrijd iedereen met hart voor Nieuw-West vragen om mee te denken over een passende naam voor het centrumgebied.</li>
