<li>De naam moet iets zeggen over Osdorp en/of de ligging van het centrumgebied.</li>
<li>De naam moet iets zeggen over de groeiende centrumfunctie die het gebied heeft op Nieuw-West.</li>
<li>De naam moet Nederlands zijn.</li>
<li>De naam mag in schrijfwijze of klank niet teveel lijken op reeds bestaande namen in de stad.</li>
<li>Het gebruik van het woord ‘centrum’ in de naam heeft niet de voorkeur omdat dit verwarring oplevert met het centrum van Amsterdam.</li>
<li>De naam moet goed uitspreekbaar en niet te moeilijk te schrijven zijn.</li>
<li>De naam mag geen commerciële uiting of merknaam bevatten.</li>
<li>Bij verwijzingen naar historische zaken wordt de huidige spelling gebruikt.</li>
<li>De gebiedsnaam mag maximaal 19 karakters (incl. spaties) bevatten.</li>
<li>Er dient enige logica in de naam te zitten zodat de naam geografisch herkenbaar is.</li>
<li>Inzenden kan tot en met 30 augustus 2019. Veel succes!</li>