<div id="mobile-menu" class="visible-xs">
	<a href="#content" class="mobile-menu-item scroll-link"><img src="/img/kareldoorman/mob-nav-icon-start.svg" height="20" />Start</a>
	<a href="#designs" class="mobile-menu-item scroll-link">
		<img src="/img/kareldoorman/icon-potlood.svg" height="22" />
		Ontwerpen
	</a>
	<a href="#details" class="mobile-menu-item scroll-link">
		<img src="/img/kareldoorman/mob-nav-icon-info.svg" height="22" />
		Info
	</a>
	<a href="#vote" class="mobile-menu-item scroll-link">
		<img src="/img/kareldoorman/mobile-nav-icon-sterren.svg" height="22" />
		Stem
	</a>
	<a href="#arguments" class="mobile-menu-item scroll-link">
		<img src="/img/kareldoorman/mobiel-nav-argumenten.svg" height="22" />
		Reacties
	</a>
</div>
