<h2 class="mobile-accordion-opener">Hoe werkt het?</h2>

<ul class="checkmark-list">
	<li>Alle bewoners uit stadsdeel West mogen op de ontwerpen stemmen.
	<li>Je kunt op je favoriete ontwerp stemmen door het opgeven van je postcode.
	<li>Het ontwerp met de meeste stemmen zal op de muur worden geschilderd.
	<li>De uitslag wordt op woensdag 20 juni voor 17.00 uur bekend gemaakt op <a href="http://www.amsterdam.nl/kareldoorman" target="_blank">amsterdam.nl/kareldoorman</a>.
	<li>Vragen kunnen via <a href="http://www.mutantes.land/kdp.html" target="_blank">de website van de kunstenaar</a> worden ingediend.
</ul>