<h2 class="mobile-accordion-opener">Hoe werkt het?</h2>

<ul class="checkmark-list">
	<li>Alle bewoners uit stadsdeel West mogen op de ontwerpen stemmen. </li>
	<li>Je kunt online op je favoriete ontwerp stemmen door het opgeven van je postcode. </li>
	<li>Tijdens het buurtfeest op zaterdag 7 juli en op donderdag 19 juli op het schoolplein bij het schoolfeest kan er ook offline gestemd worden op de ontwerpen.</li>
	<li>Het ontwerp met de meeste stemmen zal op de muur worden geschilderd. </li>
	<li>De uitslag wordt op vrijdag 20 juli voor 17:00 uur bekend gemaakt op <a href="http://www.amsterdam.nl/kareldoorman" target="_blank">amsterdam.nl/kareldoorman</a>. </li>
	<li>Vragen kunnen via de <a href="http://www.mutantes.land/kdp.html" target="_blank">de website van de kunstenaar</a> worden ingediend.</li>
</ul>
