.arguments-cta-box {
  max-width: 480px;
  margin: 40px auto 15px;
  color: black;
  font-weight: bold;

  .box-grey {
    padding: 20px;
  }

  .speech-balloon {
    margin-left: 10px;
  }

  .speech-balloon h3 {
    text-align: center;
    font-size: 19px;
  }

  .arguments-icon {
    width: 68px;
    margin-top: 15px;
  }

  .input-field {
    max-width: 200px;
    border: 1px solid black;
  }

  .textarea {
    width: 100%;
    border: 1px solid black;
    font-size: 22px;
    padding: 8px 15px;
    height: 50px;
  }

  .charsLeft {
    display: none;
  }
}
