/**
 * for now here, still looking through how less is structured
 */
.content-section {
	padding: 30px 0;
}

.col-container {
  margin: 0 -20px;
}

.col-4 {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;
	margin: 20px;
	width: calc(100% * 1 / 4 - 40px);
}

.margin-hor-m {
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin-hor-s {
	margin-top: 15px;
	margin-bottom: 15px;
}

.margin-hor-xs {
	margin-top: 5px;
	margin-bottom: 5px;
}

.margin-bottom-m {
	margin-bottom: 30px;
}

.margin-bottom-s {
	margin-bottom: 15px;
}

.margin-top-0 {
	margin-top: 0;
}

.margin-hor-xs {
	margin-bottom: 5px;
}

.margin-ver-s {
	margin-right: 15px;
	margin-left: 15px;
}

.margin-ver-xs {
	margin-right: 5px;
	margin-left: 5px;
}

.margin-ver-0 {
	margin-right: 0;
	margin-left: 0;
}

.check {
	width: 30px;
	height: 30px;
}
