{% macro numberPlate(count) %}
{% set char = ('000' + count).slice(-3) %}
<span class="margin-right-s">
  <span class="number-plate"> {{char[0]}} </span>
  <span class="number-plate"> {{char[1]}} </span>
  <span class="number-plate"> {{char[2]}} </span>
</span>
{% endmacro %}