<h2 class="mobile-accordion-opener">Hoe werkt het?</h2>

<ul class="checkmark-list">
	<li>Regel 1
	<li>Regel 2
	<li>Bekendmaking uitslag
	<li>Vragen via <a href="mailto:">email</a>
</ul>

<br />

<a href="{{GLOBALS.projectPage}}" target="black" class="box-grey box-grey-link  margin-hor-xs inline-block">
	Lees meer over dit project op amsterdam.nl
</a>