{% if can('idea:admin') %}
<a href="/plan/{{idea.id}}/votes" class="votes btn block margin-bottom-sm">
	Inzendingen overzicht
</a>
{% endif %}

{% include 'includes/secondary/speech-bubble.njk' %}

<a href="#vote" class="margin-bottom-xs scroll-link block no-decoration" >
	<span class="box-blue block">
		{{numberPlate(poll.totalVoteCount)}}
		Reacties
	</span>
</a>

<a href="#arguments" class="margin-bottom-sm scroll-link block no-decoration">
	<span class="box-blue block">
		{{numberPlate(idea.argCount)}}
		Argumenten
	</span>
</a>

<a href="#vote" class="box-grey-img scroll-link margin-bottom-sm">
	<img src="/img/stemtool/stars.svg" />
	Reageer ook!
</a>

<a href="#arguments" class="box-grey-img scroll-link margin-bottom-sm">
	<img src="/img/stemtool/comments.svg" />
	Lees argumenten
</a>

<a href="{{GLOBALS.projectPage}}" class="box-grey-img margin-bottom-sm" target="_blank">
	<img src="/img/stemtool/info.svg" />
	Lees meer op amsterdam.nl
</a>
