{% macro howblock(openOrClosed) %}
	<div id="howDoesItWorkTurkish" class="{{openOrClosed}}">
		<a id="howDoesItWorkButton" href="javascript: (function() { console.log('x'); document.getElementById('howDoesItWorkTurkish').className = document.getElementById('howDoesItWorkTurkish').className == 'open' ? 'closed' : 'open'; })()" style="outline: 0;">Bilmeniz ve yapmaniz gerekenler!<img id="arrow" src="/img/arrow_down_black.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/></a>
		<div class="pageContent">
			<div class="steps">
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-1.svg" />
					<div class="step-header">1. Slotermeermeer Noordoost’un 3 tema’sini bakin</div>
					<div class="step-text">
						Stadsdeel West, Slotermeer Noordoost yeni bir pilot başlatıyor. Slotermeer Noordoost sakinleri ve girişimcileri €500.000 olan bütçeyi nasıl harcayacaklarını kendileri belirleyecekler. Aradiğmiz fikilerler themalara bağlı olmali: birlikte birşeyler yapmak; kültür ve firsatlar yaratmak; güvenli ve yeşil bir semt.
						{# {% if (config.ideas.addNewIdeas != 'closed') %}
							<ul>
								<li><a href="/inspiratie">Lees meer over de thema's</a></li>
							</ul>
						{% else %}
							<ul>
								<li><a href="/inspiratie">Lees meer over de thema's</a></li>
							</ul>
						{% endif %} #}
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-2.svg" />
					<div class="step-header">2. Planinizi gönderin ve kampanyaniza başlayin</div>
					<div class="step-text">
						Herkes bir plan sunabilir. Planınız için kampanya yapın ve en az 30 olumlu beğeni kazanmaya çalışın. Diğer kişiler planınıza beğeniler ve yeni reaksiyon ve argümanlar gönderebilir.
						{# {% if (config.ideas.addNewIdeas != 'closed') %}
							<ul>
								<li><a href="/plan/nieuw">Stuur je plan in</a></li>
							</ul>
						{% endif %} #}
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-3.svg" />
					<div class="step-header">3. Belediye tarafından yapilabilinir ve uygulanabilir kontrolu</div>
					<div class="step-text">
						Eger planınız en az 30 beğeni toplamıs ise, Nieuw-West belediyesi uygulanabilir olup olmadığını kontrol edecektir. Uygulanabilir olup olmadığını kontrol ediltikten sonra Stadsdeelcommissie ve Slotermeer Noordoost sakinleri en iyi 40 planı seçecek.
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-4.svg" />
					<div class="step-header">4. 500.000 euroyu planlara bölün veya paylaştirin.</div>
					<div class="step-text">
						Slotermeer Noordoost sakinleri ve girişimcileri bütçenin nasıl harcanacağını ve paylaşılacağını ve dolaysıyla bu şekilde hangi planın uygulanacağına karar veriyor.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
