{% macro howblock(openOrClosed) %}
	<div id="howDoesItWorkArabic" class="{{openOrClosed}}" style="direction: rtl">
		<a id="howDoesItWorkButton" href="javascript: (function() { console.log('x'); document.getElementById('howDoesItWorkArabic').className = document.getElementById('howDoesItWorkArabic').className == 'open' ? 'closed' : 'open'; })()" style="outline: 0;">كيفية المشاركة؟<img id="arrow" src="/img/arrow_down_black.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/></a>
		<div class="pageContent">
			<div class="steps">
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-1.svg" />
					<div class="step-header">1. قم بالإطلاع على المواضيع الثلاثة لمشروع Slotermeer Noordoost</div>
					<div class="step-text">
					تبدأ منطقة Nieuw-West بتجربة يحدد فيها سكان ورجال أعمال Slotermeer Noordoost بأنفسهم كيفية إنفاق مبلغ 500000 يورو. نحن نبحث عن أفكار متعلقة بتطوير المواهب والتعرّف على الجيران، الثقافة والأنشطة المختلفة، المحيطات الخضراء الآمنة.
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-2.svg" />
					<div class="step-header">2. قم بتقديم خطتك و ابدأ حملة لذلك</div>
					<div class="step-text">
						يمكن للجميع تقديم خطة.  قم بحملة لخطتك وتأكد من حصولك على ما لا يقل عن 30 إعجابًا إيجابيًا.  يمكن للآخرين نشر الإعجابات والإقتراحات و الحجج مع خطتك.
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-3.svg" />
					<div class="step-header">3. التحقق من جدوى خطتك و فاعليتها من قبل البلدية</div>
					<div class="step-text">
						إذا كانت خطتك تحتوي على 30 إعجابًا على الأقل ، فستفحص منطقة Nieuw-West ما إذا كان ذلك ممكنًا أم لا.  بعد التحقق من الجدوى ، يختار مجلس المقاطعة أفضل 40 خطة مع سكان Slotermeer Noordoost.
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-4.svg" />
					<div class="step-header">4. ساهم في تقسيم 500000 يورو بين الخطط.</div>
					<div class="step-text">
						سكان ورجال الأعمال في حي Slotermeer Noordoost سيساهمون في توزيع و تقسيم ميزانية المشروع ، وبالتالي تحديد الخطط التي يتم تنفيذها.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
