{% macro howblock(openOrClosed) %}
	<div id="howDoesItWork" class="{{openOrClosed}}">
		<a id="howDoesItWorkButton" href="javascript: (function() { console.log('x'); document.getElementById('howDoesItWork').className = document.getElementById('howDoesItWork').className == 'open' ? 'closed' : 'open'; })()" style="outline: 0;">Hoe werkt het? <img id="arrow" src="/img/arrow_down_black.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/></a>
		<div class="pageContent">
			<div class="steps">
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-1.svg" />
					<div class="step-header">1. Bekijk de 3 thema’s voor Slotermeer Noordoost</div>
					<div class="step-text">
						Stadsdeel Nieuw-West start met een pilot waarbij bewoners en ondernemers van Slotermeer Noordoost zélf bepalen waar zij €500.000 aan uitgeven. 
						{% if (config.ideas.addNewIdeas != 'closed') %}
							<ul>
								<li><a href="/inspiratie">Lees meer over de thema's</a></li>
							</ul>
						{% else %}
							<ul>
								<li><a href="/inspiratie">Lees meer over de thema's</a></li>
							</ul>
						{% endif %}
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-2.svg" />
					<div class="step-header">2. Stuur uw plan in en voer campagne</div>
					<div class="step-text">
						Iedereen mag een plan insturen. Voer campagne voor uw plan en zorg dat u in elk geval 30 positieve likes haalt. Anderen kunnen likes én argumenten plaatsen bij uw plan. 
						{% if (config.ideas.addNewIdeas != 'closed') %}
							<ul>
								<li><a href="/plan/nieuw">Stuur uw plan in</a></li>
							</ul>
						{% endif %}
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-3.svg" />
					<div class="step-header">3. Haalbaarheidscheck door gemeente</div>
					<div class="step-text">
						Heeft uw plan minimaal 30 likes, dan toetst stadsdeel Nieuw-West of het haalbaar is. Na de haalbaarheidscheck selecteert de stadsdeelcommissie samen met bewoners van Slotermeer Noordoost de 40 beste plannen.
						<ul>
							<li><a href="/plan/nieuw">Hoe toets het stadsdeel de plannen?</a></li>
							<li><a href="/veelgestelde-vragen#faq-wat-gebeurt-er">Wat gebeurt er na de indien periode?</a></li>
						</ul>
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-4.svg" />
					<div class="step-header">4. Verdeel € 500.000 over de plannen</div>
					<div class="step-text">
						Bewoners en ondernemers van Slotermeer Noordoost verdelen het geld en bepalen zo welke plannen uitgevoerd worden. In oktober krijgen ze een stempas in de bus waarmee ze op hun favoriete plannen kunnen stemmen.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
