{% macro howblock(openOrClosed) %}
	<div id="howDoesItWorkTurkish" class="{{openOrClosed}}">
		<a id="howDoesItWorkButton" href="javascript: (function() { console.log('x'); document.getElementById('howDoesItWorkTurkish').className = document.getElementById('howDoesItWorkTurkish').className == 'open' ? 'closed' : 'open'; })()" style="outline: 0;">Bilmeniz ve yapmaniz gerekenler!<img id="arrow" src="/img/arrow_down_black.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/></a>
		<div class="pageContent">
			<div class="steps">
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-1.svg" />
					<div class="step-header">1. Slotermeer Noordoost’un 3 ana basligini lutfen inceleyin.</div>
					<div class="step-text">
						Stadsdeel West ve Slotermeer Noordoost yeni bir pilot proje başlatıyor. Slotermeer Noordoost sakinleri ve girişimcileri €500.000 olan bütçeyi nasıl harcayacaklarını kendileri belirleyecekler. Ihtiyac duyulan yaratici fikilerler asagidaki  konularla  iliskili olmali:
						<ul>
							<li>Birlikte hareket etmek ve birlikte calismak!</li>
							<li>Butun kültürler icin esit firsatlar yaratmak!</li>
							<li>Güvenli ve yeşil bir semt olusturmak!</li>
						</ul>
 						{# birlikte birşeyler yapmak; kültür ve firsatlar yaratmak; güvenli ve yeşil bir semt. #}
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-2.svg" />
					<div class="step-header">2. Planinizi gönderin ve kampayaya katilin.</div>
					<div class="step-text">
						Puanlama sistemi; Planınız için kampanya yapın ve en az 30 olumlu beğeni kazanmaya çalışın. Semt sakinleri planınıza beğeniler, elestiriler yeni reaksiyon ve cesitli degerlendirmeler gönderebilir.
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-3.svg" />
					<div class="step-header">3. planiniz gerekli begeniyi toplar ve belediye tarafindan uygulanabilirligi varsa degerlendirmeye alinacaktir.</div>
					<div class="step-text">
						Eger planınız en az 30 beğeni toplamıssa Nieuw-West belediyesi uygulanabilir olup olmadığını kontrol edecektir. Belediye Komisyonu ve Slotermeer Noordoost sakinleri, belediyenin uygulanabilir buldugu en iyi 40 planı seçecek. 
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-4.svg" />
					<div class="step-header">4. Ve 500,000 euroyu planlara gore paylastiracaktir.</div>
					<div class="step-text">
						Slotermeer Noordoost sakinleri ve girişimcileri bütçenin nasıl harcanacağını, paylaşılacağını ve dolaysıyla bu şekilde hangi planın uygulanacağına kendeleri karar vereceklerdir.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
