{% macro howblock(openOrClosed) %}
	<div id="howDoesItWork" class="{{openOrClosed}}">
		<a id="howDoesItWorkButton" href="javascript: (function() { console.log('x'); document.getElementById('howDoesItWork').className = document.getElementById('howDoesItWork').className == 'open' ? 'closed' : 'open'; })()" style="outline: 0;">Hoe werkt het? <img id="arrow" src="/img/arrow_down_black.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/></a>
		<div class="pageContent">
			<div class="steps">
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-1.svg" />
					<div class="step-header">1. Bekijk de inspiratieprojecten</div>
					<div class="step-text">
						Stadsdeel Centrum stelt € 200.000 beschikbaar voor projecten die de binnenstad leefbaar houden en de verbinding tussen buurtgenoten versterken. Bekijk hier naar welke soort plannen het stadsdeel op zoek is.
						{% if (config.ideas.addNewIdeas != 'closed') %}
							<ul>
								<li><a href="/inspiratie">Inspiratie nodig?</a></li>
							</ul>
						{% else %}
							<ul>
								<li><a href="/inspiratie">Bekijk de inspiratie projecten</a></li>
							</ul>
						{% endif %}
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-2.svg" />
					<div class="step-header">2. Stuur je plan in en voer campagne</div>
					<div class="step-text">
						Iedereen mag een plan insturen. Voer in stadsdeel Centrum campagne voor je plan en zorg dat je plan in elk geval 50 likes krijgt. Anderen kunnen stemmen én argumenten plaatsen bij je plan.
						{% if (config.ideas.addNewIdeas != 'closed') %}
							<ul>
								<li><a href="/plan/nieuw">Stuur je plan in</a></li>
							</ul>
						{% endif %}
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-3.svg" />
					<div class="step-header">3. Haalbaarheidscheck door gemeente</div>
					<div class="step-text">
						Heeft je plan minimaal 50 voor-stemmen, dan toetst stadsdeel Centrum of het uitvoerbaar is. Uit alle haalbare plannen selecteert de stadsdeelcommissie de plannen die doorgaan naar de stemronde.
					</div>
				</div>
				<div class="step">
					<img class="step-image" src="/img/centrumbegroot/howto-4.svg" />
					<div class="step-header">4. Verdeel € 200.000 over de plannen</div>
					<div class="step-text">
						In de laatste ronde verdelen bewoners van Centrum het geld en bepalen zo welke plannen uitgevoerd worden.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
