{% macro mobileMenu() %}
	<div id="mobile-menu" class="visible-xs">
		<a href="/#top" class="mobile-menu-item scroll-link"{% if (config.ideas.addNewIdeas == 'closed') %} style="width: 25%"{% endif %}>
			<img src="/img/westbegroot/mobiel-nav-home.svg" height="20" />
			Start
		</a>
		<a href="/#info" class="mobile-menu-item scroll-link"{% if (config.ideas.addNewIdeas == 'closed') %} style="width: 25%"{% endif %}>
			<img src="/img/westbegroot/mobiel-nav-info.svg" height="20" />
			Info
		</a>
		<a href="/about" class="mobile-menu-item scroll-link"{% if (config.ideas.addNewIdeas == 'closed') %} style="width: 25%"{% endif %}>
			<img src="/img/westbegroot/mobiel-nav-sterren.svg" height="20" />
			Inspiratie
		</a>
		<a href="/plannen" class="mobile-menu-item scroll-link"{% if (config.ideas.addNewIdeas == 'closed') %} style="width: 25%"{% endif %}>
			<img src="/img/westbegroot/mobiel-nav-flag.svg" height="22" />
			Plannen
		</a>
		{% if (config.ideas.addNewIdeas != 'closed') %}
			<a href="/plan/new" class="mobile-menu-item scroll-link">
				<img src="/img/westbegroot/mobiel-nav-send.svg" style="height: 39px; margin: -8px auto -8px auto;" />
				Stuur in
			</a>
		{% endif %}
	</div>
{% endmacro %}

