{% macro officehours(language) %}

{% if language == 'english' %}
<ul>
    <li>Mondays (June 17th, 24th & July 1st, 8th) from 13.00-13.30 @ Wijkkantoor de Alliantie - Slotermeerlaan 150</li>
    <li>Wednesdays (June 19th, 26th & July 3rd) from 17:00-19:00 @ Tuinstadhuis - Plein '40-'45 1</li>
    <li>Thursdays (June 13th, 20th, 27th & July 4th) from 14.00-15.30 @ Dobbepunt - Burgemeester de Vlugtlaan 43</li>
    <li>Thursday June 13th from 12.00-15.00 @ Westside - Burgemeester de Vlugtlaan 125</li>
</ul>
{% elif language == 'turkish' %}
<ul>
    <li>Pazartesi: 13.00-13.30 - 17, 24 juni & 1,8 juli @ Wijkkantoor de Alliantie - Slotermeerlaan 150</li>
    <li>Çarşamba: 17:00-19:00 - 19, 26 juni & 3 juli @ Tuinstadhuis - Plein '40-'45 1</li>
    <li>Perşembe: 14.00-15.30 - 13, 20, 27 juni & 4 juli @ Dobbepunt - Burgemeester de Vlugtlaan 43</li>
    <li>Perşembe: 12.00-15.00 - 13 juni @ Westside - Burgemeester de Vlugtlaan 125</li>
</ul>
{% elif language == 'arabic' %}
<ul>
    <li>[TODO translate arabic:]</li>
    <li>Maandagen (17, 24 juni & 1, 8 juli) van 13.00-13.30 @ Wijkkantoor de Alliantie - Slotermeerlaan 150</li>
    <li>Wednesdays (June 19th, 26th & July 3rd) from 17:00-19:00 @ Tuinstadhuis - Plein '40-'45 1</li>
    <li>Donderdagen (13, 20, 27 juni & 4 juli) van 14.00-15.30 @ Dobbepunt - Burgemeester de Vlugtlaan 43</li>
    <li>Donderdag 13 juni van 12.00-15.00 @ Westside - Burgemeester de Vlugtlaan 125</li>
</ul>
{% else %}
<ul>
    <li>Maandagen (17, 24 juni & 1, 8 juli) van 13.00-13.30 @ Wijkkantoor de Alliantie - Slotermeerlaan 150</li>
    <li>Woensdagen (19, 26 juni & 3 juli) van 17:00-19:00 @ Tuinstadhuis - Plein '40-'45 1</li>
    <li>Donderdagen (13, 20, 27 juni & 4 juli) van 14.00-15.30 @ Dobbepunt - Burgemeester de Vlugtlaan 43</li>
    <li>Donderdag 13 juni van 12.00-15.00 @ Westside - Burgemeester de Vlugtlaan 125</li>
</ul>
{% endif %}

{% endmacro %}