{% macro officehours(language) %}

{% if language == 'english' %}
<ul>
    {# <li>Mondays (June 17th, 24th & July 1st, 8th) from 13.00-13.30 @ Wijkkantoor de Alliantie - Slotermeerlaan 150</li>
    <li>Wednesdays (June 19th, 26th & July 3rd) from 17:00-19:00 @ Tuinstadhuis - Plein '40-'45 1</li>
    <li>Thursdays (June 13th, 20th, 27th & July 4th) from 14.00-15.30 @ Dobbepunt - Burgemeester de Vlugtlaan 43</li>
    <li>Thursday June 13th from 12.00-15.00 @ Westside - Burgemeester de Vlugtlaan 125</li> #}
    <li>Wijkkantoor de Alliantie, address: Slotermeerlaan 150, time: 13.00-13.30 h on Mondays June 17th, 24th & July 1st, 8th</li>
    <li>Tuinstadhuis, address: Plein '40-'45 1, time: 17:00-19:00 h on Wednesdays June 19th, 26th & July 3rd</li>
    <li>Dobbepunt, address: Burgemeester de Vlugtlaan 43, time: 14.00-15.30 h on Thursdays June 13th, 20th, 27th & July 4th</li>
    <li>Westside, address: Burgemeester de Vlugtlaan 125, time: 12.00-15.00 h on Thursday June 13th</li>
</ul>
{% elif language == 'turkish' %}
<ul>
    <li>Pazartesi: 13.00-13.30 - 17, 24 Haziran & 1,8 Temmuz @ Wijkkantoor de Alliantie - Slotermeerlaan 150</li>
    <li>Çarşamba: 17:00-19:00 - 19, 26 Haziran & 3 Temmuz @ Tuinstadhuis - Plein '40-'45 1</li>
    <li>Perşembe: 14.00-15.30 - 13, 20, 27 Haziran & 4 Temmuz @ Dobbepunt - Burgemeester de Vlugtlaan 43</li>
    <li>Perşembe: 12.00-15.00 - 13 Haziran @ Westside - Burgemeester de Vlugtlaan 125</li>
</ul>
{% elif language == 'arabic' %}
<ul>
    <li>أيام الاثنين (١٧ و٢٤ يونيو ثم ١ و٨ يوليو) من الساعة الواحدة حتى الواحد ونصف ظهرًا (١٣:٠٠ حتى ١٣:٣٠) في Wijkkantoor de Alliantie – Slotermeerlaan 150</li>
    <li>أيام الأربعاء (١٩ و٢٦ يونيو ثم ٣ يوليو) من الساعة الخامسة حتى الساعة السابعة مساءً (١٧:٠٠ حتى ١٩:٠٠) في Tuinstadhuis – Plein 40-45 1</li>
    <li>أيام الخميس (١٣ و٢٠ و٢٧ يونيو ثم ٤ يوليو) من الساعة الثانية حتى الساعة الثالثة ونصف مساءً (١٤:٠٠ حتى ١٥:٣٠) في Dobbepunt – Burgemeester de Vlugtlaan 43</li>
    <li>الخميس ١٣ يونيو من الساعة الثانية عشر حتى الساعة الثالثة ظهرًا (١٢:٠٠ حتى ١٥:٠٠) في Westside – Burgmeester de Vlugtlaan 125</li>
</ul>
{% else %}
<ul>
    {# <li>Maandagen (17, 24 juni & 1, 8 juli) van 13.00-13.30 @ Wijkkantoor de Alliantie - Slotermeerlaan 150</li>
    <li>Woensdagen (19, 26 juni & 3 juli) van 17:00-19:00 @ Tuinstadhuis - Plein '40-'45 1</li>
    <li>Donderdagen (13, 20, 27 juni & 4 juli) van 14.00-15.30 @ Dobbepunt - Burgemeester de Vlugtlaan 43</li>
    <li>Donderdag 13 juni van 12.00-15.00 @ Westside - Burgemeester de Vlugtlaan 125</li> #}
    <li>Wijkkantoor de Alliantie, adres: Slotermeerlaan 150, tijdstip: 13.00-13.30 u op maandagen 17, 24 juni & 1, 8 juli</li>
    <li>Tuinstadhuis, adres: Plein '40-'45 1, tijdstip: 17:00-19:00 u op woensdagen 19, 26 juni & 3 juli</li>
    <li>Dobbepunt, adres: Burgemeester de Vlugtlaan 43, tijdstip: 14.00-15.30 op donderdagen 13, 20, 27 juni & 4 juli</li>
    <li>Westside, adres: Burgemeester de Vlugtlaan 125, tijdstip: 12.00-15.00 op donderdag 13 juni</li>
</ul>
{% endif %}

{% endmacro %}