{% macro watgebeurderalinnieuwwest(backgroundColor) %}
	<div id="inspiration" {% if backgroundColor %}style="background-color: {{backgroundColor}}"{% endif %}>
		<div class="pageContent">
			<h2>Wat gebeurt er al in Slotermeer Noordoost?</h2>
			<div id="inspiration-columns">

				<div class="inspiration-column">
					<h3>Thema: Samen dingen doen</h3>
					<div id="inspiration-block-container-1" class="inspiration-block-container">
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/geluksdisco.PNG)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Geluksdisco</h4>
							De Geluksdisco is een initiatief dat in 2013 is opgezet in Broedplaats de Vlugt. Iedereen is er welkom om te dansen, elkaar te leren kennen en plezier te hebben. Tussendoor zijn er optredens van buurtmuzikanten en lokale talenten. Bewoners kunnen voor 1 euro entree de hele avond feesten. Tijdens de avond zijn er gratis hapjes te krijgen die de buurtkoks maken. De Geluksdisco vindt elke twee maanden plaats in Westside Slotermeer.
							<ul>
								<li><a href="https://www.facebook.com/Geluksdisco/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/Sprekerskistje.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Sprekerskistje</h4>
							Sinds een aantal jaren organiseert een buurtbewoonster samen met twee vaste assistenten het Sprekerskistje dat zij op Plein '40-'45 plaatsen. Sprekers kunnen op het kistje gaan staan en vertellen wat hun op het hart ligt. Zo leren allerlei mensen elkaar kennen, beter begrijpen en waarderen. Een grappig weetje: het Sprekerskistje is geïnspireerd op André Hazes, die op de Albert Cuypmarkt op een sinaasappelkistje begon met zingen.
							{# <ul>
								<li><a href="#TODO" target="_blank">Lees meer</a></li>
							</ul> #}
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/buurtcamping.PNG)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Buurtcamping Slotermeer</h4>
							Buurtcamping Slotermeer is een minivakantie in uw eigen buurt! Jaarlijks komen honderden buurtbewoners samen op het grasveld aan de Burgemeester Vening Meineszlaan, tussen de Burgemeester Fockstraat en de Harry Koningsbergerstraat. Een nachtje samen kamperen, spelen, eten, dansen en elkaar leren kennen!
							<ul>
								<li><a href="https://www.facebook.com/buurtcampingslotermeer/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="inspiration-column">
					<h3>Thema: Cultuur & kansen creëren</h3>
					<div id="inspiration-block-container-2" class="inspiration-block-container">
						<div class="inspiration-block">
							<div ="image-container" class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/studiezalen.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Studiezalen</h4>
							Bij het project Studiezalen in het Amsterdam Nieuw-West krijgen kinderen kosteloos huiswerkbegeleiding in de buurt. Studiezalen biedt jongeren de kans om in een rustige omgeving huiswerk te maken en biedt begeleiding waar nodig. Ook wordt er gekeken naar de individuele behoeftes van de kinderen om ze verder op weg te helpen.
							<ul>
								<li><a href="https://www.studiezalen.com/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/SAMA.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Street Art Museum Amsterdam</h4>
							Het Street Art Museum is een non-profit organisatie in Nieuw-West. Het museum bestaat uit meer dan 200 unieke street art kunstwerken verspreid door heel Amsterdam, waaronder ook in Slotermeer-Noordoost. Deze kunstwerken maken straten niet alleen mooier maar inspireren conversatie en zetten Nieuw-West op de kaart.
							<ul>
								<li><a href="https://www.streetartmuseumamsterdam.com/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="inspiration-column">
					<h3>Thema: Veilige, groene & prettige buurt</h3>
					<div id="inspiration-block-container-3" class="inspiration-block-container">
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/vickysvolkstuin_def.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Hanno Kleintuin/Vicky’s Volkstuin</h4>
							Naast de schooltuin Ridderbos vindt u de Hanno Kleintuin, bij de herstart Vicky's Tuin genoemd naar de initiatiefneemster. Bewoners uit Slotermeer die moeilijk ter been zijn kunnen tuinieren aan tafels waardoor ze niet hoeven te hurken of bukken. Dankzij dit initiatief kunnen bewoners in een rolstoel of scootmobiel of met een rollator ook in een buurtmoestuin lekker aan het werk. Samen actief zijn in de buitenlucht is niet alleen goed voor ieders gezondheid maar schept ook een band voor een groep van zo'n 15 omwonenden. 
							{# <ul>
								<li><a href="#TODO" target="_blank">Lees meer</a></li>
							</ul> #}
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/prikgroep.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Prikgroep bewoners</h4>
							In de Anton Struikbuurt komt een groep bewoners elke maand samen om de buurt schoon te prikken. Ze lopen door de buurt om zwerfafval te prikken en knappen zo de buurt op. Naast een schone buurt en een goed gevoel levert het ook een hoop gezelligheid op!
							{# <ul>
								<li><a href="#TODO" target="_blank">Lees meer</a></li>
							</ul> #}
						</div>
					</div>
				</div>

				<script>
				 var inspirationStatus = {
					 1: 1,
					 2: 1,
					 3: 1
				 }
				 function moveInspiration(direction, which) {
					 var element = document.getElementById('inspiration-block-container-' + which);
					 if (direction == 'right') {
						 inspirationStatus[which]++;
						 if ((which != 1 && inspirationStatus[which] == 3) || (which == 1 && inspirationStatus[which] == 4)) {
							 inspirationStatus[which] = 1;
						 }
					 }
					 if (direction == 'left') {
						 inspirationStatus[which]--;
						 if (inspirationStatus[which] == 0) {
							 inspirationStatus[which] = which == 1 ? 3 : 2;
						 }
					 }
					 console.log(inspirationStatus[which])
					 element.style.left = 'calc( -' + (inspirationStatus[which] - 1) + ' * ( 100% + 20px ))';
				 }
				</script>

			</div>
		</div>
	</div>
{% endmacro %}
