{% macro watgebeurderalinnieuwwest(backgroundColor) %}
	<div id="inspiration" {% if backgroundColor %}style="background-color: {{backgroundColor}}"{% endif %}>
		<div class="pageContent">
			<h2>Wat gebeurt er al in Slotermeer Noordoost?</h2>
			<div id="inspiration-columns">

				<div class="inspiration-column">
					<h3>Thema: Talentontwikkeling & ontmoeting</h3>
					<div id="inspiration-block-container-1" class="inspiration-block-container">
						<div class="inspiration-block">
							<div ="image-container" class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/placeholder.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Studiezalen</h4>
							Abdelhamid Idrissi begon het project Studiezalen in het Amsterdamse Nieuw-West. Kosteloos krijgen kinderen huiswerkbegeleiding. Studiezalen biedt jongeren de kans om in een rustige omgeving huiswerk te maken en biedt begeleiding waar nodig. Ook wordt er gekeken naar de individuele behoeftes van de kinderen om ze verder op weg te helpen.
							<ul>
								<li><a href="https://www.studiezalen.com/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/placeholder.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Geluksdisco</h4>
							De Geluksdisco is een initiatief dat in 2013 is opgezet in Broedplaats de Vlugt. Iedereen is er welkom om te dansen, elkaar te leren kennen en plezier te hebben. Tussendoor zijn er optredens van buurtmuzikanten en lokale talenten. Bewoners kunnen voor 1 euro entree de hele avond feesten. Tijdens de avond zijn er gratis hapjes te krijgen die de buurtkoks maken. De Geluksdisco vindt elke twee maanden plaats in Westside Slotermeer.
							<ul>
								<li><a href="#TODO" target="_blank">Lees meer</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="inspiration-column">
					<h3>Thema: Cultuur & buurtactiviteiten</h3>
					<div id="inspiration-block-container-2" class="inspiration-block-container">
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/placeholder.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Street Art Museum Amsterdam</h4>
							Het Street Art Museum is een non-profit organisatie in Nieuw-West. Het museum bestaat uit meer dan 200 unieke street art kunstwerken verspreid door heel Amsterdam, waaronder ook in Slotermeer-Noordoost.
							<ul>
								<li><a href="#TODO" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/placeholder.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Sprekerskistje</h4>
							Sinds een aantal jaar organiseert een buurtbewoonster het Sprekerskistje dat zij op Plein ‘40-’45 plaatst. De spreker neemt plaats op het sinaasappelkistje en vertelt een verhaal. Iedereen kan op het kistje zijn of haar verhaal doen. Door de verschillende verhalen ontstaan bijzondere ontmoetingen en leren mensen elkaar beter kennen en begrijpen. Een grappig weetje: het Sprekerskistje is geïnspireerd op André Hazes, die op de Albert Cuypmarkt op een sinaasappelkistje begon te zingen.
							<ul>
								<li><a href="#TODO" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/placeholder.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Buurtcamping Slotermeer</h4>
							Buurtcamping Slotermeer is een minivakantie in je eigen buurt! Jaarlijks komen honderden buurtbewoners samen op het grasveld aan de Burgemeester Vening Meineszlaan, tussen de Burgemeester Fockstraat en de Harry Koningsbergerstraat. Een nachtje samen kamperen, spelen, eten, dansen en elkaar leren kennen!
							<ul>
								<li><a href="https://dehallen-amsterdam.nl/gebruikers/recycle/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="inspiration-column">
					<h3>Thema: Veilig & groen</h3>
					<div id="inspiration-block-container-3" class="inspiration-block-container">
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/placeholder.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Hanno Kleintuin/Vicky’s Volkstuin</h4>
							Achter in de schooltuin Ridderbos vind je de Hanno Kleintuin, ook bekend als Vicky’s Volkstuin. Bewoners die moeilijk ter been zijn kunnen tuinieren aan tafels, waardoor ze niet hoeven te hurken of bukken. Dankzij dit initiatief kunnen bewoners in een rolstoel of scootmobiel ook in een buurtmoestuin lekker aan het werk! 
							<ul>
								<li><a href="http://www.boromini.com" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/nieuwwestbegroot/inspiration/placeholder.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Prikgroep bewoners</h4>
							Bewonersgroepen komen samen om de buurt schoon te houden. Eens in de zoveel tijd komen ze samen om afval te prikken. En elke week wordt er individueel door bewoners in Slotermeer afval geprikt. Een schone buurt zorgt voor een fijne en prettige leefomgeving. Ook voelen bewoners zich veiliger in de buurt wanneer er geen zwerfvuil op straat ligt.
							<ul>
								<li><a href="http://www.bijeneiland.nl/ " target="_blank">Lees meer</a></li>
							</ul>
						</div>
					</div>
				</div>

				<script>
				 var inspirationStatus = {
					 1: 1,
					 2: 1,
					 3: 1
				 }
				 function moveInspiration(direction, which) {
					 var element = document.getElementById('inspiration-block-container-' + which);
					 if (direction == 'right') {
						 inspirationStatus[which]++;
						 if ((which != 2 && inspirationStatus[which] == 3) || (which == 2 && inspirationStatus[which] == 4)) {
							 inspirationStatus[which] = 1;
						 }
					 }
					 if (direction == 'left') {
						 inspirationStatus[which]--;
						 if (inspirationStatus[which] == 0) {
							 inspirationStatus[which] = which == 3 ? 4 : 3;
						 }
					 }
					 console.log(inspirationStatus[which])
					 element.style.left = 'calc( -' + (inspirationStatus[which] - 1) + ' * ( 100% + 20px ))';
				 }
				</script>

			</div>
		</div>
	</div>
{% endmacro %}
