<div id="questionnaire">
	<h2>Heb je nog even?</h2>
	<div class="box-grey">
		<h4 class="margin-top-0">
			Uitnodigingstekst
		</h4>
		<p>
			Dit kost hooguit 2 minuten
			van je tijd.
		</p>
		<a href="https://www.amsterdam.nl/" target="_blank" class="caret-link">
			Ja, ga naar vragenlijst
		</a>
	</div>
</div>