<div id="questionnaire">
	<h2>Heb je nog even?</h2>
	<div class="box-grey">
		<h4 class="margin-top-0">
			We hebben nog twee extra vragen
			over wat jij belangrijk vindt
			in de uitwerking van de brug.
			Laat jij je stem horen?
		</h4>
		<p>
			Dit kost hooguit 2 minuten
			van je tijd.
		</p>
		<a href="https://www.amsterdam.nl/formulieren/bouw/javabrug/praat-mee-javabrug" target="_blank" class="caret-link">
			Ja, ga naar vragenlijst
		</a>
	</div>
</div>