<script>

 // vote-creator - specific
 var previewHTML = '';
 function selectIdea(newIdeaId, doNotOpen) {

	 if (!doNotOpen) showVoteCreator();
	 ideaId = newIdeaId;

	 openstadSetCookie('ideaId', ideaId);
	 voteCreatorElement.querySelector('input[name=ideaId]').value = ideaId;

	 // last minute hardcoded ellende
	 document.querySelector('.preview-overlay').style.display = 'block';

	 var step = steps[currentStep] || steps[0];
	 var stepElement = document.querySelector(`#${step.contentId}`);

	 var previewElement = stepElement.querySelector('.preview');
	 previewElement.className = previewElement.className.replace(' form-error', '');

	 var node = document.createElement('div');
	 node.className = 'image';
	 node.innerHTML = document.querySelector(`#idea-${ideaId}`).querySelector('.image').innerHTML;
	 previewElement.innerHTML = '';
	 previewElement.appendChild(node)
	 previewHTML = previewElement.innerHTML;
	 doShowImage(ideaId, previewElement);

	 setNextButton();

	 location.href = "#vote-creator-anchor";

 }

 function unSelectIdea(event) {

	 ideaId = undefined;
	 openstadEraseCookie('ideaId');
	 voteCreatorElement.querySelector('input[name=ideaId]').value = '';

	 // last minute hardcoded ellende
	 document.querySelector('.preview-overlay').style.display = 'none';

	 var step = steps[currentStep] || steps[0];
	 var stepElement = document.querySelector(`#${step.contentId}`);

	 var previewElement = stepElement.querySelector('.preview');
	 previewElement.innerHTML = '<div class="nothingYet"><div class="text">Kies een ontwerp</div></div>';
	 
	 setNextButton();

	 event.stopPropagation();

 }

 function updatePreview(target) {
	 let previewElement = target.querySelector('.preview');
	 previewElement.innerHTML = previewHTML;
	 doShowImage(ideaId, previewElement);
 }

 function clickPreview(event) {
	 var target = event.target;
	 if (!ideaId) {
		 // window.location.hash = 'ideas-anchor';
		 scrollToIdeas();
	 } else {
		 // let previewElement = target.querySelector('.preview');
		 // previewElement.innerHTML = {
		 //  	 
		 // };
	 }
 }

 function validateZipCode(showError) {
	 var isValid = true;
	 if ( !document.querySelector('input[name=zipCode]').value.match(/^\d{4} ?[a-zA-Z]{2}$/) ) {
		 isValid = false;
		 if (showError) {
			 document.querySelector('#zipCode').className = document.querySelector('#zipCode').className + ' form-error';
			 document.querySelector('#zipCode').setAttribute('data-content', 'Vul hier een (geldige) postcode in.');
		 }
	 } else {
		 document.querySelector('#zipCode').className = document.querySelector('#zipCode').className.replace(/ form-error/g, '');
		 openstadSetCookie('zipCode', document.querySelector('input[name=zipCode]').value);
	 }
	 return isValid;
 }

 function validateEmail(showError) {
	 var isValid = true;
	 if ( !document.querySelector('input[name=email]').value.match(/^[^@]+@[^@]+\.[^@]+$/) ) {
		 isValid = false;
		 if (showError) {
			 document.querySelector('#email').className = document.querySelector('#email').className + ' form-error';
			 document.querySelector('#email').setAttribute('data-content', 'Vul hier een (geldige) email adres in.');
		 }
	 } else {
		 document.querySelector('#email').className = document.querySelector('#zipCode').className.replace(/ form-error/g, '');
		 openstadSetCookie('email', document.querySelector('input[name=email]').value);
	 }
	 return isValid;
 }

 function setHasVoted() {
	 openstadSetCookie('hasVoted', true);
	 hideStep(steps[currentStep])
	 currentStep = 2;
	 showStep(steps[currentStep], true)
	 let buttons = document.querySelectorAll('.button-vote');
	 for (var i=0; i<buttons.length; i++) {
		 buttons[i].className += ' hasVoted';
	 }
	 buttons = document.querySelectorAll('.button-more-info');
	 for (var i=0; i<buttons.length; i++) {
		 buttons[i].className += ' centered';
	 }
 }

 function setHasConfirmed() {
	 currentStep = 4;
	 openstadSetCookie('hasConfirmed',  true);
	 hasConfirmed = true;
	 hideStep(steps[0]);
	 showStep({
		 barId: 'steps-bar-3',
		 contentId: 'steps-content-3c',
		 doBeforeShow: function() {
			 document.querySelector('#showZipCode3c').innerHTML = document.querySelector('input[name=zipCode]').value;
			 document.querySelector('#showEmail3c').innerHTML = document.querySelector('input[name=email]').value;
		 }
	 })
	 let buttons = document.querySelectorAll('.button-vote');
	 for (var i=0; i<buttons.length; i++) {
		 buttons[i].className += ' hasVoted';
	 }
 }

 function sendVote() {
	 showWaitLayer();

	 var ideaId = document.querySelector('input[name=ideaId]').value;

	 var body = {
		 zipCode: document.querySelector('input[name=zipCode]').value,
		 email: document.querySelector('input[name=email]').value,
		 opinion: 'yes',
		 _csrf: csrfToken,
	 }

	 var xhttp = new XMLHttpRequest();
	 xhttp.onreadystatechange = function() {
		 if (this.readyState == 4) {
			 hideWaitLayer();
			 if (this.status == 200) {
				 setHasVoted();
				 nextStep(true)
			 } else {
				 hideStep(steps[currentStep])
				 showStep({
					 barId: 'steps-bar-3',
					 contentId: 'steps-content-error',
				 })
			 }
		 }
		 
	 };
	 xhttp.open("POST", `/idea/${ideaId}/vote`, true);
	 xhttp.setRequestHeader("Accept", "application/json");
	 xhttp.setRequestHeader("Content-type", "application/json");
	 xhttp.send(JSON.stringify(body));
 }
 
</script>
