{% extends 'base.njk' %}
{% import 'includes/openstad-map.njk' as openStadMap %}
{% import 'includes/numberplatebutton.njk' as numberPlateButton %}
{% import 'includes/hoe-werkt-het.html' as hoeWerktHet %}

{% set contentClass = 'index' %}

{% block contentFullWidth %}

	<div class="pageContent {{contentClass}}">
		{% include 'partials/main-icons.njk' %}
	</div>

	{{hoeWerktHet.showBlock('closed')}}

	<div class="pageContent {{contentClass}}">
		<div class="primary">
			<div id="achtergrondinformatie" class="text" name="info" id="info">
				{# <h3>Waarom Molenwijk Kiest?</h3>
				<p>Stadsdeel West maakt elk jaar gebiedsplannen. In deze gebiedsplannen staat waar het stadsdeel dat jaar extra in investeert. In 2019 wil West meer doen met ‘Groen en Openbare ruimte’, ‘Duurzaamheid’ en ‘Diversiteit en Inclusiviteit’. Omdat bewoners zelf vaak de beste ideeën hebben voor hun buurt, heeft het bestuur van West geld vrij gemaakt voor bewoners: om zelf met plannen te komen die bijdragen aan deze drie thema’s en om zelf te begroten.</p>

				<h3>Wat ging eraan vooraf?</h3>
				<p>
					In oktober 2018 hebben bewoners, ondernemers en organisaties samen maar liefst 209 plannen<sup>*</sup> ingediend! Op deze plannen is 21.635 keer gestemd. 167 Plannen kregen meer dan 50 positieve likes en werden getoetst op haalbaarheid. Dat leverde 94 haalbare plannen op. Van deze 94 overgebleven plannen heeft de stadsdeelcommissie 30 plannen geselecteerd waarover bewoners uit West nu € 300.000 kunnen verdelen.<br/><br/>
					<span style="font-size: 14px"><sup>*</sup>Oorspronkelijk werden er 216 plannen ingediend, maar nadat een aantal plannen door de indieners zelf zijn teruggetrokken bleven er 209 plannen over.</spn>
				</p>

				<h3>De meest populaire plannen worden uitgevoerd</h3>
				<p>
					De plannen die het vaakst zijn gekozen door bewoners van West en die binnen het budget passen worden uitgevoerd. Op 16 februari 2019 wordt bekend gemaakt welke plannen uitgevoerd worden met daarbij een uitleg hoe deze uitslag tot stand is gekomen.
				</p>

				{% if not config["voting"].isActive %}
					<ul class="links-list">
						<li><a href="/img/westbegroot/Uitslag.West.Begroot_20190215.pdf">Download de uitslag</a></li>
					</ul>
					<br/>
					<ul class="links-list">
						<li><a href="/plannen">Bekijk de plannen</a></li>
					</ul>
				{% endif %} #}

				<h3>Help bij de uitvoering van de ideeën!</h3>
				<p>Bij alle ideeën hebben we een aantal bewoners nodig die meedenken en meedoen bij de voorbereiding en uitvoering. Bijvoorbeeld bij het idee fitnesstoestellen in de wijk, hebben wij bewoners nodig die samen bepalen welke toestellen er komen.</p>
				<p>Ook zijn voor een aantal ideeën, bijvoorbeeld de moestuin en de Pluk-, munt- en kruidentuin, bewoners nodig die actief mee blijven doen nadat het plan is uitgevoerd.</p>
				<p>Wil je meedoen? Meld je aan via onderstaande link en geef aan bij welk idee je graag wil helpen.</p>
				<ul class="links-list">
					<li><a href="mailto:{{ EMAIL }}?subject=Ik wil graag meehelpen!">Meld je aan via {{ EMAIL }}</a></li>
				</ul>

				<h3 id="hulp-bij-stemmen">Hulp nodig bij het stemmen?</h3>
				<p>Tijdens de stemperiode zijn wij op verschillende momenten aanwezig in de wijk om je te helpen. Neem het stemformulier met je persoonlijke stemcode mee.</p>
				<p>Je vindt ons voor de ingang van het winkelcentrum op:</p>
				<ul>
					<li>Maandag 17 juni van 15.00 uur tot 17.00 uur</li>
					<li>Dinsdag 25 juni van 16.00 uur tot 18.00 uur</li>
					<li>Woensdag 26 juni van 10.00 uur tot 12.00 uur</li>
					<li>Vrijdag 5 juli van 10.00 uur tot 12.00 uur</li>
				</ul>
				<p>Je vindt ons bij Basisscholen De Krijtmolen en De Bonkelaar (Molenwijk 8) op:</p>
				<ul>
					<li>Woensdag 19 juni van 14.00 uur tot 16.00 uur</li>
					<li>Woensdag 3 juli van 14.00 uur tot 16.00 uur</li>
				</ul>

				<h3>Spelregels</h3>
				<ul class="checkmark-dot-list">
					<li>Alle personen van 12 jaar en ouder, die op 7 juni 2019 ingeschreven staan op een adres in Molenwijk mogen stemmen</li>
					<li>Je kan je 5 favoriete ideeën kiezen op de pagina 'Stemmen' van deze website met de persoonlijke stemcode die op het stemformulier staat die je per post hebt ontvangen. Als je liever geen gebruik maakt van de computer, kan je het stemformulier inleveren in de stembus die staat in de bibliotheek.</li>
					<li>De laatste kans om het stemformulier in te leveren bij de bibliotheek is op zaterdag 6 juli tussen 11:00 en 17:00 uur. Op deze website kan je stemmen tot zondag 7 juli 23:59 uur.</li>
					{# <li>In totaal is € 25.000 beschikbaar. Er kan gestemd worden op ideeën die tussen de € 1.000 en € 25.000 kosten. De ideeën met de meeste stemmen die alleen of samen maximaal €25.000 kosten, worden dit jaar uitgevoerd! Dit kan betekenen dat er 1 idee uitgevoerd wordt die  € 25.000 kost. Maar het kan ook zijn dat er veel gestemd wordt op ideeën die minder kosten waardoor er bijvoorbeeld 3 ideeën voor € 25.000 uitgevoerd kunnen worden. De keuze is aan jullie!</li> #}
					{# <li>Bij alle ideeën zijn een aantal bewoners nodig die in een werkgroep meedenken en meedoen bij de uitvoering. Dit betekent dat als er op een idee veel is gestemd, maar er hebben zich geen bewoners aangemeld om te helpen bij de uitvoering dan kan het idee niet uitgevoerd worden. Voorbeeld: er is veel gestemd op het idee voor fitnesstoestellen in de wijk. In een werkgroep gaan bewoners die zich hiervoor aanmelden met elkaar bepalen welke toestellen er geplaatst worden. Als er geen bewoners zijn die hieraan willen meewerken, dan wordt het idee niet uitgevoerd.</li> #}
					{# <li>Ook zijn voor een aantal ideeën bewoners nodig die actief mee blijven doen nadat het plan is uitgevoerd. Bijvoorbeeld als de moestuin tot de winnaars behoort, maar niemand wil een moestuin beheren en onderhouden. Dan kan dit idee niet worden uitgevoerd. Dit soort ideeën worden alleen uitgevoerd als minimaal 10 bewoners zich aanmelden om actief gebruik te maken van een moestuin. </li> #}
					<li>De plannen die het vaakst zijn gekozen door bewoners van Molenwijk en die binnen het budget van €25.000 passen worden uitgevoerd.</li>
				</ul>
				<p>Heb je een vraag? Kijk dan eerst of deze tussen de <a href="/veelgestelde-vragen">veelgestelde vragen</a> staat. Staat het antwoord op je vraag er niet tussen? Stuur dan een mail naar <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>.</p>
			</div>
		</div>

		<div class="secondary">

			<div id="agenda">
				<h3>Tijdlijn</h3>

				<div class="agenda">


					<div class="box-grey agenda-period">
						<div>
							<h3>Maandag 17 juni t/m woensdag 19 juni 2019</h3>
							Ontvangst stemformulier en persoonlijke stemcode
						</div>
					</div>

					{# <div class="box-grey agenda-day">
						<div>
							<h3>Zaterdag 6 juli 2019</h3>
							Laatste dag dat je het stemformulier kunt inleveren bij de bibliotheek, tussen 11:00 en 17:00.
						</div>
					</div> #}

					<div class="box-grey agenda-period">
						<div>
							<h3>Maandag 17 juni t/m zondag 7 juli 2019</h3>
							Molenwijk Kiest: bewoners kiezen hun top 5 ideeën voor Molenwijk! <br/><strong>Let op:</strong> stemmen met het stemformulier in de bibliotheek kan tot zaterdag 6 juli 17:00 uur!
						</div>
					</div>

					<div class="box-grey agenda-day">
						<div>
							<h3>Woensdag 10 juli 2019</h3>
							Bekendmaking stemuitslag
						</div>
					</div>

					<div class="box-grey agenda-period">
						<div>
							<h3>Juli/augustus 2019</h3>
							Vormen van bewonerswerkgroepen
						</div>
					</div>

					<div class="box-grey agenda-period">
						<div>
							<h3>Najaar 2019</h3>
							Het winnende idee of ideeën worden uitgevoerd en geplaatst in de wijk.
						</div>
					</div>

				</div>

			</div>

			</div>

		</div>

	<div style="clear: both; height: 20px;"></div>
	<div class="pageContent {{contentClass}}">
		<ul class="share">
			<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a></li>
			<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{url}}">Twitter</a></li>
			<li><a class="email"    target="_blank" href="mailto:?subject=West Begroot">Email</a></li>
		</ul>
		<br/>
		<br/>
	</div>
	</div>


{% endblock %}
