{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set pageTitle    = 'Veelgestelde vragen' %}
{% set contentClass = 'article faq' %}

{% block head %}
	{{super()}}

	<style type="text/css">
	 #article h2 {
		 background-color: #E3E4E5;
		 font-size: 0.9rem;
		 line-height: 1.5em;
		 padding: 0.5em 10px;
	 }
	</style>
{% endblock %}

{% block content %}
	<div class="primary">
		<h1>Veelgestelde vragen</h1>

		<div id="summary">
			{# <p>{{'2018-07-18' | date('LL')}}</p> #}

			<h3>In het kort</h3>
			<p>
				Heb je vragen over het gebruik van {{SITENAME}}? Bekijk dan
				eerst eens of je vraag op deze pagina beantwoord wordt.
			</p>
			<p class="strong">
				Staat het antwoord op je vraag er niet tussen? Stuur dan een
				e-mail naar <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>.
				De beheerders van {{SITENAME}} zullen je vraag dan zo snel
				mogelijk beantwoorden!
			</p>
			<hr>
		</div>

		<div id="article">

			<h2>Ik ben geen bewoner van Molenwijk maar wil wel graag stemmen. Kan dat?</h2>
			Nee, alleen bewoners van Molenwijk die 12 jaar of ouder zijn mogen stemmen.

            <h2>Ik woon in Molenwijk maar heb geen stemformulier ontvangen, hoe kan ik alsnog meedoen?</h2>
            Wat vervelend! Stuur een mail naar <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>, dan kijken we wat we kunnen doen.

            <h2>Ik ben niet zo handig met computers. Kan ik ook met mijn brief stemmen? En hoe doe ik dat dan?</h2>
            Ja dat kan. Vul het stemformulier met persoonlijke stemcode in en gooi het in de stembus die staat in de bibliotheek. Dit kan uiterlijk tot zaterdag 6 juli 17:00 uur. Ook zijn wij op bepaalde momenten in de Molenwijk om je te helpen, <a href="/#hulp-bij-stemmen">kijk op de Home-pagina wanneer we waar staan</a>.

            <h2>Ik heb mijn persoonlijke stemcode ingevuld, maar het lukt niet om te stemmen, wat nu?</h2>
            Een stemcode bestaat uit 12 tekens (cijfer en letters) en is hoofdlettergevoelig. Controleer nogmaals of je alle tekens juist hebt overgenomen. Lukt het nog steeds niet? Stuur een mail naar <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a> of kom langs op een van de momenten dat wij in de wijk zijn. <a href="/#hulp-bij-stemmen">Kijk op de Home-pagina wanneer we waar zijn om je te helpen</a>.

            <h2>Hoe weet ik zeker dat mijn stem is opgeslagen?</h2>
            Je stem is goed opgeslagen als je een bevestiging ziet die aangeeft ‘Gelukt, je hebt gestemd!’. Het stemmen werkt in 4 stappen. In stap 1 kies je je 5 favoriete ideeën. In stap 2 controleer je of je tevreden bent met de gekozen ideeën. Bij stap 3 vul je de stemcode in die je per post hebt ontvangen. Bij stap 4 klik je op de knop ‘Stemmen’.

            <h2>Kan ik voor anderen stemmen?</h2>
            De persoonlijke stemcode is persoonlijk geadresseerd. Het is de bedoeling dat iedereen zelf stemt. Uiteraard mag je mensen die het stemmen lastig vinden helpen. Ook zijn wij op verschillende momenten in de wijk aanwezig om te helpen bij het stemmen. <a href="/#hulp-bij-stemmen">Kijk op de Home-pagina wanneer we waar zijn om je te helpen</a>.

            <h2>Hoe wordt de uitslag bepaald?</h2>
			In totaal is €25.000 beschikbaar. Er kan gestemd worden op ideeën die tussen de €1.000 en €25.000 kosten. De ideeën met de meeste stemmen die alleen of samen maximaal €25.000 kosten, worden dit jaar uitgevoerd. Dit kan betekenen dat er één idee wordt uitgevoerd dat €25.000 kost. Maar het kan ook zijn dat er veel gestemd wordt op ideeën die minder kosten waardoor er bijvoorbeeld 3 ideeën voor €25.000 uitgevoerd kunnen worden.
			
			<h2>Ik heb een goed idee voor Molenwijk, waar kan ik dat kwijt?</h2>
            Als je een goed idee hebt voor Molenwijk, horen wij dat graag. Stuur ons een mail via <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a> of kom het ons vertellen als we in de wijk zijn. <a href="/#hulp-bij-stemmen">Kijk op de Home-pagina wanneer we waar zijn zodat je ons jouw idee kunt vertellen</a>.

            <h2>Ik wil graag meehelpen bij de voorbereiding en uitvoering van het idee, waar kan ik me aanmelden?</h2>
            Als je mee wilt helpen bij de voorbereiding en uitvoering van de ideeën voor Molenwijk horen wij dat graag! Ook voor het onderhouden of beheren van een moestuinbak of kruidentuin kun je je opgeven. Het opgeven kan via <a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>.

				<br/>
				<br/>
				<br/>
		</div>
	</div>

	<div class="secondary">
	</div>
{% endblock %}
