{% macro showBlock(openOrClosed) %}
<div id="howDoesItWork" class="{{openOrClosed}}">
	<a id="howDoesItWorkButton" href="javascript: (function() { document.getElementById('howDoesItWork').className = document.getElementById('howDoesItWork').className == 'open' ? 'closed' : 'open'; })()" style="outline: 0;">Hoe werkt het? <img id="arrow" src="/img/arrow_down_black.svg" width="13" heigh="13" style="display: inline-block; margin-left: 12px;"/></a>
	<div class="pageContent">
		<div class="steps">
			<div class="step">
				<img class="step-image" src="/img/westbegroot/step-1.svg" />
				<div class="step-header">1. Gebruik je e-mailadres om te stemmen</div>
				<div class="step-text">
					Woon, werk of verblijf je in Zuidas? Dan kun je tot en met zondag 21 juli met je e-mailadres en postcode stemmen op de ideeën van Zuidas Maak Het Groen.
					{% if config["voting"].isActive %}
					{% else %}
					{% endif %}
				</div>
			</div>
			<div class="step">
				<img class="step-image" src="/img/westbegroot/step-2.svg" />
				<div class="step-header">2. Uit welke ideeën kun je kiezen?</div>
				<div class="step-text">
					Op deze website vind je de ideeën die meedoen aan Zuidas Maak Het Groen. Lees de beschrijving goed en kies je 3 favoriete ideeën! 
					{% if config["voting"].isActive %}
					{% else %}
					{% endif %}
					<ul class="links-list">
						<li><a href="/stemmen">Bekijk de geselecteerde ideeën</a></li>
					</ul>
				</div>
			</div>
			<div class="step">
				<img class="step-image" src="/img/westbegroot/step-3.svg" />
				<div class="step-header">3. Kies jouw top 3</div>
				<div class="step-text">
					Van donderdag 4 juli tot en met zondag 21 juli 2019 kun je 3 ideeën kiezen die jij het beste vindt voor Zuidas Maak Het Groen. Het kiezen kan op de pagina “Stemmen”. Je hebt een emailadres nodig om je keuzes te kunnen versturen.
					{% if config["voting"].isActive %}
					{% else %}
					{% endif %}
					{% if config["voting"].isActive %}
					<ul class="links-list">
						<li><a href="/stemmen">Ga naar stemmen</a></li>
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="step">
				<img class="step-image" src="/img/westbegroot/step-4.svg" />
				<div class="step-header">4. De meest populaire ideeën worden uitgevoerd</div>
				<div class="step-text">
					De ideeën die het vaakst zijn gekozen worden dit jaar uitgevoerd. Half juli wordt bekend gemaakt welke ideeën uitgevoerd gaan worden. 
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}
