{% extends 'ideas.njk' %}
{% set pageTitle = 'Vul postcode in' %}

{% block content %}
	<div class="postcodecheck">

		<h1>{{config.votes.requiredUser.header}}</h1>
		<p>{{config.votes.requiredUser.text}}</p>
			
		<form method="post">
			{% for field in config.votes.requiredUser.fields %}
				<h4>{{field.caption}}</h4>
				<input type="text" name="{{field.name}}" value="{{values[field.name]}}" autofocus>
			{% endfor  %}
			<input type="submit" value="Stemmen">
			<input type="hidden" name="opinion" value="{{opinion}}">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
		</form>

	</div>
{% endblock %}
