* {
	box-sizing: border-box;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: underline;
}

strong, b {
	font-weight: 600;
}

.button {
	margin-top: 20px;
	margin-right: 30px;
	width: 100%;
	max-width: 280px;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	line-height: 46px;
	border-radius: 0;
	text-decoration: none;
	box-sizing: border-box;
}

.button:visited {
	color: white;
}

.background-blue {
	background-color: #164995;
}

.color-white {
	color: white;
}

.default-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 44px;
	padding: 0 20px;
	border: solid 1px #434343;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
	background-color: #FFF;
	background-image: url('/img/arrow_down_black.svg');
	background-position: center right 10px;
	background-repeat: no-repeat;
	background-size: 13px auto;

}
