a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: underline;
}

.button {
	margin-top: 20px;
	margin-right: 30px;
	width: 100%;
	max-width: 280px;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	line-height: 46px;
	border-radius: 0;
	text-decoration: none;
	box-sizing: border-box;
}

.button:visited {
	color: white;
}

.background-blue {
	background-color: #164995;
}

.color-white {
	color: white;
}
