{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set activeMenu   = 'about' %}
{% set pageTitle    = 'Het Algemeen Bestuur' %}
{% set contentClass = 'AB' %}

{% block content %}
<div class="primary">
	<img src="/img/ab/centrum.jpg">
	
	<h1>Wat is het Algemeen Bestuur?</h1>
	<p>
		Het Algemeen Bestuur (AB) is jouw politieke vertegenwoordiging in
		stadsdeel Centrum. De gemeenteraad van Amsterdam laat bepaalde taken,
		zoals het creëren van een prettig leefklimaat, welzijnswerk en het
		onderhouden van straten en pleinen, over aan het AB.
	</p>
	<p>
		Als er in het stadsdeel of in jouw buurt zaken spelen die je graag
		deelt met de politiek, is het AB je eerste aanspreekpunt. Het AB praat
		ook over zaken die van belang zijn voor stadsdeel Centrum, maar waar
		de gemeenteraad over gaat. In dat geval geeft het AB adviezen aan
		het college van B&W.
	</p>
	<p>
		Het AB vergadert iedere week. Eén keer per maand vergadert het AB
		op locatie ergens in het centrum over een specifiek thema, de andere
		weken is de vergadering in het stadhuis. Je bent altijd welkom om de
		vergaderingen bij te wonen en hier in te spreken.
	</p>
	<p>
		<a href="https://www.amsterdam.nl/bestuur-organisatie/bestuurscommissies/bestuurscommissie-c/teksten/samenstelling-0/" target="_blank">
			De leden van het Algemeen Bestuur
		</a> weten goed wat er speelt in stadsdeel Centrum. Heb je vragen over
		de inspraak of wil je een suggestie delen? Dan kun je een van de AB leden
		aanspreken of een voorstel indienen voor een initiatief in Centrum.
	</p>
</div>

<div class="secondary">
	<div class="widget">
		<h2>Wist je dat?</h2>
		<div id="didYouKnowBubble" class="speechBubble">
			&ldquo;Iedere bewoner die zich aanmeldt mag 3 minuten spreken tijdens een AB vergadering.&rdquo;
		</div>
	</div>
	
	{{sec.agenda(upcomingMeetings)}}
</div>
{% endblock %}