{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set contentClass = 'index' %}

{% block content %}
	<div id="banner">
		<div class="image" style="background-image: url('/img/home_banner_centrum.jpg');"></div>
		<div class="text">
			<h2>Let op: Algemeen Bestuur wordt Stadsdeel&shy;commissie!</h2>
			<p>
				Dit is jouw online meeting point voor het indienen van voorstellen voor je buurt.
				Na de gemeenteraadsverkiezingen op 21 maart 2018 is het Algemeen Bestuur opgevolgd
				door een stadsdeelcommissie. Hou deze site in de gaten om te zien wat dat betekent
				voor plannen op {{SITENAME}}.
			</p>
		</div>
	</div>
	
	<div class="primary">
		{{sec.newIdeaBubble()}}
		
		{# Syntax formatting because `div.tile` is `display: inline-block`. #}
		{% for article in articles
		%}<div class="tile">
			<a href="/artikel/{{article.id}}">
			<div class="image" style="background-image: url('/img/articles/{{article.id}}/thumbnail.jpg');"></div>
			<h3>{{article.title}}</h3>
			{{article.summary}}
			</a>
			
			<a href="/artikel/{{article.id}}" class="readMore">Lees meer</a>
		</div>{%
		endfor %}{#
			Another weird formatting; see comment above.
		#}<div class="tile">
			<a href="https://stemvanwest.amsterdam.nl" target="_blank">
			<div class="image" style="background-image: url('/img/articles/custom_tile_west.jpg');"></div>
			<h3>Wegens succes nu ook in stadsdeel Centrum!</h3>
			'De Stem van...' in stadsdeel West is al sinds februari online!
			Nieuws&shy;gierig naar de plannen die bewoners en ondernemers
			op Stem van West plaatsen?
			</a>
			
			<a href="https://stemvanwest.amsterdam.nl" target="_blank" class="readMore">Bezoek de site van West</a>
		</div>
	</div>
	
	<div class="secondary">
		{{sec.newIdeaBubble()}}
		
		{{sec.highlightedIdeas(highlightedIdeas)}}
		
		{{sec.agenda(upcomingMeetings)}}
	</div>
{% endblock %}