{% macro mobileMenu() %}
	<div id="mobile-menu" class="visible-xs">
		<a href="/#top" class="mobile-menu-item scroll-link">
			<img src="/img/eberhardvanderlaan/mobiel-nav-home.svg" height="20" />
			Start
		</a>
		<a href="/wedstrijd" class="mobile-menu-item scroll-link">
			<img src="/img/eberhardvanderlaan/mobiel-nav-info.svg" height="20" />
			Info
		</a>
		<a href="/wedstrijd#delocatie" class="mobile-menu-item scroll-link">
			<img src="/img/eberhardvanderlaan/mobiel-nav-location.svg" height="20" />
			Locatie
		</a>
		<a href="/plannen" class="mobile-menu-item scroll-link">
			<img src="/img/eberhardvanderlaan2/mobiel-nav-ontwerpen.svg" height="20" />
			Inzendingen
		</a>
		<a href="/plan/new" class="mobile-menu-item scroll-link">
			<img src="/img/eberhardvanderlaan/mobiel-nav-send.svg" style="height: 39px; margin: -8px auto -8px auto;" />
			Stuur in
		</a>
	</div>
{% endmacro %}
