{% extends 'base.njk' %}

{% set activeMenu = 'none' %}

{% block content %}

	<div id="about">

		<div id="header">
			<div class="header-image">
				<img src="/img/eberhardvanderlaan2/header-ontwerpwedstrijd.png" style="width: 540px; height: 340px;"/>
			</div>
			<div class="header-text">
				<h1>Locatie</h1>
				<p>
					Voor deze pagina bestaat nog geen ontwerp. Ik heb het hier met Fleur niet over gehad, en weet dus eigenlijk niet wat het zou moeten worden.
				</p>
				<a href="??" id="gebiedsplannen-button" class="page-button page-button-grey" target="_blank">Hier zou een knop kunnen staan</a>
			</div>
		</div>

		<h2>Hier stond een titel</h2>

		<div class="thema-container">
			<div class="thema-text">
				<h3>Blok tekst</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan molestie odio in egestas. Curabitur dapibus sapien vel dictum elementum. Donec sed vulputate mi.
				</p>
				<p>
					<strong>Bekijk de video voor meer uitleg over dit thema.</strong>
				</p>
				<ul>
					<li><a href="#inspiration">Wat voor initiatieven zijn er al in mijn buurt?</a></li>
				</ul>
			</div>
			<div class="thema-video">
				<img src="/img/westbegroot/video-1.png" style="width: 540px; height: 328px;"/>
			</div>
		</div>

	</div>

{% endblock %}
