{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set activeMenu   = 'about' %}
{% set pageTitle    = 'De stadsdeelcommissie' %}
{% set contentClass = 'AB' %}

{% block content %}
<div class="primary">
	<img src="/img/ab/stadsdeelcommissie.zuid.jpg">
	
	<h1>Stadsdeel­commissie</h1>
	
  <p>De stadsdeel­commissie adviseert het dagelijks bestuur van het stadsdeel. De leden van de stadsdeel­commissie zijn gekozen door bewoners. Het advies van een stadsdeel­commissie is zwaarwegend. Dat betekent dat, als het dagelijks bestuur het advies niet volgt, zij dat goed uit moet kunnen leggen. De leden van het dagelijks bestuur van de stadsdelen zijn aangesteld door het college van burgemeester en wethouders. Kijk voor meer informatie op de pagina over <a href="https://www.amsterdam.nl/bestuur-organisatie/stadsdelen/nieuw-bestuurlijk/" target="_blank">het nieuwe bestuurlijk stelsel en de stadsdeel­commissies</a>.</p>
</div>

<div class="secondary">
	{{sec.agenda(user, upcomingMeetings)}}
	
	<div class="widget">
		<h2>Wist je dat?</h2>
		<div id="didYouKnowBubble" class="speechBubble">
			&ldquo;Iedere bewoner die zich aanmeldt mag 3 minuten spreken tijdens een AB vergadering.&rdquo;
		</div>
	</div>
</div>
{% endblock %}