{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}
{% from 'partials/agenda-items.njk' import agenda %}

{% set activeMenu   = 'about' %}
{% set pageTitle    = 'De stadsdeelcommissie' %}
{% set contentClass = 'AB' %}

{% block content %}
	<div class="primary">
		<img src="/img/ab/stadsdeelcommissie.zuid.jpg">
		
		<h1>Wat is een stadsdeelcommissie?</h1>

		<p>De stadsdeelcommissie adviseert het dagelijks bestuur van stadsdeel Zuid en het bestuur van de stad over de toekomst van het stadsdeel, de inrichting van het stadsdeel en de uitvoering van werkzaamheden. Dit doet de commissie namens hun buurtgenoten.</p>

		<p>Als er in het stadsdeel of in jouw buurt zaken spelen die je graag deelt met de politiek, is de stadsdeelcommissie het eerste aanspreekpunt. De stadsdeelcommissie praat over zaken die van belang zijn voor stadsdeel Zuid. De commissie geeft adviezen aan het dagelijks bestuur van stadsdeel Zuid of het college van B&W.</p>

		<p>De stadsdeelcommissie vergadert twee keer per maand met het dagelijks bestuur. De vergaderingen vinden meestal plaats op stadsdeelkantoor Zuid en zijn openbaar toegankelijk. Kijk voor meer informatie op: <a href="https://zuid.notubiz.nl">https://zuid.notubiz.nl</a>/</p>

		<h2>Wie vertegenwoordigen mijn buurt?</h2>
		
		<p>De stadsdeelcommissieleden weten goed wat er speelt in stadsdeel Zuid. Heb je vragen over de inspraak of wil je een suggestie delen? Dan kun je een van de commissieleden aanspreken of een voorstel indienen voor een initiatief in Zuid.</p>

		<h2>Stadsdeel Zuid heeft drie deelgebieden:</h2>

		<p><strong>Oud Zuid</strong>: hieronder vallen het Museumkwartier, het Hoofddorpplein, het Vondelpark, de Willemsparkbuurt, de Apollobuurt, de Stadionbuurt en de Schinkelbuurt.</p>

		<table border="0" cellpadding="6"	cellspacing="0">
	 		<tr>
	 			<td align="left" valign="top" style="background-color: #e8e8e8; padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/marius_drissen.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="background-color: #e8e8e8; line-height: 27px; padding-right: 200px;">
					<strong>Oud-Zuid</strong><br/>
					Marius Drissen<br/>
					Groen­Links<br/>
					<a href="mailto: drissenmarius@gmail.com">drissenmarius@gmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/els_weijers.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="line-height: 27px; padding-right: 200px;">
					<strong>Oud-Zuid</strong><br/>
					Els Weijers<br/>
					D66<br/>
					<a href="mailto: els.weijers@kpnmail.nl">els.weijers@kpnmail.nl</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="background-color: #e8e8e8; padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/chris_wouterlood.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="background-color: #e8e8e8; line-height: 27px; padding-right: 200px;">
					<strong>Oud-Zuid</strong><br/>
					Chris Wouterlood<br/>
					VVD<br/>
					<a href="mailto: chriswouterlood@gmail.com">chriswouterlood@gmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/frank_bolhuis.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="line-height: 27px; padding-right: 200px;">
					<strong>Oud-Zuid</strong><br/>
					Frank Bolhuis<br/>
					PvdA<br/>
					<a href="mailto: frankbolhuis@hotmail.com">frankbolhuis@hotmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="background-color: #e8e8e8; padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/laurie_jansen.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="background-color: #e8e8e8; line-height: 27px; padding-right: 200px;">
					<strong>Oud-Zuid</strong><br/>
					Laurie Jansen<br/>
					CDA<br/>
					<a href="mailto: lauriejansen@gmail.com">lauriejansen@gmail.com</a><br/>
	 			</td>
	 		</tr>
		</table>

		<p><strong>De Pijp/Rivierenbuurt</strong>: hieronder vallen de Veluwebuurt, de Scheldebuurt, het Martin Luther Kingpark, de Rijnbuurt, de IJselbuurt, de Cornelis Troostbuurt, de Lizzy Ansinghbuurt, de Burgemeester Tellegenbuurt, de Van der Helstpleinbuurt, de Hemonybuurt, de Willibrordusbuurt en de Diamantbuurt.</p>

		<table border="0" cellpadding="6"	cellspacing="0">
	 		<tr>
	 			<td align="left" valign="top" style="background-color: #e8e8e8; padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/femke_korsten.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="background-color: #e8e8e8; line-height: 27px; padding-right: 200px;">
					<strong>De Pijp/Rivierenbuurt</strong><br/>
					Femke Korsten<br/>
					Groen­Links<br/>
					<a href="mailto: fem.korsten@gmail.com">fem.korsten@gmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/maaike_stevens-leusink.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="line-height: 27px; padding-right: 200px;">
					<strong>De Pijp/Rivierenbuurt</strong><br/>
					Maaike Stevens-Leusink<br/>
					GroenLinks<br/>
					<a href="mailto: maaikeleusink@hotmail.com">maaikeleusink@hotmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="background-color: #e8e8e8; padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/erik_schmit.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="background-color: #e8e8e8; line-height: 27px; padding-right: 200px;">
					<strong>De Pijp/Rivierenbuurt</strong><br/>
					Erik Schmit<br/>
					D66<br/>
					<a href="mailto: erik_schmit@hotmail.com">erik_schmit@hotmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/alexander_doijer.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="line-height: 27px; padding-right: 200px;">
					<strong>De Pijp/Rivierenbuurt</strong><br/>
					Alexander Doijer<br/>
					D66<br/>
					<a href="mailto: a.doijer@d66amsterdamzuid.nl">a.doijer@d66amsterdamzuid.nl</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="background-color: #e8e8e8; padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/gianni_pollarini.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="background-color: #e8e8e8; line-height: 27px; padding-right: 200px;">
					<strong>De Pijp/Rivierenbuurt</strong><br/>
					Gianni Pollarini<br/>
					VVD<br/>
					<a href="mailto: gianni.pollarini@gmail.com">gianni.pollarini@gmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/ercan_colak.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="line-height: 27px; padding-right: 200px;">
					<strong>De Pijp/Rivierenbuurt</strong><br/>
					Ercan Çolak<br/>
					PvdA<br/>
					<a href="mailto: ercancolak88@gmail.com">ercancolak88@gmail.com</a><br/>
	 			</td>
	 		</tr>
		</table>
		
		<p><strong>Buitenveldert/Zuidas</strong>: hieronder vallen Buitenveldert-West, Buitenveldert-Oost en de Zuidas.</p>

		<table border="0" cellpadding="6"	cellspacing="0">
	 		<tr>
	 			<td align="left" valign="top" style="background-color: #e8e8e8; padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/arend_van_vuren.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="background-color: #e8e8e8; line-height: 27px; padding-right: 200px;">
					<strong>Buitenveldert/Zuidas</strong><br/>
					Arend van Vuren<br/>
					GroenLinks<br/>
					<a href="mailto: agvanvuren@gmail.com">agvanvuren@gmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/angelo_verhoeven.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="line-height: 27px; padding-right: 200px;">
					<strong>Buitenveldert/Zuidas</strong><br/>
					Angelo Verhoeven<br/>
					D66<br/>
					<a href="mailto: angelo.verhoeven@hotmail.com">angelo.verhoeven@hotmail.com</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="background-color: #e8e8e8; padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/ronnie_eisenmann.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="background-color: #e8e8e8; line-height: 27px; padding-right: 200px;">
					<strong>Buitenveldert/Zuidas</strong><br/>
					Ronnie Eisenmann<br/>
					VVD<br/>
					<a href="mailto: ronnie@eisenmann.org">ronnie@eisenmann.org</a><br/>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td align="left" valign="top" style="padding-left: 15px; padding-right: 45px;">
	 				<img src="/img/ab/zuid/keren_hirsch.jpg" width="100" height="150" style="width: auto; margin-bottom: 0px;"/>
	 			</td>
	 			<td align="left" valign="middle" style="line-height: 27px; padding-right: 200px;">
					<strong>Buitenveldert/Zuidas</strong><br/>
					Keren Hirsch<br/>
					PvdA<br/>
					<a href="mailto: ke­ren­hirsch@hot­mail.com">ke­ren­hirsch@hot­mail.com</a><br/>
	 			</td>
	 		</tr>
		</table>
		
	</div>

	<div class="secondary">
		{{ agenda(upcomingMeetings, user) }}
		
		<div class="widget">
			<h2>Wist je dat?</h2>
			<div id="didYouKnowBubble" class="speechBubble">
				&ldquo;Iedere bewoner die zich aanmeldt mag 3 minuten spreken tijdens een vergadering van de stadsdeelcommissie.&rdquo;
			</div>
		</div>
	</div>
{% endblock %}
