{% extends 'base.njk' %}
{% import 'includes/numberplatebutton.njk' as numberPlateButton %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}
{% import 'includes/watgebeurderalinnieuwwest.njk' as watgebeurderalinnieuwwest %}

{% set activeMenu = 'about' %}

{% block content %}
	<div id="about">

		<div id="header" class="top-padding">
			<div class="thema-video">
				{# <video width="100%" height="100%" controls>
					<source src="/img/nieuwwestbegroot/inspiration/PC1109_Buurtbudgetten_v3.mp4" type="video/mp4">
					<source src="movie.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video>  #}
				<iframe src="https://player.vimeo.com/video/339048406?color=E6E6E6&title=0&byline=0&portrait=0" width="350" height="197" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>
			<div class="header-text">
				<h1>U heeft het voor het zeggen!</h1>
				<p>
					Bewoners weten zelf het beste wat ze willen in hun buurt. Met dit experiment laat de gemeente bewoners van Slotermeer Noordoost zelf bepalen wat zij met €500.000 voor de buurt willen doen. Meedoen met het buurtbudget is makkelijk. Zo staan bewoners aan het roer! Ter inspiratie zijn er - samen met bewoners - drie thema’s geselecteerd waarbinnen u plannen kunt indienen. U bepaalt!
				</p>
			</div>
		</div>

		<h2>De 3 thema's voor Slotermeer Noordoost</h2>

		<div class="thema-container">
			<div class="thema-text">
				<h3>Thema: Samen dingen doen</h3>
				<p>
					In Slotermeer Noordoost wonen, werken en bezoeken veel verschillende mensen met verschillende achtergronden de wijk. Loop bijvoorbeeld over de markt op Plein '40-'45 en u ziet direct de verscheidenheid en diversiteit die de stad zo bijzonder maakt. Een fijne buurt is een buurt waar veel ontmoeting en activiteiten plaatsvinden, voor iedereen is er wat te doen. We zijn op zoek naar mooie plannen voor de buurt die u samen doet. Denk aan een groot buurtfeest, een wijkwandeling of een dialoogavond. Samen dingen doen verbindt! Heeft u goede ideeën?
				</p>
				<a href="/plan/nieuw" class="stuur-plan-in">
					Stuur uw plan in
				</a>
			</div>
			<div class="thema-video">
				<img src="img/nieuwwestbegroot/inspiration/samendingendoen.jpg"/>
			</div>
		</div>

		<div class="thema-container">
			<div class="thema-text">
				<h3>Thema: Cultuur & kansen creëren</h3>
				<p>
					Cultuur en talenten in de wijk willen wij vieren. Misschien door middel van een voorstelling, kunstwerk of optreden? Talent kan niet genoeg gestimuleerd en ontwikkeld worden. Maar niet iedereen heeft dezelfde kansen om mee te doen, daarom willen wij meer kansen creëren in de buurt. Door bijvoorbeeld huiswerkbegeleiding, taalcursussen, sportactiviteiten of muzieklessen. Maar natuurlijk ook kansen creëren voor bijvoorbeeld bewoners die goed kunnen koken, voetballen of verhalen vertellen. Heeft u zelf een idee hoe wij cultuur kunnen versterken en kansen kunnen creëren?
				</p>
				<a href="/plan/nieuw" class="stuur-plan-in">
					Stuur uw plan in
				</a>
			</div>
			<div class="thema-video">
				<img src="img/nieuwwestbegroot/inspiration/cultuurkansen.jpg"/>
			</div>
		</div>

		<div class="thema-container">
			<div class="thema-text">
				<h3>Thema: Veilige, groene & prettige buurt</h3>
				<p>
					Het is belangrijk dat iedereen zich prettig en veilig voelt. Bewoners weten vaak het beste wat er nodig is om zich veiliger te voelen in de buurt, van lichtjes tot een zwerfvuilvrije straat. Heeft u ideeën over hoe bewoners kunnen bijdragen aan een veiliger buurt? Een prettige buurt is een veilige buurt, maar ook een groene buurt. Uw ideeën over het vergroenen van de wijk of het opknappen van bestaand groen zijn welkom. Denk aan het opknappen van perkjes, het planten van bloemen of een plek om te composteren.
				</p>
				<a href="/plan/nieuw" class="stuur-plan-in">
					Stuur uw plan in
				</a>
			</div>
			<div class="thema-video">
				<img src="img/nieuwwestbegroot/inspiration/veiliggroenprettig.jpg"/>
			</div>
		</div>

	</div>
{% endblock %}

{% block page %}
	{{watgebeurderalinnieuwwest.watgebeurderalinnieuwwest('white')}}
{% endblock %}

