{% extends 'helpdesk.njk' %}
{% import 'includes/officehours.njk' as officehours %}

{% block direction %}"direction: rtl"{% endblock %}

{% block title %}
    ميزانية حي Slotermeer Noordoost
{% endblock %}

{% block subtitle %}
حقق حلمك لأجل الحي!
{% endblock %}

{% block description %}
    {% if (config.ideas.addNewIdeas != 'closed') %}
        <p>أرسل خطتك للحصول على واحد من الموضوعات الثلاثة (فعل الأشياء معًا ؛ الثقافة و خلق الفرص ؛ حي آمن، أخضر وممتع) و ساهم في تحديد أين ستنفق الأموال.</p>
        <p>آخر موعد للتقديم هو 9 يوليو</p>
    {% else %}
        <p>ما هي الخطط المفضلة لديك؟</p>
        <p>أعطِ خططك المفضلة لايك وقرر أيٍ منهم سوف يتأهل للمرحلة المقبلة</p>
        <p>الموعد النهائي لإعطاء لايك يكون في يوم ١٦ يوليو</p>
    {% endif %}
{% endblock %}

{% block howDoesItWork %}
    {{howdoesitworkArabic.howblock('open')}}
{% endblock %}

{% block description2 %}
    <div style="direction: rtl">
        {% if (config.ideas.addNewIdeas != 'closed') %}
            <strong>المشاركة:</strong>
            <p>الموقع باللغة الهولندية ، لكننا نريد أن يكون الجميع قادرين على المشاركة!</p>
            <ul>
                <li> هل لديك فكرة ولكن لا يمكنك كتابة الهولندية؟  أرسلها عبر رسالة صوتية لـ Whatsapp وسنعمل على ترجمتها إلى الهولندية ووضعها على الموقع الإلكتروني.</li>
                <li>
                    هل تحتاج إلى القليل من المساعدة في الكتابة باللغة الهولندية؟  اتصل بنا إذن أو قم بزيارتنا بالمكتب خلال أوقات الإجابة على التساؤلات.
                    {{ officehours.officehours('arabic') }}
                </li>
                <li>يمكنك ترجمة الموقع باستخدام جوجل كروم أو جوجل ترانسلات (جوجل للترجمة). الترجمة لن تكون مثالية لكنها نوعًا ما مقبولة!</li>
            </ul>
            <p>هل لديك أسئلة أخرى؟ اتصل بنا عبر الواتساب أو عبر البريد الإلكتروني: <a href="mailto:buurtbudgetSNO@amsterdam.nl">{{EMAIL}}</a></p>
        {% else %}
            <strong>المشاركة:</strong>
            <p>الموقع باللغة الهولندية، لكننا نريد أن يكون الجميع قادرين على المشاركة!</p>
            <p>يمكنك ترجمة الموقع باستخدام جوجل كروم أو جوجل ترانسلات (جوجل للترجمة). الترجمة لن تكون مثالية لكنها نوعًا ما مقبولة!</p>
            <p>هل لديك أسئلة أخرى؟ اتصل بنا عبر الواتساب أو عبر البريد الإلكتروني: <a href="mailto:buurtbudgetSNO@amsterdam.nl">{{EMAIL}}</a></p>
        {% endif %}
    </div>
{% endblock %}

{% block whatsapptitle %}
    أرسل رسالة صوتية عبر واستاب
{% endblock %}

{% block whatsappdescription %}
{% endblock %}

{% block whatsapplink %}
    أرسل رسالة صوتية إلى رقم ٠٦٣٩٠٠٤٣٤٣
{% endblock %}