{% extends 'helpdesk.njk' %}
{% import 'includes/officehours.njk' as officehours %}

{% block direction %}"direction: rtl"{% endblock %}

{% block title %}
    ميزانية حي Slotermeer Noordoost
{% endblock %}

{% block subtitle %}
حقق حلمك لأجل الحي!
{% endblock %}

{% block description %}
    <p>أرسل خطتك للحصول على واحد من الموضوعات الثلاثة (فعل الأشياء معًا ؛ الثقافة و خلق الفرص ؛ حي آمن، أخضر وممتع) و ساهم في تحديد أين ستنفق الأموال.</p>
{% endblock %}

{% block howDoesItWork %}
    {{howdoesitworkArabic.howblock('open')}}
{% endblock %}

{% block description2 %}
    <div style="direction: rtl">
        <strong>المشاركة:</strong>
        <p>الموقع باللغة الهولندية ، لكننا نريد أن يكون الجميع قادرين على المشاركة!</p>
        <ul>
            <li> هل لديك فكرة ولكن لا يمكنك كتابة الهولندية؟  أرسلها عبر رسالة صوتية لـ Whatsapp وسنعمل على ترجمتها إلى الهولندية ووضعها على الموقع الإلكتروني.</li>
            <li>
                 هل تحتاج إلى القليل من المساعدة في الكتابة باللغة الهولندية؟  اتصل بنا إذن أو قم بزيارتنا بالمكتب خلال أوقات الإجابة على التساؤلات.
                {{ officehours.officehours('arabic') }}
            </li>
            <li><a href="https://translate.google.com/translate?hl=&sl=nl&tl=ar&u=https%3A%2F%2Fbuurtbudgetsno.amsterdam.nl%2F&anno=2">يمكنك ترجمة الموقع باستخدام جوجل كروم أو جوجل ترانسلات (جوجل للترجمة). الترجمة لن تكون مثالية لكنها نوعًا ما مقبولة!</a></li>
        </ul>
        <p>هل لديك أسئلة أخرى؟ اتصل بنا عبر الواتساب أو عبر البريد الإلكتروني: <a href="mailto:buurtbudgetSNO@amsterdam.nl">{{EMAIL}}</a></p>
    </div>
{% endblock %}

{% block whatsapptitle %}
    Send us a (voice) message via WhatsApp!
{% endblock %}

{% block whatsappdescription %}
{% endblock %}

{% block whatsapplink %}
    Send a (voice) message to 06-39004343
{% endblock %}