{% from 'includes/mobile-menu.njk' import mobileMenu %}

<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

		<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

		<title>{{pageTitle+' — ' if pageTitle}}{{PAGENAME_POSTFIX}}</title>

		<script>

		 var months = ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december'];

		 var startDate = new Date('2019-06-11');
		 var startDateText = startDate.getDate() + ' ' + months[ startDate.getMonth() ] + ' ' + ( 1900 + startDate.getYear() );

		 var endDate1 = new Date('2019-07-09');
		 // var endDate1 = new Date( Date.now() + 21 * 24 * 60 * 60 * 1000 ); // demo versie
		 var endDateText1 = endDate1.getDate() + ' ' + months[ endDate1.getMonth() ];
		 var daysLeft1 = parseInt( ( endDate1.getTime() - Date.now() ) / ( 24 * 60 * 60 * 1000) ) + 1;

		 var endDate2 = new Date('2019-07-16');
		 // var endDate2 = new Date( Date.now() + 28 * 24 * 60 * 60 * 1000 ); // demo versie
		 var endDateText2 = endDate2.getDate() + ' ' + months[ endDate2.getMonth() ];
		 var daysLeft2 = parseInt( ( endDate2.getTime() - Date.now() ) / ( 24 * 60 * 60 * 1000) ) + 1;

		</script>

		<meta name="viewport" content="initial-scale=1">
		{% block head %}
			<link rel="stylesheet" type="text/css" media="all"   href="/css/stemvan/all.css">
			<link rel="stylesheet" type="text/css" media="all"   href="/css/westbegroot.css">
			<link rel="stylesheet" type="text/css" media="all"   href="/css/centrumbegroot.css">
			<link rel="stylesheet" type="text/css" media="print" href="/css/stemvan/print.css">
			<link rel="stylesheet" type="text/css" media="all" href="/css/nieuwwestbegroot.css">
		{% endblock %}
	</head>
	<body class="preload">
		<div id="page">
			<div id="dim-overlay" class="menu-closed"></div>
			<header>
				<a href="/">
					<img src="/img/andreas.svg" width="24" alt=""/>
					<div id="amsterdam">
						Gemeente<br>
						Amsterdam
					</div>
				</a>
				<div id="nieuwwest-header">
					<div class="header-grid header-grid-left">
						<h1><span>{{SITENAME}}</span></h1>
					</div>
					<div class="header-grid header-grid-right">
					<ul class="nav-secundair">
						<li><a href="/engels#site-summary">English</a></li>
						<li><a href="/turks#site-summary">Türk</a></li>
						<li><a href="/arabisch#site-summary">العربية</a></li>
					</ul>
					</div>
				
					
				</div>
			</header>

			{# <nav id="mainMenu" role="navigation" class="menuBar nieuwwest">
				<div>
					<ul class="nieuwwest-nav nav-primair">
						<li class="{{'active' if activeMenu == 'home'}}"><a href="/">Home</a></li>
						<li class="{{'active' if activeMenu == 'about'}}"><a href="/themas">Thema's</a></li>
						<li class="{{'active' if activeMenu == 'ideas'}}"><a href="/plannen">Plannen</a></li>
					</ul>
					<ul class="nieuwwest-nav nav-secundair">
						<li><a href="/engels">English</a></li>
						<li><a href="/turks">Türk</a></li>
						<li><a href="/arabisch">العربية</a></li>
					</ul>

					{% if user.hasCompletedRegistration() %}
						<a href="/account" id="account" data-initials="{{user.initials}}">{{user.fullName}}</a>
					{% else %}
						<a href="/account" id="account" data-initials="">Mijn account</a>
					{% endif %}

					{% if (config.ideas.addNewIdeas != 'closed') %}
						<a href="/plan/nieuw" class="stuur-plan-in" data-initials="">Stuur je plan in</a>
					{% endif %}

				</div>
			</nav> #}

			<div id="mobile-menu-bar">
				{# <div id="mobile-menu-toggle" onclick="document.getElementById('menuItems').classList.toggle('hidden-mobile');"></div> #}
				<div id="mobile-menu-toggle"></div>
				{% if user.hasCompletedRegistration() %}
					<a href="/account" id="account-mobile">{{user.initials}}</a>
				{% else %}
					<a href="/account" id="account-mobile">Mijn account</a>
				{% endif %}
			</div>

			<nav id="mainMenuNieuwWest" role="navigation">
				<div>
					<ul id="menuItems" class="nieuwwest-nav nav-primair hidden-mobile">
						<li class="{{'active' if activeMenu == 'home'}}"><a href="/">Home</a></li>
						<li class="{{'active' if activeMenu == 'about'}}"><a href="/themas">Thema's</a></li>
						<li class="{{'active' if activeMenu == 'ideas'}}"><a href="/plannen">Plannen</a></li>
						<li class="li-spacer"></li>
						<li class="li-secundair"><a href="/engels">English</a></li>
						<li class="li-secundair"><a href="/turks">Türk</a></li>
						<li class="li-secundair"><a href="/arabisch">العربية</a></li>
						<li class="li-stuur-plan-in"><a href="/plan/nieuw">Stuur uw plan in</a></li>
					</ul>

					{% if user.hasCompletedRegistration() %}
						<a href="/account" id="account" data-initials="{{user.initials}}">{{user.fullName}}</a>
					{% else %}
						<a href="/account" id="account" data-initials="">Mijn account</a>
					{% endif %}

					{% if (config.ideas.addNewIdeas != 'closed') %}
						<a href="/plan/nieuw" class="stuur-plan-in" data-initials="">Stuur uw plan in</a>
					{% endif %}
					
				</div>
			</nav>

			<nav id="subMenu" class="" role="navigation">
				<div>
					<ul>
						{% if user.isLoggedIn() %}
							{# <li><a href="/account">Mijn account</a></li> #}
							<li><a href="/account/logout">Uitloggen</a></li>
						{% else %}
							<li><a href="/account/register">Aanmelden / inloggen</a></li>
						{% endif %}
					</ul>
				</div>
			</nav>

			

			<div id="content" class="pageContent {{contentClass}}">
				{% for type,list in messages %}
					<div class="flashMessage {{type}}">
						{% if type == 'error' %}
							<h2>Er ging iets fout</h2>
							<ul>
								{% for message in list %}<li>{{message | safe}}{% endfor %}
							</ul>
						{% elif type == 'success' %}
							<h2>Gelukt!</h2>
							{% for message in list %}{{message | safe}}<br>{% endfor %}
						{% elif type == 'include' %}
							{% for file in list %}
								{% include file %}
							{% endfor %}
						{% else %}
							<h2>Informatie</h2>
							{% for message in list %}{{message | safe}}<br>{% endfor %}
						{% endif %}

						<a class="close"><img src="/img/close.svg" alt="" title="Melding sluiten"></a>
					</div>
				{% endfor %}

				{% block content %}
					Standaard pagina.
				{% endblock %}
			</div>

			{% block howDoesItWork %}
			{% endblock %}

			{% block endDateBar %}
			{% endblock %}

			<div id="content2" class="pageContent {{contentClass}}">
				{% block content2 %}
				{% endblock %}
			</div>

			{#
			Extra page elements. E.g. used by idea.njk to render arguments which
			has an extra header element that spans the entire `#page` width.
			#}
			{% block page %}
				{# <div class="content">...</div> #}
			{% endblock %}

			{% block howDoesItWorkEnglish %}
			{% endblock %}

			<div id="content3" class="pageContent {{contentClass}}">
				{% block content3 %}
				{% endblock %}
			</div>

			{% block howDoesItWorkTurkish %}
			{% endblock %}

			<div id="content4" class="pageContent {{contentClass}}">
				{% block content4 %}
				{% endblock %}
			</div>

			{% block howDoesItWorkArabic %}
			{% endblock %}

			{% block footer %}
				<footer>
					<div>
						<div>
							<h2>Over deze site</h2>
							<ul>
								<li><a href="https://www.amsterdam.nl/privacy/specifieke/privacyverklaringen-3/online-platform/?reload=true" target="_blank">Privacyverklaring</a></li>
							</ul>
						</div>
						<div>
							<h2>Meer informatie</h2>
							<ul>
								<li><a href="/veelgestelde-vragen">Veelgestelde vragen</a></li>
							</ul>
						</div>
						<div>
							<h2>Contact</h2>
							<p>
								Heeft u een vraag over dit project of de werking van deze site? Wij horen het graag!
							</p>
							<ul>
								<li><a href="mailto:{{EMAIL}}">Stuur een email</a></li>
								<li><a href="/helpdesk">Stuur een (spraak)bericht via WhatsApp</a></li>
							</ul>
						</div>
					</div>
				</footer>
			{% endblock %}

			{# {{ mobileMenu() }} #}

		</div>

		<script>
		 // Preload class is defined in `all.less` to disable all animations.
			 document.body.className = '';
		</script>
		<script>
		 function $( el, query ) {
			 query || (query = el, el = null);
			 return Array.prototype.slice.call(
				 (el || document).querySelectorAll(query), 0
			 );
		 }
		</script>
		<script>
		 // Account submenu
		 // ---------------
						(function() {
							var button  = document.querySelector('#account');
							var buttonMobile  = document.querySelector('#account-mobile');
							var subMenu = document.querySelector('#subMenu');
							var active  = false;
							button.addEventListener('click', function( event ) {
								if( !active ) {
									showMenu(event);
								} else {
									hideMenu(event);
								}
							});

							buttonMobile.addEventListener('click', function( event ) {
								if( !active ) {
									showMenu(event);
								} else {
									hideMenu(event);
								}
							});

							function showMenu( event ) {
								event.preventDefault();
								event.stopPropagation();

								document.body.addEventListener('click', hideMenu);
								document.body.addEventListener('touchend', hideMenu);
								subMenu.addEventListener('click', menuClick);

								subMenu.className += ' active';
								active = true;
							}
							function hideMenu( event ) {
								event.preventDefault();
								event.stopPropagation();

								document.body.removeEventListener('click', hideMenu);
								document.body.removeEventListener('touchend', hideMenu);
								subMenu.removeEventListener('click', menuClick);

								subMenu.className = subMenu.className.replace(/ ?active/, '');
								active = false;
							}
							function menuClick( event ) {
								event.stopPropagation();
							}
						})();
		</script>
		<script>
		// Hamburger menu
		 // ---------------
		 	(function() {
				var hamburgerButton = document.querySelector('#mobile-menu-toggle');
				var menuItems = document.querySelector('#menuItems');
				var dimOverlay = document.querySelector('#dim-overlay');
				var active = false;
				
				hamburgerButton.addEventListener('click', function (event) {
					if( !active ) {
						showMenu(event);
					} else {
						hideMenu(event);
					}
				});

				function showMenu( event ) {
					event.preventDefault();
					event.stopPropagation();

					document.body.addEventListener('click', hideMenu);
					document.body.addEventListener('touchend', hideMenu);
					menuItems.addEventListener('click', menuClick);
					menuItems.className = menuItems.className.replace(/ ?hidden-mobile/, '');
					dimOverlay.className = dimOverlay.className.replace(/ ?menu-closed/, '');

					active = true;
				}
				function hideMenu( event ) {
					event.preventDefault();
					event.stopPropagation();

					document.body.removeEventListener('click', hideMenu);
					document.body.removeEventListener('touchend', hideMenu);
					menuItems.removeEventListener('click', menuClick);

					menuItems.className += ' hidden-mobile';
					dimOverlay.className += ' menu-closed';

					active = false;
				}
				function menuClick( event ) {
					event.stopPropagation();
				}
			})();
		</script>
		<script>
		 // Flash messages
		 // --------------
						// Make close buttons interactive.
														(function() {
															var closeButtons = Array.prototype.slice.call(
																document.querySelectorAll('#content > .flashMessage a:not([href])'), 0
															);
															closeButtons.forEach(function( a ) {
																a.href = '';
																a.addEventListener('click', function( event ) {
																	var message = a.parentNode;
																	message.parentNode.removeChild(message);
																	event.preventDefault();
																});
															});
														})();
		</script>

		{% block scripts %}{% endblock %}

		{% if ENV == 'production' %}
			{% include 'includes/analytics.njk' %}
		{% endif %}
	</body>
</html>
