{% extends 'helpdesk.njk' %}

{% block title %}
    Neighborhood Budget for Slotermeer Northeast
{% endblock %}

{% block subtitle %}
    Determine the future for your own neighborhood!
{% endblock %}

{% block description %}
    <p>Send in your plan for one of the 3 themes (Talent development & community, Culture & neighborhood activities, Safety & green) and decide where to spend the money.</p>
{% endblock %}

{% block howDoesItWork %}
    {{howdoesitworkEnglish.howblock('open')}}
{% endblock %}