{% extends 'helpdesk.njk' %}

{% block title %}
    Neighborhood Budget for Slotermeer Northeast
{% endblock %}

{% block whatsapptitle %}
    Send us a (voice) message via WhatsApp!
{% endblock %}

{% block whatsappdescription %}
    Description
{% endblock %}

{% block whatsapplink %}
    Send a (voice) message to 06-12345678
{% endblock %}

{% block subtitle %}
    Determine the future for your own neighborhood!
{% endblock %}

{% block description %}
    <p>Send in your plan for one of the 3 themes (Talent development & community, Culture & neighborhood activities, Safety & green) and decide where to spend the money.</p>
{% endblock %}

{% block howDoesItWork %}
    {{howdoesitworkEnglish.howblock('open')}}
{% endblock %}