{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}
{% import 'includes/howdoesitwork-english.njk' as howdoesitworkEnglish %}
{% import 'includes/howdoesitwork-turkish.njk' as howdoesitworkTurkish %}
{% import 'includes/howdoesitwork-arabic.njk' as howdoesitworkArabic %}
{% import 'includes/officehours.njk' as officehours %}

{% set pageTitle    = 'Helpdesk' %}

{% block content %}
	<div class="primary top-padding bottom-padding" style={% block direction %}"direction: ltr"{% endblock %}>
        <div id="whatsapp-banner">
            <div id="whatsapp-banner-description">
                <h4>
                    {% block whatsapptitle %}
                        Stuur ons een (spraak) bericht via WhatsApp!
                    {% endblock %}
                </h4>
                <p>
                    {% block whatsappdescription %}
                    {% endblock %}
                </p>
            </div>
            <div id="whatsapp-link">
                <div><img src="/img/WhatsApp_Logo.svg" /></div>
                <div id="whatsapp-link-description">
                    <a href="https://wa.me/31639004343">
                        {% block whatsapplink %}
                            Stuur een (spraak)bericht naar 06-39004343
                        {% endblock %}
                    </a>
                </div>
            </div>
        </div>

        <div id="site-summary" class="site-summary top-padding">
            <h1>
                {% block title %}   
                {% endblock %}
            </h1>
            <h2>
                {% block subtitle %}
                    Realiseer uw droom voor de wijk!
                {% endblock %}
            </h2>

            {% block description %}
            <p>Stuur uw plan in voor één van de 3 thema’s (Samen dingen doen; Cultuur & kansen creëren; Veilige, groene & prettige buurt) en bepaal waar het geld naar toe gaat.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block howDoesItWork %}
    {{howdoesitwork.howblock('closed')}}
{% endblock %}

{% block content2 %}
    <div class="primary">
        {% block description2 %}
            <strong>Doe mee!</strong>
            <p>De website is in het Nederlands, maar wij willen dat iedereen mee kan doen!</p>
            <ul>
                <li>Heeft u een idee maar kunt u geen Nederlands schrijven? Stuur het op via een Whatsapp audiobericht en wij zullen het voor u vertalen naar Nederlands en op de website plaatsen.</li>
                <li>
                    Heeft u een beetje hulp nodig met het schrijven in Nederlands? Neem contact op of kom langs een van onze spreekuren:
                    {{ officehours.officehours('dutch') }}
                </li>
                <li>Vertaal de website via Google Translate. Niet perfect maar een fatsoenlijk vertaling!</li>
            </ul>
            <p>Andere vragen? Neem contact op via <a href="#whatsapp-banner">WhatsApp</a> of email: <a href="mailto:buurtbudgetSNO@amsterdam.nl">{{EMAIL}}</a></p>
        {% endblock %}
    </div>

{% endblock %}