{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}
{% import 'includes/howdoesitwork-english.njk' as howdoesitworkEnglish %}
{% import 'includes/howdoesitwork-turkish.njk' as howdoesitworkTurkish %}
{% import 'includes/howdoesitwork-arabic.njk' as howdoesitworkArabic %}

{% set pageTitle    = 'Helpdesk' %}
{# {% set contentClass = 'article faq' %} #}

{# {% block head %}
	{{super()}}

	<style type="text/css">
	 
	</style>
{% endblock %} #}

{% block content %}
	<div class="primary top-padding bottom-padding" style={% block direction %}"direction: ltr"{% endblock %}>
		<h1>
            {% block title %}   
            {% endblock %}
        </h1>

        {# <ul class="arrowed-link">
            <li>
                <a href="#engels">Scroll down for English</a>
            </li>
            <li>
                <a href="#turks">Türkçe için aşağı kaydır</a>
            </li>
            <li>
                <a href="#arabisch">انتقل لأسفل للغة العربية</a>
            </li>
        </ul> #}

        <div id="whatsapp-banner">
            <div id="whatsapp-banner-description">
                <h4>
                    {% block whatsapptitle %}
                        Stuur ons een (spraak) bericht via WhatsApp!
                    {% endblock %}
                </h4>
                <p>
                    {% block whatsappdescription %}
                        Beschrijving jorg riejbger uieru bgehig brthg bthjg beghjkerbgjer kgert jgerjkgbrtjhg erbkg erjbg erkjgber kjgbrej gbnrgj rbngojer ngowjrg nwrojgn wrokgnero gkerng oekrkgner ok
                    {% endblock %}
                </p>
            </div>
            <div id="whatsapp-link">
                <div><img src="/img/WhatsApp_Logo.svg" /></div>
                <div id="whatsapp-link-description">
                    <a href="https://wa.me/31612345678">
                        {% block whatsapplink %}
                            Stuur een (spraak)bericht naar 06-12345678
                        {% endblock %}
                    </a>
                </div>
            </div>
		</div>

        <div class="site-summary">
            <h2>
                {% block subtitle %}
                    Bepaal de toekomst van jouw buurt!
                {% endblock %}
            </h2>

            {% block description %}
            <p>Stuur je plan in voor één van de 3 thema’s (Talentontwikkeling & ontmoeting, Cultuur & buurtactiviteiten, Veilig & groen) en bepaal waar het geld naar toe gaat.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block howDoesItWork %}
    {{howdoesitwork.howblock('open')}}
{% endblock %}