{% extends 'base.njk' %}
{% import 'includes/numberplatebutton.njk' as numberPlateButton %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}
{% import 'includes/watgebeurderalinwest.njk' as watgebeurderalinwest %}

{% set contentClass = 'index' %}

{% set activeMenu = 'home' %}

{% block content %}
	<div id="photoBanner"></div>
	<div id="banner">
		<div id="homebanner">
			<img id="homebanner-img" src="img/centrumbegroot/home-banner.svg"/>
			{% if (config.ideas.addNewIdeas == 'closed') %}
				{% if (config.ideas.voteForIdeas == 'closed') %}
					<div id="homebanner-title">
						<h2>Nieuw West Begroot!</h2>
						<h3>Hoe zou jij € 500.000 besteden in stadsdeel Centrum?</h3>
					</div>
					<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
					<div id="homebanner-text">
						Er zijn XXXX plannen ingediend.<br/>
						Op 9 juli 2019 wordt bekend gemaakt welke plannen haalbaar zijn en doorgaan naar de volgende ronde.
						<br/>
					</div>
					<div id="homebanner-buttons">
						<a href="/themas" class="bekijk-de-themas">
							Bekijk de thema's
						</a>
						<a href="/plannen" class="stuur-plan-in" style="width: 160px;">
							Bekijk de plannen
						</a>
					</div>
				{% else %}
					<div id="homebanner-title">
						<h2>Centrum Begroot!</h2>
						<h3>Hoe zou jij € 500.000 besteden in stadsdeel Centrum?</h3>
					</div>
					<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
					<div id="homebanner-text">
						Wat vind jij een goed plan?<br/>
						Stem op het plan wat jij het best vindt en bepaal  welke plannen doorgaan naar de volgende ronde!
						<br/>
					</div>
					<div id="homebanner-buttons">
						<a href="/themas" class="bekijk-de-themas">
							Bekijk de thema's
						</a>
						<a href="/plannen" class="stuur-plan-in" style="width: 160px;">
							Bekijk de plannen
						</a>
					</div>
				{% endif %}
			{% else %}
				<div id="homebanner-title">
					<h2>Buurtbudget Slotermeer Noordoost</h2>
					<h3>Realiseer uw droom voor de buurt!</h3>
				</div>
				<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
				<div id="homebanner-text">
					Stuur uw plan in voor één van de 3 thema’s (Samen dingen doen; Cultuur & kansen creëren; Veilige, groene & prettige buurt) en bepaal waar het geld naar toe gaat. 
					<br/>
				</div>
				<div id="homebanner-buttons">
					<a href="/themas" class="bekijk-de-themas">
						Bekijk de thema's
					</a>
					<a href="/plan/nieuw" class="stuur-plan-in">
						Stuur uw plan in
					</a>
				</div>
			{% endif %}
		</div>
		<div id="controls">
			<span class="speechBubbleWhatsApp">
				<img src="/img/WhatsApp_Logo.svg" />
				<h3>WhatsApp helpdesk</h3>
				<ul class="arrowed-link">
					<li>
						<a href="/helpdesk">Stuur een bericht!</a>
					</li>
					<li>
						<a href="/engels">Send a message!</a>
					</li>
					<li>
						<a href="/turks">Bir mesaj gönderin!</a>
					</li>
					<li>
						<a href="/arabisch">إرسال رسالة (الصوت)!</a>
					</li>
				</ul>
			</span>
			{{numberPlateButton.numberPlateButton('no-of-locations', 'plannen', runningIdeas.length, '/plannen')}}
			{#
			<a href="https://www.amsterdam.nl/centrumbegroot" class="page-button page-button-grey" target="_blank">
			Lees meer op amsterdam.nl
			</a>
			#}
		</div>
	</div>
{% endblock %}

{% block howDoesItWork %}
	{{howdoesitwork.howblock('open')}}
{% endblock %}

{% block content2 %}

	<div class="primary">

		<div class="text" name="info" id="info">

			<h3>Achtergrondinformatie</h3>
			<p>
				{% if (config.ideas.addNewIdeas == 'closed') %}
					{% if (config.ideas.voteForIdeas == 'closed') %}
						<strong>TODO Waarom Centrum Begroot?</strong><br/>
						TODO Om bewoners meer zeggenschap te geven en omdat bewoners vaak zelf de beste ideeën hebben voor hun buurt, stelt het bestuur van stadsdeel Centrum € 200.000,- beschikbaar. Stadsdeel Centrum is een druk stadsdeel. Bewoners, ondernemers en organisaties kunnen plannen indienen die bijdragen aan het verbeteren van de leefbaarheid in de buurt of plannen die de verbinding tussen bewoners onderling versterken.
						<br/>
						TODO In de maanden april en mei hebben bewoners, ondernemers en organisaties samen 144 plannen ingediend. Op deze plannen is 14272 gestemd. Daarmee hebben 94 plannen de drempel van 50 likes gehaald. Deze plannen zijn door de volgende ronde. Op dit moment onderzoekt het stadsdeel of de plannen haalbaar zijn.
					{% else %}
						<strong>TODO Waarom Centrum Begroot?</strong><br/>
						TODO Om bewoners meer zeggenschap te geven en omdat bewoners vaak zelf de beste ideeën hebben voor hun buurt, stelt het bestuur van stadsdeel Centrum € 200.000,- beschikbaar. Stadsdeel Centrum is een druk stadsdeel. Bewoners, ondernemers en organisaties kunnen plannen indienen die bijdragen aan het verbeteren van de leefbaarheid in de buurt of plannen die de verbinding tussen bewoners onderling versterken.<br/>
					{% endif %}
				{% else %}
					<strong>Waarom Buurtbudget Slotermeer Noordoost?</strong><br/>
					<p>Bewoners weten zelf het beste wat goed is voor hun buurt. Daarom heeft de gemeente buurtbudgetten vrijgemaakt waar bewoners zelf over gaan. In Nieuw-West kunnen bewoners en ondernemers nu met plannen komen voor de buurt Slotermeer Noordoost en die zelf samen begroten.</p>
					<p>Slotermeer Noordoost is 1 van de 4 wijken in Geuzenveld-Slotermeer. Het is een diverse buurt met veel verschillende woningen, het mooie Gerbrandypark, het belangrijke economische gebied van Plein '40-'45 en de Burgemeester de Vlugtlaan. Tussen de hofjes, op het plein of in het groen zijn er al veel mooie initiatieven te beleven. Maar daar kan nog veel meer bij!</p>
				{% endif %}
			</p>

			<h3>Spelregels</h3>
			<ul class="checkmark-list">
				<li>Uw plan draagt bij aan een van deze thema’s in Slotermeer Noordoost:
					<ul>
						<li>Samen dingen doen</li>
						<li>Cultuur & kansen creëren</li>
						<li>Veilige, groene & prettige buurt</li>
					</ul>
				</li>
				<li>De kosten van uw plan kunnen variëren van heel weinig tot maximaal €500.000. We zijn op zoek naar grote en kleine plannen.</li>
				<li>Uw plan is voor Slotermeer Noordoost (een buurt daarbinnen of een specifieke locatie in de wijk) en komt ten goede aan de inwoners van de wijk.</li>
				<li>Uw plan moet binnen een redelijk korte termijn kunnen worden uitgevoerd (binnen twee jaar).</li>
				<li>Iedereen kan een voorstel indienen: bewoners, ondernemers en maatschappelijke instellingen, zowel uit Slotermeer Noordoost of daarbuiten.</li>
				<li>Bewoners of ondernemers kunnen zelf een plan uitvoeren. U kan ook een plan uploaden dat door de gemeente of een organisatie wordt uitgevoerd.</li>
				<li>Een plan moet minimaal 30 positieve likes halen om in aanmerking te komen voor een haalbaarheidscheck.</li>
				<li>Het stadsdeel toetst de plannen op haalbaarheid. Dit kan consequenties hebben voor uw plan. In overleg met u past het stadsdeel eventueel het plan aan.</li>
				<li>Daarna kiest de stadsdeelcommissie, samen met bewoners van Slotermeer Noordoost, de 40 beste plannen.</li>
				<li>Bewoners en ondernemers van Slotermeer Noordoost verdelen het geld over de plannen en bepalen zo welk plan wordt uitgevoerd.</li>
				<li>Heeft u nog vragen? Bekijk eerst of u het antwoord kunt vinden bij de <a href="/veelgestelde-vragen">veelgestelde vragen</a>. Als u geen antwoord hebt kunnen vinden op uw vraag, mail deze dan naar <a href="mailto: {{EMAIL}}">{{EMAIL}}</a>.</li>
			</ul>

			{% if (config.ideas.addNewIdeas != 'closed') %}
				<ul class="arrowed-link">
					<li><a href="/plan/nieuw">Bekijk hoe het stadsdeel de plannen toetst</a></li>
				</ul>
			{% endif %}

		</div>
	</div>

	<div class="secondary">

		<div id="agenda">
			<h3>Tijdlijn</h3>

			<div class="agenda">

				<div class="box-grey agenda-period">
					<div>
						<h3>11 juni t/m 9 juli 2019</h3>
						Plannen insturen op de 3 thema’s
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>9 juli t/m 16 juli 2019</h3>
						Plannen liken en argumenten plaatsen bij plannen
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>17 juli t/m 15 augustus 2019</h3>
						Haalbaarheidstoets ingestuurde plannen
					</div>
				</div>

				<div class="box-grey agenda-day">
					<div>
						<h3>September 2019</h3>
						Stadsdeelcommissie en bewoners van Slotermeer Noordoost selecteren plannen voor de stemfase
					</div>
				</div>

				<div class="box-grey agenda-day">
					<div>
						<h3>Oktober 2019</h3>
						Bekendmaking plannen voor de stemfase
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>7 oktober t/m 4 november 2019</h3>
						Stemming: bewoners en ondernemers verdelen €500.000 over de plannen
					</div>
				</div>

				<div class="box-grey agenda-day">
					<div>
						<h3>6 november 2019</h3>
						Winnende plannen worden bekend gemaakt!
					</div>
				</div>

			</div>


		</div>
	</div>
{% endblock %}

{#
{% block page %}
{{watgebeurderalinwest.watgebeurderalinwest()}}
{% endblock %}
#}

{% block content3 %}
	<ul class="share">
		<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a></li>
		<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{url}}">Twitter</a></li>
		<li><a class="email"    target="_blank" href="mailto:?subject={{SITENAME}}">Email</a></li>
	</ul>
{% endblock %}
