{% extends 'base.njk' %}
{% import 'includes/numberplatebutton.njk' as numberPlateButton %}
{% import 'includes/howdoesitwork.njk' as howdoesitwork %}
{% import 'includes/watgebeurderalinwest.njk' as watgebeurderalinwest %}

{% set contentClass = 'index' %}

{% set activeMenu = 'home' %}

{% block content %}
	<div id="photoBanner"></div>
	<div id="banner">
		<div id="homebanner">
			<img id="homebanner-img" src="img/centrumbegroot/home-banner.svg"/>
			{% if (config.ideas.addNewIdeas == 'closed') %}
				{% if (config.ideas.voteForIdeas == 'closed') %}
					<div id="homebanner-title">
						<h2>Nieuw West Begroot!</h2>
						<h3>Hoe zou jij € 500.000 besteden in stadsdeel Centrum?</h3>
					</div>
					<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
					<div id="homebanner-text">
						Er zijn XXXX plannen ingediend.<br/>
						Op 9 juli 2019 wordt bekend gemaakt welke plannen haalbaar zijn en doorgaan naar de volgende ronde.
						<br/>
					</div>
					<div id="homebanner-buttons">
						<a href="/themas" class="bekijk-de-themas">
							Bekijk de thema's
						</a>
						<a href="/plannen" class="stuur-plan-in" style="width: 160px;">
							Bekijk de plannen
						</a>
					</div>
				{% else %}
					<div id="homebanner-title">
						<h2>Centrum Begroot!</h2>
						<h3>Hoe zou jij € 500.000 besteden in stadsdeel Centrum?</h3>
					</div>
					<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
					<div id="homebanner-text">
						Wat vind jij een goed plan?<br/>
						Stem op het plan wat jij het best vindt en bepaal  welke plannen doorgaan naar de volgende ronde!
						<br/>
					</div>
					<div id="homebanner-buttons">
						<a href="/themas" class="bekijk-de-themas">
							Bekijk de thema's
						</a>
						<a href="/plannen" class="stuur-plan-in" style="width: 160px;">
							Bekijk de plannen
						</a>
					</div>
				{% endif %}
			{% else %}
				<div id="homebanner-title">
					<h2>Buurtbudget Slotermeer Noordoost</h2>
					<h3>Bepaal de toekomst van jouw buurt!</h3>
				</div>
				<img id="homebanner-img-mobile" src="/img/centrumbegroot/home-banner.svg"/>
				<div id="homebanner-text">
					Stuur je plan in voor één van de 3 thema’s (Talentontwikkeling & ontmoeting, Cultuur & buurtactiviteiten, Veilig & groen) en bepaal waar het geld naar toe gaat. 
					<br/>
				</div>
				<div id="homebanner-buttons">
					<a href="/themas" class="bekijk-de-themas">
						Bekijk de thema's
					</a>
					<a href="/plan/nieuw" class="stuur-plan-in">
						Stuur je plan in
					</a>
				</div>
			{% endif %}
		</div>
		<div id="controls">
			<span class="speechBubbleWhatsApp">
				<img src="/img/WhatsApp_Logo.svg" />
				<h3>WhatsApp helpdesk</h3>
				<ul class="arrowed-link">
					<li>
						<a href="/helpdesk">Stuur een bericht!</a>
					</li>
					<li>
						<a href="/engels">Send a message!</a>
					</li>
					<li>
						<a href="/turks">Bir mesaj gönderin!</a>
					</li>
					<li>
						<a href="/arabisch">إرسال رسالة (الصوت)!</a>
					</li>
				</ul>
			</span>
			{{numberPlateButton.numberPlateButton('no-of-locations', 'plannen', runningIdeas.length, '/plannen')}}
			{#
			<a href="https://www.amsterdam.nl/centrumbegroot" class="page-button page-button-grey" target="_blank">
			Lees meer op amsterdam.nl
			</a>
			#}
		</div>
	</div>
{% endblock %}

{% block howDoesItWork %}
	{{howdoesitwork.howblock('open')}}
{% endblock %}

{% block content2 %}

	<div class="primary">

		<div class="text" name="info" id="info">

			<h3>Achtergrondinformatie</h3>
			<p>
				{% if (config.ideas.addNewIdeas == 'closed') %}
					{% if (config.ideas.voteForIdeas == 'closed') %}
						<strong>TODO Waarom Centrum Begroot?</strong><br/>
						TODO Om bewoners meer zeggenschap te geven en omdat bewoners vaak zelf de beste ideeën hebben voor hun buurt, stelt het bestuur van stadsdeel Centrum € 200.000,- beschikbaar. Stadsdeel Centrum is een druk stadsdeel. Bewoners, ondernemers en organisaties kunnen plannen indienen die bijdragen aan het verbeteren van de leefbaarheid in de buurt of plannen die de verbinding tussen bewoners onderling versterken.
						<br/>
						TODO In de maanden april en mei hebben bewoners, ondernemers en organisaties samen 144 plannen ingediend. Op deze plannen is 14272 gestemd. Daarmee hebben 94 plannen de drempel van 50 likes gehaald. Deze plannen zijn door de volgende ronde. Op dit moment onderzoekt het stadsdeel of de plannen haalbaar zijn.
					{% else %}
						<strong>TODO Waarom Centrum Begroot?</strong><br/>
						TODO Om bewoners meer zeggenschap te geven en omdat bewoners vaak zelf de beste ideeën hebben voor hun buurt, stelt het bestuur van stadsdeel Centrum € 200.000,- beschikbaar. Stadsdeel Centrum is een druk stadsdeel. Bewoners, ondernemers en organisaties kunnen plannen indienen die bijdragen aan het verbeteren van de leefbaarheid in de buurt of plannen die de verbinding tussen bewoners onderling versterken.<br/>
					{% endif %}
				{% else %}
					<strong>Waarom Buurtbudget Slotermeer Noordoost?</strong><br/>
					<p>Bewoners weten zelf het beste wat ze willen in hun buurt. Daarom start de gemeente met pilots buurtbudgetten waarbij bewoners zelf bepalen waar ze geld aan besteden. Het eerste experiment in Nieuw-West vindt plaats in Slotermeer Noordoost. Vanaf half juni kan iedereen, dus ook bewoners uit andere buurten, een maand lang plannen indienen voor de buurt. Dit kan onder andere via een speciale website, whatsapp en via persoonlijk gesprekken. Buurtbudgetten is zo laagdrempelig mogelijk waarbij bewoners aan het roer staan.</p>
					<p>Emre Ünver, stadsdeelvoorzitter Nieuw-West: <span style="font-style: italic">“We geven de zeggenschap over de buurt weer terug aan de buurt. Wat ik zo bijzonder vind, is dat ook kinderen vanaf 12 jaar mogen stemmen. Want ook zij hebben een waardevolle mening en die telt mee!”</span>.</p>
					<strong>Pilots worden uitgebreid</strong>
					<p>Dit is de eerste pilot in stadsdeel Nieuw-West. De komende jaren volgen er meer wijken. Inwoners kunnen ideeën voor grote of kleine projecten altijd kenbaar maken bij de gebiedsmakelaar van de buurt of bij de stadsdeelcommissie. Daarnaast kunnen bewoners voor wijkgerichte activiteiten in Nieuw-West een bewonersinitiatief indienen bij <a href="https://www.eigenwijks.nl/slotermeer/bewonersinitiatieven-slmeer">Eigenwijks</a>. Voor deze pilot is er nu geld beschikbaar waarbij bewoners in Slotermeer Noordoost een deel van de gemeentebegroting naar eigen inzicht kunnen uitgeven.</p>
				{% endif %}
			</p>

			<h3>Spelregels</h3>
			<ul class="checkmark-list">
				<li>Je plan draagt bij aan een van deze thema’s in Slotermeer Noordoost:
					<ul>
						<li>Talentontwikkeling & ontmoeting</li>
						<li>Cultuur & buurtactiviteiten</li>
						<li>Veilig & groen</li>
					</ul>
				</li>
				<li>De kosten voor je plan kunnen variëren van heel weinig tot maximaal €500.000. We zijn op zoek naar grote en kleine plannen.</li>
				<li>Je plan is voor Slotermeer Noordoost (een buurt daarbinnen of een specifieke locatie in de wijk) en komt ten goede aan de inwoners van de wijk.</li>
				<li>Je plan moet binnen een redelijk korte termijn kunnen worden uitgevoerd (binnen twee jaar).</li>
				<li>Iedereen kan een voorstel indienen: bewoners, ondernemers en maatschappelijke instellingen, zowel uit Slotermeer Noordoost of daarbuiten.</li>
				<li>Bewoners of ondernemers kunnen zelf een plan uitvoeren. Je kan ook een plan uploaden dat door de gemeente of een organisatie wordt uitgevoerd.</li>
				<li>Een plan moet minimaal 30 positieve likes halen om in aanmerking te komen voor een eerste haalbaarheidscheck.</li>
				<li>Het stadsdeel toetst de plannen op haalbaarheid. Dit kan consequenties hebben voor je plan. In overleg met jou past het stadsdeel eventueel het plan aan.</li>
				<li>Daarna kiest de stadsdeelcommissie, samen met bewoners, de 40 beste plannen.</li>
				<li>Bewoners van Slotermeer Noordoost verdelen het geld over de plannen en bepalen zo welk plan wordt uitgevoerd.</li>
				<li>Heb je nog vragen? Bekijk eerst of je het antwoord kunt vinden bij de <a href="/veelgestelde-vragen">veelgestelde vragen</a>. Als je geen antwoord hebt kunnen vinden op je vraag, mail deze dan naar <a href="mailto: {{EMAIL}}">{{EMAIL}}</a>.</li>
			</ul>

			{% if (config.ideas.addNewIdeas != 'closed') %}
				<ul class="arrowed-link">
					<li><a href="/plan/nieuw">Bekijk hoe het stadsdeel de plannen toetst</a></li>
				</ul>
				{# <br/>
				<strong>Hulp nodig bij het insturen van je plan?</strong><br/>
				Dock organiseert computerinloop om bewoners te helpen bij het gebruik van computers of invullen van formulieren. Dat doen ze elke dinsdagmiddag in het Claverhuis en elke donderdagochtend in de Witte Boei. Dock helpt bewoners graag met het insturen van plannen op Centrum Begroot!<br/>
				<br/>
				<strong>Pluspunt Claverhuis</strong><br/>
				Elandsgracht 70<br/>
				1016 TX Amsterdam<br/>
				Dinsdag: 14.00 – 16.00 uur<br/>
				16 april, 23 april, 30 april en 7 mei<br/>
				<br/>
				<strong>Pluspunt Witte Boei</strong><br/>
				Kleine Wittenburgerstraat 201<br/>
				1018 LT Amsterdam<br/>
				Donderdag 09:00 - 12:00 uur<br/>
				11 april, 18 april, 25 april en 2 mei<br/> #}
			{% endif %}


			<!--
					 <div>
					 <a href="/plan/nieuw" class="stuur-plan-in">
					 Stuur je plan in
					 </a><a href="??" class="page-button page-button-grey" target="_blank">
					 Lees meer op amsterdam.nl
					 </a>
					 </div>
			-->

		</div>
	</div>

	<div class="secondary">

		<div id="agenda">
			<h3>Tijdlijn</h3>

			<div class="agenda">

				<div class="box-grey agenda-period">
					<div>
						<h3>11 juni t/m 9 juli 2019</h3>
						Plannen insturen op de 3 thema’s
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>9 juli t/m 16 juli 2019</h3>
						Een extra week om likes te verzamelen!
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>17 juli t/m 15 augustus 2019</h3>
						Haalbaarheidstoets ingestuurde plannen
					</div>
				</div>

				<div class="box-grey agenda-day">
					<div>
						<h3>September 2019</h3>
						Stadsdeelcommissie en bewoners selecteren plannen voor de stemfase
					</div>
				</div>

				<div class="box-grey agenda-day">
					<div>
						<h3>Oktober 2019</h3>
						Bekendmaking plannen voor de stemfase
					</div>
				</div>

				<div class="box-grey agenda-period">
					<div>
						<h3>7 oktober t/m 4 november 2019</h3>
						Stemming: bewoners verdelen €500.000 over de plannen
					</div>
				</div>

				<div class="box-grey agenda-day">
					<div>
						<h3>6 november 2019</h3>
						Winnende plannen worden bekend gemaakt!
					</div>
				</div>

			</div>


		</div>
	</div>
{% endblock %}

{#
{% block page %}
{{watgebeurderalinwest.watgebeurderalinwest()}}
{% endblock %}
#}

{% block content3 %}
	<ul class="share">
		<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a></li>
		<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{url}}">Twitter</a></li>
		<li><a class="email"    target="_blank" href="mailto:?subject=West Begroot">Email</a></li>
	</ul>
{% endblock %}
