{% extends 'helpdesk.njk' %}
{% import 'includes/officehours.njk' as officehours %}

{% block title %}
    Semt Bütçesi Slotermeer Noordoost
{% endblock %}

{% block subtitle %}
Hem mahallen için guzel olani yap, hem hayallerini gerçekleştir!
{% endblock %}

{% block description %}
    <p>Gerceklestirmek istediginiz plan 3 ana temaden birini icerebilir. Planınızi hazirlayin, bize gönderin ve semt bütcesinin nereye ve nasıl harcanacağını semt sakini olarak siz karar verin. </p>
    <p>Ana basliklar;</p>
    <ul>
        <li>Birlikte hareket etmek ve birlikte calismak!</li>
        <li>Butun kültürler icin esit firsatlar yaratmak!</li>
        <li>Güvenli ve yeşil bir semt olusturmak!</li>
    </ul>
{% endblock %}

{% block howDoesItWork %}
    {{howdoesitworkTurkish.howblock('open')}}
{% endblock %}

{% block description2 %}
    <strong>Sende katıl!</strong>
    <p>Herkesin katılabilmesini istiyoruz!</p>
    <ul>
        <li>Bir fikrin veya planın var ama Hollandaca yazamıyor musun? Bize sesli Whatsapp mesajı ile planıni gönderebilirsin, senin çin Hollandaca'ya cevirip websitesine yerleştirebilirz.</li>
        <li>
            Hollandaca yazarken biraz yardıma ihtiyacın mi var? Bizimle iletisime gec veya görüş saatlerimizden birinide ziyarete gel.
            {{ officehours.officehours('turkish') }}
        </li>
        <li><a href="https://translate.google.com/translate?hl=&sl=nl&tl=tr&u=https%3A%2F%2Fbuurtbudgetsno.amsterdam.nl%2F&anno=2">Google-translate websitesi</a> ile tercüme edebilirsiniz. Mükemmel bir tercüme değil ama iyi bir çeviri!</li>
    </ul>
    <p>Başka sorunuz var mı? <a href="#whatsapp-banner">WhatsApp</a> veya e-posta yoluyla bize ulaşın: <a href="mailto:buurtbudgetSNO@amsterdam.nl">{{EMAIL}}</a></p>
{% endblock %}

{% block whatsapptitle %}
    [TODO translate turkish] Send us a (voice) message via WhatsApp!
{% endblock %}

{% block whatsappdescription %}
{% endblock %}

{% block whatsapplink %}
    [TODO translate turkish] Send a (voice) message to 06-39004343
{% endblock %}