{% extends 'helpdesk.njk' %}
{% import 'includes/officehours.njk' as officehours %}

{% block title %}
    Semt Bütçesi Slotermeer Noordoost
{% endblock %}

{% block subtitle %}
Hem mahallen için guzel olani yap, hem hayallerini gerçekleştir!
{% endblock %}

{% block description %}
    {% if (config.ideas.addNewIdeas == 'closed') %}
        {% if (config.ideas.voteForIdeas != 'closed') %}
            <p>Planlar arasında en beğendiğiniz hangileri?</p>
            <p>En beğendiğiniz planları beğen tuşuna basarak destekleyin bir sonraki tura hangi planların geçeceğine siz karar verin!</p>
            <p>Planları beğenmek için son tarih 16 Temmuz.</p>
        {% else %}
            <p>Başvuru sürecimiz 144 planın teslim alınmasıyla sona ermiştir.</p>
            <p>Uygulanabilirlik açısından bir sonraki aşamaya geçmeye hak kazanan planlar Eylül ayında sizlere duyurulacaktır.</p>
        {% endif %}
    {% else %}
        <p>Gerceklestirmek istediginiz plan 3 ana temaden birini icerebilir. Planınızi hazirlayin, bize gönderin ve semt bütcesinin nereye ve nasıl harcanacağını semt sakini olarak siz karar verin. </p>
        <p>Ana basliklar;</p>
        <ul>
            <li>Birlikte hareket etmek ve birlikte calismak!</li>
            <li>Butun kültürler icin esit firsatlar yaratmak!</li>
            <li>Güvenli ve yeşil bir semt olusturmak!</li>
        </ul>
        <p>Teslim için son tarih 9 Temmuz.</p>
    {% endif %}
{% endblock %}

{% block howDoesItWork %}
    {{howdoesitworkTurkish.howblock('open')}}
{% endblock %}

{% block description2 %}
    <strong>Sende katıl!</strong>
    <p>Herkesin katılabilmesini istiyoruz!</p>
    {% if (config.ideas.addNewIdeas != 'closed') %}
        <ul>
            <li>Bir fikrin veya planın var ama Hollandaca yazamıyor musun? Bize sesli Whatsapp mesajı ile planıni gönderebilirsin, senin çin Hollandaca'ya cevirip websitesine yerleştirebilirz.</li>
            <li>
                Hollandaca yazarken biraz yardıma ihtiyacın mi var? Bizimle iletisime gec veya görüş saatlerimizden birinide ziyarete gel.
                {{ officehours.officehours('turkish') }}
            </li>
            <li>Google-translate websitesi ile tercüme edebilirsiniz. Mükemmel bir tercüme değil ama iyi bir çeviri!</li>
        </ul>
    {% else %}
    <p>Google-translate websitesi ile tercüme edebilirsiniz. Mükemmel bir tercüme değil ama iyi bir çeviri.</p>
    {% endif %}
    <p>Başka sorunuz var mı? <a href="#whatsapp-banner">WhatsApp</a> veya e-posta yoluyla bize ulaşın: <a href="mailto:buurtbudgetSNO@amsterdam.nl">{{EMAIL}}</a></p>
{% endblock %}

{% block whatsapptitle %}
    Whatsapp ile bir (sesli) mesaj gönderebilirsiniz!
{% endblock %}

{% block whatsappdescription %}
{% endblock %}

{% block whatsapplink %}
    06-39004343’e bir (sesli) mesaj gönderebilirsiniz
{% endblock %}