{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}
{% import 'includes/officehours.njk' as officehours %}

{% set pageTitle    = 'Veelgestelde vragen' %}
{% set contentClass = 'article faq' %}

{% block head %}
	{{super()}}

	<style type="text/css">
	 #article h2 {
		 background-color: #E3E4E5;
		 font-size: 0.9rem;
		 line-height: 1.5em;
		 padding: 0.5em 10px;
	 }
	</style>
{% endblock %}

{% block content %}
	<div class="primary top-padding">
		<h1>Veelgestelde vragen</h1>

		<div id="summary">
			{# <p>{{'2019-04-08' | date('LL')}}</p> #}

			<h3>In het kort</h3>
			<p>
				Heeft u vragen over het gebruik van {{SITENAME}}? Bekijk dan
				eerst eens of uw vraag op deze pagina beantwoord wordt.
			</p>
			<p class="strong">
				Staat het antwoord op uw vraag er niet tussen? Stuur dan een
				e-mail naar <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>.
				De beheerders van {{SITENAME}} zullen uw vraag dan zo snel
				mogelijk beantwoorden!
			</p>
			<hr>
		</div>

		<div id="article">

			<h2>Wat is een buurtbudget?</h2>
			De gemeente heeft geld beschikbaar gesteld in de vorm van zogeheten buurtbudgetten. Met deze buurtbudgetten hebben Amsterdammers direct invloed op wat er met een deel van de gemeentelijke begroting gebeurt. In 2019 vindt de eerste pilot in Nieuw-West plaats. Inwoners van Slotermeer Noordoost mogen zelf plannen bedenken en direct kiezen hoe het geld wordt besteed. 
			{# Kijk ook naar <a href="#TODO">het animatie filmpje</a> voor een uitleg van het proces! #}

			{% if (config.ideas.addNewIdeas != 'closed') %}
				<h2>Ik ben geen bewoner van Slotermeer Noordoost maar wil wel graag een plan insturen, kan dat?</h2>
				Jazeker! Iedereen kan plannen indienen, zolang het plaatsvindt in Slotermeer Noordoost en ten goede komt aan de buurt. (Kijk waar de grenzen van Slotermeer Noordoost zijn <a href="/plannen">op de plannen-pagina</a>)
				</br>(Heeft u een idee maar gaat het niet over Slotermeer Noordoost? Kijk naar de opties genoemd in de vraag ‘Ik kon toch al eerder plannen indienen?’)
			{% endif %}
			{# <h2>Waarom is dit buurtbudget alleen voor Slotermeer Noordoost?</h2>
			Wij starten eerst met pilots buurtbudgetten in Nieuw-West, Zuidoost, en Noord. In Nieuw-West vindt de pilot plaats in 2019 in Slotermeer Noordoost. Komende jaren volgen er mogelijk meer wijken in Amsterdam. #}

			<h2>Ik kon toch al eerder plannen indienen?</h2>
			Klopt. Wilt u zelf iets organiseren in uw buurt? Dan kunt u geld aanvragen voor uw activiteit bij stichting <a href="https://www.eigenwijks.nl/slotermeer/bewonersinitiatieven-slmeer">Eigenwijks</a>. Voor geld voor grotere plannen voor het hele stadsdeel kunt u zich wenden tot het <a href="https://www.fondsvoornieuwwest.nl/">fonds van Nieuw-West</a>. De gebiedsmakelaar van uw buurt is uw eerste aanspreekpunt vanuit de Gemeente bij vragen en ideeën. Als u wilt dat de politiek praat over uw idee dan kunt u uw ideeën kenbaar maken bij de stadsdeelcommissie, bijvoorbeeld via de <a href="https://stemvannieuwwest.amsterdam.nl/">Stem van Nieuw-West</a>. Maar nu is extra geld beschikbaar voor plannen waar bewoners uit Slotermeer Noordoost uiteindelijk zelf €500.000 over verdelen.

			{% if (config.ideas.voteForIdeas != 'closed') %}
				<h2>Ik ben niet zo goed met computers en websites. Hoe kan ik toch likes verzamelen?</h2>
				U kunt ook 30 likes verzamelen in de vorm van handtekeningen: zorg dan wel voor een postcode bij iedere handtekening. Lever ze uiterlijk 16 juli om 19:00 uur in bij het Stadsdeelkantoor aan Plein '40-'45.</br>
				U kunt ook contact opnemen via 06 39004343 of <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>.
				</br>Wij helpen u graag verder!
			{% endif %}

			<h2>Ik heb een plan ingediend, maar ik wil mijn plan graag wijzigen. Kan dat?</h2>
			{% if (config.ideas.voteForIdeas != 'closed') %}
				U kunt uw plan aanpassen zolang er nog geen likes (of dislikes) zijn uitgebracht of een argument bij is geplaatst. U moet hiervoor ingelogd zijn met het e-mailadres waarmee u uw plan heeft ingestuurd. Is er al wel op uw plan gereageerd, maar wilt u toch nog wat aanpassen? Mail uw vraag dan naar <a href="mailto:{{EMAIL}}">{{EMAIL}}</a> en dan kijken we hoe we u kunnen helpen.
			{% else %}
				Op dit moment kunnen de plannen niet meer gewijzigd worden. Het is niet meer mogelijk om nog plannen in te dienen of om likes te verzamelen. Als een plan meer dan 30 likes heeft gekregen, wordt het op dit moment onderzocht op haalbaarheid.
			{% endif %}

			<h2>Hoe kan ik mijn ingediende plan op Buurtbudget Slotermeer Noordoost delen op mijn Facebookpagina, Twitter, Whatsapp, etc.?</h2>
			Op uw planpagina vindt u rechts bovenaan onder het kopje ‘Deel dit voorstel’ knoppen om uw plan te delen via Facebook, Twitter en e-mail. U kunt natuurlijk ook de URL van uw planpagina kopiëren uit de adresbalk van uw internet browser, en deze zelf delen met buurtgenoten.{% if (config.ideas.voteForIdeas != 'closed') %} Zorg dat uw plan minimaal 30 likes haalt om door te gaan naar de volgende ronde waarin uw plan wordt beoordeeld op haalbaarheid.{% endif %}

			<h2>Waarom heb ik 30 likes nodig om mijn plan door te laten gaan naar de volgende ronde?</h2>
			Stadsdeel Nieuw-West vindt het belangrijk om te weten of er draagvlak in de buurt is voor een plan. Daarom vragen we bewoners ook te reageren op de plannen door middel van argumenten voor en tegen. De argumenten uit de buurt en de likes geven ons een goed beeld van het draagvlak.

			{# <h2 id="faq-wat-gebeurt-er">Wat gaat er gebeuren na de plan indiening periode?</h2>
			Alle plannen die 30 likes hebben worden getoetst op haalbaarheid door het stadsdeel. Dit kan gevolgen hebben voor uw plan. In overleg met u past het stadsdeel eventueel het plan aan. Daarna kiest de stadsdeelcommissie, tijdens een openbare bijeenkomst samen met bewoners van Slotermeer Noordoost, de 40 beste plannen. Aanwezigen worden gevraagd om rekening te houden met de verspreiding over de thema's, door de wijk, en het budget van het plan. Alle bewoners uit Slotermeer Noordoost zijn welkom op de bijeenkomst. De Stadsdeelcommissie zijn die avond een soort jury en hebben 50% van de voorkeurstemmen, de aanwezige bewoners hebben ook 50% van de voorkeurstemmen. Vervolgens komt de stemronde: bewoners en ondernemers van Slotermeer Noordoost verdelen het geld over de plannen en bepalen zo welk plan wordt uitgevoerd. Met een gepersonaliseerde stempas in de brievenbus kunnen inwoners van 12 jaar en ouder stemmen. Bekijk ook de <a href="/#agenda">tijdlijn op de homepage</a>! #}
			
			{% if (config.ideas.voteForIdeas != 'closed') %}
				<h2>Kan ik mijn eigen plan liken?</h2>
				Ja, u kunt eenmalig uw eigen plan een like geven.	
			{% endif %}

			{% if (config.ideas.voteForIdeas != 'closed') %}
				<h2>Ik heb me vergist en wil mijn mening veranderen. Kan ik mijn stem en argument nog veranderen?</h2>
				Ja hoor, dat kan. Door opnieuw op de stemknop ‘voor’ of ‘tegen’ (de like button) te klikken kunt u uw like aanpassen of ongedaan maken. Nadat u een argument geplaatst heeft, kunt u deze wijzigen of verwijderen via de iconen in de rechterbovenhoek.
			{% endif %}

			{% if (config.ideas.addNewIdeas != 'closed') %}
				<h2>Mag ik meerdere plannen indienen voor Slotermeer Noordoost?</h2>
				Ja, dat kan. Alle plannen moeten wel voldoen aan de spelregels, natuurlijk.
			{% endif %}

			<h2 id="haalbaarheidstoets">Hoe toetst het stadsdeel de plannen op haalbaarheid?</h2>
			<ul>
				<li>Het plan moet over een van <a href="/themas">de drie thema’s</a> gaan.</li>
				<li>Uw plan is voor Slotermeer Noordoost (een buurt daarbinnen of een specifieke locatie in de wijk) en komt ten goede aan de inwoners van de wijk.</li>
				<li>Plannen met een uitgesproken religieus, politiek of commercieel karakter, evenals projecten die fondsenwerving als doel hebben, zijn uitgesloten.</li>
				<li>Het stadsdeel schat wat een plan kost. Plannen die meer dan €500.000 bedragen kunnen niet worden uitgevoerd. (In overleg met de indiener kan het plan wel worden aangepast als het bedrag wordt overschreden). Eventuele loonkosten worden gebaseerd op een maatschappelijk tarief.</li>
				<li>Het stadsdeel kijkt of een plan binnen een redelijke termijn van twee jaar kan worden uitgevoerd.</li>
				<li>Het stadsdeel toetst of het plan kan worden uitgevoerd binnen de wettelijke regelgeving.</li>
				<li>Bij een project in de openbare ruimte kan het zijn dat de eigenaar van de locatie toestemming moet geven. Dit kan consequenties hebben voor uw plan.</li>
				<li>Mocht een plan met enige aanpassing wel haalbaar zijn dan overlegt het stadsdeel met de indiener van het plan. Als het plan niet uitvoerbaar is, gaat het niet mee naar de volgende ronde. Daar krijgt de indiener dan uiteraard bericht over.</li>
				<li>Het stadsdeel is gebonden aan (Europese) aanbestedingsregels. Dit kan tot gevolg hebben dat het stadsdeel meerdere offertes moet aanvragen voor de uitvoering van het plan en dat de indiener niet vanzelfsprekend de partij is die het plan kan gaan uitvoeren.</li>
			</ul>

			<h2 id="selectieavond">Hoe werkt de selectieavond op 10 september?</h2>
			Tijdens de selectieavond kunt u als bewoner of ondernemer van Slotermeer Noordoost bepalen welke 40 plannen door gaan naar de stemronde. Iedereen is welkom om in gesprek te gaan met elkaar, met degenen die de plannen hebben ingediend en met de stadsdeelcommissieleden. U krijgt muntjes om uw voorkeursplannen aan te geven. De 20 plannen met de meeste muntjes gaan door naar de volgende ronde. De stadsdeelcommissie kiest de overige 20 plannen. De in totaal 40 plannen komen terug op de site voor de stemronde.

			<h2>De site werkt niet. Waar moet ik dit melden?</h2>
			Het spijt ons dat u niet op de site kunt of dat bepaalde onderdelen niet werken. We willen dit snel oplossen. Graag ontvangen wij een e-mail via <a href="mailto:{{EMAIL}}">{{EMAIL}}</a> met daarin een korte uitleg waar het mis gaat en eventueel de URL van de pagina waar het over gaat. Ons team zit paraat om problemen zo snel mogelijk op te lossen!

			<h2>Hoe veilig is deze site?</h2>
			Buurtbudget Slotermeer Noordoost neemt beveiligingsmaatregelen om misbruik van en ongeautoriseerde toegang tot persoonsgegevens te beperken. Meer weten over privacy en beveiliging van persoonsgegevens? Lees dan onze <a href="/img/nieuwwestbegroot/Privacyverklaring buurtbudgetSlotermeerNoordoost.pdf">privacyverklaring.</a>







			{# {% if (config.ideas.addNewIdeas != 'closed') %}
				<h2>Ik ben geen bewoner van stadsdeel Nieuw West, maar wil wel graag een plan insturen. Kan dat?</h2>
				Ja, dan kan. Iedereen mag een plan insturen als het een plan is voor Centrum. De bewoners van stadsdeel Centrum bepalen uiteindelijk welke plannen er in hun buurt worden uitgevoerd.
			{% endif %}

			{% if (config.ideas.voteForIdeas != 'closed') %}
				{% if (config.ideas.addNewIdeas != 'closed') %}
					<h2>Ik ben niet zo handig met computers. Kan ik mijn plan op een andere manier indienen?</h2>
					Ja dat kan! Vrijwilligers van Dock helpen je graag met het insturen van je plan. Dat kan op dinsdagmiddag 16 april, 23 april, 30 april en 7 mei in het Claverhuis en op donderdagochtend 11 april, 18 april, 25 april en 7 mei in de Witte Boei.<br/>
				{% else %}
					<h2>Hulp bij het stemmen?</h2>
					Ja dat kan! Vrijwilligers van Dock helpen je graag met het stemmen. Dat kan op dinsdagmiddag 16 april, 23 april, 30 april en 7 mei in het Claverhuis en op donderdagochtend 11 april, 18 april, 25 april en 7 mei in de Witte Boei.<br/>
				{% endif %}
				<br/>
				Pluspunt Claverhuis<br/>
				Elandsgracht 70<br/>
				1016 TX Amsterdam<br/>
				Dinsdag: 14.00 – 16.00 uur<br/>
				16 april, 23 april, 30 april en 7 mei<br/>
				<br/>
				Pluspunt Witte Boei<br/>
				Kleine Wittenburgerstraat 201<br/>
				1018 LT Amsterdam<br/>
				Donderdag 09:00 - 12:00 uur<br/>
				11 april, 18 april, 25 april en 2 mei<br/>
			{% endif %}

			<h2>Ik heb een plan ingediend, maar ik wil mijn plan graag wijzigen. Kan dat?</h2>
			Je kunt je plan aanpassen zolang er nog geen stem (voor of tegen) is uitgebracht of een argument bij is geplaatst. Je moet hiervoor ingelogd zijn met het emailadres waarmee je je plan hebt ingestuurd. Is er al wel op je plan gereageerd, maar wil je toch nog wat aanpassen? Mail je vraag dan naar <a href="mailto:{{EMAIL}}">{{EMAIL}}</a> en dan kijken we hoe we je kunnen helpen.

			<h2>Hoe kan ik mijn ingediende plan op Centrum Begroot delen op mijn Facebookpagina, Twitter, Whatsapp, etc.?</h2>
			Op jouw planpagina vind je rechts bovenaan onder het kopje ‘Deel dit voorstel’ knoppen om je plan te delen via Facebook, Twitter en e-mail. Je kunt natuurlijk ook de URL van je planpagina kopiëren uit de adresbalk van je internet browser, en deze zelf delen met buurtgenoten. Zorg dat je plan minimaal 50 likes haalt om door te gaan naar de volgende ronde waarin je plan wordt beoordeeld op haalbaarheid. 

			<h2>Waarom heb ik 50 likes (voor-stemmen) nodig om mijn plan door te laten gaan naar de volgende ronde?</h2>
			Stadsdeel Centrum vindt het belangrijk om te weten of er draagvlak in de buurt is voor een plan. Daarom vragen we bewoners ook te reageren op de plannen door middel van argumenten voor en tegen. De argumenten uit de buurt en de voor-stemmen geven ons een goed beeld van het draagvlak.

			{% if (config.ideas.addNewIdeas != 'closed') %}
				<h2>Waarom heb ik geen wachtwoord nodig?</h2>
				Uit gebruiksvriendelijkheid werkt deze site zonder wachtwoorden. Je hoeft geen wachtwoord te onthouden om toegang te hebben tot de site. Bovendien vinden wij het veel veiliger om geen wachtwoorden op te slaan van onze gebruikers. Op die manier kunnen wij de privacy het beste waarborgen.<br/>
				<br/>
				Inloggen kan nu door via de knop ‘aanmelden’ direct recht onder de menubalk je emailadres in te vullen. Je ontvangt dan een e-mail met een link waarop je kunt klikken (een zogeheten login-token), waarna je ingelogd bent. Dit hoef je maar één keer te doen, want hierna blijf je bij elk volgend bezoek aan de site gewoon ingelogd!
			{% endif%}

			{% if (config.ideas.addNewIdeas != 'closed') %}
				<h2>Waarom is de inlog/registratielink maar 48 uur geldig?</h2>
				Voor je eigen veiligheid is de link in de ontvangen e-mail maar 48 uur geldig. Na registratie herkent onze server telkens wanneer je inlogt weer dat jij het bent. Wel zo makkelijk!
			{% endif%}

			<h2>Hoe veilig is deze site?</h2>
			Centrum Begroot neemt beveiligingsmaatregelen om misbruik van en ongeautoriseerde toegang tot persoonsgegevens te beperken.<br/>
			<br/>
			Meer weten over privacy en beveiliging van persoonsgegevens? Lees dan onze <a href="https://www.amsterdam.nl/privacy/specifieke/privacyverklaringen-3/online-platform/?reload=true">privacyverklaring</a>.

			<h2>De site werkt niet. Waar moet ik dit melden?</h2>
			Het spijt ons dat je niet op de site kunt of dat bepaalde onderdelen niet werken. We willen dit snel oplossen. Graag ontvangen wij een email via <a href="mailto:{{EMAIL}}">{{EMAIL}}</a> met daarin een korte uitleg waar het mis gaat en eventueel de URL van de pagina waar het over gaat. Ons team zit paraat om problemen zo snel mogelijk op te lossen!

			<h2>Kan ik stemmen op mijn eigen voorstel?</h2>
			Ja, je kunt eenmalig stemmen op je eigen voorstel.

			<h2>Ik heb me vergist en wil mijn mening veranderen. Kan ik mijn stem en argument nog veranderen?</h2>
			Ja hoor, dat kan! Door opnieuw op de stemknop ‘voor’ of ‘tegen’ te klikken kun je je stem aanpassen of ongedaan maken. Nadat je een argument geplaatst hebt, kun je deze wijzigen of verwijderen via de iconen in de rechterbovenhoek. #}
			

			<br/>
			<br/>
			<br/>
		</div>
	</div>

	<div class="secondary">
	</div>
{% endblock %}
