{% macro mobileMenu() %}
<div id="mobile-menu" class="visible-xs">
  <a href="#content" class="mobile-menu-item scroll-link">
    <img src="/img/stemtool/info.svg" height="20" />
    Introductie
  </a>
  <a href="#designs" class="mobile-menu-item scroll-link">
    <img src="/img/stemtool/stars.svg" height="20" />
    Varianten
  </a>
  <a href="#details" class="mobile-menu-item scroll-link">
    <img src="/img/stemtool/info.svg" height="20" />
    Info
  </a>
  <a href="#vote" class="mobile-menu-item scroll-link">
    <img src="/img/stemtool/stars.svg" height="20" />
    Sterren
  </a>
  <a href="#arguments" class="mobile-menu-item scroll-link">
    <img src="/img/stemtool/comments.svg" height="20" />
    Argumenten
  </a>
</div>
{% endmacro %}
