<div class="bg-sand" style="padding: 1px;">
	<div class="section-container side-padding-xs">
		<h2 class="margin-hor-m">
			Reacties
		</h2>
	</div>
</div>

<div class="content-section section-container">
	<div class="col-9 col-sm-8 col-xs-12">
		{% if can('arg:form') %}
			{% include 'includes/arguments/form.njk' %}
		{% endif %}
		
		{% include 'includes/arguments/filter.njk' %}
		
		<div class="argList">
			{{listArguments(user, idea, csrfToken, 'argumentsFor')}}
		</div>
	</div>
</div>