{% extends './base.njk' %}
{% import './includes/secondary.njk' as sec %}

{% set activeMenu   = 'about' %}
{% set pageTitle    = 'Het Algemeen Bestuur' %}
{% set contentClass = 'AB' %}

{% block content %}
<div class="primary">
	<h1>Wat is het Algemeen Bestuur?</h1>
	
	<p>
		Het Algemeen Bestuur (AB) is jouw politieke vertegenwoordiging in stadsdeel West. De fracties van D66, PvdA, Groen Links, SP, VVD en de Piratenpartij bevatten 15 stemgerechtigde en 5 buitengewone leden. De gemeenteraad van Amsterdam heeft taken neergelegd bij het Algemeen Bestuur van het stadsdeel zoals het creëren van een prettig leefklimaat en het onderhouden van straten en pleinen. Daarnaast is het AB het eerste politieke aanspreekpunt voor de bewoners van West.
	</p>
	<p>
		Sinds de invoering van het nieuwe bestuurlijk stelsel in 2014 zijn de stadsdelen opnieuw ingericht met het doel om ‘de ogen en oren’ van het stadsdeel te zijn. In Amsterdam West zijn de afgelopen twee jaar initiatieven en experimenten ontwikkeld om het je als bewoner zo makkelijk mogelijk te maken om in gesprek te gaan met de lokale vertegenwoordigers.
	</p>
	
	<h1>Buurtadoptie</h1>
	
	<p>
		Wist je bijvoorbeeld dat ieder lid van het Algemeen Bestuur een of meerdere buurten heeft geadopteerd? Deze ‘buurtadoptanten’ zijn het eerste aanspreekpunt voor het Dagelijks Bestuur als het gaat over specifieke thema’s en onderwerpen uit de buurt. Hiermee heb je als bewoner –naast de contacten via de buurtmakelaar – ook rechtstreeks contact naar de politieke vertegenwoordigers.
	</p>
	<p>
		Op deze site kun je kennis maken met jouw buurtadoptant uit het Algemeen Bestuur.
	</p>
	
	<h1>Wie hoort er bij mijn buurt?</h1>
	
	{# Syntax formatting because `div.tile` is `display: inline-block`. #}
	{% for member in members
	%}<div class="tile">
		<div class="image" style="background-image: url('img/ab/{{member.name}}.jpg');"></div>
		<h3>{{member.name}}</h3>
		<div class="neighborhoods">
			<ul>
			{% for name in member.neighborhood %}
				<li>{{name}}
			{% endfor %}
			</ul>
		</div>
	</div>{%
	endfor %}
</div>

<div class="secondary">
	{{sec.agenda(upcomingMeetings)}}
	
	<div class="widget">
		<h2>Wist je dat?</h2>
		<div id="didYouKnowBubble" class="speechBubble">
			&ldquo;Iedere bewoner die zich aanmeldt mag 3 minuten spreken tijdens een AB vergadering.&rdquo;
		</div>
	</div>
</div>
{% endblock %}