<!DOCTYPE html>
<html>
<head>
	<title>{{pageTitle or 'Gemeente Amsterdam'}}</title>
	
	{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	{% endblock %}
</head>
<body>
	{% block content %}
	Standaard pagina.
	{% endblock %}
</body>
</html>