<!DOCTYPE html>
<html lang="nl">
<head>
	<title>{{pageTitle or 'Home'}} - Gemeente Amsterdam</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	{% endblock %}
</head>
<body class="preload">
	<div id="page">
		<header>
			<img src="/img/andreas.svg" width="24" alt=""/>
			<div id="amsterdam">
				Gemeente<br>
				Amsterdam
			</div>
			
			<h1>De Stem van West</h1>
			
			<nav id="mainMenu">
			
			</nav>
			
			<nav role="navigation" class="menuBar">
				<ul>
					<li class="{{'active' if activeMenu == 'home' or not activeMenu}}"><a href="/">Home</a>
					<li class="{{'active' if activeMenu == 'about'}}"><a href="/about">Het AB</a>
					<li class="{{'active' if activeMenu == 'ideas'}}"><a href="/ideas">Mijn plan</a>
				</ul>
			</nav>
			
			<nav id="quick">
				<div id="auth">
					&gt;
				{% if user.isLoggedIn() %}
					<a href="/account/logout">Uitloggen</a>
					{{'('+user.fullName+')' if user.hasCompletedRegistration()}}
				{% else %}
					<a href="/account/register">Aanmelden</a>
				{% endif %}
				</div>
			</nav>
		</header>
		
		<div id="content" class="{{contentClass}}">
			{% for type,list in messages %}
				<div class="flashMessage {{type}}">
					{% if type == 'error' %}<h2>Er ging iets fout</h2>{% endif %}
					
					<ul>
						{% for message in list %}<li>{{message}}{% endfor %}
					</ul>
					
					<a href="javascript: location.reload();"><img src="/img/close.svg" alt="" title="Melding sluiten"></a>
				</div>
			{% endfor %}
			
			{% block content %}
				Standaard pagina.
			{% endblock %}
		</div>
		
		{% block footer %}
		<footer>
			<nav class="menuBar"></nav>
			
			<div>
				<div>
					<h2>Contact</h2>
					<ul>
						<li>Email bestuurscommissie</li>
						<li>Email ondersteuning dagelijks bestuur</li>
					</ul>
				</div
				><div>
					<h2>Privacy</h2>
					<ul>
						<li>Privacy statement</li>
						<li>Cookies</li>
					</ul>
				</div
				><div>
					<h2>Over deze site</h2>
					<ul>
						<li>Veelgestelde vragen</li>
						<li>Proclaimer</li>
					</ul>
				</div
				><div>
					
				</div>
			</div>
		</footer>
		{% endblock %}
	</div>
	
	<script>
		// Preload class is defined in `all.less` to disable all animations.
		document.body.className = '';
	</script>
	<script>
		// Flash messages
		// --------------
		// Make close buttons interactive.
		var closeButtons = document.querySelectorAll('#content > .flashMessage a');
		closeButtons.forEach(function( a ) {
			a.href = '';
			a.addEventListener('click', function( event ) {
				var message = a.parentNode;
				message.parentNode.removeChild(message);
				event.preventDefault();
			});
		});
	</script>
</body>
</html>