{% extends './base.njk' %}
{% set pageTitle = 'Hoe werkt het?' %}
{% set contentClass = 'newIdea' %}

{% block content %}
<div id="howDoesItWork">
	<h2>Hoe werkt het?</h2>
	
	<div data-step="1">
		<h1>Jouw Plan</h1>
		<p>
			Beschrijf jouw plan voor de buurt en publiceer
			het op de site onder de button “Mijn Plan”. Houd het:
		</p>
		<p>
			<ul>
				<li>Positief</li>
				<li>Duidelijk</li>
				<li>Kort</li>
			</ul>
		</p>
	</div>
	
	<div data-step="2">
		<h1>Campagne</h1>
		<p>
			Voer campagne voor je plan en verzamel zoveel mogelijk stemmen om het op de agenda te krijgen van het Algemeen Bestuur. Je hebt 30 dagen om campagne te voeren.
			Verzamel tenminste 100 stemmen voor je plan. Doe dit door:
		</p>
		
		<ul>
			<li>Buurtgenoten uit te nodigen via Facebook en twitter om je idee te steunen</li>
			<li>Mails te versturen naar je buurtgenoten</li>
			<li>Deur voor deur langs te gaan</li>
			<li>Een bijeenkomst te organiseren</li>
		</ul>
		
		<p>
			Andere bewoners kunnen online op je plan reageren met likes en argumenten voor en tegen.
		</p>
	</div>
	
	<div data-step="3">
		<h1>De Agenda</h1>
		<p>
			Het plan met de meeste stemmen komt
			automatisch op de agenda van het Algemeen Bestuur. Elke maand wordt op een vast moment gekeken welk idee de meeste stemmen heeft.
			Heeft jouw plan de meeste likes? Dan krijg je per mail een uitnodiging om in het Algemeen Bestuur jouw plan toe te lichten.
			Daarna bespreekt het Algemeen Bestuur het plan en neemt een besluit.
		</p>
		
		<b>Heb je vragen?</b><br>
		Neem contact op met
		<a href="mailto:destemvanwest@amsterdam.nl">destemvanwest@amsterdam.nl</a>
		
		{% if user.isLoggedIn() %}
			<a href="/idea/new?help=0" class="big">Upload een voorstel!</a>
		{% else %}
			<a href="/account/register?ref=/idea/new" class="big">Meld je aan!</a>
		{% endif %}
	</div>
</div>
{% endblock %}