{% extends './base.njk' %}
{% import './includes/secondary.njk' as sec %}

{% block content %}
	<div id="banner">
		<div class="image"></div>
		<div class="text">
			<h2>Heb jij plannen of ideeën voor jouw buurt in Amsterdam West?</h2>
			Welkom op De Stem van West! Dit is jouw online meeting point voor het inzenden
			en delen van plannen en ideeën voor jouw buurt. Probeer stemmen te krijgen
			voor je plan en maak kennis met jouw aanspreekpunt van het Algemeen Bestuur.
			Door samen te werken kun je jouw buurt nóg beter en leuker maken.
		</div>
	</div>
	
	<div id="primary">
		{{sec.speechBubble()}}
		
		{% for article in articles %}
		<div class="tile">
			<div class="image"></div>
			<h3>{{article.title}}</h3>
			{{article.summary}}
			
			<a href="">Lees meer</a>
		</div>
		{% endfor %}
	</div>
	
	<div id="secondary">
		{{sec.speechBubble()}}
		
		{{sec.highlightedIdeas(highlightedIdeas)}}
		
		{{sec.agenda(upcomingMeetings)}}
	</div>
{% endblock %}