{% extends './base.njk' %}

{% block content %}
	<div id="banner">
		<div class="image"></div>
		<div class="text">
			<h2>Heb jij plannen of ideeën voor jouw buurt in Amsterdam West?</h2>
			Welkom op De Stem van West! Dit is jouw online meeting point voor het inzenden
			en delen van plannen en ideeën voor jouw buurt. Probeer stemmen te krijgen
			voor je plan en maak kennis met jouw aanspreekpunt van het Algemeen Bestuur.
			Door samen te werken kun je jouw buurt nóg beter en leuker maken.
		</div>
	</div>
	
	<div id="primary">
		<span class="speechBubble">
			&ldquo;Heb jij een idee voor je buurt in Amsterdam West?
			<a href="/idea/new">Ik heb een plan!</a>
		</span>
		
		{% for article in articles %}
		<div class="tile">
			<div class="image"></div>
			<h3>{{article.title}}</h3>
			{{article.summary}}
			
			<a href="">Lees meer</a>
		</div>
		{% endfor %}
	</div>
	
	<div id="secondary">
		<div class="speechBubble">
			&ldquo;Heb jij een idee voor je buurt in Amsterdam West?
			<a href="/idea/new">Ik heb een plan!</a>
		</div>
		
		<div id="highlightedIdeas">
			<h2>Campagnes</h2>
			<ul>
			{% for idea in ideas %}
				<li>
					<a href="/idea/{{idea.id}}">{{idea.title}}</a>
					<div>
						<div class="count yes">{{idea.yes}}</div>
						<div class="count no">{{idea.no}}</div>
						<div class="count arguments">{{idea.arguments}}</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}