{% extends './base.njk' %}
{% import './includes/secondary.njk' as sec %}

{% set pageTitle    = 'Privacyverklaring en proclaimer' %}
{% set contentClass = 'article proclaimer' %}

{% block head %}
	{{super()}}
	
	<style type="text/css">
		#article h2 {
			color: #EC0000;
			font-size: 1.14em;
		}
		#article h3 {
			font-size: 1em;
		}
	</style>	
{% endblock %}

{% block content %}
	<div class="primary">
		<h1>Privacyverklaring en proclaimer</h1>
		
		<div id="summary">
			<p>{{'2017-01-31' | date('LL')}}</p>
			
			<h3>In het kort</h3>
			<p>
				Op de website van de Stem van West is een privacyverklaring en
				een proclaimer van toepassing. Lees hier wat dat voor bezoekers
				van deze site betekent.
			</p>
			
			<h3>Op deze pagina</h3>
			<ul>
				<li><a href="#proclaimer-de-stem-van-west">Proclaimer De Stem van West</a></li>
				<li><a href="#omgang-met-persoonsgegevens">Omgang met persoonsgegevens</a></li>
				<li><a href="#cookies-op-de-stem-van-west">Cookies op De Stem van West</a></li>
			</ul>
			<hr>
		</div>
		
		<div id="article">
			<p>
				Via De Stem van West worden persoonsgegevens verwerkt. Gemeente Amsterdam acht een zorgvuldige omgang met persoonsgegevens van groot belang. Wij gaan vertrouwelijk om met de informatie die u ons via de website verstrekt en persoonlijke gegevens worden door ons dan ook zorgvuldig verwerkt en beveiligd.
			</p>
			
			<h2 id="proclaimer-de-stem-van-west">Proclaimer De Stem van West</h2>
			<p>
				De Stem van West spant zich in voor de inhoud van deze website en doet er alles aan om de website actueel te houden en te voorzien van juiste informatie. Komt u toch iets tegen dat niet correct is, dan stellen wij uw reactie bijzonder op prijs. U kunt u te allen tijde contact met ons opnemen via <a href="mailto:destemvanwest@amsterdam.nl">destemvanwest@amsterdam.nl</a>.
			</p>
			<p>
				De foto’s op deze site mogen niet zonder toestemming van de redactie gebruikt worden voor andere media. Wilt u een foto gebruiken, neem dan contact op met <a href="mailto:destemvanwest@amsterdam.nl">destemvanwest@amsterdam.nl</a>.
			</p>
			{# <p>
				De toegankelijkheid van deze site is gewaarborgd, doordat de webrichtlijnen van de overheid worden nagestreefd.
			</p> #}
			
			<h2 id="omgang-met-persoonsgegevens">Omgang met persoonsgegevens</h2>
			<p>
				Via het platform De Stem van West (stemvanwest.amsterdam.nl) worden privacygevoelige gegevens oftewel persoonsgegevens verwerkt. Gemeente Amsterdam acht een zorgvuldige omgang met persoonsgegevens van groot belang. Wij gaan vertrouwelijk om met de informatie die u ons via de website verstrekt en persoonlijke gegevens worden door ons dan ook zorgvuldig verwerkt en beveiligd.
			</p>
			<p>
				De belangrijkste regels voor de omgang met persoonsgegevens zijn vastgelegd in de Wet bescherming persoonsgegevens (Wbp). De Autoriteit Persoonsgegevens is toezichthouder op de Wet bescherming persoonsgegevens.
			</p>
			<p>
				Stadsdeel West is de verantwoordelijke voor de gegevensverwerking. In deze privacyverklaring leggen wij uit welke persoonsgegevens wij verzamelen en gebruiken en met welk doel. Wij raden u aan deze zorgvuldig te lezen.
			</p>
			
			<h3>Gebruik van persoonsgegevens</h3>
			<p>
				Door het gebruiken van het platform De Stem van West laat u bepaalde gegevens bij ons achter. Alle informatie die u ons verstrekt, wordt vertrouwelijk behandeld. Wij gebruiken uw gegevens alleen voor het doel waarvoor u ze heeft achtergelaten. Als u bijvoorbeeld uw naam en emailadres heeft opgegeven omdat wilt reageren op een voorstel op de site, zal De Stem van West uw gegevens niet gebruiken om u ander materiaal toe te sturen, tenzij dat op onze website is aangegeven.
			</p>
			<p>
				Wij gebruiken de volgende gegevens voor de in deze privacyverklaring genoemde doelen:
				<ul>
					<li>Naam</li>
					<li>Postcode</li>
					<li>Emailadres</li>
					<li>IP-adres</li>
				</ul>
			</p>
			
			<h3>Registreren</h3>
			<p>
				Om te kunnen reageren op een reeds geüpload voorstel of zelf een voorstel te kunnen uploaden, moet u zich eerst registreren bij De Stem van West. Na registratie bewaren wij via het door u opgegeven emailadres de door u hieraan gekoppelde persoonsgegevens. Wij bewaren deze gegevens zodat u deze niet elke keer opnieuw hoeft in te vullen en zodat wij u kunnen contacteren in het geval uw voorstel tijdens de campagneperiode het hoogste aantal stemmen heeft behaald. In het laatste geval zult u via uw opgegeven emailadres worden uitgenodigd uw voorstel te komen toelichten tijdens de vergadering van het Algemeen Bestuur van Stadsdeel West.
			</p>
			<p>
				Wij zullen de aan uw emailadres gekoppelde gegevens niet aan derden verstrekken, tenzij dat noodzakelijk is of indien dit wettelijk verplicht is. Uw gegevens kunnen wel worden gebruikt voor opsporing. Dit kan bijvoorbeeld worden gedaan als er via de website strafbare feiten worden gepleegd of strafbare uitlatingen worden gedaan.
			</p>
			
			<h3>Contact</h3>
			<p>
				Als u ons een e-mail stuurt via <a href="mailto:destemvanwest@amsterdam.nl">destemvanwest@amsterdam.nl</a>, dan worden de gegevens die u ons toestuurt niet langer bewaard dan nodig is voor de volledige beantwoording van uw e-mail.
			</p>
			
			<h3>Publicatie</h3>
			<p>
				Bij gebruik van De Stem van West kunnen persoonlijke gegevens gepubliceerd worden zodat ze op internet zichtbaar zijn voor iedereen.
				
				<ul>
					<li><b>Voorstel uploaden:</b> Als u een voorstel voor uw buurt uploadt word de door u opgegeven naam bij het voorstel gepubliceerd. Dit heeft als doel dat uw buurtgenoten uw voorstel gemakkelijk kunnen vinden en hun stem erop uit kunnen brengen.</li>
					<li><b>Argument plaatsen bij voorstel:</b> Als u een argument voor of tegen plaatst bij een voorstel, gebeurt dit onder de door u opgegeven naam.</li>
				</ul>
				
				U kiest zelf welke informatie u publiceert. Het is mogelijk dat u hiermee te achterhalen bent.
			</p>
			
			<h3>Verstrekking aan derden</h3>
			<p>Uw gegevens worden uitdrukkelijk niet aan derden verstrekt.</p>
			
			<h3>Beveiliging</h3>
			<p>
				De Stem van West neemt beveiligingsmaatregelen om misbruik van en ongeautoriseerde toegang tot persoonsgegevens te beperken. In het bijzonder nemen wij de volgende maatregelen:
				
				<ul>
					<li>Toegang tot persoonsgegevens wordt afgeschermd met een emailadres en een login token</li>
					<li>Wij maken gebruik van beveiligde verbindingen (Secure Sockets Layer of SSL) waarmee alle informatie tussen u en onze website wordt afgeschermd wanneer u persoonsgegevens invoert</li>
					<li>Wij houden logs bij van alle opvragingen van persoonsgegevens</li>
					<li>De sitehost is ISO 27001 gecertificeerd</li>
					<li>Wij houden statistieken bij op onze website, maar dit gebeurt te allen tijde geanonimiseerd.</li>
				</ul>
			</p>
			
			<h3>Links naar andere websites</h3>
			<p>
				Op De Stem van West kunnen links naar websites of services van derden staan. De gemeente Amsterdam is niet verantwoordelijk voor de naleving van de privacywetgeving door derden.
			</p>
			
			<h3>Wijzigingen in deze privacyverklaring</h3>
			<p>
				Wij behouden ons het recht voor om wijzigingen aan te brengen in deze privacyverklaring. Het verdient aanbeveling om deze privacyverklaring geregeld te raadplegen, zodat u van deze wijzigingen op de hoogte bent.
			</p>
			
			<h3>Inzage en wijzigen van uw gegevens</h3>
			<p>
				Voor vragen over ons privacybeleid of vragen omtrent inzage en wijzigingen in (of verwijdering van) uw persoonsgegevens kunt u te allen tijde contact met ons opnemen via <a href="mailto:destemvanwest@amsterdam.nl">destemvanwest@amsterdam.nl</a>.
			</p>
			
			<h2 id="cookies-op-de-stem-van-west">Cookies op De Stem van West</h2>
			<p>
				De Stem van West maakt gebruik van cookies. Cookies zijn kleine tekstbestanden die door de website op uw computer, tablet of mobiele telefoon worden geplaatst en vervolgens door de website weer kunnen worden geraadpleegd.
				Wij gebruiken deze cookies voor de volgende doeleinden:
				
				<ul>
					<li>Uw aanmelding onthouden zodat u niet bij elk nieuw bezoek opnieuw hoeft in te loggen.</li>
					<li>Het verbeteren van de veiligheid zodat anderen zich niet als u kunnen voordoen, bijv. bij het stemmen.</li>
				</ul>
				
				De Stem van West kan deze cookies niet herleiden tot een pc of individu, verzamelt via de cookies geen persoonlijke gegevens en gebruikt de verzamelde informatie niet voor andere doeleinden dan hierboven beschreven.
			</p>
			<p>
				Tot slot maakt De Stem van West gebruikt van software van derde partijen om extra functionaliteit te bieden:
				
				<ul>
					<li>Om video's weer te geven wordt gebruik gemaakt van de Vimeo dienst. Deze partij plaatst mogelijk cookies voor analyse- en trackingsdoeleinden. Zie <a href="https://vimeo.com/cookie_list" target="_blank">Vimeo's cookie lijst</a> voor meer informatie.</li>
					<li>De Stem van West verzamelt statistieken over het gebruik van de website. Hiervoor wordt gebruik gemaakt van Google Analytics; de web-analyse-service van Google. Google Analytics verzamelt gegevens over de manier waarop onze bezoekers de website gebruiken. Denk hierbij aan bezoekersaantallen, populaire pagina’s en onderwerpen. Wij gebruiken deze informatie om de website beter af te stemmen op de behoeften van de bezoekers.
					    Google Analytics plaatst enkel <em>first party cookies</em>; voor meer informatie zie <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage#analyticsjs" target="_blank">Google Analytics cookies</a>.
					</li>
				</ul>
			</p>
		</div>
	</div>
	
	<div class="secondary">
		{{sec.newIdeaBubble()}}
	</div>
{% endblock %}