<style>

 * {
	 box-sizing: border-box;
 }

 :host {
 }
 
 argument-form {
	 display: block;
	 width: 100%;
 }

</style>

<argument-form>
	Argumenten {{message}}<br/>

	{% if showForm %}
	<form id="new-argument-form" method="POST">
		{% if extraFields %}
		{% for field in extraFields %}
		<input type="text" name="{{field}}" value="{{field}}"/><br/>
		{% endfor %}
		{% endif %}
		<textarea name="description">{{argument.description}}</textarea><br/>
		<input type="hidden" name="_csrf" value="{{csrf}}"/>
		<input name="submitButton" type="button" value="Submit">
	</form>
	{% endif %}
</argument-form>
