<footer>
  <div>
    <div>
      <h2>Over deze site</h2>
      <ul>
        <li><a href="/img/maakhetgroen/Privacyverklaring-Maak-het-groen.pdf" target="_blank">Privacyverklaring</a></li>
      </ul>
    </div>
    <div>
      <h2>Meer informatie</h2>
      <ul>
        <li><a href="/veelgestelde-vragen">Veelgestelde vragen</a></li>
        <li><a href="https://ucarecdn.com/aacdde74-6779-4999-89a5-e515fff55f8f/plan-voor-een-groene-zuidas-raadsdocument-3">Plan voor een groene Zuidas</a></li>
      </ul>
    </div>
    <div>
      <h2>Contact</h2>
      <p>
        Heb je een vraag over dit project of de werking van deze site? Wij horen het graag!
      </p>
      <ul>
        <li><a href="mailto:{{EMAIL}}">Stuur een email</a></li>
      </ul>
    </div>
  </div>
</footer>
