<footer>
  <div>
    <div>
      <h2>Over deze site</h2>
      <ul>
        <li><a href="/img/molenwijkkiest/Privacyverklaring MolenwijkKiest.pdf" target="_blank">Privacyverklaring</a></li>
      </ul>
    </div>
    <div>
      <h2>Meer informatie</h2>
      <ul>
        <li><a href="/veelgestelde-vragen">Veelgestelde vragen</a></li>
      </ul>
    </div>
    <div>
      <h2>Contact</h2>
      <p>
        Heb je een vraag over dit project of de werking van deze site? Wij horen het graag!
      </p>
      <ul>
        <li><a href="mailto:{{EMAIL}}">Stuur een email</a></li>
      </ul>
    </div>
  </div>
</footer>
