{% macro watgebeurderalinwest(backgroundColor) %}
	<div id="inspiration" {% if backgroundColor %}style="background-color: {{backgroundColor}}"{% endif %}>
		<div class="pageContent">
			<h2>Wat gebeurt er al in West?</h2>
			<div id="inspiration-columns">

				<div class="inspiration-column">
					<h3>Thema: Groen</h3>
					<div id="inspiration-block-container-1" class="inspiration-block-container">
						<div class="inspiration-block">
							<div ="image-container" class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/de_tuin_van_jan.jpeg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>De Tuin van Jan</h4>
							‘De Tuin van Jan’ is een stiltetuin voor en door bewoners. Kabbelend water, geruis van bladeren, vogels die fluiten: de tuin is een oase van rust en onthaasting. Daarnaast is het ook een proeftuin voor experimenten op gebied van watermanagement en stedelijke oververhitting. De tuin heeft een educatieprogramma voor scholen.
							<ul>
								<li><a href="https://detuinvanjan.nl/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/het_eetbare_plantsoen.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Het Eetbare Plantsoen</h4>
							Het Eetbare Plantsoen is een grote moestuin voor iedereen in de buurt. De tuin wordt beheerd door bewoners, het is een bewonersinitiatief dat betaald is uit het buurtbudget van Oud-West.
							<ul>
								<li><a href="https://www.buurtbudgetoudwest.nl/het-eetbare-plantsoen/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/The_Miracle_Garden.JPG)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>The Miracle Garden</h4>
							The Miracle Garden is een openbare tuin waar je de mooiste en meest exotische bloemen vindt. Tuinieren en kunst komen hier samen. Prachtige fotografie verandert de bloemen in ware kunstwerken.
							<ul>
								<li><a href="https://themiraclegarden.nl/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="inspiration-column">
					<h3>Thema: Diversiteit & Inclusiviteit</h3>
					<div id="inspiration-block-container-2" class="inspiration-block-container">
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/operatie_periscoop.JPG)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Operatie Periscoop</h4>
							Operatie Periscoop gelooft in de wijsheid die aanwezig is in een buurt. Samen met bewoners en gebruikers worden plekken in de buurt die aandacht nodig hebben in kaart gebracht , zo worden kansen en knelpunten zichtbaar. De volgende stap is samen acties bedenken en uitvoeren. Social Placemaking noemen ze dat.
							<ul>
								<li><a href="http://operatieperiscoop.nl/wat-we-doen/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/ondertussen_in_de_spaarndammerbuurt.JPG)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Ondertussen in de Spaarndammerbuurt</h4>
							Het project ‘Ondertussen in de Spaarndammerbuurt’ creëert ontmoetingen tussen oude en nieuwe bewoners, ondernemers en kunstenaars in de Spaarndammerbuurt. Met een bijzonder welkom voor de bewoners van het asielzoekerscentrum in de Houthaven. Centraal ontmoetingspunt is de verhalenwinkel waar verhalen en kunst voor de verbinding zorgen.
							<ul>
								<li><a href="http://ondertussenonderweg.nl/category/ondertussen-spaarndammerbuurt/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/recycle.JPG)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Recycle</h4>
							Bij Recycle kun je terecht voor nieuwe fietsen, fiets reparaties en restauraties van je oude maar nog altijd zeer geliefde fiets. De winkel en werkplaats bieden werk aan mensen met een psychiatrische achtergrond. Begeleid door technische vakmensen maken zij het stap voor stap tot fietsenmaker.
							<ul>
								<li><a href="https://dehallen-amsterdam.nl/gebruikers/recycle/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="inspiration-column">
					<h3>Thema: Duurzaam</h3>
					<div id="inspiration-block-container-3" class="inspiration-block-container">
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/boro_mini.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>BORO*MINI</h4>
							BORO*MINI maakt babyproducten van organisch katoen. De stoffen worden gekleurd met duurzame verftechnieken en natuurlijke pigmenten. De producten worden met de hand gemaakt door statushouders en mensen die langdurig werk zoeken, zij kunnen hier met behoud van uitkering een prachtig ambacht leren. 
							<ul>
								<li><a href="www.boromini.com" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/bijeneiland.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Bijeneiland</h4>
							Het Bijeneiland in het Erasmuspark bestaat uit een paar bijenstallen. Het eiland helpt de bedreigde bij en de bijen zorgen op hun beurt voor bestuiving van de planten in de buurt.
							<ul>
								<li><a href="http://www.bijeneiland.nl/ " target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/Moestuinbakken-Curacaostraat.jpg)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Moestuinbakken</h4>
							Buurtkamer Corantijn maakte gezamenlijke moestuinbakken in de Curaçaostraat. Bewoners verbouwen hier hun eigen groente en fruit. De weg van (stads)boer naar consument is hier tot een minimum beperkt.
							<ul>
								<li><a href="https://www.buurtkamercorantijn.nl/je-eigen-moestuinbak-in-de-curacaostraat/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<div class="imgdiv" style="background-image: url(/img/westbegroot/inspiration/plastic_whale.JPG)"></div>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Plastic Whale</h4>
							Plastic Whale streeft naar plasticvrije wateren en deelt zijn missie met zoveel mogelijk mensen. Het bedrijf organiseert vistochten op de Amsterdamse grachten. In gerecyclede sloepen vissen scholen en bedrijven zoveel mogelijk plastic uit het water. Hiervan worden weer nieuwe boten en andere producten gemaakt.
							<ul>
								<li><a href="https://plasticwhale.com/" target="_blank">Lees meer</a></li>
							</ul>
						</div>
					</div>
				</div>

				<script>
				 var inspirationStatus = {
					 1: 1,
					 2: 1,
					 3: 1
				 }
				 function moveInspiration(direction, which) {
					 var element = document.getElementById(`inspiration-block-container-${which}`);
					 if (direction == 'right') {
						 inspirationStatus[which]++;
						 if ((which != 3 && inspirationStatus[which] == 4) || (which == 3 && inspirationStatus[which] == 5)) {
							 inspirationStatus[which] = 1;
						 }
					 }
					 if (direction == 'left') {
						 inspirationStatus[which]--;
						 if (inspirationStatus[which] == 0) {
							 inspirationStatus[which] = which == 3 ? 4 : 3;
						 }
					 }
					 console.log(inspirationStatus[which])
					 element.style.left = `calc( -${inspirationStatus[which] - 1} * ( 100% + 20px ))`;
				 }
				</script>

			</div>
		</div>
	</div>
{% endmacro %}
