{% macro watgebeurderalinwest(backgroundColor) %}
	<div id="inspiration" {% if backgroundColor %}style="background-color: {{backgroundColor}}"{% endif %}>
		<div class="pageContent">
			<h2>Wat gebeurt er al in West?</h2>
			<div id="inspiration-columns">

				<div class="inspiration-column">
					<h3>Thema: Groen</h3>
					<div id="inspiration-block-container-1" class="inspiration-block-container">
						<div class="inspiration-block">
							<div ="image-container" class="image-container">
								<img src="/img/westbegroot/inspiration-1.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Tuinieren met de buren in de Frederik Hendrikbuurt</h4>
							Bewoners van de Frederik Hendrikbuurt onderhouden met hulp van stadsdeel West gezamenlijk het plantsoen.
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<img src="/img/westbegroot/inspiration-2.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Buurtfeest met kinder-ontdekkingstocht in de Kolenkitbuurt</h4>
							Buurtfeest met kinder-ontdekkingstocht in de Kolenkitbuurt
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<img src="/img/westbegroot/inspiration-3.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 1)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 1)"/>
							</div>
							<h4>Wormenhotel voor duurzaam composteren in Oud-West</h4>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan molestie odio in egestas. Curabitur dapibus sapien vel dictum elementum. Donec sed vulputate mi. Integer tortor tellus, tristique id massa nec, egestas mattis augue. 
						</div>
					</div>
				</div>

				<div class="inspiration-column">
					<h3>Thema: Diversiteit & Inclusiviteit</h3>
					<div id="inspiration-block-container-2" class="inspiration-block-container">
						<div class="inspiration-block">
							<div class="image-container">
								<img src="/img/westbegroot/inspiration-2.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Tuinieren met de buren in de Frederik Hendrikbuurt</h4>
							Bewoners van de Frederik Hendrikbuurt onderhouden met hulp van stadsdeel West gezamenlijk het plantsoen.
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<img src="/img/westbegroot/inspiration-3.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Buurtfeest met kinder-ontdekkingstocht in de Kolenkitbuurt</h4>
							Buurtfeest met kinder-ontdekkingstocht in de Kolenkitbuurt
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<img src="/img/westbegroot/inspiration-1.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 2)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 2)"/>
							</div>
							<h4>Wormenhotel voor duurzaam composteren in Oud-West</h4>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan molestie odio in egestas. Curabitur dapibus sapien vel dictum elementum. Donec sed vulputate mi. Integer tortor tellus, tristique id massa nec, egestas mattis augue. 
						</div>
					</div>
				</div>

				<div class="inspiration-column">
					<h3>Thema: Duurzaamheid</h3>
					<div id="inspiration-block-container-3" class="inspiration-block-container">
						<div class="inspiration-block">
							<div class="image-container">
								<img src="/img/westbegroot/inspiration-3.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Tuinieren met de buren in de Frederik Hendrikbuurt</h4>
							Bewoners van de Frederik Hendrikbuurt onderhouden met hulp van stadsdeel West gezamenlijk het plantsoen.
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<img src="/img/westbegroot/inspiration-1.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Buurtfeest met kinder-ontdekkingstocht in de Kolenkitbuurt</h4>
							Buurtfeest met kinder-ontdekkingstocht in de Kolenkitbuurt
						</div>
						<div class="inspiration-block">
							<div class="image-container">
								<img src="/img/westbegroot/inspiration-2.jpg"/>
								<img class="button-left" src="/img/button-arrow-blue.svg" onclick="moveInspiration('left', 3)"/>
								<img class="button-right" src="/img/button-arrow-blue.svg" onclick="moveInspiration('right', 3)"/>
							</div>
							<h4>Wormenhotel voor duurzaam composteren in Oud-West</h4>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan molestie odio in egestas. Curabitur dapibus sapien vel dictum elementum. Donec sed vulputate mi. Integer tortor tellus, tristique id massa nec, egestas mattis augue. 
						</div>
					</div>
				</div>

				<script>
				 var inspirationStatus = {
					 1: 1,
					 2: 1,
					 3: 1
				 }
				 function moveInspiration(direction, which) {
					 var element = document.getElementById(`inspiration-block-container-${which}`);
					 if (direction == 'right') {
						 inspirationStatus[which]++;
						 if (inspirationStatus[which] == 4) {
							 inspirationStatus[which] = 1;
						 }
					 }
					 if (direction == 'left') {
						 inspirationStatus[which]--;
						 if (inspirationStatus[which] == 0) {
							 inspirationStatus[which] = 3;
						 }
					 }
					 console.log(inspirationStatus[which])
					 element.style.left = `calc( -${inspirationStatus[which] - 1} * ( 100% + 20px ))`;
				 }
				</script>

			</div>
		</div>
	</div>
{% endmacro %}
