{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}
{% from 'partials/agenda-items.njk' import agenda %}

{% set activeMenu   = 'about' %}
{% set pageTitle    = 'De stadsdeelcommissie' %}
{% set contentClass = 'AB' %}

{% block content %}
	<div class="primary">
		<img src="/img/ab/stadsdeelcommissie.zuidoost.jpg">

		<h1>Wat is de stadsdeelcommissie?</h1>
		
		<p>
			De stadsdeelcommissie adviseert het dagelijks bestuur van stadsdeel Zuidoost en het bestuur van de stad over de toekomst van het stadsdeel, de inrichting van het stadsdeel en de uitvoering van werkzaamheden. Dit doet de stadsdeelcommissie namens hun buurtgenoten.
		</p>
		<p>
			Als er in het stadsdeel of in jouw buurt zaken spelen die je graag deelt met de politiek, is de stadsdeelcommissie het eerste aanspreekpunt. De stadsdeelcommissie praat over zaken die van belang zijn voor stadsdeel Zuidoost. De commissie geeft adviezen aan het dagelijks bestuur van stadsdeel Zuidoost of het college van B&W.
		</p>
		<p>
			De stadsdeelcommissie vergadert twee keer per maand met het dagelijks bestuur. Kijk voor meer informatie op: <a href="https://zuidoost.notubiz.nl">https://zuidoost.notubiz.nl</a>
		</p>

		<h2>Wie vertegenwoordigen mijn buurt?</h2>
		<p>
			De stadsdeelcommissieleden weten goed wat er speelt in stadsdeel Zuidoost. Heb je vragen over de inspraak of wil je een suggestie delen? Dan kun je een van de commissieleden aanspreken of een idee of voorstel indienen voor Zuidoost.
		</p>

		<h2>Drie gebieden</h2>
		Stadsdeel Zuidoost is verdeeld in drie gebieden:
		<ul>
			<li>Bijlmer Centrum</li>
			<li>Bijlmer Oost</li>
			<li>Gaasperdam Driemond</li>
		</ul>
		<p>
			Omdat iedere buurt andere vragen en behoeftes heeft, zijn de twaalf stadsdeelcommissieleden verdeeld over de drie gebieden. Zo weet de stadsdeelcommissie snel wat er in de buurt speelt. <a href="https://www.amsterdam.nl/bestuur-organisatie/stadsdelen/stadsdeelzuidoost/leden-sdc-zuidoost/">Kijk hier</a> wie de stadsdeelcommissieleden zijn en welke buurt ze vertegenwoordigen.
		</p>
		

	</div>

	<div class="secondary">

		{{ agenda(upcomingMeetings, user) }}
		
		<div class="widget">
			<h2>Wist je dat?</h2>
			<div id="didYouKnowBubble" class="speechBubble">
				&ldquo;... als je idee in de stadsdeelcommissie-vergadering wordt besproken, je begeleiding krijgt bij het voorbereiden, presenteren en uitvoeren van je idee? &rdquo;
			</div>
	</div>
</div>
{% endblock %}
