{% extends 'base.njk' %}
{% import 'includes/secondary.njk' as sec %}

{% set activeMenu   = 'about' %}
{% set pageTitle    = 'Het Algemeen Bestuur' %}
{% set contentClass = 'AB' %}

{% block content %}
<div class="primary">
	<img src="/img/ab/zoost.jpg">
	
	<h1>Wat is het Algemeen Bestuur?</h1>
	
	<p>
		Het Algemeen Bestuur (AB) is jouw politieke vertegenwoordiging in
		stadsdeel Zuidoost. De gemeenteraad van Amsterdam laat bepaalde taken, zoals
		het creëren van een prettig leefklimaat, welzijnswerk en het onderhouden van
		straten en pleinen, over aan het AB. 
	</p>

	<p>
		Als er in het stadsdeel of in jouw buurt zaken spelen die je graag deelt
		met de politiek, is het AB je eerste aanspreekpunt. Het AB praat ook over
		zaken die van belang zijn voor stadsdeel Zuidoost, maar waar de gemeenteraad
		over gaat. In dat geval geeft het AB adviezen aan het college van B&W.
	</p>
	
	<h3>Welkom</h3>
	<p>
		Het AB vergadert iedere dinsdagavond in het Stadsloket
		Zuidoost (waarvan één keer per maand op locatie). Je bent altijd welkom om de
		vergaderingen bij te wonen en hier in te spreken. Kijk hier voor meer
		informatie over het Algemeen Bestuur van Zuidoost.
	</p>

	<h3>Na 21 maart: stadsdeelcommissie</h3>
	<p> 
		Na de gemeenteraadsverkiezingen
		op 21 maart 2018 krijgen de Amsterdamse stadsdelen een nieuwe vorm van
		bestuur: de stadsdeelcommissie. De stadsdeelcommissie bestaat uit vier tot zes
		bewoners uit de gebieden van een stadsdeel. De stadsdeelcommissie adviseert
		het dagelijks bestuur en het bestuur van de stad over de toekomst en
		inrichting van het stadsdeel en de uitvoering van werkzaamheden.
	</p>

	<h3>Vier gebieden in Zuidoost</h3>
	<p>
		Stadsdeel Zuidoost bestaat uit vier gebieden: Amstel III, Bijlmer Oost, Bijlmer
		Centrum en Gaasperdam/Driemond.
	</p>
</div>

<div class="secondary">
	<div class="widget">
		<h2>Wist je dat?</h2>
		<div id="didYouKnowBubble" class="speechBubble">
			&ldquo;... als je idee in de AB-vergadering wordt besproken, je begeleiding krijgt bij het voorbereiden, presenteren en uitvoeren van je idee?&rdquo;
		</div>
	</div>
	
	{{sec.agenda(upcomingMeetings)}}
</div>
{% endblock %}