{% extends 'ideas.njk' %}
{% set pageTitle = 'Vul postcode in' %}

{% block content %}

	<h1>Woon, werk of bezoekt u Slotermeer Noordoost?</h1>

	Iedereen kan liken. Stadsdeel Nieuw-West wil wel weten: wordt dit plan gesteund door de buurt?<br/>
	We vragen u daarom uw postcode in te vullen om uw like of reactie te bevestigen.

	<div class="postcodecheck">

			<form method="post">
				<h4>Postcode</h4>
				<input type="text" name="zipCode" value="{{zipCode}}" autofocus>
				<input type="submit" value="Stemmen">
				<input type="hidden" name="opinion" value="{{opinion}}">
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
			</form>

	</div>
{% endblock %}
