{% extends '../base.njk' %}
{% set pageTitle = 'Login' %}

{% block content %}
<h1>Inloggen</h1>

{% if user.isLoggedIn() %}
	U bent al ingelogd.
{% else %}
	<form method="post">
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		
		{% if not email %}
			Email: <input name="email" tabindex="1" autofocus>
			<input type="submit" value="Verder &gt;">
		{% else %}
			Wachtwoord: <input type="password" name="password" autofocus>
			<input type="hidden" name="email" value="{{email}}">
			<input type="submit" value="Inloggen &gt;">
			
			<p>
			<input type="submit" name="forceToken" value="Inloggen via e-mail">
		{% endif %}
		
	</form>
{% endif %}
{% endblock %}