{% extends '../base.njk' %}
{% set pageTitle = 'Login' %}

{% block content %}
<h1>Inloggen</h1>

{% if user.isLoggedIn() %}
	U bent al ingelogd.
{% else %}
	U kunt eenmalig inloggen met deze link. De e-mail kunt u hierna verwijderen.
	<p>
	Krijgt u een foutmelding na op <i>Inloggen</i> geklikt te hebben, dan is de link
	waarschijnlijk verlopen. Link e-mails hebben een geldigheid van 1 uur. Vraag in
	dit geval opnieuw een inlog e-mail aan.
	
	<form method="post">
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="uid" value="{{uid}}">
		<input type="submit" value="Inloggen &gt;">
	</form>
{% endif %}
{% endblock %}