{% extends '../base.njk' %}

{% set pageTitle = 'Registreren' %}

{% block content %}
<h1>Registreren</h1>

Vul uw e-mail adres, en u krijgt een link opgestuurd waarmee u direct kunt inloggen.
<p>
Hierna hoeft u enkel nog uw naam in te vullen om gebruik te kunnen maken van de website.

<form method="post">
	Email: <input type="email" name="email" value="{{email}}" autofocus>
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<input type="submit" name="Link opsturen">
</form>
{% endblock %}