{% extends '../base.njk' %}

{% set pageTitle = 'E-mail verzonden' %}

{% block content %}
<h1>E-mail verzonden</h1>

U ontvangt in enkele momenten een e-mail met een link. Hiermee krijgt u toegang tot de verdere functionaliteit van deze site.
<p>
De geldigheid van deze link is 1 uur.
{% endblock %}