{% extends '../base.njk' %}

{% set pageTitle = 'E-mail verzonden' %}

{% block content %}
<div id="errorMessage">
	<h1>E-mail verzonden</h1>
	
	<p>
		We hebben u een e-mail gestuurd met een link

		{% if isNew %}
			waarmee u uw registratie kunt voltooien. Hierna bent u gelijk ingelogd.
		{% else %}
			waarmee u eenmalig kunt inloggen.
		{% endif %}
	</p>

	<p>
		De verstuurde link is 1 uur geldig.
	</p>
</div>
{% endblock %}