{% extends '../base.njk' %}

{% set pageTitle = 'Account' %}

{% block content %}
<h1>Account</h1>

<form method="post">
	Email: <input type="email" name="email">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<input type="submit" name="Link opsturen">
</form>
{% endblock %}