<div class="row row-eq-height--desktop relative padding-bottom-l">
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div class="">
				<img src="/img/westbegroot/main-checklist.svg" />
			</div>
			{% if config["voting"].isActive %}
				<h3>
					Kies jouw 5 favoriete ideeën voor Molenwijk
				</h3>
				<p>
					Woon je in Molenwijk en ben je 12 jaar of ouder? Dan ontvang je in de week van maandag 17 juni per post een stemformulier met een persoonlijke stemcode. Daarmee kan je tot en met zondag 7 juli stemmen op de ideeën van Molenwijk Kiest.
				</p>
				<div class="row-footer--desktop text-center">
					<a href="/stemmen" class="btn--blue ">
						Begin met stemmen
					</a>
				</div>
			{% else %}
				<h3>
					Bewoners kozen hun 5 favoriete ideeën voor Molenwijk
				</h3>
				<p>
					Alle bewoners uit Molenwijk van 12 jaar en ouder konden stemmen op hun favoriete plannen voor de wijk. Op woensdag 10 juli wordt bekend gemaakt welke plannen uitgevoerd worden.
				</p>
				<div class="row-footer--desktop text-center">
					<a href="/plannen" class="btn--blue ">
						Bekijk de plannen
					</a>
					{# TODO-UITSLAG uncomment uitslag knop #}
					{# <br/>
					<a href="/img/westbegroot/Uitslag.West.Begroot_20190215.pdf" class="btn--blue" style="background-color: #a8b900; margin-top: 10px;">
						Download de uitslag
					</a> #}
				</div>
			{% endif %}
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div>
				<img src="/img/westbegroot/main-info.svg" />
			</div>
			<h3>
				Waarom Molenwijk Kiest?
			</h3>
			{% if config["voting"].isActive %}
				<p>
					Afgelopen jaren is vaak aan bewoners van Molenwijk gevraagd wat ze willen in de wijk. In het jubileumjaar '50 jaar Molenwijk' is al een aantal wensen uitgevoerd. Andere nog niet. Op deze site staan nog meer bewonersplannen voor Molenwijk. Met Molenwijk Kiest bepaal je zelf welke ideeën dit jaar nog worden uitgevoerd.
				</p>
			{% else %}
				<p>
					Afgelopen jaren is vaak aan bewoners van Molenwijk gevraagd wat ze willen in de wijk. In het jubileumjaar '50 jaar Molenwijk' is al een aantal wensen uitgevoerd. Andere nog niet. Op deze site staan nog meer bewonersplannen voor Molenwijk. Met Molenwijk Kiest bepaalden jullie zelf welke ideeën dit jaar nog worden uitgevoerd.
				</p>
			{% endif %}
			<div class="row-footer--desktop text-center">
  			<a href="#howDoesItWork" class="btn--blue scroll-link">
  				Lees hoe het werkt
  			</a>
      </div>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
      <div class="">
        <img src="/img/molenwijkkiest/main-ballotbox.svg" />
      </div>
      {# <h3>
        Hoe worden de winnaars bepaald?
      </h3>
			{% if config["voting"].isActive %}
				<p>
					In totaal is €25.000 beschikbaar. Er kan gestemd worden op ideeën die tussen de €1.000 en €25.000 kosten. De ideeën met de meeste stemmen die alleen of samen maximaal €25.000 kosten, worden dit jaar uitgevoerd. Dit kan betekenen dat er één idee wordt uitgevoerd die €25.000 kost. Maar het kan ook zijn dat er veel gestemd wordt op ideeën die minder kosten waardoor er bijvoorbeeld 3 ideeën voor € 25.000 uitgevoerd kunnen worden.
				</p>
			{% else %}
				<p>
					Van de 209 ingestuurde plannen werden er 30 geselecteerd voor de stemfase van West Begroot. Zat jouw plan niet bij de geselecteerde plannen? Klik op onderstaande knop om te zien wat het oordeel is over de ingestuurde plannen.
				</p>
			{% endif %} #}
			{% if config["voting"].isActive %}
				<h3>
					Meedoen zonder computer
				</h3>
				<p>
					Op deze site kan je stemmen op de plannen. Wil je meedoen zonder computer? Dat kan ook! Op de achterkant van het stemformulier dat je ontvangt per post kan je je 5 favoriete ideeën aankruisen. Het stemformulier kan je daarna in de stembus doen die staat in de bibliotheek.
				</p>
			{% else %}
				<h3>
					Help bij de uitvoering van de ideeën!
				</h3>
				<p>
					We hebben bewoners nodig die meedenken en meedoen bij de voorbereiding en uitvoering van de ideeën. Wil je ook helpen? Lees hieronder hoe je je aanmeldt!
				</p>
				<div class="row-footer--desktop text-center">
					<a href="#help-mee" class="btn--blue ">
						Lees hoe je kan aanmelden
					</a>
				</div>
			{% endif %}
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
</div>
