{% macro showBudgetWindow() %}

	<div id="budget-block">
		<div id="budget-block">

			<div id="steps-bar">
				<div id="steps-bar-1" class="step active">
					<div class="content">1. Kies</div>
				</div>
				<div id="steps-bar-2" class="step">
					<div class="content">2. Overzicht</div>
				</div>
				<div id="steps-bar-3" class="step">
					<div class="content">3. Stem</div>
				</div>
			</div>

			<div id="current-budget-bar">
				<div class="current-budget-images"></div>
			</div>

			<div id="steps-content">

				<div id="current-step">
					<div id="content">

						<div id="text">
							Kies uit onderstaand overzicht jouw favoriete plannen voor West. Selecteer voor minimaal € 200.000 en maximaal € 300.000 aan plannen. In stap 3 vul je om te stemmen jouw stemcode in die je per post hebt ontvangen. <a href="javascript: void alert('todo')">Geen stemcode ontvangen?</a>
						</div>

						<div id="current-budget-preview">
							<div class="current-budget-images"></div>
							<div class="current-budget-table">
								Overzicht van mijn selectie
								<div class="overview"></div>
							</div>
						</div>

						<div id="budgeting-edit-mode-container" class="hidden">
							<input id="budgeting-edit-mode" type="checkbox" onchange="setBudgetingEditMode()"> Bewerk selectie
						</div>

					</div>

					<div id="budget-text">
						<label>Budget gekozen:</label>
						<span id="current-budget-amount">0</span>
						<br/>
						<label>Budget over:</label>
						<span id="available-budget-amount">0</span>
					</div>

				</div>

				<div id="button-bar">
					<div id="previous-button" onclick="previousStep();">
						Vorige
					</div>
					<div id="next-button" onclick="nextStep();">
						Volgende
					</div>
				</div>

				<div id="steps-content-1" class="step">
					<div class="text">
						Kies uit onderstaand overzicht jouw favoriete plannen voor West. Selecteer voor minimaal € 200.000 en maximaal € 300.000 aan plannen. In stap 3 vul je om te stemmen jouw stemcode in die je per post hebt ontvangen. <a href="javascript: void alert('todo')">Geen stemcode ontvangen?</a>
					</div>
					<div class="add-button" onclick="scrollToIdeas();"></div>
				</div>
				
				<div id="steps-content-2" class="step">
					<div class="text">
						Je bent bijna klaar! In de tabel hieronder kun je je selectie nog een keer controleren. Ben je tevreden? Klik dan onderaan de pagina door naar de plek waar je jouw stemcode in kunt vullen om je stem te versturen. Bewoners uit West hebben een stemcode ontvangen via de post. <a href="javascript: void alert('todo')">Geen stemcode ontvangen?</a>
					</div>
				</div>
				
				<div id="steps-content-3" class="step">
					<div class="text">
						Je wordt nu doorgestuurd
					</div>
				</div>
				
				<div id="steps-content-4" class="step">
					<div class="text">
						Je stemcode is gecontroleerd. Als laaste stap ga je nu je stem opsturen.
					</div>
				</div>

			</div>
			<div id="waitLayer"></div>

		</div>

	</div>

{% endmacro %}
