{% macro showIdeasList(runningIdeas, fullHost, user, userHasVoted, isAdmin) %}

	<!-- gridder: https://github.com/oriongunning/gridder -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery.gridder.js"></script>

	{# list of ideas #}
	<ul id="ideaList" class="gridder" onclick="handleClick(event);">
		{% for idea in runningIdeas %}
			<li id="idea-{{idea.id}}" class="gridder-list" data-griddercontent="#idea-content-{{idea.id}}">

				{% set imageUrl = idea.posterImageUrl if idea.posterImageUrl else '/img/placeholders/idea.jpg' %}
				<div class="idea-image-mask">
					<div class="idea-image" style="background-image: url('{{imageUrl}}')"></div>
				</div>

				<div class="info">

					<h3 class="title">{{idea.title}}</h3>

					{% if idea.extraData %}
						<div class="thema-en-gebied">
							<span class="thema">{{idea.extraData.thema}}</span>
							|
							<span class="gebied">{{idea.extraData.gebied}}</span>
						</div>
					{% endif %}

					<div class="button-read-more">Lees meer</div>

					<div class="budget">{{idea.budget}}</div> {# formatted in js #}

					<div class="button-add-idea-to-budget"></div>

					<div class="budget-value">{{idea.budget}}</div>{# used by sort #}

				</div>

				{# extra info for gridder-show #}
				<div id="idea-content-{{idea.id}}" class="gridder-content">
					<div class="this-idea-id">{{idea.id}}</div>
					<div class="content">

						<div class="idea-image-container">
							{% set imageUrl = idea.posterImageUrl if idea.posterImageUrl else '/img/placeholders/idea.jpg' %}
							<div class="idea-image-mask">
								<div class="idea-image" style="background-image: url('{{imageUrl}}')"></div>
							</div>
						</div>

						<h3>{{idea.title}}</h3>

						<div class="description">
							{{idea.description | safe}}
						</div>

						<div class="share-buttons">
							<div class="text">Deel dit ontwerp:</div>
							<ul class="share">
								<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{fullHost}}/stemmen?showIdea={{idea.id}}">Facebook</a></li>
								<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{fullHost}}/stemmen?showIdea={{idea.id}}">Twitter</a></li>
								<li><a class="email"    target="_blank" href="mailto:?subject={{'Zorg goed voor onze stad ontwerp: '+idea.title | urlencode}}&body={{fullHost | urlencode}}/stemmen?showIdea={{idea.id}}">Email</a></li>
							</ul>
						</div>

						{% if idea.extraData %}
							<div class="thema-en-gebied">
								<div class="thema">
									Thema: <strong>{{idea.extraData.thema}}</strong>
								</div>
								<div class="gebied">
									Gebied: <strong>{{idea.extraData.gebied}}</strong>
								</div>
							</div>
						{% endif %}

						<div class="button-original">
							<a href="{{fullUrl}}/originele-plannen/plan/{{idea.id}}">Bekijk het originele voorstel</a>
						</div>

						<div class="budget">
							€ {{idea.budget}}
						</div>

						<div>
							<a href="javascript: void toggleIdeaInBudget({{idea.id}})" class="button-add-idea-to-budget"></a>
						</div>

						
					</div>
				</div>
				
			</li>
		{% endfor %}
	</ul>

	<script src="/js/ideas-gridder-list.js"></script>
	<script src="/js/westbegroot.js"></script>

{% endmacro %}
