<div class="col-container thank-you-container">
	<div class="col-2">
		<img src="/img/stemtool/check-green.svg" class="icon" />
	</div>
	<div class="col-10">
		<label class="h3 block margin-top-0 margin-bottom-xs">
			De stemronde is afgelopen!
		</label>

		<p>
			Iedereen die gestemd heeft: van harte bedankt! De stemmen worden nu geteld.
		</p>

		<p>
			Onderaan kunt u nog de <b>reacties</b> op alle ontwerpen doorlezen.
		</p>

		<a href="#arguments" class="box-grey box-grey-link  margin-hor-xs inline-block scroll-link">
			Naar reacties
		</a>
	</div>
</div>
