<div class="col-container thank-you-container">
	<h2 class="h2 margin-hor-s">
		Mijn keuze
	</h2>
	<div class="col-2">
		<img src="/img/stemtool/check-green.svg" class="icon" />
	</div>
	<div class="col-10">
		<label class="h3 block margin-top-0 margin-bottom-xs">
			Tot en met 20 februari konden bewoners hieronder hun voorkeur aangeven.
		</label>
		<p>
			Hier kon een bewoner kiezen voor ‘Het conceptontwerp’ als hij of zij het eens is
			met het voorgestelde plan van de gemeente. Of een bewoner kon kiezen voor
			meer autoparkeerplekken, meer fietsparkeerplekken of meer bomen als een
			bewoner vindt dat voor één van deze drie categorieën meer ruimte
			gereserveerd moet worden in het ontwerp.
		</p>
	</div>
</div>
