<h2 class="h2 margin-hor-s">
	Mijn stem
</h2>

<form id="vote-form" method="POST" action="/vote" class="">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<input type="hidden" name="pollId" value="{{poll.id}}">

	<label class="block margin-bottom-s margin-top-0">

	<div class="small">
		Met de unieke code die je per brief hebt gekregen kun je hier je voorkeur aangeven.
		Kies voor ‘Het conceptontwerp’ als je het eens bent met het voorgestelde plan van de gemeente.
		Of kies voor meer autoparkeerplekken, meer fietsparkeerplekken of meer bomen als je vindt dat voor één
		van deze drie categorieën meer ruimte gereserveerd moet worden in het ontwerp.
		</div>
	</label>


	<label class="h3 block margin-bottom-s margin-top-m">
		Mijn voorkeur heeft:
	</label>

	{#
	Listing poll options
	--------------------
	#}
	<div class="label-container">
		{% for option in poll.options %}
			<input
				id="checkbox-choice-{{option.id}}"
				type="checkbox"
				name="choices[]"
				value="{{option.id}}"
				class="checkbox-choice"
				{% if checkedOptionId == option.id %} checked {% endif %}
			/>

			<label for="checkbox-choice-{{option.id}}" class="concept-label clearfix">
				<div class="label-error">
					Je kan maximaal 1 stem uitbengen. Klik op het geselecteerde plan om
					je stem te verwijderen. Hierna kun je een andere keuze maken.
				</div>
				<div class="relative clearfix">
					<div
						class="concept-card-image"
						style="background-image: url('/image/variant_{{option.id}}_klein.jpg');"
					>
						<div class="concept-card-number concept-card-number-{{loop.index}}">
							{{option.order}}
						</div>
					</div>

					<div class="concept-card-title">
						{{ option.title }}
					</div>
				</div>
			</label>
		{% endfor %}
	</div>

	<div class="less-then-stars-message label-error">
		Je mag nog meer sterren uitdelen, weet je het zeker?
	</div>

	<div class="no-stars-error-message label-error">
		Je hebt nog geen keuze gemaakt.
	</div>

	<br>

 <button type="submit" class="default btn btn-primary">
		<span class="main-submit">
			Verstuur
		</span>
		<span class="confirm-submit">
			Ja, verstuur
		</span>
	</button>
</form>

{% if justLoggedIn %}
	<script>
		$('#vote-form').submit();
	</script>
	<div class="submitting-overlay">
		Code gevalideerd. <br />
		Stem aan het uitbrengen...
	</div>
{% endif  %}
