<h2 class="h2 margin-hor-s">
	Mijn stem
</h2>

<hr class="hr-white margin-hor-m"></hr>

<form id="vote-form" method="POST" action="/vote" class="">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<input type="hidden" name="pollId" value="{{poll.id}}">

	<label class="block margin-bottom-s margin-top-0">

	<div class="small">
		Met de unieke code die je thuis gestuurd heeft gekregen kun je hieronder je stem uitbrengen. Stem op het uitgangspunt als je het eens bent met het plan van de gemeente, of laat ons weten wat je anders zou willen.
		</div>
	</label>



	<label class="h3 block margin-bottom-xs margin-top-m">
		Stem op het originele plan:
	</label>

	<input id="checkbox-choice-{{option.id}}" type="checkbox" name="choices[]" value="{{option.id}}" class="checkbox-choice">

	<label for="checkbox-choice-{{poll.options[0].id}}" class="concept-label clearfix">
		<div class="label-error">
			Je hebt het maximum aantal sterren uitgedeeld. Klik nogmaals op een ster om
			hem te verwijderen. Hierna kun je een andere keuze maken.
		</div>
		<div class="relative clearfix">
			<div
				class="concept-card-image"
				style="background-image: url('/image/variant_{{poll.options[0].id}}_klein.jpg');"
			>
			</div>

			<div class="concept-card-title">
				{{ poll.options[0].title }}
			</div>
		</div>
	</label>

	<label class="h3 block margin-bottom-xs margin-top-m">
		Of verdeel je 2 stemmen
	</label>

	{#
	Listing poll options
	--------------------
	#}
	<div class="label-container">
		{% for option in poll.options.slice(1) %}
			<input id="checkbox-choice-{{option.id}}" type="checkbox" name="choices[]" value="{{option.id}}" class="checkbox-choice">

			<label for="checkbox-choice-{{option.id}}" class="concept-label clearfix">
				<div class="label-error">
					Je hebt het maximum aantal sterren uitgedeeld. Klik nogmaals op een ster om
					hem te verwijderen. Hierna kun je een andere keuze maken.
				</div>
				<div class="relative clearfix">
					<div
						class="concept-card-image"
						style="background-image: url('/image/variant_{{option.id}}_klein.jpg');"
					>
						<div class="concept-card-number concept-card-number-{{loop.index}}">
							{{option.order}}
						</div>
					</div>

					<div class="concept-card-title">
						{{ option.title }}
					</div>
				</div>
			</label>
		{% endfor %}
	</div>

	<div class="less-then-stars-message label-error">
		Je mag nog meer sterren uitdelen, weet je het zeker?
	</div>

	<div class="no-stars-error-message label-error">
		Je hebt nog geen keuze gemaakt.
	</div>

	<br>

	<button type="submit" class="default btn btn-primary">
		<span class="main-submit">
			Verstuur
		</span>
		<span class="confirm-submit">
			Ja, verstuur
		</span>
	</button>
</form>
